<div class="container page-border">

    <div class="row breadcum">
        <div class="col-sm-12">
            <div class="">

                <h1>Hyperlink Policy</h1>
                <p>Home /<a > Hyperlink policy</a></p>
            </div>

        </div>
    </div>


    <div class="row p-5">
        <div class="col-sm-12">
            <h1>Accessibility Statement </h1>
            <p>We are committed to ensure that, this website is accessible to all users irrespective of device in use, technology or ability. It has been built with an aim to provide maximum accessibility and usability to its visitors. As a result, this
                website can be viewed from a variety of devices, such as web-enabled mobile devices, WAP phones, PDAs, and so on. We have put in our best efforts to ensure that all information on this website is accessible to people with disabilities.
                For example, a user with visual disability can access this website using assistive technologies, such as screen readers and magnifiers. </p>

            <p>We also aim to be standards compliant and follow principles of usability,GIGW standards and universal design, which should help all visitors of this website.</p>

        </div>
    </div>

</div>