<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Weighment Out</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Farmer-Fertilizer-Private)</a>
                        </li>
                        <li class="breadcrumb-item active">Weighment Out
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Weighment Out</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong>
                                </li>
                                <li id="commtab" class="commtab active">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quality Examination</strong>
                                </li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong>
                                </li>
                                <li id="commtab" class="commtab active">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Stack-In</strong>
                                </li>
                                <li id="commtab" class="commtab current active">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong>
                                </li>
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset >
                                            <form [formGroup]="WehoutForm">
                                                
                                                <div class="row mb-1">
                                                    <div class="col-md-12">
                                                        <div class="ag-theme-alpine">
                                                            <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                                (gridReady)="BindData($event)" [pagination]="true"
                                                                [paginationPageSize]="20"
                                                                
                                                                (selectionChanged)="onSelectionChanged($event)"
                                                                [frameworkComponents]="frameworkComponents"
                                                                rowSelection="single" [components]="components">
                                                            </ag-grid-angular>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1">
                                                    
                                                    <div class="row mt-2"  *ngIf="isTable">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="TarWeight">Tare weight (Empty Truck)(MT's) <span class="text-danger">*</span><a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Tare weight (Empty Truck)(MT's)"
                                                                    placement="right"><i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <input type="text"  digitsOnly maxlength="6" class="form-control" placeholder="Tare Weight"
                                                                    formControlName="TarWeight"
                                                                    (change)="Loadnetweght($event);" [ngClass]="{ 'is-invalid': isSubmit &&  dep.TarWeight.errors }">
                                            
                                                                <div *ngIf="isSubmit && dep.TarWeight.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.TarWeight.errors.required">Tare weight (Empty Truck)
                                                                        is required</div>
                                                                </div>                                                                                        
                                                            </div>
                                                            
                                                        </div>
                                                        <!-- <div class="col-md-4" >
                                                            <div class="form-group">
                                                                <label for="EmptyBagsWeight">Empty Bags Weight(MT"s)<span class="text-danger">*</span></label>
                                                                <input type="text"  digitsOnly maxlength="6" class="form-control" placeholder="Empty Bags Weight"
                                                                    formControlName="EmptyBagsWeight"
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  dep.EmptyBagsWeight.errors }">
                                            
                                                                <div *ngIf="isSubmit && dep.EmptyBagsWeight.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.EmptyBagsWeight.errors.required">Empty Bags Weight
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div> -->
                                                        <div class="col-md-4" *ngIf="isTable">
                                                            <div class="form-group row">
                                                                <div class="col-md-6">
                                                                    <label for="grswght">Gross Weight</label>
                                                                    <h5 class="text-dark"><b>{{dep.grswght.value}}</b></h5>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="Netwght">Net Weight <a
                                                                        triggers="mouseenter:mouseleave"
                                                                        popover="(Gross Weight - Tare Weight)"
                                                                        placement="right"><i class="fa fa-info-circle"></i>
                                                                    </a></label>
                                                                    <h5 class="text-dark"><b>{{dep.Netwght.value}}</b> </h5>
                                                                    
                                                                </div>
                                            
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row mt-1" *ngIf="isTable">
                                                        <div class="col-md-12 d-block text-center mb-2 mt-1">
                                                            <button  type="button" (click)="SaveWeightDetails('save');" class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> SAVE</button>
                                                            <button  type="button" (click)="SaveWeightDetails('next');" class="btn btn-success btn-min-width ml-1"><i class="fa fa-arrow-right"></i> NEXT</button>
                                                        </div>
                                                        <!-- <div class="col-md-12 text-center" >
                                                            <input type="button" style="margin-top: 0px;" name="next" (click)="SaveWeightDetails();" class="next action-button"
                                                                value="Next" />
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </form>                                                               
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

