
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Employee Master</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item"><a >Components</a>
                            </li>
                            <li class="breadcrumb-item active">Employeemaster
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->


            <div class="row">
                <div class="col-md-12">
                    <div class="collapse-icon accordion-icon-rotate">
                        <!-- <div id="headingCollapse11" class="card-header primary" data-toggle="collapse" href="#collapse11" (click)="Employclick()" aria-expanded="true" aria-controls="collapse11">
                            <a class="card-title lead">Employee Type</a>

                        </div> -->
                        

                        <div id="headingCollapse12E" class="card-header primary" data-toggle="collapse"  href="#collapse12E" (click)="Employclick()" aria-expanded="false" aria-controls="collapse12E">
                            <a class="card-title lead collapsed"> Employee Type</a>
                        </div>

                        <div id="collapse12E" role="tabpanel" aria-labelledby="headingCollapse12E" class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "(click)="addEmployee()"><i class="fa fa-plus"></i>Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('emphistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of emptypes;let indexOfelement=index;">
                                                    <td>{{emp.iteM_ID}}</td>
                                                    <td>{{emp.iteM_NAME}}</td>
                                                    <td>{{emp.inserteD_BY}}</td>
                                                    <td>{{emp.inserteD_DATE | date: 'dd-MM-yyyy' }}</td>
                                                    <td *ngIf="emp.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="emp.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="editEmp(emp.iteM_ID,emp.iteM_NAME,emp.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="headingCollapse12" class="card-header primary" data-toggle="collapse"  href="#collapse12" (click)="Designationclick()" aria-expanded="false" aria-controls="collapse12">
                            <a class="card-title lead collapsed"> Designation</a>
                        </div>
                        <div id="collapse12" role="tabpanel" aria-labelledby="headingCollapse12" class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1" (click)="Designationadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('Desighistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let desig of Desigtypes;let indexOfelement=index;">
                                                    <td>{{desig.iteM_ID}}</td>
                                                    <td>{{desig.iteM_NAME}}</td>
                                                    <td>{{desig.inserteD_BY}}</td>
                                                    <td>{{desig.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="desig.iS_ACTIVE==1"><span style="background: #8bc34a;padding: 2px 15px;color: white;border-radius: 4px;font-size: 12px;">Active</span></td>
                                                   
                                                <td *ngIf="desig.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Designationedit(desig.iteM_ID,desig.iteM_NAME,desig.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="headingCollapse13" class="card-header primary"  data-toggle="collapse" href="#collapse13" (click)="Genderclick()" aria-expanded="false" aria-controls="collapse13">
                            <a class="card-title lead collapsed">Gender</a>
                        </div>
                        <div id="collapse13" role="tabpanel" aria-labelledby="headingCollapse13" class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Genderadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('Gndhistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let gnd of gendertpe;let indexOfelement=index;">
                                                    <td>{{gnd.iteM_ID}}</td>
                                                    <td>{{gnd.iteM_NAME}}</td>
                                                    <td>{{gnd.inserteD_BY}}</td>
                                                    <td>{{gnd.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="gnd.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="gnd.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Genderedit(gnd.iteM_ID,gnd.iteM_NAME,gnd.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="headingCollapse14" class="card-header primary"  data-toggle="collapse" href="#collapse14" (click)="Sectionclick()" aria-expanded="false" aria-controls="collapse14">
                            <a class="card-title lead collapsed">Section Name</a>
                        </div>
                        <div id="collapse14" role="tabpanel" aria-labelledby="headingCollapse14" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Sectionadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('Sechistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sec of Sectype;let indexOfelement=index;">
                                                    <td>{{sec.iteM_ID}}</td>
                                                    <td>{{sec.iteM_NAME}}</td>
                                                    <td>{{sec.inserteD_BY}}</td>
                                                    <td>{{sec.inserteD_DATE | date: 'dd-MM-yyyy' }}</td>
                                                    <td *ngIf="sec.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="sec.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="sectionedit(sec.iteM_ID,sec.iteM_NAME,sec.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="headingCollapse15" class="card-header primary" data-toggle="collapse" href="#collapse15" (click)="EducationQualificationclick()" aria-expanded="false" aria-controls="collapse15">
                            <a class="card-title lead collapsed">Education Qualification</a>
                        </div>
                        <div id="collapse15" role="tabpanel" aria-labelledby="headingCollapse15" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 "(click)="EducationQualificationadd()" ><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('Eduhistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let edu of edutype;let indexOfelement=index;">
                                                    <td>{{edu.iteM_ID}}</td>
                                                    <td>{{edu.iteM_NAME}}</td>
                                                    <td>{{edu.inserteD_BY}}</td>
                                                    <td>{{edu.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="edu.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="edu.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="EducationQualificationedit(edu.iteM_ID,edu.iteM_NAME,edu.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="headingCollapse16" class="card-header primary" data-toggle="collapse" href="#collapse16" (click)="bloodgroupclick()" aria-expanded="false" aria-controls="collapse15">
                            <a class="card-title lead collapsed">Blood Group</a>
                        </div>
                        <div id="collapse16" role="tabpanel" aria-labelledby="headingCollapse16" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1" (click)="bloodgroupadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('BGhistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let bg of BGtype;let indexOfelement=index;">
                                                    <td>{{bg.iteM_ID}}</td>
                                                    <td>{{bg.iteM_NAME}}</td>
                                                    <td>{{bg.inserteD_BY}}</td>
                                                    <td>{{bg.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="bg.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="bg.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Bloodgroupedit(bg.iteM_ID,bg.iteM_NAME,bg.iS_ACTIVE)" ><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="headingCollapse17" class="card-header primary" data-toggle="collapse" href="#collapse17" (click)="Nationalityclick()" aria-expanded="false" aria-controls="collapse17">
                            <a class="card-title lead collapsed">Nationality</a>
                        </div>
                        <div id="collapse17" role="tabpanel" aria-labelledby="headingCollapse17" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)=nationaladd()><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('Nathistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let nl of natltype;let indexOfelement=index;">
                                                    <td>{{nl.iteM_ID}}</td>
                                                    <td>{{nl.iteM_NAME}}</td>
                                                    <td>{{nl.inserteD_BY}}</td>
                                                    <td>{{nl.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="nl.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="nl.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Nationalityedit(nl.iteM_ID,nl.iteM_NAME,nl.iS_ACTIVE)" ><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="headingCollapse19" class="card-header primary" data-toggle="collapse" href="#collapse19" (click)="maritalstatusclick()" aria-expanded="false" aria-controls="collapse19">
                            <a class="card-title lead collapsed">Marital Status</a>
                        </div>
                        <div id="collapse19" role="tabpanel" aria-labelledby="headingCollapse19" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1" (click)="Maritalstatusadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('MShistory')"><i class="fa fa-clock-o"></i>History</button>
                                        
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ms of MStype;let indexOfelement=index;">
                                                    <td>{{ms.iteM_ID}}</td>
                                                    <td>{{ms.iteM_NAME}}</td>
                                                    <td>{{ms.inserteD_BY}}</td>
                                                    <td>{{ms.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="ms.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="ms.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Maritalstatusedit(ms.iteM_ID,ms.iteM_NAME,ms.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                                <!---->
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="headingCollapse20" class="card-header primary" data-toggle="collapse" href="#collapse20" (click)="worklocationclick()" aria-expanded="false" aria-controls="collapse20">
                            <a class="card-title lead collapsed">Work Location Type</a>
                        </div>
                        <div id="collapse20" role="tabpanel" aria-labelledby="headingCollapse20" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 "(click)="WorklocAdd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('WLhistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let wl of rltype;let indexOfelement=index;">
                                                    <td>{{wl.iteM_ID}}</td>
                                                    <td>{{wl.iteM_NAME}}</td>
                                                    <td>{{wl.inserteD_BY}}</td>
                                                    <td>{{wl.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="wl.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="wl.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Worklocedit(wl.iteM_ID,wl.iteM_NAME,wl.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- <div id="headingCollapse21114" class="card-header primary" data-toggle="collapse" href="#collapse21114" (click)="Locationclick()" aria-expanded="false" aria-controls="collapse21114">
                            <a class="card-title lead collapsed">Location</a>
                        </div>
                        <div id="collapse21114" role="tabpanel" aria-labelledby="headingCollapse21114" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Locationadd('addloc')"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('locationshistory')"><i class="fa fa-plus"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>WorkLocation Type</th>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let lock of locationsTYPE;let indexOfelement=index;">
                                                   <td>{{lock.work_location_type}}</td>
                                                    <td>{{lock.master_id}}</td>
                                                    <td>{{lock.master_name}}</td>
                                                    <td>{{lock.inserteD_BY}}</td>
                                                    <td>{{lock.inserteD_ON}}</td>
                                                    <td *ngIf="lock.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="lock.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Locationedit(lock.master_id,lock.master_name,lock.iS_ACTIVE,lock.work_location_type,'editloc')"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> -->



                        <div id="headingCollapse211" class="card-header primary" data-toggle="collapse" href="#collapse211" (click)="familyrelationclick()" aria-expanded="false" aria-controls="collapse211">
                            <a class="card-title lead collapsed">Family Relation</a>
                        </div>
                        <div id="collapse211" role="tabpanel" aria-labelledby="headingCollapse211" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Familyrelationadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('FRhistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let fm of reltype;let indexOfelement=index;">
                                                    <td>{{fm.iteM_ID}}</td>
                                                    <td>{{fm.iteM_NAME}}</td>
                                                    <td>{{fm.inserteD_BY}}</td>
                                                    <td>{{fm.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="fm.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="fm.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Familyreledit(fm.iteM_ID,fm.iteM_NAME,fm.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="headingCollapse2111" class="card-header primary" data-toggle="collapse" href="#collapse2111" (click)="Leavesclick()" aria-expanded="false" aria-controls="collapse2111">
                            <a class="card-title lead collapsed">Leaves</a>
                        </div>
                        <div id="collapse2111" role="tabpanel" aria-labelledby="headingCollapse211" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Leavesadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('leaveshistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let LEV of LEAVESTYPE;let indexOfelement=index;">
                                                    <td>{{LEV.iteM_ID}}</td>
                                                    <td>{{LEV.iteM_NAME}}</td>
                                                    <td>{{LEV.inserteD_BY}}</td>
                                                    <td>{{LEV.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="LEV.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="LEV.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Leavesedit(LEV.iteM_ID,LEV.iteM_NAME,LEV.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
       
                        <div id="headingCollapse210" class="card-header primary" data-toggle="collapse" href="#collapse210" (click)="Loanclick()" aria-expanded="false" aria-controls="collapse210">
                            <a class="card-title lead collapsed">Loan Type</a>
                        </div>
                        <div id="collapse210" role="tabpanel" aria-labelledby="headingCollapse210" class="card collapse" aria-expanded="false" style="height: 0px;">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button class="btn btn-primary btn-md mb-1 mr-1 " (click)="Loanadd()"><i class="fa fa-plus"></i> Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="historyEmployee('loanshistory')"><i class="fa fa-clock-o"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>Master ID</th>
                                                    <th>Master Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let Lon of LoanTYPE;let indexOfelement=index;">
                                                    <td>{{Lon.iteM_ID}}</td>
                                                    <td>{{Lon.iteM_NAME}}</td>
                                                    <td>{{Lon.inserteD_BY}}</td>
                                                    <td>{{Lon.inserteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                                    <td *ngIf="Lon.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>
                                                   
                                                <td *ngIf="Lon.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1" (click)="Loanedit(Lon.iteM_ID,Lon.iteM_NAME,Lon.iS_ACTIVE)"><i class="fa fa-pencil"></i> Edit </button></td>
                                            </tr>
                                        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
       
       
                    </div>
    </div>
</div>
<!-- END: Page Main-->







<div bsModal #addempModal="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Add {{title}} Type</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideaddempModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="employeeaddform">
                            
                         
                            <!-- [hidden]="!locationdiv" -->
                            <!-- <div class="form-group" [hidden]="!locationdiv">
                                <label for="exampleFormControlSelect1 ">WorkLocation Type</label>
                                <select class="form-control " id="exampleFormControlSelect1" formControlName="locddl">
                                    <option value="0" selected>Select Worklocation Type</option>
                                    <option *ngFor="let c of uniquelocations" [ngValue]="c.Worklocname">{{c.Worklocname}}</option>
                                   
                                                              
                                </select>
                                <div class="alert alert-danger" [hidden]="!locationvalidation">
                                    
                                   <h6> Please select work location </h6>
                                </div>
                            </div>  -->
                            
                           
                            
                            <div class="form-group">
                                <label for="exampleInputEmail11">{{title}} Type<a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter {{title}} Type"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text " maxlength="50" class="form-control" formControlName="empaddtype" [ngClass]="{ 'is-invalid': submitted && f1.empaddtype.errors }">
                                <div *ngIf="submitted && f1.empaddtype.errors" class="invalid-feedback">
                                    <div *ngIf="f1.empaddtype.errors.required">{{title}} Type is required</div>
</div>
                            </div>
                            
                          
                            <div class="form-group" [hidden]="!Empreldiv">
                                <label for="exampleFormControlSelect1 ">Map to<a
                                    triggers="mouseenter:mouseleave"
                                    popover="Select {{title}} Type"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <ng-select id="exampleFormControlSelect1" formControlName="Emprelddl">
                                    <ng-option value="" selected>Select Employee Type</ng-option>
                                        <ng-option value="Regular">Regular</ng-option>
                                            <ng-option value="Outsourcing">Outsourcing</ng-option>
                                   
                                                  </ng-select>
                             
                                                  <!-- <div class="alert alert-danger" [hidden]="!locationvalidation">
                                    
                                                    <h6> Please select Employee Type </h6>
                                                 </div>  -->
                            </div>

                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Remarks<a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Remarks"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" lettersOnly rows = "10" cols = "40" maxlength = "2000" class="form-control" formControlName="empremarks" [ngClass]="{ 'is-invalid': submitted && f1.empremarks.errors }">
                           
                                <div *ngIf="submitted && f1.empremarks.errors" class="invalid-feedback">
                                    <div *ngIf="f1.empremarks.errors.required">Remarks required</div>
</div>

                            </div>


                            <button type="submit " class="btn btn-primary " (click)="employaddclick()"><i _ngcontent-ofk-c236=""
                                class="fa fa-paper-plane"></i> Add</button>
                            
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div bsModal #editempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Edit {{title}} Type</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideeditempModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="employeeeditForm">
                            <div class=" form-group">
                                <label for="exampleInputEmail1" >{{title}} Id <a
                                    triggers="mouseenter:mouseleave"
                                    popover="{{title}} id"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" class="form-control" formControlName="Godownswarehsetype" readonly>

                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">{{title}} Type<a
                                    triggers="mouseenter:mouseleave"
                                    popover="{{title}} Type"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" class="form-control" formControlName="editemptype" readonly >
                                <!-- <select class="form-control " id="exampleFormControlSelect1" formControlName="editemptype">
                                    <option value="">Select Employee Type</option>
                                    <option *ngFor="let c of emptypes1" value="c.iteM_NAME">{{c.iteM_NAME}}</option>
                                                              
                                </select> -->
                            </div>

                            <!-- [hidden]="!locationdiv" -->
                            <!-- <div class="form-group" [hidden]="!locationdiv">
                                <label for="exampleFormControlSelect1 ">WorkLocation Type</label>
                                <select class="form-control " id="exampleFormControlSelect1" formControlName="editlocddl" disabled='true'>
                                  <option value="0">Select Worklocation Type</option>
                                  <option *ngFor="let c of locedittype" [ngValue]="c.work_location_type">{{c.work_location_type}}</option>
                                                                 
                                </select>
                            </div>  -->
                            
                            
                            
                            <div class="form-group ">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="1" name="empactive" formControlName="empactive">Active</label>
                              </div>
                              <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" value="0" name="empactive" formControlName="empactive">Inactive                                  
                                </label><a
                                triggers="mouseenter:mouseleave"
                                popover="Select Active/Inactive"
                                placement="right">
                                <i class="fa fa-info-circle"></i>
                            </a>
                                                          
</div>

<div *ngIf="editsubmitted && f.empactive.invalid" class="alert alert-danger">
    <div *ngIf="f.empactive.errors.required">Please Select Active/Inactive</div>
</div>
                            </div> 


                            <div class="form-group ">
                                <label for="exampleInputEmail1 ">Remarks<a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Remarks"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <textarea type="text " class="form-control" formControlName="empeditremarks" [ngClass]="{ 'is-invalid': editsubmitted && f.empeditremarks.errors }"> </textarea>
                                <div *ngIf="editsubmitted && f.empeditremarks.errors" class="invalid-feedback">
                                    <div *ngIf="f.empeditremarks.errors.required">Remarks required</div>
                                </div>
                            </div>




                            <!-- <div class="form-group ">
                                <label for="exampleFormControlSelect1 ">Employee Type</label>
                                <select class="form-control " id="exampleFormControlSelect1 ">
                                  <option>Regular</option>
                                  <option>Contract</option>
                                  <option>Outsourcing</option>                                
                                </select>
                            </div> -->


                            <button type="submit " class="btn btn-primary " (click)="employeditclick()"><i _ngcontent-ofk-c236=""
                                class="fa fa-paper-plane"></i> Update</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidehistoryempModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                     <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                   </tr>
                                   
                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">
                                   
                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
