.collapse-icon .card-header {
    position: relative;
    margin-bottom: 0px;
    padding: 10px 22px;
    background: #b2dfdb;
    color: black !important;
    border-radius: 6px;
}

.collapse-icon .card-header[aria-expanded="false"] {
    margin-bottom: 10px;
}

.collapse-icon .card-header a {
    font-weight: 700;
    font-size: 14px;
}

.table td,
.table th {
    padding: 10px 14px;
}