<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Quantity Examination</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Govt-PSU)</a>
                        </li>
                        <li class="breadcrumb-item active">Quantity Examination
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Quantity Examination</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong>
                                </li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong>
                                </li>
                                <li id="commtab" class="commtab active">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Dumping</strong>
                                </li>

                                <li id="commtab" class="commtab  active">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong>
                                </li>
                                <li id="commtab" class="commtab  active">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong>
                                </li>
                                <li id="commtab" class="commtab current active ">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quantity Examination</strong>
                                </li>
                                <li id="commtab" class="commtab  ">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quality Examination</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Stack-In</strong>
                                </li>
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                            (gridReady)="BindData($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            [frameworkComponents]="frameworkComponents"
                                                            rowSelection="single" [components]="components">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>
                                            </div>
                                            <form [formGroup]="DepForm">
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1" *ngIf="isTable">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-12 text-center">
                                                                    <button type="button" (click)="QuantityPreview()"
                                                                        class="btn btn-warning btn-min-width ml-1"><i
                                                                            class="fa fa-cog"></i> 10% Of Bags Quanity
                                                                        Examination</button>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="row mt-1">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="NoOfBags">No Of Bags
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter No Of Bags"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" numbersOnly maxlength="10"
                                                                            class="form-control"
                                                                            placeholder="No Of Bags"
                                                                            formControlName="NoOfBags"
                                                                            (input)="CalBagWeight()"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.NoOfBags.errors }">
                                                                        <div *ngIf="isSubmit && dep.NoOfBags.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.NoOfBags.errors.required">
                                                                                No Of Bags
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="ABagWeight">Actual Bag Weight(Kg)
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Actual Bag Weight"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            class="form-control"
                                                                            placeholder="Actual Bag Weight" readonly
                                                                            formControlName="ABagWeight"
                                                                            (input)="CalDiffWeight($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.ABagWeight.errors }">
                                                                        <div *ngIf="isSubmit && dep.ABagWeight.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.ABagWeight.errors.required">
                                                                                Actual Bag Weight(Kg)
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="AvgBagWeight">Quantity Exam Average
                                                                            Bag Weight (Kg)
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Quantity Exam Average Bag Weight (Kg)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            class="form-control" readonly
                                                                            placeholder="Quantity Exam Average Bag Weight (Kg)"
                                                                            formControlName="AvgBagWeight"
                                                                            (input)="CalDiffWeight($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.AvgBagWeight.errors }">
                                                                        <div *ngIf="isSubmit && dep.AvgBagWeight.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.AvgBagWeight.errors.required">
                                                                                Quantity Exam Average Bag Weight(Kg)
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="DiffBagWeight">Difference Weight
                                                                            (Grams)
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Difference Weight (Grams)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            readonly class="form-control"
                                                                            placeholder="Difference Weight (Grams)"
                                                                            formControlName="DiffBagWeight"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.DiffBagWeight.errors }">
                                                                        <div *ngIf="isSubmit && dep.DiffBagWeight.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.DiffBagWeight.errors.required">
                                                                                Difference Weight (Grams)
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="SourceOfReceipt">Source Of Receipt
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Source Of Receipt"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" alphaNumbers maxlength="200"
                                                                            class="form-control"
                                                                            placeholder="Source Of Receipt"
                                                                            formControlName="SourceOfReceipt"
                                                                           
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.SourceOfReceipt.errors }">
                                                                        <div *ngIf="isSubmit && dep.SourceOfReceipt.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.SourceOfReceipt.errors.required">
                                                                                Source Of Receipt
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="CropYear">Crop Year
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Crop Year"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" alphaNumbers maxlength="200"
                                                                            class="form-control"
                                                                            placeholder="Crop Year"
                                                                            formControlName="CropYear"
                                                                           
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.CropYear.errors }">
                                                                        <div *ngIf="isSubmit && dep.CropYear.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.CropYear.errors.required">
                                                                                Crop Year
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="NameConsignor">Name Of The Consignor
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter Name Of The Consignor"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" alphaNumbers maxlength="200"
                                                                            class="form-control"
                                                                            placeholder="Name Of The Consignor"
                                                                            formControlName="NameConsignor"
                                                                           
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.NameConsignor.errors }">
                                                                        <div *ngIf="isSubmit && dep.NameConsignor.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.NameConsignor.errors.required">
                                                                                Name Of The Consignor
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="ConOfBags">Condition Of Bags Used
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Condition Of Bags Used"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                            <div class="input-group">
                                                                                <div class="d-inline-block custom-control custom-radio mr-1">
                                                                                    <input type="radio" formControlName="ConOfBags" name="ConOfBags"
                                                                                        class="custom-control-input" id="SBT" value="Standard Baf Tare(SBT)">
                                                                                    <label class="custom-control-label" for="SBT">Standard Baf Tare(SBT)</label>
                                                                                </div>
                                                                                <div class="d-inline-block custom-control custom-radio">
                                                                                    <input type="radio" formControlName="ConOfBags" name="ConOfBags"
                                                                                        class="custom-control-input" id="NEWANDSOUND" value="New And Sound">
                                                                                    <label class="custom-control-label" for="NEWANDSOUND">New And Sound</label>
                                                                                </div>
                                                                                <div class="d-inline-block custom-control custom-radio">
                                                                                    <input type="radio" formControlName="ConOfBags" name="ConOfBags"
                                                                                        class="custom-control-input" id="DMS" value="Double Machine Stitch(DMS)">
                                                                                    <label class="custom-control-label" for="DMS">Double Machine Stitch(DMS)</label>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        <div *ngIf="isSubmit && dep.ConOfBags.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.ConOfBags.errors.required">
                                                                                Condition Of Bags Used
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row d-block text-center mb-2">
                                                        <button type="button" 
                                                            (click)="SaveQuantitytyChecking('0');"
                                                            class="btn btn-danger btn-min-width ml-1"><i
                                                                class="fa fa-times-circle-o"></i> Reject</button>
                                                        <button type="button" (click)="SaveQuantitytyChecking('1');"
                                                            class="btn btn-success btn-min-width ml-1"><i
                                                                class="fa fa-check-circle"></i> Accept</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">10% Of Bags Quantity Examination</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="QtyForm">
                    <div>
                        <div class="card spr-card">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="card bg-blue bg-lighten-5">
                                        <div class="card-body py-1">
                                            <div class="row"*ngFor="let bag of b.controls; let i = index" [formGroup]="bag">
                                               
                                                    <div class="col-md-8">
                                                        <label for="sectionname">Bag {{i+1}} Weight <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Bag {{i+1}} Weight" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="10" digitsOnly
                                                            class="form-control" placeholder="Bag {{i+1}} Weight"
                                                            formControlName="BagWeight"
                                                            [ngClass]="{ 'is-invalid': isQtySubmit && bag.controls.BagWeight.errors }" />
                                                        <div *ngIf="isQtySubmit && bag.controls.BagWeight.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="bag.controls.BagWeight.errors.required">Bag
                                                                Weight
                                                                is required</div>
                                                        </div>


                                                    </div>
                                                    <div class="col-md-4" *ngIf="i==0">
                                                        <button class="btn btn-success btn-sm mt-3"
                                                            (click)="AddBag()"><i
                                                                class="fa fa-plus-circle"></i> Add</button>
                                                    </div>
                                                    <div class="col-md-4" *ngIf="i!=0">
                                                        <button class="btn btn-danger btn-sm mt-3"
                                                            (click)="RemoveBag(i)"><i
                                                                class="fa fa-minus-circle"></i> Remove</button>
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="SaveQuatity()"
                    ><i class="fa fa-paper-plane"></i>Submit Details</button>
            </div>
        </div>
    </div>
</div>