<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-right col-md-6 col-12 mb-1">
                  <h3 class="content-header-title">Dead Stock Section Officer Approval</h3>
                </div>
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a >Home</a>  
                      </li>
                      <li class="breadcrumb-item"><a >Engg. Maintenance</a>
                      </li>
                      <li class="breadcrumb-item active">Dead Stock Section Officer Approval
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Dead Stock Section Officer Approval</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid  class="ag-theme-alpine" 
                                                    [columnDefs]="columnDefs"
                                                    [floatingFilter]="true"
                                                    (gridReady)="BindData($event)"
                                                    [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents"
                                                    rowSelection="single"
                                                    [components]="components"
                                                    >
                                                
                                                    </ag-grid-angular>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Add Section Modal -->
<div class="modal fade" id="ReasonModal" bsModal #ReasonModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">Reject Reason</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="hideReasonModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="DeadStockRejectReasonForm">
                   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NoOfUnits">Reject Reason <span class="text-danger">*</span> <a  
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Reject Reason Here"
                                    placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>
                                <input type="text" alphaNumbers formControlName="RejectReason" autocomplete="off" maxlength="300"
                                    [ngClass]="{ 'is-invalid': submittedrsn && subfrsn.RejectReason.errors}" class="form-control"
                                    placeholder="Enter Reject Reason">
                                <div *ngIf="submittedrsn && subfrsn.RejectReason.errors" class="invalid-feedback">
                                    <div *ngIf="subfrsn.RejectReason.errors.required">Enter Reject Reason</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-block text-center mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="RejectAPI();">Submit</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Data</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow-none bg-blue bg-lighten-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Uploaded Image</label>
                                <div class="">
                                    <a href="{{Image}}" target="_blank" > 
                                        <img [src]="Image"
                                        class="border-secondary border-2 box-shadow-2 border-radius-3" style="width: 100%;
                                        height: 300px;
                                        box-shadow: 1px 1px 1px grey;"
                                        >
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center mt-1">
                            <a href="{{Document}}" (click)="viewPDF(Document)" class="btn btn-secondary"> Click to view Uploaded Document</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="viewModal.hide()" data-dismiss="modal">Close</button>
        </div> -->
    </div>
</div>
</div>
