<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Service Registrar</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Service Registrar</a>
                        </li>
                        <li class="breadcrumb-item active">Leave Ledger
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Leave Ledger</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button [hidden]="!screen2" type="button" (click)="back()"
                                    class="btn btn-outline-secondary ml-1 btn-md"><i
                                        class="fa fa-arrow-circle-left"></i> Back</button>
                                <button [hidden]="!screen2" type="button" (click)="AddSR()"
                                    class="btn btn-outline-secondary ml-1 btn-md">
                                    <i class="fa fa-plus-circle"></i> SR</button>

                                <button class="btn btn-outline-secondary ml-1 btn-md" (click)="HistoryAllEmployees();">
                                    <i class="fa fa-plus-circle"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2" [hidden]="!screen1">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20" (cellClicked)="dataclicked($event)"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" [hidden]="!screen2">
                                            <!--Add SR-->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="col-md-12 mb-3 text-center">
                                                        <strong><span class="font-size-large">SERVICE REGISTRAR</span>
                                                            of Mr/Mrs/Ms. </strong> <span class="text-primary"
                                                            style="text-decoration: underline;"> {{EmpName}} </span>
                                                        <strong> Employee ID : </strong><span class="text-primary"
                                                            style="text-decoration: underline;">{{empid}}</span>,<strong>
                                                            Service : </strong><span class="text-primary"
                                                            style="text-decoration: underline;">{{service_name}}</span>,
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular #agGridLeave class="ag-theme-alpine"
                                                            [columnDefs]="columnDefs_Leaves" [floatingFilter]="true"
                                                            (gridReady)="BindData_Leaves($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            [frameworkComponents]="frameworkComponents_Leaves"
                                                            rowSelection="single" [components]="components_Leaves">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--Add SR-->
                                        </div>


                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->
<!-- Edit Section Modal -->
<div class="modal fade sr-details" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Add Leave Ledger</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form>
                    <div class="card-content">
                        <div class="card-body">

                            <div class="col-md-12 px-0">
                                <div class="row" *ngFor="let EmpLeaveCtrl of EmpLeaveCtrl.controls; let i = index"
                                    [formGroup]="EmpLeaveCtrl">
                                    <div class="col-md-12 bg-blue bg-lighten-5 py-1 spr-card text-center">
                                        Encashment of <div class="form-group">
                                            <ng-select formControlName="LeaveType" (change)="changetype(i)"
                                                placeholder="Select Leave Type"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.LeaveType.errors }">
                                                <ng-option *ngFor="let ltype of leavetypes" value="{{ltype.id}}">
                                                    {{ltype.leave}}
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.controls.LeaveType.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpLeaveCtrl.controls.LeaveType.errors.required">
                                                    Leave Type
                                                    is required</div>
                                            </div>
                                        </div> for <div class="form-group"><input type="text" class="form-control"
                                                placeholder="No.of Days" formControlName="NoOfdays" digitsOnly
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.NoOfdays.errors }" />
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.controls.NoOfdays.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpLeaveCtrl.controls.NoOfdays.errors.required">
                                                    No.of Days
                                                    is required</div>

                                            </div>
                                        </div> days from <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control pr-1" type="date" placeholder="DD-MM-YYYY"
                                                    name="FromDate" ngbDatepicker #d2="ngbDatepicker" readonly
                                                    (click)="d2.toggle()" formControlName="FromDate"
                                                    [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.FromDate.errors }"
                                                    [maxDate]="NgbDateStruct" />



                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar" type="button"
                                                        (click)="d2.toggle()" type="button"><i
                                                            class="ficon feather icon-calendar"></i></button>
                                                </div>
                                                <div *ngIf="consubmitted && EmpLeaveCtrl.controls.FromDate.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="EmpLeaveCtrl.controls.FromDate.errors.required">
                                                        From Date
                                                        is required</div>
                                                </div>
                                            </div>
                                        </div> to <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control pr-1" type="date" placeholder="DD-MM-YYYY"
                                                    name="ToDate" ngbDatepicker #d3="ngbDatepicker" readonly
                                                    formControlName="ToDate" (click)="d3.toggle()"
                                                    [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.ToDate.errors }"
                                                    [maxDate]="NgbDateStruct" />

                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar" type="button"
                                                        (click)="d3.toggle()" type="button"><i
                                                            class="ficon feather icon-calendar"></i></button>
                                                </div>
                                                <div *ngIf="consubmitted && EmpLeaveCtrl.controls.ToDate.errors"
                                                    class="invalid-feedback">

                                                    <div *ngIf="EmpLeaveCtrl.controls.ToDate.errors.required">
                                                        To
                                                        Date

                                                        is required</div>
                                                </div>
                                            </div>

                                        </div>
                                        for block period
                                        <div class="form-group"><input type="text" class="form-control" maxlength="100"
                                                placeholder="days" formControlName="period" digitsOnly
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.period.errors }" />
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.controls.period.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpLeaveCtrl.controls.period.errors.required">
                                                    period
                                                    is required</div>

                                            </div>
                                        </div>

                                        Sanctioned Order No


                                        <div class="form-group"><input type="text" class="form-control" maxlength="100"
                                                placeholder="Order  No" formControlName="srno"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.srno.errors }" />
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.controls.srno.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpLeaveCtrl.controls.srno.errors.required">
                                                    Order No
                                                    is required</div>

                                            </div>
                                        </div> dt <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control pr-1" type="date" placeholder="DD-MM-YYYY"
                                                    name="AppliedDate" ngbDatepicker #d1="ngbDatepicker" readonly
                                                    (click)="d1.toggle()" formControlName="AppliedDate"
                                                    [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.controls.AppliedDate.errors }"
                                                    [maxDate]="NgbDateStruct" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar" type="button"
                                                        (click)="d1.toggle()" type="button"><i
                                                            class="ficon feather icon-calendar"></i></button>
                                                </div>
                                                <div *ngIf="consubmitted && EmpLeaveCtrl.controls.AppliedDate.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="EmpLeaveCtrl.controls.AppliedDate.errors.required">
                                                        Date
                                                        is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="i==0">
                                            <button type="button" (click)="AddLeave()"
                                                class="btn btn-success btn-sm mt-0 spr-add-more-btn"><i
                                                    class="fa fa-plus-circle"></i></button>
                                        </div>
                                        <div *ngIf="i!=0">
                                            <button type="button" (click)="RemoveLeave(i)"
                                                class="btn btn-danger btn-sm mt-0 spr-add-more-btn"><i
                                                    class="fa fa-minus-circle"></i></button>
                                        </div>
                                    </div>


                                </div>



                                <div class="row d-block text-center">
                                    <button type="button" (click)="SubmitEmpLeave();"
                                        class="btn btn-primary">Submit</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>




<!-- History All Details Modal -->
<div class="modal fade" id="historyAllSection" bsModal #historyAllSection="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Employees History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyAllSection.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of allemphistory;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td>{{hsty.evenT_CODE}}</td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'">
                                        <img [src]="hsty.olD_VALUE" *ngIf="hsty.olD_VALUE"
                                            style="height: 100px;width: 100px;">

                                    </td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.olD_VALUE}} </td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'">
                                        <img [src]="hsty.neW_VALUE" *ngIf="hsty.neW_VALUE"
                                            style="height: 100px;width: 100px;">
                                    </td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyAllSection.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- History Individual Details Modal -->
<div class="modal fade" id="historySection" bsModal #historySection="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Employee History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historySection.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of emphistory;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'"><img [src]="hsty.olD_VALUE"
                                            *ngIf="hsty.olD_VALUE" style="height: 100px;width: 100px;"></td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.olD_VALUE}} </td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'"><img [src]="hsty.neW_VALUE"
                                            *ngIf="hsty.neW_VALUE" style="height: 100px;width: 100px;"></td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historySection.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Employee Profile Modal -->
<div class="modal fade" bsModal #Employeeprofile="bs-modal" [config]="{backdrop: 'static'}" id="Employeeprofile" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EmployeeprofileLabel"><b>Employee Profile </b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeprofile()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            
                <section id="user-profile-cards" class="row mt-2">
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="card card border-teal border-lighten-2 box-shadow-1 employee-details">
                            <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-md-4">
                                            <div class="rounded-circle m-auto border-lighten-2 border height-150 width-150">
                                                <img [src]="vempphoto" class="height-150 width-150 p-2" alt="Employee image">
                                            </div>
                                        </div>
                                        <div class="col-md-8 text-left">
                                            <div class="bg-light py-3 px-2">
                                                <h4 class="bg-light"><i class="fa fa-user"></i> Employee Name : <span class="card-title text-info">Vamsi Krishna</span></h4>
                                                <h5 class="card-subtitle text-muted mt-1"><i class="fa fa-briefcase"></i> Designation : <span class="text-success">{{vdesignation}}</span></h5>
                                            </div>
                                        </div>
                                        
                                    </div>
                            <!-- <div class="list-group list-group-flush">
                                <span class="list-group-item"> </span>
                                <span class="list-group-item"><i class="feather icon-mail"></i> Login Code : <strong class="text-primary">{{vempcode}}</strong></span>
                                <span class="list-group-item"><i class="feather icon-check-square"></i> Employee Type : <strong class="text-primary">{{vemptype}}</strong></span>
                                <span class="list-group-item"> <i class="feather icon-message-square"></i> Mobile Number : <strong class="text-primary">{{vmobile}}</strong></span>
                            </div> -->

                            
                            <h4 class="bg-accent-2 text-primary"><i class="feather icon-info"></i> General</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Employee Aadhaar</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vaadhaar}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Employee Type</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vemptype}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Designation</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vdesignation}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Date of Birth</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vdob}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Education Qualification</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{veducation}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Email</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vemail}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Emergency Contact No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vecno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Experience Months</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vexmonths}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Religion</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vreligion}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Marital Status</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vmstatus}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Anniversary Date</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vanaadate}}</label>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Employee ID</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vempid}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Employee Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vempname}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Gender</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vgender}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Date of Joining
                                                    </label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vdoj}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Blood Group</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vbloodgrp}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Mobile No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vmobile}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Experience Years</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vexpears}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Nationality</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnationality}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Category</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vcommunity}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Spouse Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vspouname}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Identification 1</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{V_identification1}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Identification 2</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{V_identification2}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Mother Tongue</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{V_Mothertongue}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Height</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{V_Height}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Native Place</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{V_Nativeplace}}</label>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <h4 class="bg-accent-2 text-primary mb-1"><i class="feather icon-map-pin"></i> Communication Details</h4>

                            <h4 class="bg-light-success text-success">Present Address</h4>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>District</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpdistrict}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Municipal/Mandal</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpmandal}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>House No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vphno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Landmark</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vplanmark}}</label>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Area</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpru}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Village/Town</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpvillage}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Street Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpstreett}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Pincode</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vppincode}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <h4 class="bg-light-success text-success">Permanent Address</h4>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>District</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpedistrict}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Municipal/Mandal</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpemandal}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>House No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpehno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Landmark</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpelanmark}}</label>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Area</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vperu}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Village/Town</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpevillage}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Street Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpestreett}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Pincode</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpepincode}}</label>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <h4 class="bg-light-success text-success">Native Address</h4>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>State</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnstate}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Area</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnru}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Village/Town</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnvillage}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Street Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnstreett}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Pincode</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnpincode}}</label>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>District</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vndistrict}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Municipal/Mandal</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnmandal}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>House No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnhno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Landmark</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vnlanmark}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <h4 class="bg-light-success text-success">Working Location</h4>
                               
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Location Type</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vloctype}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Section Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vsectionname}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Status</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vastatus}}</label>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Location Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vlocname}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Reporting Manager</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vrmanager}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <h4 class="bg-light-success text-success">Bank Details</h4>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>IFSC Code</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vifsccode}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Account No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vaccno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Bank Branch</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vbranch}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Account Holder Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vaccname}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Bank Name</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vbankname}}</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>

                            <h4 class="bg-light-success text-success">Provident Fund Details</h4>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table border-top-0">
                                        <tbody>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>UAN No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vuanno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Provident Fund Date</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpfdate}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Provident Fund Account No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpfaccno}}</label>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Provident Fund No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpfno}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>Provident Fund Office</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpfoffice}}</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="width-50-per">
                                                    <label>PAN No</label><span class="float-right">:</span>
                                                </td>
                                                <td class="width-50-per">
                                                    <label>{{vpanno}}</label>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>

                            <h4 class="bg-light-success text-success">Family Details</h4>
                          
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Family Member</th>
                                                    <th>Date of Birth</th>
                                                    <th>Relation</th>
                                                    <th>Nominee</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let item of familylist'>
                                                    <td *ngFor='let key of FamilyList_keys'>{{item[key]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                          </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-12">
                        <div class="card card border-teal border-lighten-2 box-shadow-1 employee-details">
                            <div class="card-body">



                                <h4 class="bg-light-success text-success">Employee Transfer</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Post AS</th>
                                                        <th>Reported At</th>
                                                        <th>Relieved At</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of EmpTransferList'>
                                                        <td *ngFor='let key of EmpTransferList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Leaves</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Leave Type</th>
                                                        <th>From Date</th>
                                                        <th>To Date</th>
                                                        <th>No Of Days</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of LeavesList'>
                                                        <td *ngFor='let key of Leaves_List_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <h4 class="bg-light-success text-success">Employee Suspention</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Location</th>
                                                        <th>Suspention Date</th>
                                                        <th>Reason</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of SuspentionList'>
                                                        <td *ngFor='let key of SuspentionList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Punishment</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Punishment</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of PunishmentList'>
                                                        <td *ngFor='let key of PunishmentList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Reinstating Duties</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Reporting At</th>
                                                        <th>Reporting Date</th>
                                                        <th>Reason</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of ReinstatteList'>
                                                        <td *ngFor='let key of ReinstatteList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Employee Promotion</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Post </th>
                                                        <th>From Amount</th>
                                                        <th>To Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of PromotionList'>
                                                        <td *ngFor='let key of PromotionList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Allocation of Additional Charge</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Designation</th>
                                                        <th>Location</th>
                                                        <th>Officer Location</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of AllocationList'>
                                                        <td *ngFor='let key of AllocationList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Relieving of Additional Charge</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Designation</th>
                                                        <th>Location</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of ReleivingList'>
                                                        <td *ngFor='let key of ReleivingList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Increments</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Sanction Amount</th>
                                                        <th>From Amount</th>
                                                        <th>To Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of IncrementList'>
                                                        <td *ngFor='let key of IncrementList_keys'>{{item[key]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="bg-light-success text-success">Annual Propertie Declarations</h4>
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Order No</th>
                                                        <th>Date</th>
                                                        <th>Year</th>
                                                        <th>Document No</th>
                                                        <th>Document</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor='let item of propertielist_decdoc'>
                                                        <td>{{item.Orderid}}</td>
                                                        <td>{{item.Orderdate}}</td>
                                                        <td>{{item.year}}</td>
                                                        <td>{{item.docnumber}}</td>
                                                        <td *ngIf="item.document">
                                                            <a [href]="item.document" target="_blank" >View</a>
                                                        </td>
                                                       </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>          
            
            </div>
        </div>
    </div>

</div>