#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;
}

.form-group{
    display: inline-block ;
    margin-bottom: 0.5rem;
    vertical-align: middle;
  }
  form .form-control , ng-select .ng-select-container , .no-border .ng-select-container , .no-border , ng-select{
    background-color: transparent !important;
    background: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #00d6cc !important;
    min-height: 36px;
    align-items: center;
    border-top: none !important;
    border-left: none !important;
    border-right: 0 !important;
}
.btn.calendar{
  border: none !important;
}

  .table-row-repeat .form-control{
    width: auto !important;
  }.input-group{width: 210px;}


  .spr-card {
    border-radius: 20px;
    border: 2px solid #00d6cc;
    margin-bottom: 30px;
    color: #2e405c;
    font-weight: 600;
  }
  .btn.spr-add-more-btn {
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.card.border-teal {
  border-radius: 0rem !important;
}
.employee-details .table label{
    margin-bottom: 0px;
}
.employee-details h4{
    padding: 5px 2px;
    background: #e4f3ff;
    margin-bottom: 0;
}
.employee-details .table td, .table th {
    padding: 5px 8px;
}
/* .employee-details .table td:last-child{
    font-weight: bold;
} */