#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;
}
.ag-header-container , .ag-header-row.ag-header-row-column{
  width: 1155px !important;
}
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: .75rem 2rem .75rem 1rem;
    font-size: 12px;
    border: none;
    border-radius: 0.25rem;
  }
  
.dropbtn::after{
  content: '\f107';
  font-family: FontAwesome;
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  transition: transform 1s ease 0s;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #404E67;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 10px 12px 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 0.90rem;
  }
  .dropdown-content a::before{
    content: '\f101';
    font-family: 'FontAwesome';
    font-size: 1rem;
    left: -5px;
    top: 0px;
    margin-right: 2px;
    position: relative;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #38445a;border:none;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .form-group{
    display: inline-block ;
    margin-bottom: 0.5rem;
    vertical-align: middle;

  }
  
form .form-control , ng-select .ng-select-container , .no-border .ng-select-container , .no-border , ng-select{
    background-color: transparent !important;
    background: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #00d6cc !important;
    min-height: 36px;
    align-items: center;
    border-top: none !important;
    border-left: none !important;
    border-right: 0 !important;
}
.btn.calendar{
  border: none !important;
}
  .table-row-repeat .form-control{
    width: auto !important;
  }
  .input-group{width: 210px;}
  .input-group-date{width: 195px;}

  .spr-card {
    border-radius: 20px;
    border: 2px solid #00d6cc;
    margin-bottom: 30px;
    color: #2e405c;
    font-weight: 600;
  }
  .btn.spr-add-more-btn {
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.card.border-teal {
  border-radius: 0rem !important;
}
.employee-details .table label{
    margin-bottom: 0px;
}
.employee-details h4{
    padding: 5px 2px;
    background: #e4f3ff;
    margin-bottom: 0;
}
.employee-details .table td, .table th {
    padding: 5px 8px;
}
/* .employee-details .table td:last-child{
    font-weight: bold;
} */