<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
  </div>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
       <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
             <!-- <h3 class="content-header-title">Page Title</h3> -->
          </div>
          <div
             class="
             content-header-right
             breadcrumbs-right breadcrumbs-top
             col-md-6 col-12
             "
             >
             <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a >Home</a></li>
                   <li class="breadcrumb-item"><a >P&A Services</a></li>
                   <li class="breadcrumb-item active">Medical Reimbursement Approval</li>
                </ol>
             </div>
          </div>
       </div>
       <div class="content-body">
          <!-- card actions section start -->
          <div class="row">
             <div class="col-12">
                <div class="card">
                   <div class="card-header">
                      <h4 class="card-title">Medical Reimbursement Approval</h4>
                      <a class="heading-elements-toggle"
                         ><i class="fa fa-ellipsis-v font-medium-3"></i
                         ></a>
                               <!--  <div>
            <button class="btn btn-success btn-md" (click)="approverejectclick()">Approve</button>
                          <button class="btn btn-warning btn-md ml-1" (click)="Previewclick()"><i class="fa fa-eye" aria-hidden="true"></i> Preview</button>
                      </div>--> 
                   </div>
                   <div class="card-content">
                      <div class="card-body">
                         <div class="row">
                            <div class="col-md-12 text-right mb-2">                            
                               <!-- <button type="button" class="btn btn-primary btn-md" (click)="Rejectsubmit()">
                               Approve Loan
                               </button>
                                <button type="button" class="btn btn-primary btn-md" (click)="RejectApproval()">
                                Reject Loan
                                </button> -->
                            </div>                         
                                <div class="col-md-12">
                               <div class="ag-theme-alpine">
                                  <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine"
                                  [columnDefs]="columnDefs" [floatingFilter]="true"
                                  (gridReady)="BindData($event)" [pagination]="true"
                                  [paginationPageSize]="20"
                                  [frameworkComponents]="frameworkComponents"
                                  rowSelection="single" [components]="components">
                                  </ag-grid-angular>
                               </div>
                               <!-- (rowSelected)="onRowSelected($event)" -->
                            </div>
                         </div>
                      </div>
                   </div>



                </div>
             </div>
          </div>



        
       </div>
   
  
  
       <div bsModal #LoanApprovalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      
       
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-child-name" class="modal-title pull-left">Medical Reimbursement Approval Details</h4>
                    <button type="button" class="close pull-right" aria-label="Close" 	(click)="CloseEditModal()"> 
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   
                        <form [formGroup]="MedicalApprovalform">
                          <div class="card-content">
                            <div class="card-body">
                              <div class="row">


                                <div class="col-12 col-sm-6 ">
                                  <div class="form-group">
                                    <label>Approve/Reject
                            
                                        <a triggers="mouseenter:mouseleave" popover="Select Approve/Reject"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    
                                    </label><br>
                  
                                    <div class="form-check-inline">
            
                                        <label class="form-check-label">
                                            <input type="radio" value="1" name="Approverej"
                                                formControlName="Approverej" (change)="approverejectfun('1')"
                                                >Approve</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" value="0" name="Approverej"
                                                formControlName="Approverej" (change)="approverejectfun('0')"
                                                >Reject
                                        </label>
                                    </div>
                                  </div>
                                </div>



                                <div class="col-12 col-sm-6"[hidden]="!forwardeddivs" >
                                  <div class="form-group">
                                    <label for="SectionName">Forward To<span
                                        class="text-danger">*</span> <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select Employee Work Section Name"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>
                                <ng-select formControlName="SectionName"
                                                                   placeholder="Select Section Name" (change)="sectionchange()">
                                 <ng-option value="">Select Section</ng-option>                                  
                                    <ng-option *ngFor="let dist of sections"
                                        [value]="dist.section">
                                        {{dist.section}}
                                    </ng-option>
                                </ng-select>
                                  </div>
                                </div>



                                
                                <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                                 <div class="form-group">
                                   <label for="SectionName">Desigantion<span
                                       class="text-danger">*</span> <a
                                       triggers="mouseenter:mouseleave"
                                       popover="Select Employee Designation"
                                       placement="right">
                                       <i class="fa fa-info-circle"></i>
                                   </a></label>
                               <ng-select formControlName="DesigName"placeholder="Select Desigantion">
                                <ng-option value="">Select Desigantion</ng-option>                                  
                                   <ng-option *ngFor="let dist of Designationlist"
                                       [value]="dist.officeR_DESIGNATION">
                                       {{dist.officeR_DESIGNATION}}
                                   </ng-option>
                               </ng-select>
                                 </div>
                              
</div>

                                <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                                    <div class="form-group">
                                      <label for="SectionName">Name<span
                                          class="text-danger">*</span> <a
                                          triggers="mouseenter:mouseleave"
                                          popover="Select Employee Name"
                                          placement="right">
                                          <i class="fa fa-info-circle"></i>
                                      </a></label>
                                  <ng-select formControlName="OffName"
                                                                     placeholder="Select Name">
                                   <ng-option value="">Select Name</ng-option>                                  
                                      <ng-option *ngFor="let dist1 of Designationlist"
                                          [value]="dist1.emP_CODE">
                                          {{dist1.officeR_NAME}}
                                      </ng-option>
                                  </ng-select>
                                    </div>
                                 </div>

                                
                           
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="OutName"
                                      >Remarks<a
                                      triggers="mouseenter:mouseleave"
                                      popover="Enter Remarks"
                                      placement="right">
                                      <i class="fa fa-info-circle"></i>
                                  </a></label
                                    >
                                    <textarea
                                      name=""
                                      maxlength="100"
                                      alphanumbers=""
                                      placeholder="Enter Remarks"
                                      class="form-control"
                                      id=""
                                      cols="30"
                                      rows="2" 
                                      formControlName="offremarks"></textarea>
                                  </div>
                                </div>
                           

                           </div>

                           <div class="row">
                              <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-primary" (click)="submit()">
                                   <i class="fa fa-paper-plane"></i> Submit Details
                                 </button>
                              </div>
                           </div>

                        </div>
                           
                          </div>
                        </form>                          
                       
            </div>
                    </div>
    
            </div>
         </div>
      
         
  <div class="modal fade" bsModal #LoanRejectModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl w-75 mx-auto">
    <div class="modal-content">
       <div class="modal-header">
          <h3 class="modal-title font-weight-bold " id="editSectionLabel">Reason for Rejecting</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body px-3">
          <form  [formGroup]="MedicalRejectform">
             <div class="row mb-1">
                <div class="col-md-6 offset-sm-3">
                   <div class="form-group form-row align-items-center">
                      <label for="Basic" class="col-sm-3">Remarks<a
                       triggers="mouseenter:mouseleave"
                       popover="Enter Remarks"
                       placement="right">
                       <i class="fa fa-info-circle"></i>
                   </a></label>
                      <div class="col-sm-9">
                        <textarea  class="form-control" rows="3" formControlName="offrejremarks"></textarea>                     
                      </div>
                   </div> 
                </div> 
             </div>
             <div class="row d-block text-center mb-2">
                <button type="button" class="btn btn-primary btn-md"> <i _ngcontent-ofk-c236=""
                 class="fa fa-paper-plane"></i>Submit Details</button>
             </div>




             <div class="col-sm-4">
                <img [src]="f.imagep.value"
                    class="border-secondary border-2 box-shadow-2 border-radius-3" style="width: 220px;
                height: 200px;
                box-shadow: 1px 1px 1px grey;
                margin: 25px;">
            </div>
          </form>
       </div>
    </div>
  </div>
  </div>
   <div class="modal fade" bsModal #PreviewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl w-75 mx-auto">
    <div class="modal-content">
       <div class="modal-header">
          <h3 class="modal-title font-weight-bold " id="editSectionLabel">Approval Details</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body px-1">
          <form  [formGroup]="MedicalPreviewform">
             
             <div class="card spr-card">
               <div class="card-body py-1">
                       <div class="form-body">
                           <div class="row">
                               <div class="col-md-12">
                                   <h4 class="form-section"><img src="assets/web-styles/images/emp.svg" width="25"> Employee Preview Details</h4>
                                   <div class="card hzl-preview-card bg-blue bg-lighten-5">
                                       <div class="card-body py-1">
                                           <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Code 
                                                      </label>
                                                      <h5>{{empcode}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Name 
                                                      </label>
                                                      <h5>{{empname}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Type
                                                      </label>
                                                      <h5>{{emptype}}</h5>
                                                </div>
                                             </div>
                                            
                                               <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Relation 
                                                      </label>
                                                      <h5>{{emprelation}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Family Member Name
                                                      </label>
                                                      <h5>{{familymemname}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>District Name	 
                                                      </label>
                                                      <h5>{{distname}}</h5>
                                                </div>
                                             </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment type 
                                                      </label>
                                                      <h5>{{disname}}</h5>
                                                </div>
                                             </div>
                                             
                                           
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment Amount
                                                      </label>
                                                      <h5>{{treatamount}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Approval Type
                                                      </label>
                                                      <h5>{{treattype}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>From Department
                                                      </label>
                                                      <h5>{{fromdept}}</h5>
                                                </div>
                                             </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="row">
                              <div class="col-md-12">
                                  <h4 class="form-section"><i class="fa fa-files-o text-secondary mr-0" aria-hidden="true"></i> Certificates</h4>
                                  <div class="card hzl-preview-card bg-success bg-accent-1">
                                      <div class="card-body py-1">
                                          <div class="row">
                                             <div class="col-md-6">
                                                <h6>1. Application For Medical Reimbursement Appendix-2 <a class="btn btn-warning" (click)="certificates('1')"><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>2. Certificate-A(OP) <a  class="btn btn-warning" (click)="certificates('2')"><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>3. Non-Drawal Certificate <a  class="btn btn-warning" (click)="certificates('3')" ><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>4. Declaration (Dependency) Certificate <a  class="btn btn-warning" (click)="certificates('4')" ><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>5. Emergency Admission Certificate <a  class="btn btn-warning" (click)="certificates('5')"><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>6. Essentiality Certificate <a  class="btn btn-warning" (click)="certificates('6')" ><i class="fa fa-eye"></i> View</a></h6>
                                             </div>

                                             <div class="col-md-6">
                                                <h6>7. Checklist <a class="btn btn-warning" (click)="certificates('7')"><i class="fa fa-eye"></i> View</a></h6>
                                             </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                  </div>
               </div>
          </form>
       </div>
    </div>
  </div>
  </div>


  <div class="modal fade" bsModal #GGHApprovalModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl w-75 mx-auto">
    <div class="modal-content">
       <div class="modal-header">
          <h3 class="modal-title font-weight-bold " id="editSectionLabel">Approval Details</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body px-1">
          <form  [formGroup]="GGHApprovalform">
             
             <div class="card spr-card">
               <div class="card-body py-1">
                       <div class="form-body">
                           <div class="row">
                               <div class="col-md-12">
                                   <h4 class="form-section"><img src="assets/web-styles/images/emp.svg" width="25"> Application Details</h4>
                                   <div class="card hzl-preview-card bg-blue bg-lighten-5">
                                       <div class="card-body py-1">
                                           <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Code 
                                                      </label>
                                                      <h5>{{empcode}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Name 
                                                      </label>
                                                      <h5>{{empname}}</h5>
                                                </div>
                                             </div>
                        
                                         
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Hospital Name 
                                                      </label>
                                                      <h5>{{hosname}}</h5>
                                                </div>
                                             </div>
                                            
                                               <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Relation 
                                                      </label>
                                                      <h5>{{emprel}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Family Member Name
                                                      </label>
                                                      <h5>{{familymemname}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>District Name	 
                                                      </label>
                                                      <h5>{{dist}}</h5>
                                                </div>
                                             </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment type 
                                                      </label>
                                                      <h5>{{treatname}}</h5>
                                                </div>
                                             </div>
                                             
                                           
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment Amount
                                                      </label>
                                                      <h5>{{treatamount}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Approval Type
                                                      </label>
                                                      <h5>{{treattype}}</h5>
                                                </div>
                                             </div>
                        

                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Sanctioned Amount
                                                      </label>
                                                      <h5>{{sctamount}}</h5>
                                                </div>
                                             </div>

                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Uploaded by
                                                      </label>
                                                      <h5>{{uploadedby}}</h5>
                                                </div>
                                             </div>
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Status
                                                    </label>
                                                    <h5>{{deptstatus}}</h5>
                                                </div>
                                            </div>

                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="row" [hidden]="!submitbutton">
                              <div class="col-md-12">
                                  <h4 class="form-section"><i class="fa fa-files-o text-secondary mr-0" aria-hidden="true"></i> Upload Approval Details</h4>
                                  <div class="card bg-success bg-accent-1">
                                      <div class="card-body py-1">
                                          <div class="row">
                                            

                                             <div class="col-md-6">
                                                
                                                   <div class="form-group">
                                                     <label for="OutName">Sactioned Amount<span class="text-danger">*</span> <a
                                                       triggers="mouseenter:mouseleave"
                                                       popover="Enter Sanctioned Amount"
                                                       placement="right">
                                                       <i class="fa fa-info-circle"></i>
                                                   </a></label>
                                                   <input type="text" maxlength="100" placeholder="Enter Sanctioned Amount" class="form-control" digitsOnly formControlName="SactAmnt" />
                                      
                                  
                                                    
                                                   </div>
                                                  
                                                
                                             </div>

                                             <div class="col-12 col-sm-6 col-md-6 mb-2">
                                                <label for="OutName">Approval Document<span class="text-danger">*</span><a
                                                  triggers="mouseenter:mouseleave"
                                                  popover="Upload Note"
                                                  placement="right">
                                                  <i class="fa fa-info-circle"></i>
                                              </a></label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                    
                                                        <input type="hidden" formControlName="ApprovalDocpath" />
                    
                                                        <input type="file"
                                                                                                        formControlName="ApprovalRegDoc" #file
                                                                                                        placeholder="Upload Receipt"
                                                                                                        (change)="ApprovaluploadFile($event)"
                                                                                                        class="form-control"
                                                                                                        id="inputGroupFile09">
                                                                                                    <label class="custom-file-label"
                                                                                                        for="inputGroupFile09">Upload
                                                                                                        Document <span
                                                                                                            class="text-danger">*</span></label>
                    
                                                    </div>
                                                   
                                                </div>
                                                <div class="input-group-append ml-2 " style="color: green;" [hidden]="!progressbar">
                                                    <span class="upload"
                                                        *ngIf="progress > 0">
                                                        {{progress}}%
                                                    </span>
                                                    <span class="upload ml-2"
                                                        *ngIf="message">
                                                        {{message}}
                                                    </span>
                                                </div>
                                                <div class="invalid-feedback" style="display: block !important;">
                                                    <div> * File size upto 2 MB</div>
                                                </div>
                                            </div>                                                                                        
                                           

                                            

                                            
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col-md-12 text-center" >
                                 <button type="button" class="btn btn-primary" (click)="SubmitApprovalDetails()">
                                    <i class="fa fa-paper-plane"></i> Submit Details
                                    </button>
                              </div>
                          </div>
                        </div>
                  </div>
               </div>
          </form>
       </div>
    </div>
  </div>
  </div>
  
  <div bsModal #historyempModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
   <div class="modal-dialog modal-lg">
      <div class="modal-dialog modal-lg" style="width: auto;">
         <div class="modal-content">
             <div class="modal-header">
                 <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                 <button type="button" class="close pull-right" aria-label="Close"
                     (click)="hidehistorymasterModal()">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <div class="row">
                     <div class="col-sm-12">
                         <div class="table-responsive">
                             <table class="table table-striped">
                                 <thead>
                                     <tr>
                                         <th>S.no</th>
                                         <th>Request Id</th>
                                         <th>Employee Name</th>
                                             <th>
                                            Requested Date
                                         </th>
                                         <th>
                                            Approval Date
                                         </th>
                                         <th>Status</th>
                                        
                                     </tr>
 
                                 </thead>
                                 <tbody>
                                     <tr *ngFor="let Mastlist of historylist;let i=index;">
 
                                         <td>{{i+1}}</td>
                                         <td>{{Mastlist.medicaL_REIM_ID}}</td>
                                         <td>{{Mastlist.emP_NAME}}</td>
                                         <td>{{Mastlist.requesteD_DATE}}</td>
                                         <td>{{Mastlist.date}}</td>
                                         <td>{{Mastlist.requesT_STATUS}}</td>
                                        
 
                                     </tr>
 
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
 
             </div>
         </div>
     </div>
   </div>
</div>

</div>
</div>
