<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Goods Out Request</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Depositor Receipt Out</a>
                        </li>
                        <li class="breadcrumb-item active">Goods Out Request
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-content">

                            <div class="content-body">
                                <!-- card actions section start -->

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Goods Out Request</h4>
                                                <a class="heading-elements-toggle"><i
                                                        class="fa fa-ellipsis-v font-medium-3"></i></a>
                                            </div>
                                            <div class="card-body wizard-body">

                                                <div class="content-card">
                                                    <div class="card-body">

                                                        <!-- fieldsets -->
                                                        <fieldset>
                                                            <div class="row mt-2">
                                                                <div class="col-md-12">
                                                                    <div class="ag-theme-alpine">
                                                                        <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                                            [columnDefs]="columnDefs"
                                                                            [defaultColDef]="defaultColDef"
                                                                            (gridReady)="BindData($event)"
                                                                            [pagination]="true"
                                                                            [paginationPageSize]="20"
                                                                            [frameworkComponents]="frameworkComponents"
                                                                            rowSelection="multiple"
                                                                            [components]="components">
                                                                        </ag-grid-angular>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <form [formGroup]="DepForm">

                                                                <div class="form-card bg-blue bg-lighten-5 pb-1">
                                                                    <h2 class="fs-title text-center"></h2>
                                                                    <div class="row">
                                                                        <input type="hidden"
                                                                            formControlName="DocPath" />

                                                                        <div class="input-group col-md-6 mt-1 ml-2">
                                                                            <div class="custom-file">
                                                                                <input type="file"
                                                                                    formControlName="RegDoc" #file
                                                                                    placeholder="Upload Document"
                                                                                    (change)="uploadFile($event)"
                                                                                    class="form-control"
                                                                                    id="inputGroupFile04">
                                                                                <label class="custom-file-label"
                                                                                    for="inputGroupFile04">Upload
                                                                                    Documnet <span
                                                                                        class="text-danger">*</span></label>

                                                                            </div>
                                                                            <div *ngIf="dep.DocPath.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="dep.DocPath.errors.required">
                                                                                    Upload Documnet is required</div>

                                                                            </div>

                                                                            <div class="input-group-append ml-2 mt-1"
                                                                                style="color: green;">
                                                                                <span class="upload"
                                                                                    *ngIf="progress > 0">
                                                                                    {{progress}}%
                                                                                </span>
                                                                                <span class="upload ml-2"
                                                                                    *ngIf="message">
                                                                                    {{message}}
                                                                                </span>
                                                                            </div>
                                                                            <div class="invalid-feedback"
                                                                                style="display: block !important;">
                                                                                <div> * File size upto 2 MB , allowed
                                                                                    files jpg,jpeg,png & pdf</div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="input-group col-md-3" *ngIf="seldoctype == 'IMAGE'">
                                                                            <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
                                                                        </div>
                                    
                                                                        <div class="input-group col-md-3 mt-2" *ngIf="seldoctype == 'PDF'">
                                                                            <a [href]="seldocpath" target="_blank">View</a>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-card bg-blue bg-lighten-5 pb-1">
                                                                    <div class="col-md-12 text-center">
                                                                        <button class="btn btn-primary" type="button"
                                                                            (click)="ReceiptOutRequest();">Generate
                                                                            Goods Out Token</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </fieldset>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <!-- File Preview -->
    <div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}"
        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
                    <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img [src]="preview" width="100%" height="550px" />
                    <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>