    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
          <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
              <h3 class="content-header-title mb-0">Card Actions</h3>
              <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a >Home</a>
                    </li>
                    <li class="breadcrumb-item"><a >Section</a>
                    </li>
                    <li class="breadcrumb-item active">Warehouse Registration
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="content-header-right text-md-right col-md-6 col-12">
              <div class="form-group"> 
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
              </div>
            </div>
          </div>
  
  
          <div class="content-body"><!-- card actions section start -->

    <div class="row">
        <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Warehouse Registration</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">

           
            <section class="create">
              
                <form>
                    <div class="row justify-content-center">
                        <div class="col-6">
                    <div class="form-group">
                        <label for="district">Section Name <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="district" [(ngModel)]="district">
                <option [ngValue]="">select Section Name </option>
                <option *ngFor="let dist of districtList" [ngValue]="dist.districtCode">
                  {{dist.districtName}}
                </option>
              </select>

                    </div>

                    <div class="form-group">
                        <label for="region">Region <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="region" [(ngModel)]="region">
                <option [ngValue]="">Select Region </option>
                <option *ngFor="let r of Regions" [ngValue]="r.Id">
                  {{r.Name}}
                </option>
              </select>

                    </div>

                    
                    <div class="form-group">
                        <label for="Warehousename">Warehouse Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Warehousename" name="Warehousename" placeholder="Enter Warehouse Name" [(ngModel)]="Warehousename">
                    </div>
                    <div class="form-group">
                        <label for="Warehousecode">Warehouse Code <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Warehousecode" maxlength="10" name="Warehousecode" placeholder="Enter Warehouse Code" [(ngModel)]="Warehousecode">
                    </div>

                    <div class="form-group">
                        <label for="warehousetype">Warehouse Type <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="warehousetype" [(ngModel)]="warehousetype">
                <option [ngValue]="">Select Designation </option>
                <option *ngFor="let wh of warehouseTypelist" [ngValue]="wh">
                  {{wh}}
                </option>
              </select>

                    </div>
                    
                   
                    </div>
                   
                    <div class="col-6">
                        
                        <div class="form-group">
                            <label for="waresubtype">Warehouse SubType <span class="text-danger">*</span></label>
                            <select class="form-control selectwarehouse" name="waresubtype" [(ngModel)]="waresubtype">
                    <option [ngValue]="">Select Designation </option>
                    <option *ngFor="let whl of warehousesubTypelist" [ngValue]="whl">
                      {{whl}}
                    </option>
                  </select>
    
                        </div>
                    <div class="form-group">
                        <label for="capacity">Capacity(MTs) <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Enter Warehouse Capacity" [(ngModel)]="capacity">
                    </div>

              

                  
                    <div class="form-group">
                        <label for="warehousemanagername">Warehouse Manager Name <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="warehousemanagername" [(ngModel)]="warehousemanagername">
                <option [ngValue]="">Select Designation </option>
                <option *ngFor="let emp of EmployeeList" [ngValue]="emp.empcode">
                  {{emp.empName}}
                </option>
              </select>

                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile Number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="mobile" maxlength="10" name="mobile" placeholder="Enter Mobile Number" [(ngModel)]="mobile">
                    </div>
                </div>  
            </div>

                    <div class="row justify-content-center">
                        <div class="col-md-2 text-center ">
                            <button type="button" class="btn btn-primary" (click)="onRegistration()">Register</button>
                        </div>
                    </div>
                   
                </form>
            </section>
        </div>
        </div>
    </div>
  
</div>
       
    </div>

</div>
</div>
</div>
<!-- END: Page Main-->