<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Warehousing Corporation Acts</h1>
                    <p>Home / <a >Warehousing Corporation Acts</a></p>
                </div>

            </div>
        </div>



        <div class="row ">
            <div class="col-md-12 ">
                <div class="d-flex common-content">
                    <img src="./assets/web-styles/images/ap-logo 3.png" alt="" srcset="">
                    <h4> ANDHRA PRADESH STATE WAREHOUSING Act(1962)</h4>
                    <p> Please Click on the links below to view The Warehousing Corporation Acts:</p>
                    <button class="btn btn-pdf" data-toggle="modal" data-target="#exampleModal">The Warehousing Corporation Act (1962)</button>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warehousing Corporation Acts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <iframe src="./assets/cwcact.pdf" width="100%" height="550" style="border:none;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>