<header>
    <div class="top-header">
        <div class="container">
            <div class="row">
<nav class="navbar navbar-expand-lg navbar-dark header-bg" id="myHeader">
    <div class="container px-0">


        <a class="navbar-brand" > <img src="assets/images/logo.svg" width="350" alt="apswc-logo" srcset="assets/images/logo.svg"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" >Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="boardDirectors.html">Board of Directors</a>
                        <a class="dropdown-item" href="boardDirectors.html#organisationstructure">Organisational Structure</a>
                        <a class="dropdown-item" href="warehouseact.html">Warehousing Act</a>
                        <a class="dropdown-item" href="regulations.html">Regulations</a>

                        <!-- <a class="dropdown-item" href="documentryrepostory.html">Document Repository</a> -->


                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Warehouse 
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="typeofgodown.html">Types Of Godowns</a>
                        <!-- <a class="dropdown-item" href="logistic.html">Logistic</a> -->
                        <a class="dropdown-item" href="storagecharges.html">Storage and other charges</a>
                        <a class="dropdown-item" href="service-charter.html">Service Charter</a>
                        <a class="dropdown-item" href="tenders.html">Tender</a>
                        <a class="dropdown-item" href="godownlocator.html">Godown Locator</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gallery
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="photogallery.html">Photo Gallery</a>
                        <a class="dropdown-item" href="inspectiongallery.html">Inspection Gallery</a>


                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="tenders.html">Tender</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="godownlocator.html">Godown Locators</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" >Report 1</a>
                        <a class="dropdown-item" >Report 2</a>
                        <a class="dropdown-item" >Report 3</a>
                        <a class="dropdown-item" >Report 4</a>
                        <a class="dropdown-item" >Report 5</a>
                        <a class="dropdown-item" >Report 7</a>

                    </div>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" href="contactus.html">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle eserive-btn"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-lock" aria-hidden="true"></i> e-Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <a class="dropdown-item" >Dashboard</a> -->
                        <a class="dropdown-item" href="login.html" target="blank">Login</a>

                    </div>
                </li>
            </ul>

        </div>
    </div>









</nav>
</div>  
</div>  
</div>  
</header>   
<main>
    <div class="container page-border">
        <div class="row">
           

           <div class="card">
               <div class="card-body">
                <h2> WelCome to Admin</h2>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-12">
                      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                    </div>
                    <div class="col-md-4">
                      <span class="upload" *ngIf="progress > 0">
                        {{progress}}%
                      </span>
                      <span class="upload" *ngIf="message">
                        {{message}}
                      </span>
                    </div>
                  </div>
               </div>
           </div>
            </div>
     </div>
</main> 
            
    <!-- Footer -->
    <footer class="">
        <!-- Grid container -->
        <div class="container px-4 pt-4 pb-2">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h1 class="text-uppercase"> APSWC</h1>
                    <h4 class="fhead-title">Head Office</h4>
                    <p>
                        Stalin Corporate Building. Back Side of Auto Nagar, 2nd floor, <br> D.no. 55-17-3, C-13, Industrial Estate, Auto Nagar,<br> Vijayawada -520 007
                    </p>
                    <h6 class="mb-0">Email : md@apswc.com </h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="fhead-title">More Information</h6>
                    <ul class="nav flex-column footer-links">
                        <li class="nav-item">
                            <a class="nav-link" >Website Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="disclaimer.html">Disclaimer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="copyrightpolicy.html">Copyright Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="privacypolicy.html">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="hyperlinkpolicy.html">Hyperlinking Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="accessibility.html">Accessibility</a>
                        </li>
                    </ul>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="fhead-title">Get It On</h6>
                    <img src="assets/images/playstore 1.png" alt="playstore" width="250">

                    <div class="mt-4">
                        <h6 class="text-white">Total Site Visitors</h6>
                        <a href="https://www.freecounterstat.com" title="free counters for websites"><img src="https://counter2.stat.ovh/private/freecounterstat.php?c=yks3289d4wptjekgjtfa6hrzfdl29475" border="0" title="free counters for websites" alt="free counters for websites"></a>

                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="col-sm-12 mx-auto text-white p-2" style="background-color: #00000061;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="mb-0">Copyright © 2021 APSWC. All Rights Reserved. </p>


                    </div>

                </div>

            </div>
        </div>
        <!-- Copyright -->
    </footer>