.header-navbar .navbar-header .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navbar .navbar-header .navbar-brand .brand-text {
    display: inline;
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 26px;
    margin-bottom: 0px;
}
.dropdown-notification .notification-text {
    margin-bottom: .5rem;
    line-height: 1.4;
}



   

.container {
    width: 100%;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .title {
    width: 100%;
  }
  
    .content display logo {
      width: 100%;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
  
   
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 0.5rem;
        }
  
       
    
  
  .editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
  }
    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;  
      
  
        }
  
  
