<div class="preloader" [hidden]="!showloaderheader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a
                        class="nav-link nav-menu-main menu-toggle hidden-xs" ><i
                            class="feather icon-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" ><img class="brand-logo" alt="logo"
                            src="./assets/app-assets/images/logo/admin-logo.svg">
                        <h2 class="brand-text">APSWC</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                        data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>

        <div class="navbar-container content">

            <div class="collapse navbar-collapse" id="navbar-mobile">

                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="feather icon-menu"></i></a></li>

                </ul>
                <!-- <ul class="nav navbar-nav float-right">
                    
                </ul> -->
                <!-- <div id="demo-wrapper">
                    <h2>COLORS:</h2>
                    <ul>
                    <li class="green" data-path="assets/web-styles/css/styles2.css">One</li>
                    <li class="red" data-path="assets/web-styles/css/styles3.css">Two</li>
                    </ul>
                    <div class="clear"></div>
                   <p data-path="styles1.css">Restore Default Scheme</p>
                </div> -->
                <ul class="nav navbar-nav float-right align-items-center">
                    <li class="dropdown dropdown-user nav-item ml-1">
                        <a class="dropdown-toggle nav-link dropdown-user-link bg-secondary text-white btn-md mr-1" data-toggle="dropdown">
                            <span><i class="fa fa-crosshairs" aria-hidden="true"></i> <span class="him-text">Theme Switcher</span></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-left pb-0" id="theme-select">
                            <a class="dropdown-item" data-path="assets/web-styles/css/color-pallete1.css">
                               <small>Color Pallete 1</small>
                               <hr class="divider">
                               <div class="color-palette1">
                                   <div class="color-box">
                                       <span class="box bg-1"></span>
                                       <span class="box bg-2"></span>
                                       <span class="box bg-3"></span>
                                       <span class="box bg-4"></span>
                                       <span class="box bg-5"></span>
                                   </div>
                               </div>
                            </a>
                            <a class="dropdown-item" data-path="assets/web-styles/css/color-pallete2.css">
                               <small>Color Pallete 2</small>
                               <hr class="divider">
                               <div class="color-palette2">
                                   <div class="color-box">
                                       <span class="box bg-1"></span>
                                       <span class="box bg-2"></span>
                                       <span class="box bg-3"></span>
                                       <span class="box bg-4"></span>
                                       <span class="box bg-5"></span>
                                   </div>
                               </div>
                            </a>
                            <a class="dropdown-item" data-path="assets/web-styles/css/color-pallete3.css">
                                <small>Color Pallete 3</small>
                               <hr class="divider">
                               <div class="color-palette3">
                                   <div class="color-box">
                                       <span class="box bg-1"></span>
                                       <span class="box bg-2"></span>
                                       <span class="box bg-3"></span>
                                       <span class="box bg-4"></span>
                                       <span class="box bg-5"></span>
                                   </div>
                               </div>
                            </a>
                            <a class="dropdown-item bg-secondary text-white text-center" data-path="assets/web-styles/css/default-color.css">
                                Set To Default Theme
                            </a>
                        </div>
                    </li>
                    <li>
                        <button type="button" (click)='Emp_checkin_out()' class="btn btn-primary btn-md">{{inout}}</button>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light btn-md ml-1" (click)="viewHelp();">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> <span class="him-text">HELP</span>
                        </a>
                    </li>
                    <li class="dropdown dropdown-notification nav-item ml-1">
                        <a (click)="Notifications_Update()" class="nav-link nav-link-label" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-danger badge-up">{{notificatioN_Count}}</span>
                        </a>
                        <ul  class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li  class="dropdown-menu-header bg-primary">
                                <h6 class="dropdown-header m-0 pt-1">
                                    <span class="white darken-2">Notifications</span>
                                    <span class="notification-tag badge badge-danger float-right m-0">{{notificatioN_Counttext}}</span>
                                </h6>
                            </li>
                            <li class="media-list">
                                
                                <a href="javascript:void(0)" *ngFor="let item of Notifications; let mainIndex=index">
                                    <div class="media">
                                        <div class="media-left align-self-start">
                                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-body" >
                                            <h6 class="media-heading">{{item.notificatioN_TYPE}}</h6>
                                            <p class="notification-text font-small-3 text-muted">{{item.notificatioN_TEXT}}
                                            </p><small>
                                                <time class="media-meta text-muted"
                                                    datetime="2015-06-11T18:29:20+08:00">{{item.duration}}</time></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-user nav-item ml-1">


                        <a class="dropdown-toggle nav-link dropdown-user-link" data-toggle="dropdown">
                            <div class="avatar avatar-online"><img src="./assets/app-assets/images/avatar/user.svg"
                                    alt="avatar"><i></i></div>
                            <span class="user-name">{{Username}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" routerLink="/UserProfile"><i class="feather icon-user"></i> Profile</a>
                            <a class="dropdown-item" routerLink="/ChangePassword"><i class="feather icon-mail"></i> Change Password</a>

                            <a class="dropdown-item" (click)="UserLogout();"><i class="feather icon-power"></i>
                                Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->

<!-- Add Section Modal -->
<div class="modal fade" id="AddSection" bsModal #helpModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" *ngIf="ISEdit">
                <h5 class="modal-title" id="addSectionLabel"><i class="fa fa-info-circle" aria-hidden="true"></i> Help</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="closeHelp()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="ISEdit">

                <form [formGroup]="HelpAddForm">
                   
                    <div class="">

                        <div class="col-md-12">
                            <div class="form-group">
                               
                                <label for="Text">Description <span class="text-danger">*</span> <a  
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Page Description Here"
                                    placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>  
                                <div class="editor">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"  *ngIf="ISEdit">
                                </ngx-editor-menu>

                                <ngx-editor [editor]="editor" name="Description"  formControlName ="Description"  maxlength="7000"  placeholder="Please Enter Description" >
                                </ngx-editor>
                                
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-block text-center mb-2" *ngIf="ISEdit">
                        <button type="button" class="btn btn-primary"
                            (click)="SubmitAddDetails();">Submit</button>
                    </div>
                </form>

            </div>

            <div class="modal-body" *ngIf="!ISEdit">

                <form [formGroup]="HelpAddForm">
                   
                    <div class="">

                        <div class="col-md-12 px-0">
                            <div class="form-group">
                               
                                <label for="Text" *ngIf="ISEdit">Description <span class="text-danger">*</span></label>
                                <div class="user-editor">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"  *ngIf="ISEdit">
                                </ngx-editor-menu>

                                <ngx-editor [editor]="editor" name="Description"  formControlName ="Description"  maxlength="7000"  placeholder="Please Enter Description" >
                                </ngx-editor>
                                
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-block text-center"  *ngIf="!ISEdit">
                        <button type="button" class="btn btn-danger btn-min-width" 
                        data-dismiss="modal" (click)="closeHelp()" aria-label="Close">
                        <i class="fa fa-times-circle"></i> Close</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>