<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Registrations</h1>
                    <p>Home /<a > Registrations</a></p>
                </div>

            </div>
        </div>

        <div class="row d-flex py-3">
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">

                        <img src="./assets/web-styles/images/farmer.svg">

                        <div class="price-value"><span class="month">Register As</span> Farmer </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Passbook</b> </li>
                            <li><b>VRO Certificate</b><a class="ml-1" href="./assets/VROCertificate.docx" target="_blank">Template</a> </li>
                            <li><b>Aaadhaar Card</b> </li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('FAR')">Register</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/state-gov.svg">
                        <div class="price-value"><span class="month">Register As</span> State Govt </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>PAN Card</b> </li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div>
                        <P>
                            Ex : CIVIL,AMC etc
                        </P>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('STA')">Register</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/central-gov.svg">
                        <div class="price-value"><span class="month">Register As</span> Central Govt </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>PAN Card</b> </li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div>
                        <P>
                            Ex : FCI,CWC etc
                        </P>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('CEN')">Register</a>
                    </div>
                </div>
            </div>
            
            <!-- <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/individual.svg">
                        <div class="price-value"><span class="month">Register As</span> Individual </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Aaadhaar Card</b> </li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('IND')">Register</a>
                    </div>
                </div>
            </div> -->

            
        </div>

        <div class="row d-flex py-3">
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/psu.svg">
                        <div class="price-value"><span class="month">Register As</span> PSU </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>PAN Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('PSU')">Register</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/fertilizer.svg">
                        <div class="price-value"><span class="month">Register As</span> Fertilizer Company </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Agriculture License</b></li>
                            <li><b>Trading License</b></li>
                            <li><b>PAN Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('FER')">Register</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/private-limited.svg">
                        <div class="price-value"><span class="month">Register As</span> Private/Propreitary Firm</div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Trading License</b></li>
                            <li><b>PAN Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                            
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('PVT')">Register</a>
                    </div>
                </div>
            </div>

            
            

            
            <!-- <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <img src="./assets/web-styles/images/proprietor.svg">
                        <div class="price-value"><span class="month">Register As</span> Proprietor Firm </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>PAN Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a (click)="RegisterUser('PRO')">Register</a>
                    </div>
                </div>
            </div> -->

            
            <!-- <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <div class="price-value"><span class="month">Register As</span> Co-Operatives Society </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Aadhaar Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a >Register</a>
                    </div>
                </div>
            </div>

            
            <div class="col">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <div class="price-value"><span class="month">Register As</span> Other </div>
                    </div>
                    <h3 class="heading">Required Documents</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>Aadhaar Card</b></li>
                            <li><b>Photo</b></li>
                            <li><b>Signature</b></li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a >Register</a>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</main>