<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Gate In Pass</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Farmer-Fertilizer-Private)</a>
                        </li>
                        <li class="breadcrumb-item active">Gate In Pass
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Gate In Pass</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab current active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quality Examination</strong>
                                </li>
                                <li id="doctab" class="commtab">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Stack-In</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong>
                                </li>                            
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset >
                                            <div class="row mb-1">
                                                <div class="col-md-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                            (gridReady)="BindData($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            
                                                            (selectionChanged)="onSelectionChanged($event)"
                                                            [frameworkComponents]="frameworkComponents"
                                                            rowSelection="multiple" [components]="components">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>
                                            </div>
                                            <form [formGroup]="DepForm">
                                                
                                                <div class="form-card bg-blue bg-lighten-5 pb-1">
                                                    <h2 class="fs-title text-center"></h2>
                                                    <div class="row" *ngIf="isTable">
                                                        
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="NState">Mode Of Transport <span class="text-danger">*</span><a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Mode of Transport"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <ng-select formControlName="MOTransport" [ngClass]="{ 'is-invalid': isSubmit &&  dep.MOTransport.errors }"
                                                                    placeholder="Select Mode Of Transport">
                                                                    <ng-option *ngFor="let dist of transports" [value]="dist.id">
                                                                        {{dist.transport}}
                                                                    </ng-option>
                                                                </ng-select>
                                            
                                                                <div *ngIf="isSubmit && dep.MOTransport.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.MOTransport.errors.required">Mode Of Transport
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="NState">In Truck Type <span class="text-danger">*</span></label>
                                                                <ng-select formControlName="TruckType" [ngClass]="{ 'is-invalid': isSubmit &&  dep.TruckType.errors }"
                                                                    placeholder="Select Mode Of Transport">
                                                                    <ng-option value="LOADED">LOADED</ng-option>
                                                                    <ng-option value="EMPTY">EMPTY</ng-option>
                                                                </ng-select>
                                            
                                                                <div *ngIf="isSubmit && dep.TruckType.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.TruckType.errors.required">In Truck Type
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="employeeid">Vehicle No <span class="text-danger">*</span><a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Vehicle No"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <input type="text" alphaNumbers maxlength="15" class="form-control" placeholder="Vehicle No"
                                                                    formControlName="VehicleNo" [ngClass]="{ 'is-invalid': isSubmit &&  dep.VehicleNo.errors }">
                                                                <div *ngIf="isSubmit && dep.VehicleNo.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.VehicleNo.errors.required">Vehicle No
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>



                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="employeeid">Waybill No <span class="text-danger">*</span><a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Waybill No"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <input type="text" alphaNumbers maxlength="25" class="form-control" placeholder="Waybill No"
                                                                    formControlName="Waybill" [ngClass]="{ 'is-invalid': isSubmit &&  dep.Waybill.errors }">
                                                                <div *ngIf="isSubmit && dep.Waybill.errors" class="invalid-feedback">
                                                                    <div *ngIf="dep.Waybill.errors.required">Waybill No
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>

                                                   
                                                </div> 
                                                
                                                <div class="row d-block text-center mb-2 mt-1">
                                                    <button *ngIf="isTable" type="button" (click)="SaveGateInDetails('save');" class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> SAVE</button>
                                                    <button *ngIf="isTable" type="button" (click)="SaveGateInDetails('next');" class="btn btn-success btn-min-width ml-1"><i class="fa fa-arrow-right"></i> NEXT</button>
                                                </div>
                                            </form>
                                        </fieldset>   
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->