<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Periodic Quality Checking</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item active">Periodic Quality Checking
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Periodic Quality Checking</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">

                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <div class="row mb-1">
                                                <div class="col-md-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular style="width: 100%;" #agGrid
                                                            class="ag-theme-alpine" [columnDefs]="columnDefs"
                                                            (cellClicked)="dataclicked($event)"
                                                            [defaultColDef]="defaultColDef"
                                                            (gridReady)="BindData($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            [frameworkComponents]="frameworkComponents"
                                                            rowSelection="single" [components]="components">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Quality Checking  -->
<div bsModal #PQCModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"> Periodic Quality Examination</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="PQCModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <form [formGroup]="QualtyForm">

                    <div class="form-card bg-blue bg-lighten-5 p-1">
                        <h2 class="fs-title bg-light text-center"></h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Variety">Commodity Variety<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Commodity Variety"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <ng-select formControlName="Variety" placeholder="Select Variety "
                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Variety.errors }"
                                        (change)="loadgrades('GRADE')">
                                        <ng-option *ngFor="let c of comd_vartylist"
                                            value="{{c.varietY_ID}}:{{c.varietY_NAME}}">
                                            {{c.varietY_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && qualty.Variety.errors" class="invalid-feedback">
                                        <div *ngIf="qualty.Variety.errors.required">
                                            Commodity Variety
                                            is required</div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="grade">Grade<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Grade" placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <ng-select formControlName="grade" placeholder="Select Grade "
                                        (change)="LoadQualtyprams()"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.grade.errors }">
                                        <ng-option *ngFor="let c of gradelist" value="{{c.grade_id}}:{{c.grade_name}}">
                                            {{c.grade_name}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && qualty.grade.errors" class="invalid-feedback">
                                        <div *ngIf="qualty.grade.errors.required">
                                            Grade
                                            is required</div>
                                    </div>

                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="DocPath">Quality Checking File
                                        <a triggers="mouseenter:mouseleave" popover="Upload Quality Checking File"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="hidden" formControlName="DocPath" />
                                    <input type="file" formControlName="RegDoc" #file placeholder="Upload File"
                                        (change)="uploadFile($event)" class="form-control" id="inputGroupFile04">
                                    <span class="text-danger">* File size upto 2 MB , allowed
                                        files jpg,jpeg,png & pdf
                                    </span>
                                    <div *ngIf="qualty.DocPath.errors" class="invalid-feedback">
                                        <div *ngIf="qualty.DocPath.errors.required">
                                            Upload File is required</div>

                                    </div>


                                    <div>
                                        <span class="upload" *ngIf="progress > 0">
                                            {{progress}}%
                                        </span>
                                        <span class="upload" *ngIf="message">
                                            {{message}}
                                        </span>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12" *ngIf="istable">
                                <div class="card">
                                    <h3 class="text-center font-weight-bold my-1">Quality Checking History </h3>
                                    <div class="card-body py-0 px-2">
                                        <div class="table-responsive">
                                            <table mat-table [dataSource]="tableDataSrc"
                                                class="table table-bordered  table-striped webtable-data">
                                                <ng-container *ngFor="let col of tableCols">
                                                    <ng-container matColumnDef="{{col}}">
                                                        <th mat-header-cell *matHeaderCellDef>{{col|titlecase}}</th>
                                                        <td mat-cell *matCellDef="let profile">{{profile[col]}}</td>
                                                    </ng-container>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="tableCols"> </tr>
                                                <tr mat-row *matRowDef="let row; columns: tableCols;"> </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <h3 class="text-center font-weight-bold my-1">Report For
                                        {{qualty.commoditygroup.value}}
                                        Table </h3>
                                    <div class="card-body py-0 px-2" formArrayName="Qparms">
                                        <table class="table table-striped table-bordered apswc-table">
                                            <thead>
                                                <tr>
                                                    <th>Sno</th>
                                                    <th>Parameter Name</th>
                                                    <th>Value</th>
                                                    <th>Current Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let parms of QP.controls; let i=index" [formGroup]="parms">
                                                    <td>{{i+1}}</td>
                                                    <td>{{parms.controls.PramName.value}}</td>
                                                    <td>{{parms.controls.pramvalue.value}}</td>
                                                    <td>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" numbersOnly maxlength="4"
                                                            formControlName="pramentervalue">
                                                        <!-- [ngClass]="{ 'is-invalid': isSubmit && parms.controls.pramentervalue.errors }">
                                                        <div *ngIf="isSubmit && parms.controls.pramentervalue.errors" class="invalid-feedback">
                                                            <div *ngIf="parms.controls.pramentervalue.errors.required">
                                                                Quality Parameter
                                                                is required</div>
                                                        </div> -->
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">


                        <button type="button" name="next" (click)="SaveQualityChecking();"
                            class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Save</button>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div bsModal #DisinfestationModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"> Disinfestation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="DisinfestationModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="DisintForm">

                    <div class="form-card bg-blue bg-lighten-5 pb-1 px-1">
                        <h2 class="fs-title bg-light text-center"></h2>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Disitype">Disinfestation Type<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Disinfestation Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <ng-select class="" id="exampleFormControlSelect1" formControlName="Disitype"
                                        [ngClass]="{ 'is-invalid': isSubmit && dis.Disitype.errors}"
                                        placeholder="Select Disinfestation Type">
                                        <ng-option value="Spraying">Spraying</ng-option>
                                        <ng-option value="Femigation">Femigation</ng-option>
                                        <ng-option value="Air Charge">Air Charge</ng-option>
                                    </ng-select>

                                    <div *ngIf="isSubmit && dis.Disitype.errors" class="invalid-feedback">
                                        <div *ngIf="dis.Disitype.errors.required"> Disinfestation Type is required</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ChemicalName">Chemical Name<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Chemical Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <ng-select class="" id="exampleFormControlSelect1" formControlName="ChemicalName"
                                        [ngClass]="{ 'is-invalid': isSubmit && dis.ChemicalName.errors}"
                                        placeholder="Select Chemical Name">
                                        <ng-option *ngFor="let c of chemicallist" [value]="c.iteM_ID"> {{c.iteM_NAME}}
                                        </ng-option>
                                    </ng-select>

                                    <div *ngIf="isSubmit && dis.ChemicalName.errors" class="invalid-feedback">
                                        <div *ngIf="dis.ChemicalName.errors.required"> Chemical Name is required</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ChemicalQuantity">Chemical Quantity<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Chemical Quantity"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="20" class="form-control" digitsOnly
                                        placeholder="Chemical Quantity" formControlName="ChemicalQuantity"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  dis.ChemicalQuantity.errors }">
                                    <div *ngIf="isSubmit && dis.ChemicalQuantity.errors" class="invalid-feedback">
                                        <div *ngIf="dis.ChemicalQuantity.errors.required"> Chemical Quantity is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="DocPath">Disinfestation File

                                        <a triggers="mouseenter:mouseleave" popover="Upload Disinfestation File"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="hidden" formControlName="DocPath" />
                                    <input type="file" formControlName="RegDoc" #file placeholder="Upload File"
                                        (change)="uploadFile($event)" class="form-control" id="inputGroupFile04">
                                    <span>* File size upto 2 MB , allowed files jpg,jpeg,png & pdf
                                    </span>
                                    <div *ngIf="qualty.DocPath.errors" class="invalid-feedback">
                                        <div *ngIf="qualty.DocPath.errors.required">
                                            Upload File is required</div>

                                    </div>
                                    <div>
                                        <span class="upload" *ngIf="progress > 0"> {{progress}}%
                                        </span>
                                        <span class="upload" *ngIf="message">
                                            {{message}}
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12 text-center">

                        <button type="button" name="next" (click)="Savedisinfestation();"
                            class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Save</button>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<div bsModal #DisiHistoryModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"> Disinfestation History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="DisiHistoryModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-card pb-1 px-1">
                    <table class="table table-bordered  table-striped webtable-data">
                        <thead>
                            <th>Disinfestation Date</th>
                            <th>Disinfestation Type</th>
                            <th>Chemical Name</th>
                            <th>Consumed Volume</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dis of dishistory">
                                <td>{{dis.disinfectioN_DATE}}</td>
                                <td>{{dis.disinfecT_TYPE}}</td>
                                <td>{{dis.chemicaL_TYPE}}</td>
                                <td>{{dis.chemicaL_QUANTITY}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #SpillageModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"> Spillage</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="SpillageModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="SpillageForm">

                    <div class="form-card bg-blue bg-lighten-5 pb-1 px-1">
                        <h2 class="fs-title bg-light text-center"></h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="SourceOfReceipt">Source Of Receipt<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Source Of Receipt"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" lettersOnly maxlength="250" class="form-control"
                                        placeholder="Source Of Receipt" formControlName="SourceOfReceipt"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  spi.SourceOfReceipt.errors }">
                                    <div *ngIf="isSubmit && spi.SourceOfReceipt.errors" class="invalid-feedback">
                                        <div *ngIf="spi.SourceOfReceipt.errors.required"> Source Of Receipt is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="QuantityReceived">Quantity Collected<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Quantity Collected"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" digitsOnly maxlength="20" class="form-control"
                                        (change)="CalDustQty($event);" placeholder="Quantity Collected"
                                        formControlName="QuantityReceived"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  spi.QuantityReceived.errors }">
                                    <div *ngIf="isSubmit && spi.QuantityReceived.errors" class="invalid-feedback">
                                        <div *ngIf="spi.QuantityReceived.errors.required"> Quantity Collected is
                                            required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ModeOfCleaning">Mode Of Cleaning<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Mode Of Cleaning"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" lettersOnly maxlength="250" class="form-control"
                                        placeholder="Mode Of Cleaning" formControlName="ModeOfCleaning"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  spi.ModeOfCleaning.errors }">
                                    <div *ngIf="isSubmit && spi.ModeOfCleaning.errors" class="invalid-feedback">
                                        <div *ngIf="spi.ModeOfCleaning.errors.required"> Mode Of Cleaning is required
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="QuaRecAfterClean">Quantity Received After Cleaning<span
                                            class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave"
                                            popover="Enter Quantity Received After Cleaning" placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" digitsOnly (change)="CalDustQty($event);" maxlength="20"
                                        class="form-control" placeholder="Quantity Received"
                                        formControlName="QuaRecAfterClean"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  spi.QuaRecAfterClean.errors }">
                                    <div *ngIf="isSubmit && spi.QuaRecAfterClean.errors" class="invalid-feedback">
                                        <div *ngIf="spi.QuaRecAfterClean.errors.required"> Quantity Received After
                                            Cleaning is required</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="QtyDist">Quantity Of Dust & Dirt <span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave"
                                            popover="Quantity Of Dust & Dirt = (Quantity Received - Quantity Received After Cleaning)"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>

                                    <h5 class="text-dark"><b>{{spi.QtyDist.value}}</b> </h5>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="GunnyBags">No Of Gunny Bags Used
                                        <a triggers="mouseenter:mouseleave" popover="Enter No Of Gunny Bags Used"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" numbersOnly maxlength="20" class="form-control"
                                        placeholder="No Of Gunny Bags Used" formControlName="GunnyBags"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  spi.GunnyBags.errors }">
                                    <div *ngIf="isSubmit && spi.GunnyBags.errors" class="invalid-feedback">
                                        <div *ngIf="spi.GunnyBags.errors.required"> Quantity Received After Cleaning is
                                            required</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Remarks">Remarks
                                        <a triggers="mouseenter:mouseleave" popover="Enter Remarks" placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <textarea name="" maxlength="200" alphanumbers="" placeholder="Enter Remarks"
                                        class="form-control" id="" cols="30" rows="2"
                                        formControlName="Remarks"></textarea>


                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-12 text-center">

                        <button type="button" name="next" (click)="SaveSpillage();"
                            class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Save</button>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>