<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Contact</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">Contact Page
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Contact Details Registration</h4>


                                <form class="forms-sample" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="selecteddistrictname">District <span class="text-danger">*</span></label>
                                                <select class="form-control" 
                                                    formControlName="selecteddistrictname" 
                                                  [ngClass]="{ 'is-invalid': submitted && f.selecteddistrictname.errors }" placeholder="Select District">
                                                    <option value="0">Select District Name </option>
                                                    <option *ngFor="let d of districtList" Value="d.districtCode">
                                                        {{d.districtName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && f.selecteddistrictname.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.selecteddistrictname.errors.required">District is required</div>
                                                </div>
                                            
                                            </div>
                                            <div class="form-group">
                                                <label for="selectedWarehousename">WareHouse Name <span class="text-danger">*</span></label>
                                                <select class="form-control"
                                                 formControlName="selectedWarehousename" 
                                                  [ngClass]="{'is-invalid':submitted && f.selectedWarehousename.errors}" >
                                                    <option value="0">select WareHouse Name </option>
                                                    <option *ngFor="let w of warehouse" Value="w.warehouseName">
                                                        {{w.warehouseName}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && f.selectedWarehousename.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.selectedWarehousename.errors.required">WareHouse Name 
                                                        is required</div>
                                                </div>
                                            
                                            </div>
                                            <div class="form-group">
                                                <label for="selectedWarehouseType">WareHouse Name <span class="text-danger">*</span></label>
                                                <select class="form-control"
                                                 formControlName="selectedWarehouseType" 
                                                  [ngClass]="{'is-invalid':submitted && f.selectedWarehouseType.errors}" >
                                                    <option value="0">select WareHouse Type </option>
                                                    <option *ngFor="let w of warehouseTypelist" Value="w">
                                                        {{w}}
                                                    </option>
                                                </select>
                                                <div *ngIf="submitted && f.selectedWarehouseType.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.selectedWarehouseType.errors.required">WareHouse Type 
                                                        is required</div>
                                                </div>
                                            
                                            </div>
        
        
                                             <!--  <div class="form-group">
                                                <label for="whRegmanagername">Name of Warehouse Regional Manager Name
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="whRegmanagername" lettersOnly
                                                 [ngClass]="{'is-invalid':submitted && f.whRegmanagername.errors}"  placeholder="Enter Warehouse Regional Manager Name" />
                                                <div *ngIf="submitted && f.whRegmanagername.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.whRegmanagername.errors.required">Warehouse Regional 
                                                        Manager Name is required </div>
                                                </div>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="whdeemanagername">Name of Warehouse D.E.E Manager Name
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="whdeemanagername" lettersOnly
                                                [ngClass]="{'is-invalid':submitted && f.whdeemanagername.errors}"  placeholder="Enter Warehouse D E EManager Name" />

                                                <div *ngIf="submitted && f.whdeemanagername.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.whdeemanagername.errors.required">Warehouse D.E.E 
                                                        Manager Name is required </div>
                                                </div>
                                            </div>

                                          <div class="form-group">
                                                <label for="pannumber"> IFSC Code
                                                     <span class="text-danger">*</span></label>
                                                <input type="text" minlength="11"  maxlength="11"
                                                 class="form-control" formControlName="ifsccode" 
                                                 [ngClass]="{'is-invalid':submitted && f.ifsccode.errors}"
                                                  placeholder="Enter IFSC Code" oninput="this.value = this.value.toUpperCase()"   />

                                             <div *ngIf="submitted && f.ifsccode.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.ifsccode.errors.required">IFSC Code
                                                       is required
                                                     </div> 
                                                       <div *ngIf="f.ifsccode.errors.minlength">IFSC Code  
                                                        Must be 11 Digit  
                                                    </div> 
                                                    <div *ngIf="f.ifsccode.errors.pattern">Invalid
                                                        IFSC Code Format
                                                     </div>                                                      
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="uidnum"> Aadhaar Number
                                                     <span class="text-danger">*</span></label>
                                                <input type="text" minlength="12"  maxlength="12"
                                                 class="form-control" formControlName="uidnum" 
                                                 [ngClass]="{'is-invalid':submitted && f.uidnum.errors}"
                                                  placeholder="Enter Aadhaar Number" (change)="uidvalidate($event.target.value)"
                                                   [hiddenInput]="true" mask="XXXXXXXX0000"  />

                                             <div *ngIf="submitted && f.uidnum.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.uidnum.errors.required">Aadhaar Number
                                                       is required
                                                     </div> 
                                                       <div *ngIf="f.uidnum.errors.minlength">Aadhaar Number 
                                                        Must be 12 Digits  
                                                    </div> 
                                                                                                        
                                                </div>
                                                <div *ngIf="!uidstatus || !mob_uid_isvalid" class="text-danger">Invalid
                                                    Aadhaar Number
                                                 </div> 
                                            </div>
                                           
                                          
                                        </div> -->
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="whmanagername">Name of Warehouse Manager Name
                                                     <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" 
                                                formControlName="whmanagername" 
                                                [ngClass]="{'is-invalid':submitted && f.whmanagername.errors}"
                                                 placeholder="Enter Warehouse Manager Name" />
                                                 <div *ngIf="submitted && f.whmanagername.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.whmanagername.errors.required">Warehouse 
                                                        Manager Name is required </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="capacity">Capacity (MTs)
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" numbersOnly maxlength="5" class="form-control"
                                                 formControlName="capacity" 
                                                 [ngClass]="{'is-invalid':submitted && f.capacity.errors}" placeholder="Enter Capacity (MTs)" />
                                                 <div *ngIf="submitted && f.capacity.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.capacity.errors.required">Capacity 
                                                       is required </div>                                                       
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="Telephoneno">TelePhone Number</label>
                                                <input type="text" digitsOnly class="form-control"
                                                 formControlName="Telephoneno" 
                                                  [ngClass]="{'is-invalid':submitted && f.Telephoneno.errors}" 
                                                   placeholder="Enter TelePhone Number" />
                                                
                                                 <div *ngIf="submitted && f.Telephoneno.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.Telephoneno.errors.required">TelePhone Number 
                                                       is required </div>                                                       
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobilephone"> Warehouse Manager Mobile Number
                                                     <span class="text-danger">*</span></label>
                                                <input type="text" numbersOnly minlength="10" (change)="mob_uid_validate($event.target.value)"  maxlength="10"
                                                 class="form-control" formControlName="mobilephone" 
                                                 [ngClass]="{'is-invalid':submitted && f.mobilephone.errors}"
                                                  placeholder="Enter Mobile Phone Number"   />

                                             <div *ngIf="submitted && f.mobilephone.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.mobilephone.errors.required">Mobile Number 
                                                       is required
                                                     </div> 
                                                       <div *ngIf="f.mobilephone.errors.minlength">Mobile Number 
                                                        Must be 10 numbers 
                                                    </div>  
                                                    <div *ngIf="f.mobilephone.errors.pattern">Mobile Number 
                                                        Starts from 6 
                                                    </div>                                                          
                                                </div>
                                                <div *ngIf="!mob_uid_isvalid" class="text-danger">Invalid Mobile Number                                          
                                                </div>
                                            </div>

                                            <!-- <div class="form-group">
                                                <label for="pannumber"> Pan Card Number
                                                     <span class="text-danger">*</span></label>
                                                <input type="text" minlength="10"  maxlength="10"
                                                 class="form-control" formControlName="pancardnumber" 
                                                 [ngClass]="{'is-invalid':submitted && f.pancardnumber.errors}"
                                                  placeholder="Enter Pan Card Number" oninput="this.value = this.value.toUpperCase()"   />

                                             <div *ngIf="submitted && f.pancardnumber.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.pancardnumber.errors.required">Pan Number 
                                                       is required
                                                     </div> 
                                                       <div *ngIf="f.pancardnumber.errors.minlength">Pan Number 
                                                        Must be 10  
                                                    </div> 
                                                    <div *ngIf="f.pancardnumber.errors.pattern">Invalid
                                                       PAN Number Format
                                                    </div>                                                       
                                                </div>
                                            </div>
                                         -->
                                           
        
        
                                        </div>
                                    </div>
                                 
                                  <div class="row justify-content-center">
                                      <div class="col-1 text-center">
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        
                                      </div>
                                      <div class="col-1 text-center">
                                        
                                        <button class="btn btn-light" type="reset"(mgClick)="onReset()">Cancel</button>
                                      </div>
                                  </div>
                                    
                                </form>
                            </div>
                        </div>



                    </div>
                </div>


            </section>
            <!-- // card-actions section end -->
        </div>
    </div>
</div>