<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">H&T Contractors Details</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Registrations</a>
                        </li>
                        <li class="breadcrumb-item active">H&T Contractors Details
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">H&T Contractors Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="AddHT()"><i
                                        class="fa fa-plus-circle"></i>
                                    Add</button>
                                <button class="btn btn-info btn-md ml-1" (click)="HistoryHT('all');">
                                    <i class="fa fa-clock-o"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20" (cellClicked)="dataclicked($event)"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} H&T Contract Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="HTForm">
                    <div class="card-content">
                        <div class="card-body">
                            <input type="hidden" formControlName="HTCode" />
                            <div class="row">
                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label for="HTComName">H&T Company Name<span class="text-danger"> *
                                            </span> <a triggers="mouseenter:mouseleave" popover="Enter H&T Company Name"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' maxlength="100" type="text"
                                            class="form-control" placeholder="Enter H&T Company Name" lettersOnly
                                            formControlName="HTComName"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.HTComName.errors }">
                                        <div *ngIf="isSubmit && reg.HTComName.errors" class="invalid-feedback">
                                            <div *ngIf="reg.HTComName.errors.required">H&T Company Name
                                                is required</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label for="OffiName">H&T Manager Name<span class="text-danger"> *
                                            </span> <a triggers="mouseenter:mouseleave" popover="Enter H&T Manager Name"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' maxlength="100" type="text"
                                            class="form-control" placeholder="Enter H&T Manager Name" lettersOnly
                                            formControlName="OffiName"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.OffiName.errors }">
                                        <div *ngIf="isSubmit && reg.OffiName.errors" class="invalid-feedback">
                                            <div *ngIf="reg.OffiName.errors.required">H&T Manager Name
                                                is required</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label for="CMobile">Mobile Number<span class="text-danger"> *
                                            </span> <a triggers="mouseenter:mouseleave" popover="Enter Mobile Number"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" numbersOnly maxlength="10" minlength="10"
                                            (change)="mob_uid_validate($event.target.value)" type="text"
                                            class="form-control" placeholder="Enter Mobile Number"
                                            formControlName="CMobile"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.CMobile.errors }">
                                        <div *ngIf="isSubmit && reg.CMobile.errors" class="invalid-feedback">
                                            <div *ngIf="reg.CMobile.errors.required">Mobile Number
                                                is required</div>
                                            <div *ngIf="reg.CMobile.errors.minlength">
                                                Mobile NO
                                                Must be 10 Digits </div>
                                            <div *ngIf="reg.CMobile.errors.pattern">Mobile
                                                NO
                                                Starts from 6 , 7 , 8 ,9
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label for="CEmail">Email <a triggers="mouseenter:mouseleave"
                                                popover="Enter Email" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="100" type="text" alphaNumbers class="form-control"
                                            placeholder="Enter Email" formControlName="CEmail"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.CEmail.errors }">
                                        <div *ngIf="isSubmit && reg.CEmail.errors" class="invalid-feedback">
                                            <div *ngIf="reg.CEmail.errors.email">Invalid Email
                                                address
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="StartDate">Agreement Start Date <span class="text-danger">*</span>
                                            <a triggers="mouseenter:mouseleave" popover="Enter Agreement Start Date"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                name="StartDate" ngbDatepicker #d1="ngbDatepicker"
                                                [disabled]='isEdit ? true : null' readonly formControlName="StartDate"
                                                (click)="d1.toggle()"
                                                [ngClass]="{ 'is-invalid': isSubmit && reg.StartDate.errors }" />
                                            <div class="input-group-append">
                                                <button [disabled]='isEdit ? true : null'
                                                    class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d1.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="isSubmit && reg.StartDate.errors" class="invalid-feedback">
                                                <div *ngIf="reg.StartDate.errors.required">Agreement Start Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EndDate">Agreement End Date <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agreement End Date"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                name="EndDate" ngbDatepicker #d2="ngbDatepicker" readonly
                                                formControlName="EndDate" (click)="d2.toggle()"
                                                [ngClass]="{ 'is-invalid': isSubmit && reg.EndDate.errors }" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d2.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="isSubmit && reg.EndDate.errors" class="invalid-feedback">
                                                <div *ngIf="reg.EndDate.errors.required">Agreement End Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="PANNo">PAN No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency PAN No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' alphaNumbers class="form-control"
                                            placeholder="PAN No" formControlName="PANNo"
                                            oninput="this.value=this.value.toUpperCase()" minlength="10" maxlength="10"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.PANNo.errors }" />
                                        <div *ngIf="isSubmit && reg.PANNo.errors" class="invalid-feedback">
                                            <div *ngIf="reg.PANNo.errors.required">PAN No
                                                is required</div>
                                            <div *ngIf="reg.PANNo.errors.minlength">PAN No
                                                Must Be 10 Digits</div>
                                            <div *ngIf="reg.PANNo.errors.pattern">
                                                Invalid PAN Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="GSTNo">GST No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency GST No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' alphaNumbers class="form-control"
                                            placeholder="GST No" formControlName="GSTNo"
                                            oninput="this.value=this.value.toUpperCase()" minlength="15" maxlength="15"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.GSTNo.errors }" />
                                        <div *ngIf="isSubmit && reg.GSTNo.errors" class="invalid-feedback">
                                            <div *ngIf="reg.GSTNo.errors.required">GST No
                                                is required</div>
                                            <div *ngIf="reg.GSTNo.errors.minlength">GST No
                                                Must Be 15 Digits</div>
                                            <div *ngIf="reg.GSTNo.errors.pattern">
                                                Invalid GST Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ESICNo">ESIC<span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency ESIC No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' class="form-control"
                                            placeholder="ESIC No" formControlName="ESICNo" alphaNumbers
                                            oninput="this.value=this.value.toUpperCase()" minlength="17" maxlength="17"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.ESICNo.errors }" />
                                        <div *ngIf="isSubmit && reg.ESICNo.errors" class="invalid-feedback">
                                            <div *ngIf="reg.ESICNo.errors.required">ESIC No
                                                is required</div>
                                            <div *ngIf="reg.ESICNo.errors.minlength">ESIC No
                                                Must Be 17 Digits</div>
                                            <div *ngIf="reg.ESICNo.errors.pattern">
                                                Invalid ESIC Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EPFO">EPFO<span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter EPFO No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" alphaNumbers placeholder="EPFO No"
                                            [readonly]='isEdit' formControlName="EPFO"
                                            oninput="this.value=this.value.toUpperCase()" minlength="15" maxlength="15"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.EPFO.errors }" />
                                        <div *ngIf="isSubmit && reg.EPFO.errors" class="invalid-feedback">
                                            <div *ngIf="reg.EPFO.errors.required">EPFO No
                                                is required</div>
                                            <div *ngIf="reg.EPFO.errors.minlength">EPFO No
                                                Must Be 15 Digits</div>
                                            <div *ngIf="reg.EPFO.errors.pattern">
                                                Invalid EPFO Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NState">State <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency State"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NState"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NState.errors }"
                                            placeholder="Select State">
                                            <ng-option *ngFor="let dist of states" [value]="dist.id">
                                                {{dist.states}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NState.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NState.errors.required">State
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Pincode <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Pincode"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" placeholder="Enter Pincode" numbersOnly
                                            minlength="6" maxlength="6" formControlName="NPincode"
                                            (change)="PincodeDetails()"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NPincode.errors }" />
                                        <div *ngIf="isSubmit && reg.NPincode.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NPincode.errors.required">Pincode
                                                is required</div>
                                            <div *ngIf="reg.NPincode.errors.minlength">Pincode must
                                                be 6 numbers</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NDistrict">District <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency District"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NDistrict" (change)="DistrictChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NDistrict.errors }"
                                            placeholder="Select District">
                                            <ng-option *ngFor="let dist of districts" value="{{dist.districT_CODE}}">
                                                {{dist.districT_NAME_ENG}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NDistrict.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NDistrict.errors.required">District
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NArea">Area <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency Area"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NArea" (change)="DistrictChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NArea.errors }"
                                            placeholder="Select Area">
                                            <ng-option *ngFor="let area of urlist" [value]="area.id">
                                                {{area.urbaN_RURAL}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NArea.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NArea.errors.required">Area
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NMandal">Municipal/Mandal <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave"
                                                popover="Select Agency Municipal/Mandal" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NMandal" (change)="MandalChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NMandal.errors }"
                                            placeholder="Select Municipal/Mandal">
                                            <ng-option *ngFor="let dist of nmandals" value="{{dist.mmC_CODE}}">
                                                {{dist.mmC_NAME}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NMandal.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NMandal.errors.required">
                                                Municipal/Mandal
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NVillage">Village/Town <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency Village/Town"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NVillage"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NVillage.errors }"
                                            placeholder="Select Village/Town">
                                            <ng-option *ngFor="let dist of nvillages"
                                                value="{{dist.warD_VILLAGE_CODE}}">
                                                {{dist.warD_VILLAGE_NAME}}
                                            </ng-option>
                                        </ng-select>
                                        <div *ngIf="isSubmit && reg.NVillage.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NVillage.errors.required">
                                                Village/Town
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NHNO">House No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency House Number"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" alphaNumbers
                                            placeholder="Enter House No " maxlength="10" formControlName="NHNO"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NHNO.errors }" />
                                        <div *ngIf="isSubmit && reg.NHNO.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NHNO.errors.required"> House No
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Street Name <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Street Name"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" alphaNumbers maxlength="100" class="form-control"
                                            placeholder="Enter Street" formControlName="NStrName"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NStrName.errors }" />
                                        <div *ngIf="isSubmit && reg.NStrName.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NStrName.errors.required"> Street Name
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Landmark <a triggers="mouseenter:mouseleave"
                                                popover="Enter Agency Landmark" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" alphaNumbers maxlength="100" class="form-control"
                                            placeholder="Enter Landmark" formControlName="NLandmark">
                                    </div>
                                </div>

                              

                                <div class="col-md-2">
                                    <div class="input-group " style="margin-top: 28px;">
                                        <div class="custom-file">

                                            <input type="hidden" formControlName="oldOutDoc" />

                                            <input type="file" formControlName="OutDoc" #file placeholder="Upload"
                                                (change)="uploadFile($event)" class="form-control"
                                                id="inputGroupFile04" />
                                            <label class="custom-file-label" for="inputGroupFile04">Upload Agrement
                                                Document <span class="text-danger">*</span></label>
                                            <span style="color: red;"> </span>

                                        </div>
                                    </div>
                                    <div class="input-group-append ml-2 " style="color: green;">
                                        <span class="upload" *ngIf="progress > 0">
                                            {{progress}}%
                                        </span>
                                        <span class="upload ml-2" *ngIf="message">
                                            {{message}}
                                        </span>
                                    </div>
                                    <div class="invalid-feedback" style="display: block !important;">
                                        <div> * File size upto 2 MB</div>
                                    </div>
                                </div>

                                <div class="col-md-1" *ngIf="seldoctype == 'IMAGE'">
                                    <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
                                </div>

                                <div class="col-md-1 mt-3" *ngIf="seldoctype == 'PDF'">
                                    <a [href]="seldocpath" target="_blank">View</a>
                                </div>

                            </div>

                            <div class="row my-1" *ngIf="isEdit">
                                <div class="col-md-12 text-center">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="IsOutActive" id="IsOutActive1" value="1"
                                            formControlName="IsOutActive" class="custom-control-input">
                                        <label class="custom-control-label" for="IsOutActive1">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="IsOutActive" id="IsOutActive2" value="0"
                                            formControlName="IsOutActive" class="custom-control-input">
                                        <label class="custom-control-label" for="IsOutActive2">Inactive</label>
                                    </div>
                                    <div *ngIf="reg.IsOutActive.value == '0'" class="col-md-3">
                                        <label for="OutRemarks">Remarks <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" placeholder="Enter Remarks" lettersOnly
                                            maxlength="200" formControlName="OutRemarks"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.OutRemarks.errors }" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-block text-center mb-2">
                            <button type="button" *ngIf="!isEdit" (click)="SubmitHTDetails();"
                                class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Submit
                                Details</button>
                            <button type="button" *ngIf="isEdit" (click)="UpdateHTDetails();"
                                class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Update
                                Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- End Edit Modal -->

<div class="modal fade" id="historySection" bsModal #historyModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">H&T Contractors History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Column Name</th>
                                    <th *ngIf="isEdit">Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of wh_history;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="isEdit">{{hsty.evenT_CODE}}</td>
                                    <td *ngIf="hsty.columN_NAME=='AGREMENT_DOCUMENT'"><a href="{{hsty.olD_VALUE}}"
                                            (click)="viewPDF(hsty.olD_VALUE)" data-toggle="modal">View</a></td>

                                    <td *ngIf="hsty.columN_NAME!='AGREMENT_DOCUMENT'">
                                        {{hsty.olD_VALUE}} </td>

                                    <td *ngIf="hsty.columN_NAME=='AGREMENT_DOCUMENT'"><a href="{{hsty.neW_VALUE}}"
                                            (click)="viewPDF(hsty.neW_VALUE)" data-toggle="modal">View</a></td>

                                    <td *ngIf="hsty.columN_NAME!='AGREMENT_DOCUMENT'">
                                        {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyModal.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" id="viewSection" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Outsoucing Agency Details</h5>
                <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                    Print
                </button> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewModal.hide();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="print-section">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">H&T Company Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vcomname}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Official Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{voffname}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Mobile Number <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vmobile}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Email <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vemail}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Start Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstartdate| date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">End Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{venddate| date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">PAN No <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vpanno}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">GST No <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vgstno}}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">State <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">District <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vdistrict}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Area <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{varea}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Municipal/Mandal Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vmandal}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Village/Town <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vvillage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">H.NO <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vhno}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Street <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstreet}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Lanmark <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vlanmark}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Pin Code <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vpincode}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Agrement
                                Document <span class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                <a href="{{vdocumentpath}}" (click)="viewPDF(vdocumentpath)"
                                    data-toggle="modal">View</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Status <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6" *ngIf="vastatus == 'ACTIVE'">
                                <i class="fa fa-circle text-success"></i> Active
                            </div>
                            <div class="col-md-6" *ngIf="vastatus == 'INACTIVE'">
                                <i class="fa fa-circle text-success"></i> Inactive
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Remarks <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vremarks}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img [src]="preview" width="100%" height="550px" />
                <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>