 <!-- BEGIN: Content-->
 <div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Card Actions</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a >Home</a>
              </li>
              <li class="breadcrumb-item"><a>Components</a>
              </li>
              <li class="breadcrumb-item active">Service Charter
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- <div class="content-header-right text-md-right col-md-6 col-12">
        <div class="form-group"> 
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
        </div>
      </div> -->
    </div>


    <div class="content-body"><!-- card actions section start -->


      <div class="row">
        <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title text-center">Service Charter Data Entry Form</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
           
        </div>
        <div class="card-content">
            <div class="card-body">

           
              <section class="create">
              
                <form>
                 <div class="row justify-content-center">
                   <div  class="col-6">
                    <div class="form-group">
                      <label for="selectedsectionname">Section Name <span class="text-danger">*</span></label>
                      <select class="form-control" name="selectedsectionname" [(ngModel)]="selectedsectionname" >
                        <option [ngValue]="">Select Section Name </option>
                        <option *ngFor="let s of Sections" [ngValue]="s">
                          {{s}}
                        </option>
                      </select>
                     
                    </div>
                    <div class="form-group">
                      <label for="sectiondesc">Description <span class="text-danger">*</span></label>
                      <textarea class="form-control" (keypress)="keyPress($event)" [pattern]="'^[a-zA-Z, \-\']$'" maxlength="1000" id="sectiondesc" name="sectiondesc" placeholder="Enter Section Description" [(ngModel)]="sectiondesc"></textarea>
                    </div>
                    
                    <div class="form-group">
                      <label for="sectiondays">No of Days <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="sectiondays" numbersOnly name="sectiondays" placeholder="Enter no of Days" [(ngModel)]="sectiondays">
                    </div>
  
                   </div>
                 </div>
                 
                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                      <button type="button" class="btn btn-primary" (click)="onSectionSubmit()">Submit </button>
                    </div>
                  </div>
                </form>
              </section>
        </div>
        </div>
    </div>
   
</div>
       
    </div>

</div>
</div>
</div>
<!-- END: Page Main-->



