<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Card Actions</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item"><a >Section</a>
                            </li>
                            <li class="breadcrumb-item active">Storage And Other Charge Registration
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- <div class="content-header-right text-md-right col-md-6 col-12">
                <div class="form-group">
                    <button class="btn-icon btn btn-secondary btn-round" type="button"><i
                            class="feather icon-bell"></i></button>
                    <button class="btn-icon btn btn-secondary btn-round" type="button"><i
                            class="feather icon-life-buoy"></i></button>
                    <button class="btn-icon btn btn-secondary btn-round" type="button"><i
                            class="feather icon-settings"></i></button>
                </div>
            </div> -->
        </div>

        <div class="content-body">
            <!-- card actions section start -->

      
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Storage And Other Charge Registration</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="card-body">
                    
                            <select class="form-control" [(ngModel)]='storagetypevalue' [ngModelOptions]="{standalone: true}" (change)="storagechargefun()" name="selectoption">
                                <option value="0" selected>Select Storage And Other Charge Types</option>
                                <option *ngFor="let c of storageotherarray" [ngValue]="c.value">{{c.Text}}</option>
                               
                            </select>
                                <section class="create">
                                 <form [formGroup]="registerForm">
                                  <div class="row" [hidden]="!Godownsdiv">
                                        <div class='col-md-6 mt-1'>
                                            Warehouse Type:<input type='text' placeholder="enter Warehouse Type" class="form-control"  formControlName="Godownswarehsetype" [ngClass]="{ 'is-invalid': submitted && f.Godownswarehsetype.errors }">
                                            <div *ngIf="submitted && f.Godownswarehsetype.errors" class="invalid-feedback">
                                                <div *ngIf="f.Godownswarehsetype.errors.required">Warehouse Type is required</div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 mt-1'>
                                            Nos:<input type='text' placeholder="enter Nos" class="form-control" formControlName="GodownsNos" [ngClass]="{ 'is-invalid': submitted && f.GodownsNos.errors }">
                                            <div *ngIf="submitted && f.GodownsNos.errors" class="invalid-feedback">
                                                <div *ngIf="f.GodownsNos.errors.required">Godown No's is required</div>
                                                <div *ngIf="f.GodownsNos.errors.pattern">inValid Godown No</div>
                                            </div>
                                           

                                        </div>

                                        <div class="col-md-6 mt-1">
                                             Capacity (Lakhs MTs):<input type='text'
                                                placeholder="enter Capacity (Lakhs MTs)" class="form-control" formControlName="GodownCapacity" [ngClass]="{ 'is-invalid': submitted && f.GodownCapacity.errors }">
                                                <div *ngIf="submitted && f.GodownCapacity.errors" class="invalid-feedback">
                                                    <div *ngIf="f.GodownCapacity.errors.required">Godown Capacity is required</div>
                                                    <div *ngIf="f.GodownCapacity.errors.pattern">Invalid Godown Capacity No</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                            Occupancy(Lakhs MTs):<input type='text'
                                                placeholder="enter Occupancy(Lakhs MTs)" class="form-control" formControlName="GodownOccupancy" [ngClass]="{ 'is-invalid': submitted && f.GodownOccupancy.errors }">
                                                <div *ngIf="submitted && f.GodownOccupancy.errors" class="invalid-feedback">
                                                    <div *ngIf="f.GodownOccupancy.errors.required">Godown Occupancy is required</div>
                                                    <div *ngIf="f.GodownOccupancy.errors.pattern">Invalid Godown Occupancy No</div>

                                                </div>
                                        </div>
        
                                    </div>
                                    <div class="row">
                      
                                        <div class="col-md-4" >
                                               </div>
                                               <div class="col-md-4 mt-1" [hidden]="!godownsubmitdiv">
                                                <button type="button" class="btn btn-success" (click)="godownsubmit()">Submit</button>
                                                     
                                            </div>
                                            
                                        <div class="col-md-4">
                                        </div>    
                                    
                                    </div>
        
                                 </form>
                                </section>


                                <section class="createform">
                                 <form [formGroup]="riceForm">
                                
                                    <div class="row" [hidden]="!Ricediv">
                                        <div class='col-md-6 mt-1'>
                                            Name of the commodity:<input type='text'
                                                placeholder="enter Name of the commodity" class="form-control" formControlName="Ricecommodity" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricecommodity.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricecommodity.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricecommodity.errors.required">Name of the commodity is required</div>
                                            </div>
                                        </div>
                                        <div class='col-md-6 mt-1'>
                                            Type of Package:<input type='text' placeholder="enter Type of Package"
                                                class="form-control" formControlName="Ricetypepackage" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricetypepackage.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricetypepackage.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricetypepackage.errors.required">Type of Package is required</div>
                                            </div>
                                        </div>
        
                                        <div class="col-md-6 mt-1">
                                            Net Weight:<input type='text' placeholder="enter Net Weight"
                                                class="form-control" formControlName="Ricenetweight" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricenetweight.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricenetweight.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricenetweight.errors.required">Net Weight required</div>
                                                    <div *ngIf="riceformval.Ricenetweight.errors.pattern">Invalid Rice net Weight</div>
    
                                                </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                            Standard Rate. Rs:<input type='text' placeholder="enter Standard Rate. Rs:"
                                                class="form-control" formControlName="Ricestdrate" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricestdrate.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricestdrate.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricestdrate.errors.required">Standard Rate. Rs is required</div>
                                                    <div *ngIf="riceformval.Ricestdrate.errors.pattern">Invalid Rice Standard Rate</div>
    
                                                </div>
                                            </div>
        
                                        <div class="col-md-6 mt-1">
                                            High Rated-2.Rs:<input type='text' placeholder="enter High Rated-2.Rs:"
                                                class="form-control" formControlName="Ricehighrated" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricehighrated.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricehighrated.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricehighrated.errors.required">High Rated-2. Rs is required</div>
                                                    <div *ngIf="riceformval.Ricehighrated.errors.pattern">Invalid Rice High Rated-2</div>
    
                                                </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                            High Rated-1.Rs:<input type='text' placeholder="enter High Rated-1.Rs"
                                                class="form-control" formControlName="Ricehighrated1" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Ricehighrated1.errors }">
                                                <div *ngIf="onsubmitted && riceformval.Ricehighrated1.errors" class="invalid-feedback">
                                                    <div *ngIf="riceformval.Ricehighrated1.errors.required">High Rated-1 Rs is required</div>
                                                    <div *ngIf="riceformval.Ricehighrated1.errors.pattern">Invalid Rice High Rated-1</div>
    
                                                </div>
                                            </div>
                                        <div class="col-md-6 mt-1">
                                            Remarks:<textarea id="w3review" name="Ricedivtext" class="form-control" formControlName="Riceremarks" [ngClass]="{ 'is-invalid': onsubmitted && riceformval.Riceremarks.errors }"></textarea>
                                <div *ngIf="onsubmitted && riceformval.Riceremarks.errors" class="invalid-feedback">
                                    <div *ngIf="riceformval.Riceremarks.errors.required">Remarks are required</div>
                                </div>            
                            </div>
        
        
                                    </div>
                                    <div class="row">
                      
                        <div class="col-md-4" >
                               </div>
                               <div class="col-md-4 mt-1" [hidden]="!ricebuttondiv">
                                <button type="button" class="btn btn-success" (click)="onsubmit()">Submit</button>
                                     
                            </div>
                            
                        <div class="col-md-4">
                        </div>    
                    
                    </div>
                                
                    </form>
                    </section>
                                </div>
                            </div>
                        
                     
                        </div>
                    
                    </div>
                    
                    </div>
                              
                            </div>
                            </div>
                                           
<div>
                  

