#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;
}

.custom-select {
  padding: 7px 15px !important;
}


.reasonerror {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #FF7588;
}