<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Card Actions</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a>Home</a>
              </li>
              <li class="breadcrumb-item"><a>Components</a>
              </li>
              <li class="breadcrumb-item active">Photo Gallery
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!-- <div class="content-header-right text-md-right col-md-6 col-12">
            <div class="form-group"> 
              <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
              <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
              <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
            </div>
          </div> -->
    </div>


    <div class="content-body">
      <!-- card actions section start -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Upload Gallery Photos</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

            </div>
            <div class="card-content">
              <div class="card-body">

                <h4 class="card-title text-center">News Update Page</h4>

                <div class="row" [hidden]="!galleryhidden">
                  <div class="table table-responsive">
                    <table class="table table-responsive table-bordered">
                      <thead>
                        <th>SNo</th>
                        <th>Image Title</th>
                        <th>Image Description</th>
                        <th>Uploaded Date</th>
                        <th>Image</th>
                        <th>Active/Deactive</th>
                        <th>view</th>

                      </thead>
                      <tbody>
                        <tr *ngFor="let gall of gallerylist; let i=index">
                          <td>{{i+1}}</td>
                          <td>{{gall.iteM_NAME}}</td>
                          <td>{{gall.iteM_DESCRIPTION}}</td>
                          <td>{{gall.inserteD_ON}}</td>
                          <td><img [src]="gall.iteM_PATH" height="150" weight="150" /> </td>
                          <td *ngIf="gall.iS_ACTIVE=='1'">Active</td>
                          <td *ngIf="gall.iS_ACTIVE=='0'">Deactive</td>
                          <td *ngIf="gall.iS_ACTIVE=='1'"><button type="button" class="btn btn-success"
                              (click)="editGallery(gall);">Deactive</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-success" (click)="AddGallery();">Add Image</button>
                  </div>
                </div>

                <form [formGroup]="GalleryForm" (ngSubmit)="onSubmit()" [hidden]="galleryhidden">
                  <div class="row justify-content-center">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="name">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
                          formControlName="name">
                      </div>

                      <div class="form-group">
                        <label for="description">Description <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="description" name="description"
                          placeholder="Enter  Description" formControlName="description">
                      </div>
                      <div class="form-group">
                        <input type="hidden" formControlName="Base64Image" />
                        <label for="employeephoto">Photo </label>
                        <input type="file" formControlName="ImagePath" class="form-control" placeholder="Attach Photo"
                          (change)="onSelectFile($event,'photo')" />
                        <span>* File size upto 2 MB (jpg,png...etc)</span>
                        <div class="col-md-3" *ngIf="seldoctype == 'IMAGE'">
                          <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
                        </div>

                        <div class="col-md-3 mt-3" *ngIf="seldoctype == 'PDF'">
                          <a [href]="seldocpath" target="_blank">View</a>
                        </div>
                      </div>
                      <!-- <app-insepction-upload (onUploadFinished)="uploadFinished($event)"></app-insepction-upload> -->
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>

                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<!-- END: Page Main-->

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>