<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status"></div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <!-- <h3 class="content-header-title">Page Title</h3> -->
      </div>
      <div
        class="
          content-header-right
          breadcrumbs-right breadcrumbs-top
          col-md-6 col-12
        "
      >
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item"><a >P&A Services</a></li>
            <li class="breadcrumb-item active">Employee Payroll History</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- card actions section start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Employee Payroll History</h4>
              <a class="heading-elements-toggle"
                ><i class="fa fa-ellipsis-v font-medium-3"></i
              ></a>
            </div>
            <div class="card-content">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-inline mb-3 justify-content-center">
                      <div class="form-group">
                        <label for="Basic"
                          >Year <span class="text-danger">*</span>
                          <a
                          triggers="mouseenter:mouseleave"
                          popover="select Year"
                          placement="right">
                          <i class="fa fa-info-circle"></i>
                      </a>
                        </label>
                        <ng-select
                          class="ml-1"
                          style="width: 153px"
                          [(ngModel)]="year"
                          (change)="Yearchange()"
                        >
                          <ng-option value="">Select Year</ng-option>

                          <ng-option [value]="2021">2021</ng-option>
                        </ng-select>
                      </div>
                      <div class="form-group mx-2">
                        <label for="Basic"
                          >Month<span class="text-danger">*</span>
                          <a
                          triggers="mouseenter:mouseleave"
                          popover="Select Month"
                          placement="right">
                          <i class="fa fa-info-circle"></i>
                      </a>
                          </label
                        >
                        <ng-select
                          class="ml-1"
                          style="width: 153px"
                          [(ngModel)]="histMonth"
                        >
                          <ng-option value="">Select Month</ng-option>
                          <ng-option
                            *ngFor="let mnt of months"
                            [value]="mnt.e_MONTH"
                            >{{ mnt.e_MONTH_NAME }}</ng-option
                          >
                        </ng-select>
                      </div>

                      <button
                        type="button"
                        class="btn btn-primary btn-md"
                        (click)="GetDetails()"
                      >
                      <i _ngcontent-ofk-c236=""
                      class="fa fa-paper-plane"></i>Get Details
                      </button>
                      <!-- <button type="button" class="btn btn-primary btn-md mx-1" (click)="Taxclick()">
                        Add
                      </button> -->
                    </div>

                    <!-- <button type="button" class="btn btn-primary btn-md mx-1" (click)="DeputationModalpay()">
                        Deputation
                      </button>
                      <button type="button" class="btn btn-primary btn-md" (click)="ContractModalpay()">
                        Contract
                      </button> -->
                  </div>

                  <div class="col-md-12" [hidden]="!istable">
                    <div class="ag-theme-alpine">
                      <ag-grid-angular
                        style="width: 100%"
                        #agGrid
                        class="ag-theme-alpine"
                        [columnDefs]="columnDefs"
                        [floatingFilter]="true"
                        (gridReady)="BindData($event)"
                        [pagination]="true"
                        [paginationPageSize]="20"
                        (selectionChanged)="onSelectionChanged($event)"
                        [frameworkComponents]="frameworkComponents"
                        rowSelection="single"
                        [components]="components"
                      >
                      </ag-grid-angular>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      bsModal
      #RegularviewModal="bs-modal"
      [config]="{ backdrop: 'static' }"
      id="viewSection"
      tabindex="-1"
      aria-labelledby="viewSectionLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewSectionLabel">
              View Regular Payroll
            </h5>
            <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                      Print
                  </button> -->
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="CloseViewModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="print-section">
            <h4 class="bg-light font-weight-bold text-primary mb-2">
              EARNINGS
            </h4>
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeeid" class="font-weight-bold col-md-3"
                    >BASIC
                  </label>
                  <div class="col-md-6">
                    :{{ basic }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    DA</label
                  >
                  <div class="col-md-6">: {{da}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >HRA
                  </label>
                  <div class="col-md-6">: {{hra}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >CCA
                  </label>
                  <div class="col-md-6">: {{cca}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >CA</label
                  >
                  <div class="col-md-6">:{{ca}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3">
                    M ALL
                  </label>
                  <div class="col-md-6">:{{m_ALL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >W ALL
                  </label>
                  <div class="col-md-6">:{{w_ALL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >SP PAY
                  </label>
                  <div class="col-md-6">:{{sP_PAY}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3">
                    EL AMT
                  </label>
                  <div class="col-md-6">:{{eL_AMT}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3">
                    IR
                  </label>
                  <div class="col-md-6">:{{ir}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >PR
                  </label>
                  <div class="col-md-6">{{pr}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >MISC EAR
                  </label>
                  <div class="col-md-6">:{{misC_EAR}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3" >TOTAL EARNINGS</label>
                  <div class="col-md-6">:{{toT_EARN}}</div>
                </div>
              </div>
            </div>
            <h4 class="bg-light font-weight-bold text-primary">
              DEDUCTIONS
            </h4>

            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >PF
                  </label>
                  <div class="col-md-6">:{{pf}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >VPF
                  </label>
                  <div class="col-md-6">:{{vpf}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >LIC
                  </label>
                  <div class="col-md-6">:{{lic}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >IT
                  </label>
                  <div class="col-md-6">:{{it}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >P TAX
                  </label>
                  <div class="col-md-6">{{p_TAX}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >GIS
                  </label>
                  <div class="col-md-6">:{{gis}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >PF IORI
                  </label>
                  <div class="col-md-6">:{{pF_IORI}}</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >TOTAL DEDUCTIONS</label
                  >
                  <div class="col-md-6">:{{toT_DED}}</div>
                </div>
              </div>
            </div>

            <h5 class="font-weight-bold mb-2 mt-2 text-success">OTHERS</h5>
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >PF BAL
                  </label>
                  <div class="col-md-6">:{{pF_BAL}}</div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    VH IORI
                  </label>
                  <div class="col-md-6">:{{vH_IORI}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >VH BAL
                  </label>
                  <div class="col-md-6">:{{vH_BAL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    MR IORI
                  </label>
                  <div class="col-md-6">:{{mR_IORI}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >MR BAL</label
                  >
                  <div class="col-md-6">:{{mR_BAL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    HBA INST</label
                  >
                  <div class="col-md-6">:{{hbA_INST}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    HBA BAL
                  </label>
                  <div class="col-md-6">:{{hbA_BAL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    HBA R IORI
                  </label>
                  <div class="col-md-6">:{{hbA_R_IORI}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    HBA R BAL
                  </label>
                  <div class="col-md-6">:{{hbA_R_BAL}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    HBA BANK
                  </label>
                  <div class="col-md-6">:{{hbA_BANK}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    COMP INST
                  </label>
                  <div class="col-md-6">:{{comP_INST}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    COMP BAL</label
                  >
                  <div class="col-md-6">:{{comP_BAL}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    PLI
                  </label>
                  <div class="col-md-6">:{{pli}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    CPS
                  </label>
                  <div class="col-md-6">:{{cps}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    MISC DED
                  </label>
                  <div class="col-md-6">:{{misC_DED}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >NET PAY</label
                  >
                  <div class="col-md-6">:{{neT_PAY}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="CloseViewModal()"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      bsModal
      #DeputationviewModal="bs-modal"
      [config]="{ backdrop: 'static' }"
      id="viewSection"
      tabindex="-1"
      aria-labelledby="viewSectionLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewSectionLabel">
              View Deputation PayRoll
            </h5>
            <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                  Print
              </button> -->
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="CloseViewModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="print-section">
            <h4 class="bg-light font-weight-bold text-primary mb-2">
            Earnings
            </h4>
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeeid" class="font-weight-bold col-md-3"
                    >BASIC
                  </label>
                  <div class="col-md-6">:{{basic}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >S DA
                  </label>
                  <div class="col-md-6">:{{da}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >S HRA
                  </label>
                  <div class="col-md-6">:{{hra}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >CCA
                  </label>
                  <div class="col-md-6">:{{cca}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3 pr-0"
                    >M_ ALLW
                  </label>
                  <div class="col-md-6">:{{m_ALL}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >PP
                  </label>
                  <div class="col-md-6">:{{pp}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >IR
                  </label>
                  <div class="col-md-6">:{{ir}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >Misc Ear
                  </label>
                  <div class="col-md-6">:{{misC_EAR}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >TOTAL EARNINGS
                  </label>
                  <div class="col-md-6">:{{toT_EARN}}</div>
                </div>
              </div>

            </div>
            <h4 class="bg-light font-weight-bold text-primary">
              Deductions
            </h4>

            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >P TAX
                  </label>
                  <div class="col-md-6">:{{p_TAX}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >IT</label
                  >
                  <div class="col-md-6">:{{it}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    MISC DED
                  </label>
                  <div class="col-md-6">:{{misC_DED}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    TOTAL DEDUCTIONS
                  </label>
                  <div class="col-md-6">:{{toT_DED}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    NET PAY
                  </label>
                  <div class="col-md-6">:{{neT_PAY}}</div>
                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="CloseViewModal()"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      bsModal
      #ContarctviewModal="bs-modal"
      [config]="{ backdrop: 'static' }"
      id="viewSection"
      tabindex="-1"
      aria-labelledby="viewSectionLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewSectionLabel">
              View Contract PayRoll
            </h5>
            <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                Print
            </button> -->
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="CloseViewModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="print-section">
            <h4 class="bg-light font-weight-bold text-primary mb-2">
              Total Earnings
            </h4>
            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeeid" class="font-weight-bold col-md-3"
                    >PAY
                  </label>
                  <div class="col-md-6">:{{basic}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >CA
                  </label>
                  <div class="col-md-6">:{{ca}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >MISC EAR</label>
                  <div class="col-md-6">:{{misC_EAR}}</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="employeename" class="font-weight-bold col-md-3"
                    >TOTAL EARNINGS
                  </label>
                  <div class="col-md-6">:{{toT_EARN}}</div>
                </div>
              </div>
             
            </div>
            <h4 class="bg-light font-weight-bold text-primary">
            Deductions
            </h4>

            <div class="row mb-3">
              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >PF
                  </label>
                  <div class="col-md-6">:{{pf}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3"
                    >IT</label
                  >
                  <div class="col-md-6">:{{it}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    MISC DED
                  </label>
                  <div class="col-md-6">:{{misC_DED}}</div>
                </div>
              </div>


              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    TOTAL DEDUCTIONS
                  </label>
                  <div class="col-md-6">:{{toT_DED}}</div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group row">
                  <label for="sectionname" class="font-weight-bold col-md-3">
                    NET PAY
                  </label>
                  <div class="col-md-6">:{{neT_PAY}}</div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="CloseViewModal()"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
