<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Existing Stock Entry</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse Management</a>
                        </li>
                        <li class="breadcrumb-item active">Existing Stock Entry
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Existing Stock Entry</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>


                            <div>
                                <button class="btn btn-outline-secondary btn-md" type="button"
                                    (click)="AddStockEntry()"><i class="fa fa-plus-circle"></i>
                                    Add</button>

                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">

                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="ag-theme-alpine">
                                                <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                    (gridReady)="BindData($event)" [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents" rowSelection="single"
                                                    [components]="components">
                                                </ag-grid-angular>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Existing Stock Entry Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form class="form" [formGroup]="StockEntryForm">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="DepositorName">Depositor Name<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Depositor Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="DepositorName"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.DepositorName.errors }"
                                        (change)="LoadBookings()" placeholder="Select Depositor Name">
                                        <ng-option *ngFor="let dist of DeposiList"
                                            value="{{dist.registratioN_ID}}:{{dist.registratioN_TYPE}}">
                                            {{dist.registratioN_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.DepositorName.errors" class="invalid-feedback">
                                        <div *ngIf="stock.DepositorName.errors.required">
                                            Depositor Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ReservationID">Reservation ID<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Reservation ID"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="ReservationID"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.ReservationID.errors }"
                                        (change)="LoadCommodities()" placeholder="Select Reservation ID">
                                        <ng-option *ngFor="let dist of BookingList" value="{{dist.bookinG_ID}}">
                                            {{dist.bookinG_ID}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.ReservationID.errors" class="invalid-feedback">
                                        <div *ngIf="stock.ReservationID.errors.required">
                                            Reservation ID
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CommodityName">Commodity Name<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Commodity Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="CommodityName"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.CommodityName.errors }"
                                        placeholder="Select Commodity Name">
                                        <ng-option *ngFor="let dist of CommoList" value="{{dist.commoditY_ID}}">
                                            {{dist.commodity}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.CommodityName.errors" class="invalid-feedback">
                                        <div *ngIf="stock.CommodityName.errors.required">
                                            Commodity Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="GodownName">Godown Name<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Godown Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="GodownName"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.GodownName.errors }"
                                        (change)="LoadCompartments()" placeholder="Select Godown Name">
                                        <ng-option *ngFor="let dist of DodownsList" value="{{dist.godowN_ID}}">
                                            {{dist.godowN_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.GodownName.errors" class="invalid-feedback">
                                        <div *ngIf="stock.GodownName.errors.required">
                                            Godown Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CompartmentName">Compartment Name<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Compartment Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="CompartmentName"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.CompartmentName.errors }"
                                        (change)="LoadStacks()" placeholder="Select Compartment Name">
                                        <ng-option *ngFor="let dist of CompartsList" value="{{dist.compartmenT_ID}}">
                                            {{dist.compartmenT_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.CompartmentName.errors" class="invalid-feedback">
                                        <div *ngIf="stock.CompartmentName.errors.required">
                                            Compartment Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="StackName">Stack Name<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Stack Name"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="StackName"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.StackName.errors }"
                                        placeholder="Select Stack Name">
                                        <ng-option *ngFor="let dist of StacksList" value="{{dist.stacK_ID}}">
                                            {{dist.stacK_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.StackName.errors" class="invalid-feedback">
                                        <div *ngIf="stock.StackName.errors.required">
                                            Stack Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="StackType">Stack Type<span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select Stack Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="StackType"
                                        [ngClass]="{ 'is-invalid': isSubmit &&  stock.StackType.errors }"
                                        placeholder="Select Stack Type">
                                        <ng-option *ngFor="let dist of StackTypeList" value="{{dist.id}}">
                                            {{dist.stacK_TYPE}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && stock.StackType.errors" class="invalid-feedback">
                                        <div *ngIf="stock.StackType.errors.required">
                                            Stack Type
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="StackInDate">Stack In Date <span class="text-danger">*</span> <a
                                            triggers="mouseenter:mouseleave" popover="Select In Date" placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <div class="input-group">
                                        <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="fdob"
                                            ngbDatepicker #d="ngbDatepicker" readonly formControlName="StackInDate"
                                            (click)="d.toggle()" [maxDate]="NgbDateStruct"
                                            [ngClass]="{ 'is-invalid': isSubmit && stock.StackInDate.errors }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" type="button"
                                                (click)="d.toggle()" type="button"><i
                                                    class="ficon feather icon-calendar"></i></button>
                                        </div>
                                        <div *ngIf="isSubmit && stock.StackInDate.errors" class="invalid-feedback">
                                            <div *ngIf="stock.StackInDate.errors.required">
                                                Stack In Date
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="NoOfGunnyBags">No Of Gunny Bags
                                        <a triggers="mouseenter:mouseleave" popover="Enter No Of Gunny Bags"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="10" numbersOnly class="form-control"
                                        placeholder="No Of Gunny Bags" formControlName="NoOfGunnyBags" />

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="NoOfBags">No Of Bags <span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter No Of Bags"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="10" numbersOnly class="form-control"
                                        placeholder="No Of Bags" formControlName="NoOfBags"
                                        [ngClass]="{ 'is-invalid': isSubmit && stock.NoOfBags.errors }" />
                                    <div *ngIf="isSubmit && stock.NoOfBags.errors" class="invalid-feedback">
                                        <div *ngIf="stock.NoOfBags.errors.required">
                                            No Of Bags
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="BagWeight">Bag Weight(Kg) <span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Bag Weight(Kg)"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="10" digitsOnly class="form-control"
                                        placeholder="Bag Weight(Kg)" formControlName="BagWeight"
                                        [ngClass]="{ 'is-invalid': isSubmit && stock.BagWeight.errors }" />
                                    <div *ngIf="isSubmit && stock.BagWeight.errors" class="invalid-feedback">
                                        <div *ngIf="stock.BagWeight.errors.required">
                                            Bag Weight(Kg)
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MarketValue">Market Value(Per MT) <span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Enter Market Value(Per MT)"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="15" digitsOnly class="form-control"
                                        placeholder="Market Value(Per MT)" formControlName="MarketValue"
                                        [ngClass]="{ 'is-invalid': isSubmit && stock.MarketValue.errors }" />
                                    <div *ngIf="isSubmit && stock.MarketValue.errors" class="invalid-feedback">
                                        <div *ngIf="stock.MarketValue.errors.required">
                                            Market Value(Per MT)
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary btn-min-width ml-1"
                                (click)="SaveStockDetails()">
                                <i class="fa fa-paper-plane"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>