<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Scroll message</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">Scrolling Message
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Scroll Message Entry Screen</h4>

                                <div class="row" [hidden]="!formsm">

                                    <div class="table">
                                        <table class="table table-responsive table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>SNO</th>
                                                    <th>Scroll Message</th>
                                                    <th>Status</th>
                                                    <th>Active/Deactive</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let m of Scrollmsglist; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{m.contenT_BODY}}</td>
                                                    <td *ngIf="m.iS_ACTIVE=='1'">Active</td> 
                                                    <td *ngIf="m.iS_ACTIVE=='0'">Deactive</td>
                                                    <td  *ngIf="m.iS_ACTIVE=='1'"><button type="button" class="btn btn-success" (click)="editmessage(m);" >Deactive</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-success" (click)="AddMeessage();">Add</button>
                                    </div>
                                </div>

                                <form class="forms-sample" [formGroup]="scrollForm" (ngSubmit)="onSubmit()" [hidden]="formsm" >

                                    <div class="row justify-content-center">
                                        <div class="col-6">                                          
                
                                            <div class="form-group">
                                                <label for="scrollmessage">Enter Scroll Message
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="scrollmessage" lettersOnly
                                                 [ngClass]="{'is-invalid':submitted && f.scrollmessage.errors}"  placeholder="Enter Warehouse Regional Manager Name" />
                                                <div *ngIf="submitted && f.scrollmessage.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.scrollmessage.errors.required">scroll message is required </div>
                                                </div>
                                            </div>
        
                                            
                                           
        
        
                                        </div>
                                    </div>
                                 
                                  <div class="row justify-content-center">
                                      <div class="col-1 text-center">
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        
                                      </div>
                                      <div class="col-1 text-center">
                                        
                                        <button class="btn btn-light" type="reset"(ngClick)="onReset()">Cancel</button>
                                      </div>
                                  </div>
                                    
                                </form>
                            </div>
                        </div>



                    </div>
                </div>


            </section>
            <!-- // card-actions section end -->
        </div>
    </div>
</div>