<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Service Registrar</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Service Registrar</a>
                        </li>
                        <li class="breadcrumb-item active">Payroll
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Payroll</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button [hidden]="!screen2" type="button" (click)="back()" class="btn btn-info mr-1"><i
                                        class="fa fa-arrow-circle-left"></i> Back</button>
                                <button class="btn btn-outline-secondary ml-1 btn-md" (click)="HistoryAllEmployees();">
                                    <i class="fa fa-plus-circle"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2" [hidden]="!screen1">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <!--Add SR-->
                                            <div class="row" [hidden]="!screen2">
                                                <div class="col-sm-12">
                                                    <div class="col-md-12 mb-3 text-center">
                                                        <strong><span class="font-size-large">SERVICE REGISTRAR</span>
                                                            of Mr/Mrs/Ms. </strong> <span class="text-primary"
                                                            style="text-decoration: underline;"> {{EmpName}} </span>
                                                        <strong> Employee ID : </strong><span class="text-primary"
                                                            style="text-decoration: underline;">{{empid}}</span>,<strong>
                                                            Service : </strong><span class="text-primary"
                                                            style="text-decoration: underline;">{{service_name}}</span>,
                                                    </div>

                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <a (click)="DetailsGet(1)" class="text-white">
                                                                <div class="card bg-primary text-center">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <h5>Fixed Pay as per RPS</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                            
                            
                                                        <div class="col-md-3">
                                                            <a (click)="DetailsGet(2)" class="text-white">
                                                                <div class="card bg-primary text-center">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <h5>Increment</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                            
                            
                                                        <div class="col-md-3">
                                                            <a (click)="DetailsGet(3)" class="text-white">
                                                                <div class="card bg-primary text-center">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <h5>Encashment of EL</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                            
                            
                                                        <div class="col-md-3">
                                                            <a (click)="DetailsGet(4)" class="text-white">
                                                                <div class="card bg-primary text-center">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <h5>Stoppage of Annual Grade Increment</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <a (click)="DetailsGet(5)" class="text-white">
                                                                <div class="card bg-primary text-center">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <h5>Suspension / DetentionStatement for release Annual Grade Increment (for Dies Non)</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>


                                                       
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Add SR-->
                                        </div>


                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->
<!-- View Details Modal -->
<div class="modal fade" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" id="viewSection" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Employee Details</h5>
                <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                    Print
                </button> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseViewModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="CloseViewModal();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- History All Details Modal -->
<div class="modal fade" id="historyAllSection" bsModal #historyAllSection="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Employees History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyAllSection.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of allemphistory;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td>{{hsty.evenT_CODE}}</td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'">
                                        <img [src]="hsty.olD_VALUE" *ngIf="hsty.olD_VALUE"
                                            style="height: 100px;width: 100px;">

                                    </td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.olD_VALUE}} </td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'">
                                        <img [src]="hsty.neW_VALUE" *ngIf="hsty.neW_VALUE"
                                            style="height: 100px;width: 100px;">
                                    </td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyAllSection.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- History Individual Details Modal -->
<div class="modal fade" id="historySection" bsModal #historySection="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Employee History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historySection.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of emphistory;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'"><img [src]="hsty.olD_VALUE"
                                            *ngIf="hsty.olD_VALUE" style="height: 100px;width: 100px;"></td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.olD_VALUE}} </td>
                                    <td *ngIf="hsty.columN_NAME=='EMP_PHOTO'"><img [src]="hsty.neW_VALUE"
                                            *ngIf="hsty.neW_VALUE" style="height: 100px;width: 100px;"></td>
                                    <td *ngIf="hsty.columN_NAME!='EMP_PHOTO'"> {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historySection.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


