<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-right col-md-6 col-12 mb-1">
                  <h3 class="content-header-title">Service Approval</h3>
                </div>
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a >Home</a>  
                      </li>
                      <li class="breadcrumb-item"><a >Engg. Maintenance</a>
                      </li>
                      <li class="breadcrumb-item active">Service Approval
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Service Approval</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid  class="ag-theme-alpine" 
                                                    [columnDefs]="columnDefs"
                                                    [floatingFilter]="true"
                                                    (gridReady)="BindData($event)"
                                                    [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents"
                                                    rowSelection="single"
                                                    [components]="components"
                                                    >
                                                
                                                    </ag-grid-angular>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Reason Modal -->
<div bsModal #DsApprovalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      
       
    <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="modal-header">
               <h4 id="dialog-child-name" class="modal-title pull-left">Service Approval Details</h4>
               <button type="button" class="close pull-right" aria-label="Close" 	(click)="CloseEditModal()"> 
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
              
                   <form [formGroup]="DeadstockApprovalform">
                     <div class="card-content">
                       <div class="card-body">
                         <div class="row">


                           <div class="col-12 col-sm-6 ">
                             <div class="form-group">
                               <label>Approve/Reject
                       
                                   <a triggers="mouseenter:mouseleave" popover="Select Approve/Reject"
                                       placement="right">
                                       <i class="fa fa-info-circle"></i>
                                   </a>
                               
                               </label><br>
             
                               <div class="form-check-inline">
       
                                   <label class="form-check-label">
                                       <input type="radio" value="1" name="dsApproverej"
                                           formControlName="dsApproverej" (change)="approverejectfun('1')"
                                           >Approve</label>
                               </div>
                               <div class="form-check-inline">
                                   <label class="form-check-label">
                                       <input type="radio" value="0" name="dsApproverej"
                                           formControlName="dsApproverej" (change)="approverejectfun('0')"
                                           >Reject
                                   </label>
                               </div>
                             </div>
                           </div>



                           <div class="col-12 col-sm-6"[hidden]="!forwardeddivs" >
                             <div class="form-group">
                               <label for="SectionName">Forward To<span
                                   class="text-danger">*</span> <a
                                   triggers="mouseenter:mouseleave"
                                   popover="Select Employee Work Section Name"
                                   placement="right">
                                   <i class="fa fa-info-circle"></i>
                               </a></label>
                           <ng-select formControlName="dsSectionName" placeholder="Select Section Name" (change)="sectionchange()">
                            <ng-option value="">Select Section</ng-option>                                  
                               <ng-option *ngFor="let dist of sections"
                                   [value]="dist.section">
                                   {{dist.section}}
                               </ng-option>
                           </ng-select>
                             </div>
                           </div>
                           <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                            <div class="form-group">
                              <label for="SectionName">Desigantion<span
                                  class="text-danger">*</span> <a
                                  triggers="mouseenter:mouseleave"
                                  popover="Select Employee Designation"
                                  placement="right">
                                  <i class="fa fa-info-circle"></i>
                              </a></label>
                          <ng-select formControlName="dsDesigName"placeholder="Select Desigantion">
                           <ng-option value="">Select Desigantion</ng-option>                                  
                              <ng-option *ngFor="let dist of Designationlist"
                                  [value]="dist.officeR_DESIGNATION">
                                  {{dist.officeR_DESIGNATION}}
                              </ng-option>
                          </ng-select>
                            </div>
                         
</div>                        <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                               <div class="form-group">
                                 <label for="SectionName">Name<span
                                     class="text-danger">*</span> <a
                                     triggers="mouseenter:mouseleave"
                                     popover="Select Employee Name"
                                     placement="right">
                                     <i class="fa fa-info-circle"></i>
                                 </a></label>
                             <ng-select formControlName="dsOffName"
                                                                placeholder="Select Name">
                              <ng-option value="">Select Name</ng-option>                                  
                                 <ng-option *ngFor="let dist of Designationlist"
                                     [value]="dist.emP_CODE">
                                     {{dist.officeR_NAME}}
                                 </ng-option>
                             </ng-select>
                               </div>
                            </div>

                           
                      
                           <div class="col-md-12">
                             <div class="form-group">
                               <label for="OutName"
                                 >Remarks<a
                                 triggers="mouseenter:mouseleave"
                                 popover="Enter Remarks"
                                 placement="right">
                                 <i class="fa fa-info-circle"></i>
                             </a></label
                               >
                               <textarea
                                 name=""
                                 maxlength="100"
                                 alphanumbers=""
                                 placeholder="Enter Remarks"
                                 class="form-control"
                                 id=""
                                 cols="30"
                                 rows="2" 
                                 formControlName="dsoffremarks"></textarea>
                             </div>
                           </div>
                      

                      </div>

                      <div class="row">
                         <div class="col-md-12 text-center">
                           <button type="button" class="btn btn-primary" (click)="submit()">
                              <i class="fa fa-paper-plane"></i> Submit Details
                            </button>
                         </div>
                      </div>

                   </div>
                      
                     </div>
                   </form>                          
                  
       </div>
               </div>

       </div>
    </div>
<div class="modal fade" id="ReasonModal" bsModal #ReasonModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">Reject Reason</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="hideReasonModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="DeadStockRejectReasonForm">
                   
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="NoOfUnits">Reject Reason<span class="text-danger">*</span> <a  
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Reject Reason Here"
                                    placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>
                                <input type="text" alphaNumbers formControlName="RejectReason" autocomplete="off" maxlength="300"
                                    [ngClass]="{ 'is-invalid': submittedrsn && subfrsn.RejectReason.errors}" class="form-control"
                                    placeholder="Enter Reject Reason">
                                <div *ngIf="submittedrsn && subfrsn.RejectReason.errors" class="invalid-feedback">
                                    <div *ngIf="subfrsn.RejectReason.errors.required">Enter Reject Reason</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-block text-center mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="RejectAPI();">Submit</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<div bsModal #historyempModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
       <div class="modal-dialog modal-lg" style="width: auto;">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                  <button type="button" class="close pull-right" aria-label="Close"
                      (click)="hidehistorymasterModal()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="table-responsive">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th>S.no</th>
                                          <th>Request Id</th>
                                          <th>Employee Name</th>
                                              <th>
                                             Requested Date
                                          </th>
                                          <th>
                                             Approval Date
                                          </th>
                                          <th>Status</th>
                                         
                                      </tr>
  
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let Mastlist of historylist;let i=index;">
  
                                          <td>{{i+1}}</td>
                                          <td>{{Mastlist.forM_ID}}</td>
                                          <td>{{Mastlist.emP_NAME}}</td>
                                          <td>{{Mastlist.requesteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                          <td>{{Mastlist.date | date: 'dd-MM-yyyy'}}</td>
                                          <td>{{Mastlist.requesT_STATUS}}</td>
                                         
  
                                      </tr>
  
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
      </div>
    </div>
 </div>
<div bsModal #mrPreviewModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
 aria-labelledby="dialog-child-name">
 <div class="modal-dialog modal-xl">
   <div class="modal-content shadow-lg">
     <div class="modal-header">
       <h4 id="dialog-child-name" class="modal-title pull-left">Service Approval Preview Details</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="hidepreviewTaxModal()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="card spr-card">
         <div class="card-body py-1">
             <form class="form" [formGroup]="DeadstockpreviewForm">
                 <div class="form-body">
                     <div class="row">
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/web-styles/images/deadstock-2.svg" width="25">
                                Service Approval Details</h4>
                             <div class="card preview-card bg-blue bg-lighten-5">
                                 <div class="card-body py-1">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Service Request Sub Category                                                       </label>
                                                 <h5>{{whname}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Item type
                                                 </label>
                                                 <h5>{{Itemtype}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>No of Units
                                                 </label>
                                                 <h5>{{noofunits}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Amount/Unit
                                                 </label>
                                                 <h5>{{amount}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Total Amount
                                                 </label>
                                                 <h5>{{ttamount}}</h5>
                                             </div>
                                         </div>


                                         <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Sanctioned Amount
                                                </label>
                                                <h5>{{Sactamt}}</h5>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Uploaded by
                                                </label>
                                                <h5>{{Uploadby}}</h5>
                                            </div>
                                        </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Remarks
                                                 </label>
                                                 <h5>{{remarks}}</h5>
                                             </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/web-styles/images/certificates.svg" width="25">
                                 Photo/Document Details</h4>
                             <div class="card preview-card bg-success bg-accent-1">
                                 <div class="card-body py-1">
                                     <div class="row">
                                        

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Photo
                                                 </label>
                                                 <h5><a class="btn btn-warning btn-sm" (click)="certificates('1')"><i class="fa fa-eye"></i> View</a></h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Document
                                                 </label>
                                                 <h5><a class="btn btn-warning btn-sm" (click)="certificates('2')"><i class="fa fa-eye"></i> View</a></h5>
                                             </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/web-styles/images/bank.svg" width="25">
                                 Bank Details</h4>
                             <div class="card preview-card bg-blue-grey bg-lighten-5">
                                 <div class="card-body py-1">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Bank Holder Name
                                                 </label>
                                                 <h5>{{bankholname}}</h5>
                                             </div>
                                         </div>
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Account Number
                                                 </label>
                                                 <h5>{{accno}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>IFSC Code
                                                 </label>
                                                 <h5>{{ifsc}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Bank Name
                                                 </label>
                                                 <h5>{{bankname}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                           <div class="form-group">
                                               <label>Branch Name
                                               </label>
                                               <h5>{{bankbranch}}</h5>
                                           </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row" [hidden]="!submitbutton">
                        <div class="col-md-12">
                            <h4 class="form-section"><i class="fa fa-files-o text-secondary mr-0" aria-hidden="true"></i> Upload Approval Details</h4>
                            <div class="card bg-success bg-accent-1">
                                <div class="card-body py-1">
                                    <div class="row">
                                      

                                       <div class="col-md-6">
                                          
                                             <div class="form-group">
                                               <label for="OutName">Sactioned Amount<span class="text-danger">*</span> <a
                                                 triggers="mouseenter:mouseleave"
                                                 popover="Enter Sanctioned Amount"
                                                 placement="right">
                                                 <i class="fa fa-info-circle"></i>
                                             </a></label>
                                             <input type="text" maxlength="100" placeholder="Enter Sanctioned Amount" class="form-control" digitsOnly formControlName="SactAmnt" />
                                
                            
                                              
                                             </div>
                                            
                                          
                                       </div>

                                       <div class="col-12 col-sm-6 col-md-6 mb-2">
                                          <label for="OutName">Upload Note<span class="text-danger">*</span><a
                                            triggers="mouseenter:mouseleave"
                                            popover="Upload Note"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                          <div class="input-group">
                                              <div class="custom-file">
              
                                                  <input type="hidden" formControlName="ApprovalDocpath" />
              
                                                  <input type="file"
                                                                                                  formControlName="ApprovalRegDoc" #file
                                                                                                  placeholder="Upload Receipt"
                                                                                                  (change)="ApprovaluploadFile($event)"
                                                                                                  class="form-control"
                                                                                                  id="inputGroupFile09">
                                                                                              <label class="custom-file-label"
                                                                                                  for="inputGroupFile09">Upload
                                                                                                  Document <span
                                                                                                      class="text-danger">*</span></label>
              
                                              </div>
                                             
                                          </div>
                                          <div class="input-group-append ml-2 " style="color: green;" [hidden]="!progressbar">
                                              <span class="upload"
                                                  *ngIf="progress > 0">
                                                  {{progress}}%
                                              </span>
                                              <span class="upload ml-2"
                                                  *ngIf="message">
                                                  {{message}}
                                              </span>
                                          </div>
                                          <div class="invalid-feedback" style="display: block !important;">
                                              <div> * File size upto 2 MB</div>
                                          </div>
                                      </div>                                                                                        
                                     

                                      

                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 text-center" >
                           <button type="button" class="btn btn-primary" (click)="SubmitApprovalDetails()">
                              <i class="fa fa-paper-plane"></i> Submit Details
                              </button>
                        </div>
                    </div>

                 </div>
             </form>
         </div>
     </div>
     </div>
   </div>
 </div>
</div>
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Data</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow-none bg-blue bg-lighten-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Uploaded Image</label>
                                <div class="">
                                    <a href="{{Image}}" target="_blank" > 
                                        <img [src]="Image"
                                        class="border-secondary border-2 box-shadow-2 border-radius-3" style="width: 100%;
                                        height: 300px;
                                        box-shadow: 1px 1px 1px grey;"
                                        >
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center mt-1">
                            <a href="{{Document}}" (click)="viewPDF(Document)" class="btn btn-secondary"> Click to view Uploaded Document</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="viewModal.hide()" data-dismiss="modal">Close</button>
        </div> -->
    </div>
</div>
</div>