
<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div> 

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
              <h3 class="content-header-title">Mobile User Access Permission</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a >Dashboard</a>
                  </li>
                  <li class="breadcrumb-item"><a>Permission</a>
                  </li>
                  <li class="breadcrumb-item active">Mobile User Access Permission
                  </li>
                </ol>
              </div>
            </div>
          </div>


        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Permission</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <!-- <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>

                                </ul> -->
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                               <div class="row">
                                   <div class="col-sm-12 mb-2 text-right">
                                    <button class="btn btn-primary btn-md mr-1" (click)="addPage()">Add Page</button>
                                    <!-- <button class="btn btn-primary btn-md" (click)="history()">History</button> -->
                                   </div>
                               </div>
                                
                                <table class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>Sno</th>
                                            <th>Menu Name</th> 
                                            <th>Page Name</th>                                            
                                            <th>Add User Access</th>
                                            <th>Add Designation Access</th>
                                            <th>Action</th>    
                                        </tr>
                                    </thead>
                                  <tbody>
                                      <tr *ngFor="let page of PagesList;let i=index;">
                                          <td>{{i+1}}</td>
                                          <td>{{page.pagE_NAME}}</td>
                                           <td>{{page.menU_ITEM_NAME}}</td> 
                                          <td *ngIf="page.routE_LINK"> <button class="btn btn-primary btn-sm"  (click)="userPermission(page)">Add Permission</button> </td>
                                          <td *ngIf="!page.routE_LINK">  </td>
                                          <td *ngIf="page.routE_LINK"> <button class="btn btn-primary btn-sm" (click)="DesignationPermission(page)" >Add Permission</button>  </td>
                                          <td *ngIf="!page.routE_LINK">  </td>
                                          <td> <button class="btn btn-secondary btn-sm" (click)="EditPage(page)" >Edit</button>  </td>
                                      </tr>
                                     
                                  </tbody>
                                </table>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Add Page  -->

<div bsModal #addpageModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
 role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{pagetitle}} Page</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideaddpageModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5 pt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <form [formGroup]="addpageForm">
                            <div class="row">
                                <input type="hidden" formControlName="PageID" />
                                <div class="col">
                                    <label for="pagename">Page Name<span class="text-danger">*</span></label>
                                    <input type="text" id="pagename" maxlength="50" formControlName="Pagename" class="form-control"
                                        placeholder="Enter Page Name" [ngClass]="{ 'is-invalid': submitted && subf.Pagename.errors }">
                        
                                    <div *ngIf="submitted && subf.Pagename.errors" class="invalid-feedback">
                                        <div *ngIf="subf.Pagename.errors.required">Page Name is required</div>
                                    </div>                        
                                </div>
                                <div class="col">
                                    <label for="PageDisc">Page Description <span class="text-danger">*</span></label>
                                    <input type="text" lettersOnly maxlength="150" formControlName="PageDisc" class="form-control"
                                        placeholder="Enter Page Description" [ngClass]="{ 'is-invalid': submitted && subf.PageDisc.errors }">
                                    <div *ngIf="submitted && subf.PageDisc.errors" class="invalid-feedback">
                                        <div *ngIf="subf.PageDisc.errors.required">Page Description is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="PageDisc">Page Icon </label>
                                    <input type="text" maxlength="150" formControlName="PageIcon" class="form-control"
                                        placeholder="Enter Page Icon" >                                    
                                </div>
                        
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <label for="Menuid">Menu Item </label>
                                    <select class="custom-select form-control"  formControlName="Menuid">
                                        <option value="">Select Menu</option>
                                        <option *ngFor="let item of items" value="{{item.page_id}}">{{item.page_name}}</option>
                                    </select>                        
                                </div>
                        
                                <div class="col">
                                    <label for="rlink">Page URL<span class="text-danger">*</span></label>
                                    <input type="text" id="rlink" formControlName="rlink" class="form-control" placeholder="Enter Page URL">
                                
                                    <div *ngIf="Errormsg" class="text-danger">Page Url is required</div>
                                
                                </div>
                                <div class="col">
                                    <label for="itmorder">Item Order <span class="text-danger">*</span></label>
                                    <input type="text" id="itmorder" digitsOnly maxlength="4" formControlName="itmorder" class="form-control"
                                        placeholder="Enter Item Order" [ngClass]="{ 'is-invalid': submitted && subf.itmorder.errors }">
                                    <div *ngIf="submitted && subf.itmorder.errors" class="invalid-feedback">
                                        <div *ngIf="subf.itmorder.errors.required">Item Order is required</div>
                                    </div>
                                </div>
                        
                            </div>
                        
                            <div class="row d-block text-center mt-2">
                                <button type="button" *ngIf="!isEdit" (click)="SubmitpageDetails()" class="btn btn-primary">Submit Page Details</button>
                                <button type="button" *ngIf="isEdit" (click)="UpdatepageDetails()" class="btn btn-primary">Update Page Details</button>
                            </div>
                        
                        
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Add Userpermission Page  -->
<div bsModal #userpermissionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"> {{Pagetext}} User Permission</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideuserPermissionModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="UseraccessForm">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-bordered" >
                            <thead>
                                <tr>
                                    <th rowspan="2">Sno</th>
                                    <th rowspan="2">Username</th>
                                    <th colspan="3" style="text-align: center;">Accessed Permissions</th>
                                    <th rowspan="2">Action</th>
                                    
                                </tr>
                                <tr>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pglist of PagesAccessList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{pglist.useR_NAME}}</td>
                                    <td *ngIf="pglist.iS_ADD!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_ADD==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_EDIT!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_EDIT==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    
                                    <td *ngIf="pglist.iS_VIEW!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_VIEW==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    <td>
                                        
                                        <button class="btn btn-danger btn-sm"
                                         (click)="update_UserPermission(pglist)">Remove</button>
                                        </td>
                                
                                
                                </tr>
                                <tr *ngIf="PagesAccessList==null" style="text-align: center;">
                                    <td colspan="7"><b>No user Accessed Permissions Found</b></td>
                                
                                </tr>
                               
                             
                               
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-4 offset-md-1">
                                <label for="Uservalue">User<span class="text-danger">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select User'"
                                 formControlName="FormUservalue" 
                                  [settings]="dropdownSettings"
                                   [data]="UsersList"
                                 (onSelect)="onItemSelect($event)" 
                                 (onDeSelect)="onItemDeSelect($event)"
                                 (onSelectAll)="onSelectAll($event)"
                                 (onDeSelectAll)="onDeSelectAll($event)"
                                 [ngClass]="{ 'is-invalid': submitted && Userf.FormUservalue.errors }">
                                </ng-multiselect-dropdown>   
                                <div *ngIf="submitted && Userf.FormUservalue.errors" class="invalid-feedback">

                                    <div *ngIf="Userf.FormUservalue.errors.required"> User is required</div>                         
                                </div>
                                <!-- <select class="custom-select" formControlName="Uservalue"
                                [ngClass]="{ 'is-invalid': submitted && Userf.Uservalue.errors }" (change)="getuseraccessvalue(UsersList);" >
                                    <option value="">Select User</option>
                                    <option *ngFor="let user of UsersList" value={{user.useR_NAME}}>{{user.useR_NAME}}</option>
                                  </select>
                                  <div *ngIf="submitted && Userf.Uservalue.errors" class="invalid-feedback">

                                    <div *ngIf="Userf.Uservalue.errors.required"> User is required</div>

                                </div>
                            <div *ngIf="Errormsg" class="text-danger">User is required</div> -->
                            </div>
                            <div class="col-sm-3">
                                <label for="Permissions">Access Permissions<span class="text-danger">*</span></label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="isaddvalue" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Add</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="iseditvalue" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Edit</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="isviewvalue" id="inlineCheckbox3" value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">View</label>
                                  </div>
                                  <!-- <div *ngIf="Errormsg" class="text-danger">At least one Access Permission is required</div> -->
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary btn-md my-2" (click)="Submit_UserPermission()" >Add Access Permission</button>                           
                                
                            </div>
                          
                        </div>
                        
                    </div>
                </div>
            </form>

            </div>
        </div>
    </div>
</div> 


<div bsModal #designationpermissionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">{{Pagetext}} Designation Permission</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidedesignationPermissionModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="DesigaccessForm">
                <div class="row">

                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered" >
                            <thead>
                                <tr>
                                    <th rowspan="2">Sno</th>
                                    <th rowspan="2">Designation Name</th>
                                    <th colspan="3" style="text-align: center;">Accessed Permissions</th>
                                    <th rowspan="2">Action</th>
                                    
                                </tr>
                                <tr>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pglist of PagesAccessList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{pglist.designation_name}}</td>
                                    <td *ngIf="pglist.iS_ADD!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_ADD==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_EDIT!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_EDIT==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    
                                    <td *ngIf="pglist.iS_VIEW!=null">
                                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                                    </td>
                                    <td *ngIf="pglist.iS_VIEW==null">
                                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm"
                                         (click)="update_DesignationPermissions(pglist)">Remove</button>
                                    </td>
                                
                                
                                </tr>
                                <tr *ngIf="PagesAccessList==null" style="text-align: center;">
                                    <td colspan="7"><b>No user Accessed Permissions Found</b></td>
                                
                                </tr>
                               
                             
                               
                            </tbody>
                        </table>
                       
                        <div class="row">
            
                            <div class="col-sm-3 offset-md-1">
                                <label for="Uservalue">Designation User Type<span class="text-danger">*</span></label>
                                <select class="custom-select" [ngClass]="{ 'is-invalid': submitted && Desiff.UserTypevalue.errors }"
                                 formControlName="UserTypevalue" (change)="get_Desigaccessvalue($event.target.value)">
                                    <option value="">Select User Type</option>
                                    <option *ngFor="let desig of distinctThings" value={{desig.designation_type}}>{{desig.designation_type}}</option>
                                  </select>
                                  <div *ngIf="submitted && Desiff.UserTypevalue.errors" class="invalid-feedback">

                                    <div *ngIf="Desiff.UserTypevalue.errors.required"> User Type is required</div>

                                </div>
                            <div *ngIf="Errormsg" class="text-danger">Designation User Type is required</div> 

                            </div> 
                            <div class="col-sm-4 offset-md-1">
                                <label for="Uservalue">Designation User<span class="text-danger">*</span></label>
                                <ng-multiselect-dropdown 
                                formControlName="FormUservalue"
                                 [placeholder]="'Select Designation User'"
                                 [settings]="Desig_dropdownSettings"
                                  [data]="DesiginationList"
                                (onSelect)="onItemSelect_Desig($event)"
                                 (onDeSelect)="onItemDeSelect_Desig($event)"
                                 (onSelectAll)="onSelectAll_Desig($event)"
                                 (onDeSelectAll)="onDeSelectAll_Desig($event)"
                                [ngClass]="{ 'is-invalid': submitted && Desiff.FormUservalue.errors }">
                               </ng-multiselect-dropdown> 
                               <div *ngIf="submitted && Desiff.FormUservalue.errors" class="invalid-feedback">

                                <div *ngIf="Desiff.FormUservalue.errors.required">Designation User is required</div>

                            </div>                          

                                
                            </div>
                            <div class="col-sm-3">
                                <label for="Permissions">Access Permissions<span class="text-danger">*</span></label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="isaddvalue" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Add</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="iseditvalue" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Edit</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" formControlName="isviewvalue" id="inlineCheckbox3" value="option3">
                                    <label class="form-check-label" for="inlineCheckbox3">View</label>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary btn-md my-2" (click)="submit_DesignationPermissions()">Add Access Permission</button>
                            
                                
                            </div>
                          
                        </div>


                       
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div> 


<!-- History  -->

<div bsModal #historyModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidehistoryModal()"> 
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                               <tr>
                                   <td>1</td>
                                   <td>Some Text Here </td>
                                   <td>Some Text Here </td>
                                   <td>Some Text Here </td>
                                   <td> Some Text Here</td>
                                   <td>Some Text Here </td>
                                   <td> Some Text Here</td>
                               </tr>
                             
                               
                            </tbody>
                        </table>


                     

                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 
