body {
    background: #F6F5F5 !important;
    color: #333;
}
.navbar-semi-dark .navbar-header {
    background: #276678 !important;
}
.main-menu.menu-dark {
    color: #DCDCDC;
    background: #276678 !important;
}
.header-navbar .navbar-container {
    transition: .3s ease all;
    background: #fff1d0 !important;
}
.main-menu.menu-dark .navigation {
    background: #276678 !important;
}
/* .main-menu.menu-dark .navigation>li .active {
    background: #00000036 !important;
} */
.main-menu.menu-dark .navigation > li.open > a {
    color: #e8e8e8;
	background: #00000036 !important;
}
.main-menu.menu-dark .navigation li.active>a, .main-menu.menu-dark .navigation li.hover>a, .main-menu.menu-dark .navigation li.open>a {
    color: #FFF;
    background: #00000036 !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(odd) .menu-item{
background-color: #bbdce0 !important;
color: #003B46 !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(even) .menu-item{
    background-color: #eaf6ff !important;
    color: #003B46 !important;
}
.main-menu.menu-dark .navigation>li ul li .menu-item.active{
    background-color: #003B46 !important;
    color: #fff !important;
}
.card-header {
    background: #ddebf5 !important;
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table thead th, .ag-theme-alpine .ag-header-row {
    background: #1687A7 !important;
    color: #fff;
}
.modalpage-accordion.accordion .card-header {
    background: #ddebf5 !important;
	color: black;
}
/* .wizard-body {
    background-image: linear-gradient(
45deg
, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
} */

.main-menu.menu-dark .navigation li a .badge{
    background-color: #fff1d0;
    color: #276678;
}

.main-menu.menu-dark .navigation>li ul li .menu-item .badge{
    background-color: #276678 !important;
    color: #fff1d0 !important;
}

.main-menu.menu-dark .navigation>li ul li .menu-item.active .badge{
    background-color: #fff1d0 !important;
    color: #276678 !important;
}