body {
    background: #fffadc !important;
    color: #333;
}
.navbar-semi-dark .navbar-header {
    background: #39395f !important;
}
.main-menu.menu-dark {
    color: #DCDCDC;
    background: #39395f !important;
}
.main-menu.menu-dark .navigation > li.open {
    border-left: 4px solid #cbdf91 !important;
}
.header-navbar .navbar-container {
    transition: .3s ease all;
    background: #cbdf91 !important;
}
.main-menu.menu-dark .navigation {
    background: #39395f !important;
}
/* .main-menu.menu-dark .navigation>li .active {
    background: #00000036 !important;
} */
.main-menu.menu-dark .navigation > li.open > a {
    color: #e8e8e8;
	background: #00000036 !important;
}
.main-menu.menu-dark .navigation li.active>a, .main-menu.menu-dark .navigation li.hover>a, .main-menu.menu-dark .navigation li.open>a {
    color: #FFF;
    background: #00000036 !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(odd) .menu-item{
background-color: #c4bbe0 !important;
color: #39395f !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(even) .menu-item{
    background-color: #e6dcff !important;
    color: #39395f !important;
}
.main-menu.menu-dark .navigation>li ul li .menu-item.active{
    background-color: #39395f !important;
    color: #fff !important;
}
.card-header {
    background: #f1f1f1 !important;
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table thead th, .ag-theme-alpine .ag-header-row {
    background: #73a24e !important;
    color: #fff;
}
.modalpage-accordion.accordion .card-header {
    background: #f1f1f1 !important;
	color: black;
}
.btn-md, .btn-sm, .btn{
	border: 1px solid #fff !important;
}
/* .wizard-body {
    background-image: linear-gradient(
45deg
, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
} */

.main-menu.menu-dark .navigation li a .badge{
    background-color: #cbdf91;
    color: #39395f;
}
.main-menu.menu-dark .navigation>li ul li .menu-item .badge{
    background-color: #39395f !important;
    color: #cbdf91 !important;
}

.main-menu.menu-dark .navigation>li ul li .menu-item.active .badge{
    background-color: #cbdf91 !important;
    color: #39395f !important;
}