body {
    background: #ecf4f7 !important;
    color: #333;
}
.navbar-semi-dark .navbar-header {
    background: #003B46 !important;
}
.main-menu.menu-dark {
    color: #DCDCDC;
    background: #003B46 !important;
}
/* .main-menu.menu-dark .navigation > li.open {
    border-left: 4px solid #bbdce0 !important;
} */

.header-navbar .navbar-container {
    transition: .3s ease all;
    background: #bbdce0 !important;
}
.main-menu.menu-dark .navigation {
    background: #003B46 !important;
}
/* .main-menu.menu-dark .navigation>li .active {
    background: #00000036 !important;
} */
.main-menu.menu-dark .navigation > li.open > a {
    color: #e8e8e8;
	background: #00000036 !important;
}
.main-menu.menu-dark .navigation li.active>a, .main-menu.menu-dark .navigation li.hover>a, .main-menu.menu-dark .navigation li.open>a {
    color: #FFF;
    background: #00000036 !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(odd) .menu-item{
background-color: #bbdce0 !important;
color: #003B46 !important;
}
.main-menu.menu-dark .navigation>li ul li:nth-child(even) .menu-item{
    background-color: #eaf6ff !important;
    color: #003B46 !important;
}
.main-menu.menu-dark .navigation>li ul li .menu-item.active{
    background-color: #003B46 !important;
    color: #fff !important;
}
/* .main-menu-content .nav-item .menu-content.active{
    background: #bbdce0 !important;
    color: #000 !important;
  } */
  /* .main-menu.menu-dark .navigation>li ul .active:nth-of-type(odd) {
    background: #52ab98 !important;
}
.main-menu.menu-dark .navigation>li ul .active:nth-of-type(even) {
    background: #000 !important;
}
.main-menu.menu-dark .navigation>li ul a {
    color: #003B46 !important;
}
.main-menu.menu-dark .navigation li ul a.active {
    color: #fff !important;
} */
  /* .main-menu.menu-dark .navigation>li .active {
    background: #00000036 !important;
  } */
.card-header {
    background: #eaf6ff !important;
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table thead th, .ag-theme-alpine .ag-header-row {
    background: #52ab98 !important;
    color: #fff;
}
.modalpage-accordion.accordion .card-header {
    background: #eaf6ff !important;
	color: black;
}
.btn-md, .btn-sm, .btn{
	border: 1px solid #fff !important;
}
/* .wizard-body {
    background-image: linear-gradient(
45deg
, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
} */

.main-menu.menu-dark .navigation li a .badge{
  background-color: #bbdce0;
  color: #003B46;
}
.main-menu.menu-dark .navigation>li ul li .menu-item .badge{
    background-color: #003b46 !important;
    color: #bbdce0 !important;
}
.main-menu.menu-dark .navigation>li ul li .menu-item.active .badge{
    background-color: #bbdce0 !important;
    color: #003B46 !important;
}