body {
    background: #F5F7FA !important;
    color: #333;
}
.navbar-semi-dark .navbar-header {
    background: #404E67 !important;
}
.main-menu.menu-dark {
    color: #DCDCDC;
    background: #404E67 !important;
}
.main-menu.menu-dark .navigation > li.open {
    border-left: 4px solid #bbdce0 !important;
}
.header-navbar .navbar-container {
    transition: .3s ease all;
    background: #ffffff !important;
}
.main-menu.menu-dark .navigation {
    background: #404E67 !important;
}
.main-menu.menu-dark .navigation>li .active {
    background: #00000036 !important;
}
.main-menu.menu-dark .navigation > li.open > a {
    color: #e8e8e8;
	background: #00000036 !important;
}
.main-menu.menu-dark .navigation li.active>a, .main-menu.menu-dark .navigation li.hover>a, .main-menu.menu-dark .navigation li.open>a {
    color: #FFF;
    background: #00000036 !important;
}
.card-header {
    background: #eeeeee !important;
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom: 0px;
}
.table thead th, .ag-theme-alpine .ag-header-row {
    background: #0093b4 !important;
    color: #fff;
}
.modalpage-accordion.accordion .card-header {
    background: #eeeeee !important;
	color: black;
}
/* .wizard-body {
    background-image: linear-gradient(
45deg
, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
} */