table {
    /* reset width */
    width: auto;
    margin: 0px auto;
}


/* Horizontal drawing (default) styles */


/* Draw the lines */

.jOrgChart .line {
    height: 27px;
    width: 1px;
}

.jOrgChart .down {
    background-color: #888888;
    margin: 0px auto;
}

.jOrgChart .top {
    border-top: 1px dashed #888888;
}

.jOrgChart .left {
    /* border-right: 1px solid white; */
}

.jOrgChart .right {
    border-left: 1px dashed #888888;
}


/* node cell */

.jOrgChart td {
    text-align: center;
    vertical-align: top;
    padding: 0;
}

.jOrgChart td.node-container>table>tr:nth-child(3) {
    opacity: 1;
}

node-container
/* The node */

.jOrgChart .node.selected {
    background-color: #3399FF !important;
    border: 1px dotted black;
}

.jOrgChart .node {
    
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
}
.jOrgChart .node {
    border: solid 1px #dad5af;
    background: linear-gradient(45deg,#e3e7b7,#f0f4c3)!important;
    display: inline-block;
    width: 180px;
    /* vertical type node width */
    min-height: 26px;
    /* vertical type node min-height */
    z-index: 10;
    margin: 0px 10px;
    cursor: pointer;
    /* display: flex; */
    color: #5d5f36;
    padding: 3px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 2rem;
    /* border-radius: 6px; */
    /* box-shadow: 0 5px 4px rgb(146 146 146 / 30%); */
    box-shadow: 0 6px 20px 0 rgba(255,202,40,.2)!important;
    
    /* Animation Hover */
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


.jOrgChart .node:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}
/* support vertical draw child nodes */

.jOrgChart .node.vertical {
    /* float: left; */
}

.jOrgChart .cover {
    position: absolute;
    cursor: pointer;
    margin-top: -8px;
    margin-left: -10px;
    width: 19px;
    background: #f44336;
    border-radius: 12px;
}


/* Vertical drawing styles */

.jOrgChart .multi-tree {
    margin: 0;
    /* float: left; */
}

.jOrgChart .multi-tree .content {
    color: #5d5f36;
    background-color: white;
    text-decoration: none;
    border: 1px solid #dad5af;
    width: 135px;
    /* horizontal type node width */
    min-height: 28px;
    /* horizontal type node min-height */
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgb(88 88 88 / 9%);
    padding: 4px 0px;
    font-weight: 500;
    box-shadow: 0 6px 20px 0 rgba(255,202,40,.2)!important;
    animation-name: animateIn;
    animation-duration: 850ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    margin-left: 0px !important;
}

.jOrgChart .multi-tree .selected {
    background: #8bc34a !important;
    border: 1px solid #9e9e9e;
    color: #383a1c;
}

.jOrgChart .multi-tree span {
    width: 109px;
    text-decoration: none;
    display: block;
    margin: 0 0 0 1.2em;
    padding-top: 20px;
    background-color: transparent;
    border: dashed #888888;
    border-width: 0 0 1px 1px;
    padding-left: 15px !important;
}
/* .jOrgChart .node-container:last-child .multi-tree span .content::before{
    content: '\f192' !important;
    position: absolute;
    left: 0;
    color: #006734;
    font-family: "Font Awesome 5 Free";
    font-weight: normal;
    font-size: 15px;
    background: #fff;
    border-radius: 2rem;
    width: 16px;
    height: 16px;
} */
.jOrgChart .node-container:first-child .multi-tree span .content {
    justify-content: start;
    display:flex !important;
    align-items: center;
}

.jOrgChart .multi-tree span .content {
    /* display: block; */
    position: relative;
    top: 2.1em;
    background: linear-gradient(45deg,#e3e7b7,#f0f4c3)!important;
    margin-left: 0px !important;
    margin: 0 0 0.2em .7em;
    padding: 6px 5px;
    font-size: 13px;
}

.jOrgChart .multi-tree span .content {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.jOrgChart .multi-tree span .content:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.jOrgChart .multi-tree ul,
.multi-tree li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jOrgChart .multi-tree ul li {
    line-height: 1.2em;
}

.jOrgChart .multi-tree ul li ul li {
    margin: 0 0 0 1.2em;
    border-left: 1px solid black;
    /* vertical node connector line */
}


/* if node is last then need to remove left connector */

.jOrgChart .multi-tree li.last ul li {
    border: none;
}
.jOrgChart h3 {
    font-weight: 800;
    font-size: 23px;
    padding: 10px 0px;
}






/* Organization Custimization */

.icon-circle{
    float: left;
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.icon-circle img{width: 100%;border-radius: 50%;}


.icon-circle-2{
    float: left;
    min-height: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    width: 30px !important;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.icon-circle-2 img{width: 100%;border-radius: 50%;}


.icon-circle-3{
    float: left;
    height: 30px;
    width: 30px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.icon-circle-3 img{width: 100%;border-radius: 50%;}

.content .text{
    padding: 5px 0px;
}

@keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px);
    }
    
    100% {
      opacity: 1;
    }
  }


  .content.contents1se{
    margin-left: 0px !important;
}