@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/* Extra small devices (portrait phones, less than 576px) */

@media (min-width: 320px) and (max-width: 576px) {
    header .navbar-brand img {
        width: 280px !important;
        margin-left: 20px;
    }
    header .navbar-brand {
        position: absolute;
        left: 60px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    header .navbar-brand img {
        width: 280px;
        z-index:-9999;
        position:relative;
    }
    header .navbar-brand {
        position: absolute;
        top: -8px;
        left: 60px;
        padding: 0px !important;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header .navbar-brand img {
        width: 350px;
        margin-left: 0px;
    }
    header .navbar-brand {
        position: absolute;
        top: -3px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    header .navbar-brand img {
        width: 410px;
        margin-left: 0px;
    }
    header .navbar-brand {
        position: absolute;
        top: -14px;
    }
 }