@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'DS-DIGIB';
    font-weight: bold;
    src: url("../fonts/DS-DIGIB.TTF");
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 14px;
    color: #000;
    line-height: 1.8;
}

main {
    background: url("../../web-styles/images/bodybg.png");
    margin-top: 92px;
}

.cross {
    position: absolute;
    z-index: 1;
    opacity: 1;
    color: #000000;
    background: white !important;
    right: 15px;
    padding: 3px 9px !important;
    border-radius: 35px;
    top: 15px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1a237e;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 36px;
    font-size: 23px;
}

#myBtn:hover {
    background-color: #555;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 150px;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background: black;
    height: 50px;
}

.carousel-control-prev {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.carousel-control-next {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.carousel-control-next-icon {
    background-image: url("../images/next.svg");
}

.carousel-control-prev-icon {
    background-image: url("../images/prev.svg");
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #05970b;
    text-decoration: none;
    background-color: #e8f5e9;
    /* font-weight: 500; */
}

.dropdown-item {
    padding: 8px 30px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9fbe7;
}

.navbar-dark .navbar-nav .nav-link i {
    font-size: 11px;
    margin-left: 4px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
    background: #1a237e;
}

.nav-link {
    display: block;
    padding: 1.5rem 1rem;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification h6 {
    background: #f44336;
    padding: 13px 22px;
    color: white;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 13px;
}

.notification p {
    font-size: 13px;
    color: black;
    letter-spacing: 0.2px;
}

.form-control.headsearch {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 1px);
    padding: 6px .75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.objectives li {
    margin-bottom: 18px;
    list-style-type: none;
}

.objectives li::before {
    content: url(../images/objimg.svg);
    position: absolute;
    left: 28px;
    margin-top: 3px;
}


/* Loader  */

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) 50% 50% no-repeat rgb(253 253 253 / 91%);
}

#loader p {
    position: absolute;
    left: 48%;
    top: 54%;
}


/* Common class */

.btn-pdf {
    background: #6f3d2c;
    color: white;
    font-size: 13px;
    outline: none
}

.btn-pdf:hover {
    background: #6f3d2c;
    color: white;
    font-size: 13px
}

.btn-pdf:focus {
    box-shadow: none;
}

.common-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px;
    height: 50vh;
}

.common-content img {
    margin-bottom: 14px;
    width: 150px;
}

@media (min-width: 1366px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

@media (min-width: 1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1366px;
    }
}

@media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.breadcum {
    text-align: center;
    padding: 9px;
    background: #eceff1;
}

.breadcrum-inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.breadcum h1 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 0px;
}

.breadcum p {
    margin: 0px;
    font-size: 12px;
}

.webtable-data tr th {
    background: #1f475a;
    color: white;
    padding: 10px 15px;
}

.webtable-data tr td {
    padding: 7px 15px;
    vertical-align: middle;
    font-size: 13px;
}

.webtable-data tr td img {
    width: 23px;
    margin: 4px;
}

.landingpop {
    background: none;
    border: 0px;
}

.eserive-btn {
    background: #f44336 !important;
    /* padding: 3px; */
    /* border-radius: 4px; */
}

.page-border {
    box-shadow: 0px 0px 32px 15px rgb(222 222 222 / 25%);
    background: #fff;
    min-height: 500px;
    max-width: 1366px;
    margin: 0px auto;
    width: 100%;
}

.page-item.disabled .page-link {
    color: #b6b6b6;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .3rem .5rem;
    margin-left: 7px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    font-size: 13px;
}

.page-btn {
    font-size: 12px;
    background: #009688;
    border: none;
    color: white;
}

.page-btn:hover,
.page-btn:focus {
    color: #fff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow: none;
}


/* Homepage Index */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 3px 10px #3b3b3b8c;
}


/* About section */

.fullmap {
    float: right;
    padding: 10px 15px;
    position: absolute;
    right: 13px;
    background: #535353;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.fullmap:hover {
    color: white;
}

.content-page h3 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 16px;
}

.content-page p {
    font-size: 14px;
    margin-bottom: 40px;
}

.table td,
.table th {
    padding: 4px 14px;
    vertical-align: middle;
}

.card {
    border: 0px;
    margin-bottom: 10px;
}


/* .collapse {
    border: 1px solid #dddddd
} */


/* Navbrand Logo */

.owl-carousel img {
    width: 100% !important;
    border: 5px solid #e6e6e6 !important;
    border-radius: 9px !important;
}


/* Header Fixed */

header {
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
}

header.navbar-fixed-top {
    animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    box-shadow: 0 4px 12px -4px rgb(0 0 0 / 75%);
    left: 0;
    position: fixed !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


/* Back to Top */

#backtotop {
    display: inline-block;
    background-color: #004d40;
    ;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.7em;
    line-height: 45px;
    color: #fff;
}

#backtotop:hover {
    cursor: pointer;
    background-color: #333;
}

#backtotop:active {
    background-color: #555;
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
}


/* Preloader */

.preloader {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    text-align: center;
}

.preloader .spinner-border {
    top: 44%;
    position: relative;
    width: 2rem;
    height: 2rem;
    color: #fff !important;
}