#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;
}

.ng-autocomplete {
    width: 100% !important;
}
.card {
    border-radius: 1rem;
}

.card.border-teal {
    border-radius: 0rem !important;
}
.modal-body .card:hover {
    box-shadow:0px 5px 10px rgba(0,0,0,0.20);
}
.collapse-icon .card-header {
    background: #fff !important;
    border: 2px solid #26c2bf !important;
    margin-bottom: 1rem !important;
}
.card.border-teal {
    border-radius: 0rem !important;
  }
  .employee-details .table label{
      margin-bottom: 0px;
  }
  .employee-details h4{
      padding: 5px 2px;
      background: #e4f3ff;
      margin-bottom: 0;
  }
  .employee-details .table td, .table th {
      padding: 5px 8px;
  }
  /* .employee-details .table td:last-child{
      font-weight: bold;
  } */
