.hide {
  display: none;
}

inout {
  width: 20% !important;
  text-align: center !important;
}
.nav-link {
  padding: 0.5rem 1rem;
}
/* .max-scroll{
    max-height: 500px;overflow-x: hidden;overflow-y: auto;padding: 5px 5px;
} */
.max-scroll {
  max-height: 250px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px 5px;
  font-size: 12px !important;
}
.border-bottom-1 {
  border-bottom: 0px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.card-header {
  margin-bottom: 5px;
}
.alert-dismissible {
  padding-top: 2rem;
  padding-right: 1.25rem !important;
}
.alert-dismissible .close {
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 0.75rem 0.25rem;
  color: inherit;
}

.alert-dismissible .save {
  position: absolute;
  top: -13px;
  right: 25px;
  opacity: 0.5;
  padding: 0.75rem 0.25rem;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.table td,
.table th {
  padding: 7px 5px;
}

.event_calwise > .card > .card-header {
  margin-bottom: 0px;
  background-color: #cfd8dc;
  padding: 10px 15px;

  margin-top: 8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.event_calwise > .card > .card-header a {
  color: #0f0f10;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.event_calwise .card .card-content {
  background: #fff;
  padding: 3px;
  margin-bottom: 9px;
  box-shadow: 0px 4px 7px rgb(0 0 0 / 18%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.event_calwise .card .card-content .card-body {
  margin: 3px 0px;
}

.event_calwise > .card > .card-header a img {
    width: 24px;
    margin-right: 10px;

    
  }
  #event_info{   
    padding: 9px;
    border-radius: 6px;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  #event_info table{
    margin: 0px;
  }

  #event_info .table tr th {
     font-weight: 600;
     width: 75px;
     color: black;
     padding: 1px;    border: 0px;
  }

  #event_info .table tr td{padding: 1px;    border: 0px;}

  .collapse-icon [data-toggle=collapse]:before {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    font-family: feather;
    content: '\e8b1';
    transition: all .3s linear 0s;
    background: #fff;
    padding: 0px 3px;
    border-radius: 34px;
    color: black;
    font-weight: 800;
}

.collapse-icon [data-toggle=collapse]:after {
    position: absolute;
    top: 46%;
    right: 15px;
    margin-top: -7px;
    font-family: feather;
    content: '\e897';
    transition: all .3s linear 0s;
    background: #fff;
    padding: 0px 3px;
    border-radius: 34px;
    color: black;
    font-weight: 800;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .label-notation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .label-notation p{
    margin-bottom: 5px;
    /* line-height: 3; */
    font-size: 10px;
    font-weight: bold;
  }
  .label-notation span.birth{
    width: 10px;
    height: 10px;
    padding: 0px 6px;
    margin-right: 4px;
    background: #D4FEE5;
    border: 2px solid #16C184;
  }
  .label-notation span.ann{
    width: 10px;
    height: 10px;
    
    padding: 0px 6px;
    margin-right: 4px;
    background: #FEF2D4;
border: 2px solid #FFBD59;
}

.BIRTHDAYREM {
  background: #D4FEE5;
  border: 0px solid #16C184;
}
.ANNIVERSARYREM{
  background: #FEF2D4;
  border: 0px solid #FFBD59;
}

.fc-h-event.HOLIDAY {
  background: #ce93d8 !important;
  color: #8bc34a !important;
  text-align: center !important;
}




.event_date{
  padding: 20px 4px;
  border-radius: 5px;
  font-size: 11px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 60px;
  /* display: flex; */
  line-height: 18px;
}

.ANNIVERSARYREM.event_date{
  background: #ffc107;
}
/* .ANNIVERSARYREM.event_date:after{
  content:url('../../../assets/app-assets/images/master.png'); 
  position:relative; 
  z-index:100000; 
  left:-50px;
  top:10px;
} */

.event_date.BIRTHDAYREM{
  background: #16C184;
}