<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<div class="preloader" [hidden]="!CalDataLoad">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Calendar</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>P & A Services</a>
                        </li>
                        <li class="breadcrumb-item active">Calendar
                        </li>
                    </ol>
                </div>
            </div>
        </div>
       

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <full-calendar #fc deepChangeDetection="true" width="100%"
                                            style="width: 100% !important;" [options]="calendarOptions"></full-calendar>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="label-notation">
                                            <p> <span class="birth"> </span> Birthday </p>
                                            <p> <span class="ann"> </span> Anniversary</p>
                                        </div>

                                        <div id="accordionWrap1" class="event_calwise" role="tablist" aria-multiselectable="true">
                                            <div class="card accordion collapse-icon accordion-icon-rotate">
                                                <div id="heading11" class="card-header primary" data-toggle="collapse"
                                                    href="#accordion11" aria-expanded="true"
                                                    aria-controls="accordion11">
                                                    <a class="card-title lead"><img src="./assets/app-assets/images/today.svg" alt="today" srcset="">
                                                        Today</a>
                                                </div>
                                                <div id="accordion11" role="tabpanel" data-parent="#accordionWrap1"
                                                    aria-labelledby="heading11" class="collapse show">
                                                    <div class="card-content">
                                                        <div [hidden]="!todaynodata" class="mt-2 border-bottom-1">
                                                            <div class="col-md-12 text-center mt-2">No Events Found</div>
                                                        </div>
                                                        <div [hidden]="todaynodata" class="card-body max-scroll">

                                                            <div  *ngFor="let todayevent of today;let i=index;">
                                                                <div   id="event_info" [ngClass]="todayevent.classname">

                                                                <table class="table">
                                                                   
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <td>{{todayevent.emP_NAME}}</td>
                                                                        </tr>
                                                                        <tr >
                                                                            <th>Designation </th>
                                                                            <td>{{todayevent.designation}}</td>
                                                                        </tr>
                                                                       
                                                                        <tr >
                                                                            <th>Event</th>
                                                                            <td>{{todayevent.type}}</td>
                                                                        </tr> 
                                                                        
                                                                        <tr >
                                                                            <th>Date</th>
                                                                            <td>{{todayevent.dob | date: 'dd-MM-yyyy'}}</td>
                                                                        </tr>
                                                                   
    
                                                                </table>
                                                                </div>
                                                            </div>
                                                            


                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="heading12" class="card-header primary" data-toggle="collapse"
                                                    href="#accordion12" aria-expanded="false"
                                                    aria-controls="accordion12">
                                                    <a class="card-title lead collapsed"><img src="./assets/app-assets/images/thisweek.svg" alt="today" srcset=""> 
                                                        This Week</a>
                                                </div>
                                                <div id="accordion12" role="tabpanel" data-parent="#accordionWrap1"
                                                    aria-labelledby="heading12" class="collapse" aria-expanded="false">
                                                    <div class="card-content">
                                                        <div class="card-body max-scroll">


                                                            <div [hidden]="!thisweeknodata"  class="mt-2 border-bottom-1">
                                                                <div class="col-md-12 text-center">No Events Found</div>
                                                            </div>


                                                            <div  *ngFor="let todayevent of thisweek;let i=index;">

                                                            <div  id="event_info" [ngClass]="todayevent.classname">

                                                            
                                                                <!-- <ul class="event_list" [hidden]="thisweeknodata">
                                                                    <li> <b>Name </b>:{{todayevent.emP_NAME}}  </li>
                                                                    <li> <b>Designation </b> : {{todayevent.designation}}</li>
                                                                    <li> <b>Event </b> : {{todayevent.type}}</li>
                                                                    <li> <b>Date </b>: {{todayevent.dob}}</li>
                                                                </ul> -->


                                                            <table [hidden]="thisweeknodata" class="table w-75  mb-0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <td>: {{todayevent.emP_NAME}}</td>
                                                                    </tr>
                                                                    <tr >
                                                                        <th>Designation</th>
                                                                        <td>: {{todayevent.designation}}</td>
                                                                    </tr>
                                                                 
                                                                    <tr>
                                                                        <th>Event</th>
                                                                        <td>: {{todayevent.type}}</td>
                                                                    </tr>
                                                                    <!-- <tr>
                                                                        <th>Date</th>
                                                                        <td rowspan="3"></td>
                                                                    </tr> -->
                                                                   
                                                                </tbody>

                                                            </table> 

                                                            <div class="event_date" [ngClass]="todayevent.classname"> {{todayevent.dob | date: 'dd-MM-yyyy'}}</div>
                                                       
                                                        </div>
                                                    </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="heading13" class="card-header primary" data-toggle="collapse"
                                                    href="#accordion13" aria-expanded="false"
                                                    aria-controls="accordion13">
                                                    <a class="card-title lead collapsed"> <img src="./assets/app-assets/images/nextweek.svg" alt="NextWeek" srcset=""> 
                                                        Next Week</a>
                                                </div>
                                                <div id="accordion13" role="tabpanel" data-parent="#accordionWrap1"
                                                    aria-labelledby="heading13" class="collapse" aria-expanded="false">
                                                    <div class="card-content">
                                                        <div class="card-body max-scroll">
                                                            <div [hidden]="!nextweeknodata"  class="mt-2 border-bottom-1">
                                                                <div class="col-md-12 text-center">No Events Found</div>
                                                            </div>

                                                            <div   *ngFor="let todayevent of nextweek;let i=index;">

                                                                <div  id="event_info" [ngClass]="todayevent.classname">

                                                            <table [hidden]="nextweeknodata" class="table mb-0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <td >{{todayevent.emP_NAME}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Designation </th>
                                                                        <td >{{todayevent.designation}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                      
                                                                        <th>Event</th>
                                                                        <td>{{todayevent.type}}</td>
                                                                    </tr>
                                                                   
                                                                </tbody>

                                                            </table>

                                                            <div class="event_date" [ngClass]="todayevent.classname"> {{todayevent.dob | date: 'dd-MM-yyyy'}}</div>
                                                       
                                                        </div>
                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="heading14" class="card-header primary" data-toggle="collapse"
                                                    href="#accordion14" aria-expanded="false"
                                                    aria-controls="accordion14">
                                                    <a class="card-title lead collapsed"><img src="./assets/app-assets/images/nextmonth.svg" alt="today" srcset="">  Next Month</a>
                                                </div>
                                                <div id="accordion14" role="tabpanel" data-parent="#accordionWrap1"
                                                    aria-labelledby="heading14" class="collapse" aria-expanded="false"
                                                    style="height: 0px;">
                                                    <div class="card-content">
                                                        <div class="card-body max-scroll">
                                                            <div [hidden]="!nextmonthnodata"
                                                                class="mt-2 border-bottom-1">
                                                                <div class="col-md-12 text-center">No Events Found</div>
                                                            </div>

                                                            <div *ngFor="let todayevent of nextmonth;let i=index;">

                                                                <div  id="event_info" [ngClass]="todayevent.classname">
                                                            <table [hidden]="nextmonthnodata" class="table mb-0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <td colspan="3">{{todayevent.emP_NAME}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Designation </th>
                                                                        <td colspan="3">{{todayevent.designation}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                       
                                                                        <th>Event</th>
                                                                        <td>{{todayevent.type}}</td>
                                                                    </tr>
                                                                 
                                                                </tbody>

                                                            </table>
                                                            <div class="event_date" [ngClass]="todayevent.classname"> {{todayevent.dob | date: 'dd-MM-yyyy'}}</div>
                                                       
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <form [formGroup]="EmpNotesForm">

                                            <div [hidden]="!isNotesAdd" style="padding-top: 1rem !important;"
                                                class="alert alert-light alert-dismissible fade show text-center"
                                                role="alert">



                                                <div class="row">
                                                    <div class="col-md-8" style="text-align: left;">
                                                        <label for="Notes">Notes - {{NotesDate | date: 'dd-MM-yyyy'}}<span
                                                                class="text-danger">*</span></label>



                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" [hidden]="!isNotesSavebtn"
                                                            (click)="SubmitEmpNotes();" class="save"><i
                                                                class="fa fa-save"></i></button>
                                                        <button type="button" class="close" (click)="closenotes()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <div *ngIf="consubmitted && EmpNotesFormCtrl.Notes.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="EmpNotesFormCtrl.Notes.errors.required">Notes
                                                            is required</div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <!-- <textarea class="form-control" rows="24">{{notesview}}</textarea> -->
                                                    <textarea type="text" class="form-control" maxlength="4000"
                                                        formControlName="Notes" style="height:300px;"
                                                        [ngClass]="{ 'is-invalid': consubmitted && EmpNotesFormCtrl.Notes.errors }"></textarea>

                                                </div>


                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END: Page Main-->
<div bsModal #empinoutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Employee Check In - Out</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="empinoutModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Date</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Checkinout of Checkinoutlist;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{Checkinout.date | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{Checkinout.checK_IN_TIME}}</td>
                                    <td>{{Checkinout.checK_OUT_TIME}}</td>

                                </tr>

                            </tbody>
                        </table>


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Date</th>
                                    <th>Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let todayevent of today;let i=index;">
                                    <td>{{todayevent.emP_NAME}}</td>
                                    <td>{{todayevent.designation</td>
                                    <td>{{todayevent.dob | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{todayevent.type}}</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<!-- END: Page Main-->
<div bsModal #empNotesdisplayModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Employee Notes</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="empNotesdisplayModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Notes of CheckNoteslist;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{Notes.notE_DATE | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{Notes.notE_TIME}}</td>
                                    <td>{{Notes.notes}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>