#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.ag-theme-alpine {
    height: 50%;
    width: 100%;
    min-height: 60vh;

}
.ag-theme-alpine .ag-cell-value, .ag-group-value {
    overflow: hidden;
    text-overflow: unset !important;
}

.upload {
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.table thead th, .table thead td{
white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
        
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}

    /* img:hover {
        transform: scale(1.3);
        } */
 

.zoom:hover {
  transform: scale(0.5); /* (150% zoom)*/
}

