<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Insurance Details</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Registrations</a>
                        </li>
                        <li class="breadcrumb-item active">Insurance Details
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Insurance Company Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button class="btn btn-secondary btn-md ml-1" type="button"
                                (click)="AddInsurance()"><i class="fa fa-plus-circle"></i>
                                Add</button>
                            <button class="btn btn-info btn-md ml-1" (click)="HistoryInsurance('all');">
                                <i class="fa fa-clock-o"></i>
                                History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true" (cellClicked)="dataclicked($event)"
                                                        [paginationPageSize]="20" [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" id="editSection" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="editSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} Insurance Company Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="InsForm">
                    <input type="hidden" formControlName="INS_CODE" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Owner_Name">Company Name <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny Name" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" [readonly]='isEdit' lettersOnly autocomplete="off" maxlength="100"
                                    formControlName="CompanyName"
                                    [ngClass]="{ 'is-invalid': issubmitted && ins.CompanyName.errors }"
                                    class="form-control" placeholder="Enter Company Name">
                                <div *ngIf="issubmitted && ins.CompanyName.errors" class="invalid-feedback">
                                    <div *ngIf="ins.CompanyName.errors.required">CompanyName Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Owner_Name">Description <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny Description" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" lettersOnly autocomplete="off" maxlength="200"
                                    formControlName="Description"
                                    [ngClass]="{ 'is-invalid': issubmitted && ins.Description.errors }"
                                    class="form-control" placeholder="Enter Description">
                                <div *ngIf="issubmitted && ins.Description.errors" class="invalid-feedback">
                                    <div *ngIf="ins.Description.errors.required">Description Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="StartDate">Start Date <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny Start Date" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <div class="input-group">
                                    <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="StartDate" ngbDatepicker
                                        #d1="ngbDatepicker" [disabled]='isEdit ? true : null' readonly
                                        formControlName="StartDate" (click)="d1.toggle()"
                                        [ngClass]="{ 'is-invalid': issubmitted && ins.StartDate.errors }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" type="button"
                                            (click)="d1.toggle()" type="button"><i
                                                class="ficon feather icon-calendar"></i></button>
                                    </div>
                                    <div *ngIf="issubmitted && ins.StartDate.errors" class="invalid-feedback">
                                        <div *ngIf="ins.StartDate.errors.required">Start Date
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="EndDate">End Date <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny End Date" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <div class="input-group">
                                    <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="EndDate" ngbDatepicker
                                        #d2="ngbDatepicker" readonly formControlName="EndDate" (click)="d2.toggle()"
                                        [ngClass]="{ 'is-invalid': issubmitted && ins.EndDate.errors }" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" type="button"
                                            (click)="d2.toggle()" type="button"><i
                                                class="ficon feather icon-calendar"></i></button>
                                    </div>
                                    <div *ngIf="issubmitted && ins.EndDate.errors" class="invalid-feedback">
                                        <div *ngIf="ins.EndDate.errors.required">End Date
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PremiumAmount">Premium Amount <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny Premium Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" digitsOnly autocomplete="off" maxlength="15"
                                    formControlName="PremiumAmount"
                                    [ngClass]="{ 'is-invalid': issubmitted && ins.PremiumAmount.errors }"
                                    class="form-control" placeholder="Enter Premium Amount">
                                <div *ngIf="issubmitted && ins.PremiumAmount.errors" class="invalid-feedback">
                                    <div *ngIf="ins.PremiumAmount.errors.required">Premium Amount is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row my-1" *ngIf="isEdit">
                        <div class="col-md-12 text-center">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="IsInsActive" id="IsInsActive1" value="1"
                                    formControlName="IsInsActive" class="custom-control-input">
                                <label class="custom-control-label" for="IsInsActive1">Active</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="IsInsActive" id="IsInsActive2" value="0"
                                    formControlName="IsInsActive" class="custom-control-input">
                                <label class="custom-control-label" for="IsInsActive2">Inactive</label>
                            </div>
                            <div *ngIf="ins.IsInsActive.value == '0'" class="col-md-4">
                                <label for="InsRemarks">Remarks <span class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Comapny Remarks" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                <input type="text" class="form-control" placeholder="Enter Remarks" lettersOnly
                                    maxlength="200" formControlName="InsRemarks" />
                            </div>
                        </div>
                    </div>
                    <div class="row d-block text-center mb-2">
                        <button type="button" *ngIf="!isEdit" (click)="SubmitInsDetails();"
                            class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Submit
                            Details</button>
                        <button type="button" *ngIf="isEdit" (click)="UpdateOutDetails();"
                            class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Update
                            Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Insurance Company Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Comapny Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vcname}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Description <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vdisc}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Start Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vsdate | date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">End Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vedate | date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Premium Amount <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vpamount}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Status <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6" *ngIf="vactive == '1'">
                                <i class="fa fa-circle text-success"></i> Active
                            </div>
                            <div class="col-md-6" *ngIf="vactive == '0'">
                                <i class="fa fa-circle text-success"></i> Inactive
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Rematks <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vremarks}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="viewModal.hide()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- History Details Modal -->
<div class="modal fade" id="historySection" bsModal #historyModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Insurance Company History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Column Name</th>
                                    <th *ngIf="isEdit">Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of ins_history;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="isEdit">{{hsty.evenT_CODE}}</td>
                                    <td> {{hsty.olD_VALUE}} </td>
                                    <td>{{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyModal.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>