<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Employee Past Attendance</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>P & A Services</a>
                        </li>
                        <li class="breadcrumb-item active">Employee Past Attendance
                        </li>
                    </ol>
                </div>
            </div>
        </div>
     
     

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Past Attendance Approve Or Reject
                            </h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div >
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-secondary btn-md" type="button" (click)="AddEmpLeave()">
                                        <i class="fa fa-plus-circle"></i> Add Past Attendance</button>
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="HistoryAll()">
                                        <i class="fa fa-plus-circle"></i> History</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Employee Past Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="employeeAttendanceForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="FromDate">From Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select From Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="FromDate"
                                                ngbDatepicker #d="ngbDatepicker" readonly (click)="d.toggle()"
                                                formControlName="FromDate"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.FromDate.errors }"
                                                [maxDate]="PreviousMonthTo" [minDate]="PreviousMonthFrom"
                                                />



                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && EmpAttendanceCtrl.FromDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpAttendanceCtrl.FromDate.errors.required">From Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ToDate">To Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select To Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="ToDate"
                                                ngbDatepicker #d2="ngbDatepicker" readonly formControlName="ToDate"
                                                (click)="d2.toggle()"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.ToDate.errors }"
                                                [maxDate]="PreviousMonthTo" [minDate]="PreviousMonthFrom" />

                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d2.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && EmpAttendanceCtrl.ToDate.errors"
                                                class="invalid-feedback">

                                                <div *ngIf="EmpAttendanceCtrl.ToDate.errors.required">To Date

                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="sectionname">In Time <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select In Time Hourse & Minutes"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a><span class="text-danger">*</span></label>
                                    <div class="d-flex">
                                        <div class="form-group">
                                            <select class="custom-select block selectwarehouse" formControlName="InHours"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.InHours.errors }">
                                                <option value="">HH</option>
                                                <option value="01">1</option>
                                                <option value="02">2</option>
                                                <option value="03">3</option>
                                                <option value="04">4</option>
                                                <option value="05">5</option>
                                                <option value="06">6</option>
                                                <option value="07">7</option>
                                                <option value="08">8</option>
                                                <option value="09">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                               
                                            </select>
                                            <div *ngIf="consubmitted && EmpAttendanceCtrl.InHours.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpAttendanceCtrl.InHours.errors.required">Hours
                                                    is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group mx-1">
                                            <select class="custom-select block selectwarehouse" formControlName="InMin"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.InMin.errors }">
    
                                            <option value="">MM</option>
                                            <option value="00">00</option>
                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>
    
                                        </select>
                                        <div *ngIf="consubmitted && EmpAttendanceCtrl.InMin.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpAttendanceCtrl.InMin.errors.required">Minutes
                                                    is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <select class="custom-select block selectwarehouse" formControlName="InAM">
    
                                            <option value="AM">AM</option>
                                            
    
                                        </select>
                                        
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="col-md-6">
                                    <label for="sectionname">Out Time <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select Out Time Hours & Minutes"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a><span class="text-danger">*</span></label>
                                    <div class="d-flex">
                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse" formControlName="OutHours"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.OutHours.errors }">
                                            <option value="">HH</option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <div *ngIf="consubmitted && EmpAttendanceCtrl.OutHours.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpAttendanceCtrl.OutHours.errors.required">Hours
                                                is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group mx-1">
                                        <select class="custom-select block selectwarehouse" formControlName="OutMinu"
                                        [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.OutMinu.errors }">

                                        <option value="">MM</option>
                                        <option value="00">00</option>
                                        <option value="05">05</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35">35</option>
                                        <option value="40">40</option>
                                        <option value="45">45</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>

                                    </select>
                                    
                                    <div *ngIf="consubmitted && EmpAttendanceCtrl.OutMinu.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpAttendanceCtrl.OutMinu.errors.required">Minutes
                                                is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse" formControlName="OutPM">
                                        <option value="PM">PM</option>
                                    </select>
                                    
                                    </div>

</div>
                                </div>
                           
                           
                            </div>
                           

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="LeaveDay">Reason <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Reason"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block selectwarehouse" formControlName="Reason"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.Reason.errors }">
                                            <option value="">Select Reason </option>
                                            <option value="Forgot Access Card">Forgot Access Card</option>
                                            <option value="Forgot to Mark In">Forgot to Mark In</option>
                                            <option value="Forgot to Mark Out">Forgot to Mark Out</option>
                                            <option value="System Not Working">System Not Working</option>
                                            <option value="Was In Conference">Was In Conference</option>
                                            <option value="Was In Meeting">Was In Meeting</option>
                                            <option value="Was On Tour">Was On Tour</option>
                                            <option value="Was On Training">Was On Training</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <div *ngIf="consubmitted && EmpAttendanceCtrl.Reason.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpAttendanceCtrl.Reason.errors.required">Reason
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="RptManager">Approver <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Approver"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="hidden" formControlName="RptManagerID" />
                                        <input type="text" readonly="true" class="form-control" maxlength="100"
                                            placeholder="Reporting Manager" formControlName="RptManager"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpAttendanceCtrl.RptManager.errors }" />
                                        <div *ngIf="consubmitted && EmpAttendanceCtrl.RptManager.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpAttendanceCtrl.RptManager.errors.required">Approver
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div [hidden]="EmpAttendanceCtrl.Reason.value!='Others'" class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Reason">Other Reason <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Other Reason"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <textarea  class="form-control" maxlength="200" lettersOnly
                                            placeholder="Reason" formControlName="ReasonOther"></textarea>
                                            
                                            <div [hidden]="!showreasonerror" class='reasonerror'>Other Reason
                                                is required</div>

                                        
                                    </div>
                                </div>

                            </div>
                            <div class="row d-block text-center">
                                <button type="button" (click)="SubmitEmpLeave();" class="btn btn-primary">Submit
                                    </button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>






<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="historyempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE | date:'dd-MM-yyyy'}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="viewSectionLabel">Past Attendance Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive"> 
                            <h4 class="text-center">A.P State Warehousing Corporation</h4>    
                            
                            
                        <table class="table table-bordered">
                            <tr>
                                <th Width="50%">
                                    Name of the Applicant 
                                </th>
                                <td class="col-sm-6">{{EmpName_VIEW}} </td>                                
                            </tr>
                            <tr>
                                <th> Designation</th>
                                <td>{{Designation}}</td>
                            </tr>
                            <tr>
                                <th>Reason :</th>
                                <td>{{Reason_VIEW}}</td>
                            </tr>
                            <tr>
                                <th>Past Attendance (Dates) :</th>
                                <td>FromDate : {{FromDate_VIEW | date:'dd-MM-yyyy'}} <br> To Date : {{ToDate_VIEW | date:'dd-MM-yyyy'}}</td>
                            </tr>
                            <tr>
                                <th>Time :</th>
                                <td>In : {{In_VIEW}} <br> Out : {{Out_VIEW}}</td>
                            </tr>
                            
                        </table>
                        <br><br>
                        <div class="col-md-12">
                            <label>Emplyoee Signature :</label>
                        </div>
                        <div class="col-md-12">
                            <label>Date :</label> {{currentdate | date:'dd-MM-yyyy'}}
                        </div> <br><br>
                        <div class="col-md-12">
                            <label>Approved by :</label> {{Approved_by}}
                        </div>
                        <div class="col-md-12">
                            <label>Approve's Signature :</label>
                        </div>
                        <div class="col-md-12">
                            <label>Date :</label> {{ApprovedDate_VIEW | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    </div>
                </div>

               
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

