<!-- class 'hidden' for display none -->
<!-- <div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div> -->

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Warehouse Dashboard</h3>
            </div>
        </div>

        <div class="content-body">

            <!--stats-->
            <div class="row stats-count match-height">

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-primary border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100" *ngFor="let d of icon1">
                                        <h2>Warehouse <img src="./assets/app-assets/images/warehouse.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>{{d.iteM_NAME}}</span>
                                            <h3 class="primary">{{d.totaL_COUNT}}</h3>
                                        </div>
                                        <!-- <div class="d-flex justify-content-between">
                                            <span>Hired</span>
                                            <h3 class="primary">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>IG</span>
                                            <h3 class="primary">123</h3>
                                        </div> -->
                                        <button class="btn btn-sm btn-primary">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-danger border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Depositor <img src="./assets/app-assets/images/depositor.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>Register Depositor</span>
                                            <h3 class="danger">{{icon7.registeR_DEPOSITER}}</h3>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span>Live Depositor</span>
                                            <h3 class="danger">{{icon7.livE_DEPOSITER}}</h3>
                                        </div>

                                        <button class="btn btn-sm btn-danger">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-12">
                    <div class="card border-top-info border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Space Reservation <img src="./assets/app-assets/images/space-reserve.svg"></h2>
                                        <div class="row">
                                            <div class="col-md-6 border-right-grey-blue">
                                                <div class="d-flex justify-content-between">
                                                    <span>Total Capacity</span>
                                                    <h3 class="info">{{icon6.warehousE_CAPACITY}}</h3>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <span>Total Reserved</span>
                                                    <h3 class="info">{{icon6.reserveD_SPACE}}</h3>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <span>Reserved & Used</span>
                                                    <h3 class="info">{{icon6.occupieD_SPACE}}</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="d-flex justify-content-between">
                                                    <span>Reserved & Vacant</span>
                                                    <h3 class="info">{{icon6.unoccupied}}</h3>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <span>Total Unreserved Capacity</span>
                                                    <h3 class="info">{{icon6.unreserveD_SPACE}}</h3>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="btn btn-sm btn-info">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-success border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Periodic Quality Examination <img src="./assets/app-assets/images/quality-examination.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Scheduled</span>
                                            <h3 class="success">NA</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Completed</span>
                                            <h3 class="success">NA</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Pending</span>
                                            <h3 class="success">NA</h3>                                            
                                        </div>
                                        <button class="btn btn-sm btn-success">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-warning border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Receipt <img src="./assets/app-assets/images/warehouse-reciept.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>Generated</span>
                                            <h3 class="warning">{{icon2.generateD_RECEIPTS}}</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Pending</span>
                                            <h3 class="warning">{{icon2.receipT_PENDING}}</h3>
                                        </div>
                                        <button class="btn btn-sm btn-warning">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-pink border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Invoices <img src="./assets/app-assets/images/invoice.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>Invoice Generated</span>
                                            <h3 class="pink">{{icon3.invoicE_GENERATED}}</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Invoice Pending</span>
                                            <h3 class="pink">{{icon3.invoicE_PENDING}}</h3>
                                        </div>
                                        <button class="btn btn-sm btn-pink">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-blue border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <h2>Finance<img src="./assets/app-assets/images/FA.svg"></h2>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Amount Collected</span>
                                            <h3 class="blue">10,00,000 <small class="success"><i class="feather icon-trending-up"></i></small></h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Expenditure</span>
                                            <h3 class="danger">10,00,000 <small class="danger"><i class="feather icon-trending-down"></i></small></h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Outstanding Amount</span>
                                            <h3 class="warning">10,00,000 <small class="success"><i class="feather icon-trending-up"></i></small></h3>
                                        </div>
                                        <button class="btn btn-sm btn-blue">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--/stats-->


            <!--Capacity Details -->
            <div class="row match-height">
                <div class="col-xl-8 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Warehouse Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart5">
                                    <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart" [dataLabels]="chartOptions5.dataLabels" [plotOptions]="chartOptions5.plotOptions" [xaxis]="chartOptions5.xaxis"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Capacity Occupancy Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart">
                                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [fill]="chartOptions.fill">
                                    </apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Capacity Details -->

            <!--Capacity Details -->
            <div class="row match-height">

                <div class="col-xl-4 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Chemical Consumption</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart4">
                                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [labels]="chartOptions4.labels" [responsive]="chartOptions4.responsive"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Depositor Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart2">
                                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels" [responsive]="chartOptions2.responsive"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Commodity Wise Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart3">
                                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [labels]="chartOptions3.labels" [responsive]="chartOptions3.responsive"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--/ Capacity Details -->

        </div>


    </div>
</div>