<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">EMPLOYEE LEAVE APPROVE OR REJECT</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>P & A Services</a>
                        </li>
                        <li class="breadcrumb-item active">EMPLOYEE LEAVE APPROVE OR REJECT
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">EMPLOYEE LEAVE APPROVE OR REJECT
                            </h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button"
                                        (click)="HistoryAll()">
                                        <i class="fa fa-plus-circle"></i> History</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>

                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->




<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="historyempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE  | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="viewSectionLabel">Leave Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <h4 class="text-center">A.P State Warehousing Corporation</h4>

                            <h5>Leave Application Form</h5> <br>

                            <table class="table table-bordered">
                                <tr>
                                    <th Width="50%">
                                        Name of the Applicant
                                    </th>
                                    <td class="col-sm-6">{{EmpName_VIEW}} </td>
                                </tr>
                                <tr>
                                    <th> Designation</th>
                                    <td>{{Designation}}</td>
                                </tr>

                                <tr>
                                    <th>Reason for Leave Application :</th>
                                    <td>{{Reason_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Leave Duration (Dates) :</th>
                                    <td>FromDate : {{FromDate_VIEW | date: 'dd-MM-yyyy'}} <br> To Date : {{ToDate_VIEW |
                                        date: 'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>No.Of Days :</th>
                                    <td>{{NoOfDays_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Encashment :</th>
                                    <td>{{Encashment_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Type Of Leave : <br> CL/SL/EL</th>
                                    <td>{{LeaveType_View}}</td>
                                </tr>
                            </table>
                            <br><br>
                            <div class="col-md-12">
                                <label>Emplyoee Signature :</label>
                            </div>
                            <div class="col-md-12">
                                <label>Date :</label> {{currentdate | date:'dd-MM-yyyy'}}
                            </div> <br><br>
                            <div class="col-md-12">
                                <label>Approved by :</label> {{Approved_by}}
                            </div>
                            <div class="col-md-12">
                                <label>Approve's Signature :</label>
                            </div>
                            <div class="col-md-12">
                                <label>Date :</label>{{ApprovedDate_VIEW | date: 'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="viewModal.hide()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>