<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Gate Out Pass</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Farmer-Fertilizer-Private)</a>
                        </li>
                        <li class="breadcrumb-item active">Gate Out Pass
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Gate Out Pass</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong></li>
                                    <li id="commtab" class="commtab active">
                                        <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                        <strong>Quality Examination</strong>
                                    </li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong></li>
                                    <li id="commtab" class="commtab active">
                                        <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                        <strong>Stack-In</strong>
                                    </li>
                                    <li id="commtab" class="commtab  active">
                                        <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                        <strong>Weighment Out</strong>
                                    </li>
                                    <li id="commtab" class="commtab active current">
                                        <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                        <strong>Gate Out Pass</strong>
                                    </li>
                                    
                                    
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <form [formGroup]="DepForm">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="ag-theme-alpine">
                                                            <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                                (gridReady)="BindData($event)" [pagination]="true"
                                                                [paginationPageSize]="20"
                                                                
                                                                (selectionChanged)="onSelectionChanged($event)"
                                                                [frameworkComponents]="frameworkComponents"
                                                                rowSelection="single" [components]="components">
                                                            </ag-grid-angular>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1">
                                                    

                                                    <div class="row justify-content-center mt-1" *ngIf="isTable">
                                                        <!-- <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="NState">Out Truck
                                                                    Type <span
                                                                        class="text-danger">*</span></label>
                                                                <ng-select
                                                                    formControlName="TruckType"
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  dep.TruckType.errors }"
                                                                    placeholder="Select Mode Of Transport">
                                                                    <ng-option value="LOADED">
                                                                        LOADED</ng-option>
                                                                    <ng-option value="EMPTY">
                                                                        EMPTY</ng-option>
                                                                </ng-select>

                                                                <div *ngIf="isSubmit && dep.TruckType.errors"
                                                                    class="invalid-feedback">
                                                                    <div
                                                                        *ngIf="dep.TruckType.errors.required">
                                                                        Out Truck Type
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        </div> -->

                                                        <div class="col-md-12 text-center">
                                                            <button  type="button" (click)="SaveGateOut('save');" class="btn btn-primary btn-min-width ml-1"> <i class="fa fa-paper-plane"></i> SAVE</button>
                                                            <!-- <button  type="button" (click)="SaveGateOut('next');" class="btn btn-success ml-2">NEXT</button> -->
                                                            <!-- <input type="button" name="next" 
                                                            (click)="SaveGateOut();"
                                                             class="btn btn-primary next action-button"
                                                                value="Save" /> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->