<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Warehouse Quality Master</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item"><a >Components</a>
                            </li>
                            <li class="breadcrumb-item active">Warehouse Quality Master
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <div class="collapse-icon accordion-icon-rotate">
                <div id="headingCollapse31" class="card-header primary" data-toggle="collapse" href="#collapse31"
                    (click)="Gradeclick()" aria-expanded="false" aria-controls="collapse31">
                    <a class="card-title lead collapsed">Grade</a>
                </div>
                <div id="collapse31" role="tabpanel" aria-labelledby="headingCollapse31" class="card collapse"
                    aria-expanded="false" style="height: 0px;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 text-right ">
                                    <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                        (click)="AddWhGrade()"><i class="fa fa-plus"></i>Add</button>
                                    <button class="btn btn-success btn-md mb-1" (click)="WHHistory('Gradehistory')"><i
                                            class="fa fa-clock-o"></i>History</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>Grade ID</th>
                                            <th>Grade Name</th>
                                            <th>Create By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>


                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let grad of Gradetypes;let indexOfelement=index;">
                                            <td>{{grad.iteM_ID}}</td>
                                            <td>{{grad.iteM_NAME}}</td>
                                            <td>{{grad.inserteD_BY}}</td>
                                            <td>{{grad.inserteD_DATE| date: 'dd-MM-yyyy'}}</td>
                                            <td *ngIf="grad.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                padding: 2px 15px;
                                                color: white;
                                                border-radius: 4px;
                                                font-size: 12px;
                                            ">Active</span></td>

                                            <td *ngIf="grad.iS_ACTIVE==0"><span style="background: #c34a4a;
                                            padding: 2px 15px;
                                            color: white;
                                            border-radius: 4px;
                                            font-size: 12px;
                                        ">In Active</span></td>

                                            <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="WHGradeEdit(grad.iteM_ID,grad.iteM_NAME,grad.iS_ACTIVE)"><i
                                                        class="fa fa-pencil"></i> Edit </button></td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

             




                <div id="headingCollapse50" class="card-header primary" data-toggle="collapse" href="#collapse50"
                    (click)="Qualityparametersclick()" aria-expanded="false" aria-controls="collapse50">
                    <a class="card-title lead collapsed">Quality Parameters</a>
                </div>
                <div id="collapse50" role="tabpanel" aria-labelledby="headingCollapse50" class="card collapse"
                    aria-expanded="false" style="height: 0px;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 text-right ">
                                    <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                        (click)="AddQualityparametertype()"><i class="fa fa-plus"></i>Add</button>
                                    <button class="btn btn-success btn-md mb-1"
                                        (click)="WHHistory('Qualityparamterhistory')"><i
                                            class="fa fa-clock-o"></i>History</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-dark text-white">
                                        <tr>

                                            <th>Commodity Group</th>
                                            <th>Commodity Name</th>
                                            <th>Variety Name</th>
                                            <th>Grade Name</th>

                                            <th>Quality Parameter Name</th>
                                            <th>Quality Parameter Value</th>
                                            <th>Quality Parameter Description</th>
                                            <th>Quality Parameter Percentage</th>

                                            <th>Quality Parameter Characterstics</th>

                                            <th>Create By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>


                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let qpl of Qualityparameterslist;let indexOfelement=index;">
                                            <td>{{qpl.storagE_TYPE}}</td>
                                            <td>{{qpl.commoditY_NAME}}</td>
                                            <td>{{qpl.varietY_NAME}}</td>
                                            <td>{{qpl.gradE_NAME}}</td>
                                            <td>{{qpl.qtY_NAME}}</td>
                                            <td>{{qpl.value}}</td>
                                            <td>{{qpl.description}}</td>
                                            <td>{{qpl.percentage}}</td>

                                            <td>{{qpl.charecteristricts}}</td>
                                            <td>{{qpl.inserteD_BY}}</td>
                                            <td>{{qpl.inserteD_ON| date: 'dd-MM-yyyy'}}</td>
                                            <td *ngIf="qpl.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                padding: 2px 15px;
                                                color: white;
                                                border-radius: 4px;
                                                font-size: 12px;
                                            ">Active</span></td>

                                            <td *ngIf="qpl.iS_ACTIVE==0"><span style="background: #c34a4a;
                                            padding: 2px 15px;
                                            color: white;
                                            border-radius: 4px;
                                            font-size: 12px;
                                        ">In Active</span></td>
                                            <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="WHQualityparameterEdit(qpl.storagE_TYPE,qpl.commoditY_NAME,qpl.varietY_NAME,
                                         qpl.gradE_NAME,qpl.qtY_NAME,qpl.value,qpl.description,qpl.percentage,qpl.charecteristricts,qpl.iS_ACTIVE,qpl.qtY_ID,qpl.gradE_ID,qpl.varietY_ID,qpl.commoditY_CODE,qpl.storagE_CODE)">
                                                    <i class="fa fa-pencil"></i> Edit </button></td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            

             

             
            </div>
        </div>






        <div bsModal #addWarehouseModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Add {{Title}} Type</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="Warehouseaddform">

                                    <div class="form-group" [hidden]="!commodityvardiv">
                                        <label for="exampleFormControlSelect1 ">Commodity Type <a
                                                triggers="mouseenter:mouseleave" popover="Select Commodity Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select class="" id="exampleFormControlSelect1" formControlName="commddlvar"
                                            (change)="commoditychange('$event')">
                                            <ng-option value="" selected>Select Commodity Type</ng-option>
                                            <ng-option *ngFor="let comd of commoditylistypes" [value]="comd.iteM_ID">
                                                {{comd.iteM_NAME}}</ng-option>
                                        </ng-select>
                                        <div class="alert alert-danger" [hidden]="!commdivdivvalidationvar">

                                            <h6> Please select commodity type </h6>
                                        </div>
                                    </div>
                                    <div class="form-group" [hidden]="!commGroupdiv">
                                        <label for="exampleFormControlSelect1 ">CommodityGroup Type <a
                                                triggers="mouseenter:mouseleave" popover="Select CommodityGroup Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select class="" id="exampleFormControlSelect1" formControlName="commgrpddl"
                                            (change)="commoditygroupchange()">
                                            <ng-option value="">Select CommodityGroup Type</ng-option>
                                            <ng-option *ngFor="let c of commoditygrparry" [value]="c.commoditY_CODE">
                                                {{c.commodity}}</ng-option>


                                        </ng-select>
                                        <div class="alert alert-danger" [hidden]="!commdgrpivdivvalidation">

                                            <h6> Please select commodity Group </h6>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail11">{{Title}} Type <a
                                                triggers="mouseenter:mouseleave" popover="Select {{Title}} Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text " maxlength="50" class="form-control"
                                            formControlName="Warehouseaddtype"
                                            [ngClass]="{ 'is-invalid': submitted && f1.Warehouseaddtype.errors }">
                                        <div *ngIf="submitted && f1.Warehouseaddtype.errors" class="invalid-feedback">
                                            <div *ngIf="f1.Warehouseaddtype.errors.required">{{Title}} is required</div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group" [hidden]="!regionadddropdown">
                                <label for="exampleFormControlSelect1 ">Region Districts</label>
                                <ng-multiselect-dropdown
                            
                                [placeholder]="'custom placeholder'"
                                [settings]="dropdownSettings"
                                [data]="regiondistricts"
                                [(ngModel)]="selectedItems"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemaddDeSelect($event)"
                                [ngModelOptions]="{standalone: true}">
                              </ng-multiselect-dropdown>
                            </div> -->




                                    <div class="form-group ">
                                        <label for="exampleInputEmail1 ">{{Title}} Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="Warehouseaddremarks"
                                            [ngClass]="{ 'is-invalid': submitted && f1.Warehouseaddremarks.errors }">

                                        <div *ngIf="submitted && f1.Warehouseaddremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f1.Warehouseaddremarks.errors.required">Remarks are required
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit " class="btn btn-primary" (click)="Warehouseaddclick()"><i
                                            _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Add</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div bsModal #editWarehouseModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Edit {{Title}} Type</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideeditWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="WarehouseEDITform">



                                    <div class="form-group" [hidden]="!commodityEDITvardiv">
                                        <label for="exampleFormControlSelect1 ">Commodity Type <a
                                                triggers="mouseenter:mouseleave" popover="Select Commodity Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select class="" id="exampleFormControlSelect1"
                                            formControlName="commEDITddlvar" (change)="commoditychange('$event')">
                                            <ng-option value="" selected>Select Commodity Type</ng-option>
                                            <ng-option *ngFor="let comd of commoditylistypes" [value]="comd.iteM_ID">
                                                {{comd.iteM_NAME}}</ng-option>
                                        </ng-select>

                                    </div>
                                    <div class="form-group" [hidden]="!commGroupEDITdiv">

                                        <label for="exampleFormControlSelect1 ">CommodityGroup Type <a
                                                triggers="mouseenter:mouseleave" popover="Select Commodity Group Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select class="" id="exampleFormControlSelect1"
                                            formControlName="commgrpEDITddl" (change)="commoditygroupchange()">
                                            <ng-option value="">Select CommodityGroup Type</ng-option>
                                            <ng-option *ngFor="let c of commoditygrparry" [value]="c.commoditY_CODE">
                                                {{c.commodity}}</ng-option>


                                        </ng-select>
                                    </div>

                                    <div class=" form-group">
                                        <label for="exampleInputEmail1">{{Title}} Id <a triggers="mouseenter:mouseleave"
                                                popover="{{Title}} Id" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="WarehouseEDITId"
                                            readonly>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">{{Title}} Type <a
                                                triggers="mouseenter:mouseleave" popover="{{Title}} Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="WarehouseEDITtype"
                                            readonly>
                                    </div>

                                    <div class="form-group" [hidden]="!editActdctdiv">
                                        <label>Active/Inactive
                                                
                                            <a triggers="mouseenter:mouseleave" popover="Select Active/Inactive"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        
                                        </label><br>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="1" name="WHactive" formControlName="WHactive"
                                                    [ngClass]="{ 'is-invalid': EDITsubmitted && f.WHactive.errors }">Active</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="0" name="WHactive" formControlName="WHactive"
                                                    [ngClass]="{ 'is-invalid': EDITsubmitted && f.WHactive.errors }">Inactive
                                            </label>
                                        </div>

                                        <div *ngIf="EDITsubmitted && f.WHactive.invalid" class="alert alert-danger">
                                            <div *ngIf="f.WHactive.errors.required">Please Select Active/Inactive</div>
                                        </div>
                                    </div>


                                    <div class="form-group" [hidden]="!editRemarksdiv">
                                        <label for="exampleInputEmail1 ">{{Title}} Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="WarehouseEDITremarks"
                                            [ngClass]="{ 'is-invalid': EDITsubmitted && f.WarehouseEDITremarks.errors }">

                                        <div *ngIf="EDITsubmitted && f.WarehouseEDITremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.WarehouseEDITremarks.errors.required">Remarks are required
                                            </div>
                                        </div>


                                    </div>
                                    <div [hidden]="!eidtupdatebtn">
                                        <button type="submit " class="btn btn-primary" (click)="WarehouseEDITclick()"><i
                                                _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div bsModal #historyWarehousemodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-lg" style="width: auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hidehistorymasterModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.no</th>
                                                <th>Column Name</th>
                                                <th>Event Code</th>
                                                <th>Old Value</th>
                                                <th>New Value</th>
                                                <th>
                                                    Event Date
                                                </th>
                                                <th>
                                                    Event By
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                                <td>{{i+1}}</td>
                                                <td>{{Mastlist.columN_NAME}}</td>
                                                <td>{{Mastlist.evenT_CODE}}</td>
                                                <td>{{Mastlist.olD_VALUE}}</td>
                                                <td>{{Mastlist.neW_VALUE}}</td>
                                                <td>{{Mastlist.loG_DATE}}</td>
                                                <td>{{Mastlist.updateD_BY}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div bsModal #addQualityparameterModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
            tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Add Quality Parameter</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hidequalityparameteraddModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="QualityParameterAddForm">

                                    <div class="form-row">

                                        <div class="col-md-4 form-group">
                                            <label for="exampleFormControlSelect1 ">Commodity Group <a
                                                    triggers="mouseenter:mouseleave" popover="Select Commodity Group"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <ng-select class="" id="exampleFormControlSelect1"
                                                formControlName="QPcommddlQ"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPcommddlQ.errors}"
                                                (change)="changeCommodity()">
                                                <ng-option value="" selected>Select Commodity Type</ng-option>
                                                <ng-option *ngFor="let comd of commoditylistypes"
                                                    [value]="comd.iteM_ID">{{comd.iteM_NAME}}</ng-option>
                                            </ng-select>
                                            <div *ngIf="QPsubmitted && QP.QPcommddlQ.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPcommddlQ.errors.required">Commodity Group is required</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label for="exampleFormControlSelect1 ">Commodity Name <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Select Commodity Group Type" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <ng-select class="" id="exampleFormControlSelect1"
                                                formControlName="QPcommgrpddl"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPcommgrpddl.errors }"
                                                (change)="QPchangeCommoditygroup()">
                                                <ng-option value="">Select CommodityGroup Type</ng-option>
                                                <ng-option *ngFor="let c of QPcommoditygrparry"
                                                    [value]="c.commoditY_CODE">{{c.commodity}}</ng-option>


                                            </ng-select>
                                            <div *ngIf="QPsubmitted && QP.QPcommgrpddl.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPcommgrpddl.errors.required">Commodity name is
                                                    required</div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <label for="exampleFormControlSelect1 ">Variety <a
                                                    triggers="mouseenter:mouseleave" popover="Select Variety Type"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <ng-select class="" id="exampleFormControlSelect1"
                                                formControlName="QPcommvarddl"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPcommvarddl.errors}"
                                                (change)="QPVarietychange()">
                                                <ng-option value="">Select Variety</ng-option>
                                                <ng-option *ngFor="let c of QPcommodityVarietyarry"
                                                    [value]="c.varietY_ID">{{c.varietY_NAME}}</ng-option>
                                            </ng-select>
                                            <div *ngIf="QPsubmitted && QP.QPcommvarddl.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPcommvarddl.errors.required">Variety is required</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="exampleFormControlSelect1 ">Grade <a
                                                    triggers="mouseenter:mouseleave" popover="Select Grade Type"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <ng-select class="" id="exampleFormControlSelect1"
                                                formControlName="QPGradeddl"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPGradeddl.errors }"
                                                (change)="QPGradechange()">
                                                <ng-option value="">Select Grade </ng-option>
                                                <ng-option *ngFor="let grd of Gradetypes" [value]="grd.iteM_ID">
                                                    {{grd.iteM_NAME}}</ng-option>
                                            </ng-select>
                                            <div *ngIf="QPsubmitted && QP.QPGradeddl.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPGradeddl.errors.required">Grade is required</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Name <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Name" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="100" class="form-control"
                                                formControlName="QpName"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QpName.errors }">
                                            <div *ngIf="QPsubmitted && QP.QpName.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QpName.errors.required">Quality Parameter Name is
                                                    required</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Value <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Value" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPValue"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPValue.errors }">
                                            <div *ngIf="QPsubmitted && QP.QPValue.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPValue.errors.required">Quality Parameter Value is
                                                    required</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Description <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Description" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPDescription"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPDescription.errors }">
                                            <div *ngIf="QPsubmitted && QP.QPDescription.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="QP.QPDescription.errors.required">Quality Parameter
                                                    Description is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Percentage <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Parcentage" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPPercentage"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPPercentage.errors }">
                                            <div *ngIf="QPsubmitted && QP.QPPercentage.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPPercentage.errors.required">Quality Parameter
                                                    Percentage is required</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Characterstics <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Characterstics" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPCharacterstics"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPCharacterstics.errors }">
                                            <div *ngIf="QPsubmitted && QP.QPCharacterstics.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="QP.QPCharacterstics.errors.required">Quality Parameter
                                                    Characterstics are required</div>
                                            </div>
                                        </div>


                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Remarks <a triggers="mouseenter:mouseleave"
                                                    popover="Enter Remarks" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="2000" class="form-control"
                                                formControlName="QPRemarks"
                                                [ngClass]="{ 'is-invalid': QPsubmitted && QP.QPRemarks.errors }">
                                            <div *ngIf="QPsubmitted && QP.QPRemarks.errors" class="invalid-feedback">
                                                <div *ngIf="QP.QPRemarks.errors.required">Remarks are required</div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit " class="btn btn-primary"
                                            (click)="QualityParameteraddclick()"><i _ngcontent-ofk-c236=""
                                                class="fa fa-paper-plane"></i> Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div bsModal #editQualityparameterModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}"
            tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Edit Quality Parameters</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideeditQualityparameterModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="QualityParameterEDITForm">
                                    <div class="form-row">
                                        <div class="form-group col-sm-4">
                                            <label for="exampleInputEmail1 ">Commodity Group <a
                                                    triggers="mouseenter:mouseleave" popover="Enter Commodity Name"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="100" class="form-control"
                                                formControlName="QpEDITCommodity" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Commodity name <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter CommodityGroupname Name" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditGroupname" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Variety <a triggers="mouseenter:mouseleave"
                                                    popover="Enter Variety" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditVariety" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Grade <a triggers="mouseenter:mouseleave"
                                                    popover="Enter Grade" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditgrade" disabled='true'>
                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Name <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Name" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditName" disabled='true'>

                                        </div>

                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter value <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter value" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditvalue" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter description <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Description" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditdescription" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Percentage <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Percentage" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditPercentage" disabled='true'>

                                        </div>
                                        <div class="form-group col-sm-4 ">
                                            <label for="exampleInputEmail1 ">Quality Parameter Characterstics <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter QualityParameter Characterstics" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control"
                                                formControlName="QPeditCharacterstics" disabled='true'>

                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label>Active/Inactive
                                                
                                                <a triggers="mouseenter:mouseleave" popover="Select Active/Inactive"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                            
                                            </label><br>
                                            <div class="form-check-inline">

                                                <label class="form-check-label">
                                                    <input type="radio" value="1" name="QPactive"
                                                        formControlName="QPactive"
                                                        [ngClass]="{ 'is-invalid': QPEDITsubmitted && QP1.QPactive.errors }">Active</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" value="0" name="QPactive"
                                                        formControlName="QPactive"
                                                        [ngClass]="{ 'is-invalid': QPEDITsubmitted && QP1.QPactive.errors }">Inactive
                                                </label>
                                            </div>

                                            <div *ngIf="QPEDITsubmitted && QP1.QPactive.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="QP1.QPactive.errors.required">Please Select Active/Inactive
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group col-sm-4">
                                            <label for="exampleInputEmail1 "> Remarks <a triggers="mouseenter:mouseleave"
                                                    popover="Enter Remarks" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="2000" class="form-control"
                                                formControlName="QPEDITremarks"
                                                [ngClass]="{ 'is-invalid': QPEDITsubmitted && QP1.QPEDITremarks.errors }">

                                            <div *ngIf="QPEDITsubmitted && QP1.QPEDITremarks.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="QP1.QPEDITremarks.errors.required">Remarks are required
                                                </div>
                                            </div>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <button type="submit " class="btn btn-primary"
                                            (click)="QualityparameterEDITclick()"><i _ngcontent-ofk-c236=""
                                                class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>