    <!-- BEGIN: Content-->
    <main>
        <div class="container page-border">
    
            <div class="row breadcum ">
                <div class="col-sm-12">
                    <div class="">
    
                        <h1>Inspection Gallery</h1>
                        <p>Home /<a > Inspection Gallery</a></p>
                    </div>
    
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12 p-md-5 p-2">
                    <!-- Timeline -->
                    
                    <!-- <h2 class="text-center text-danger font-weight-bold pt-5 pb-5">Coming Soon...!</h2> -->
                     <!-- <div class="row tabs tabs--time-line align-items-center"> -->
                     <div class="row tabs tabs--time-line">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                            <div class="nav nav-tabs" id="myTab" role="tablist">
                                <a class="nav-item nav-link disabled" id="time-2022-tab" data-toggle="tab" href="#time-2022"
                                    role="tab" aria-controls="time-2022" aria-selected="true">
                                    2022
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link active" id="time-2021-tab" data-toggle="tab" href="#time-2021"
                                    role="tab" aria-controls="time-2021" aria-selected="true">
                                    2021
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="time-2020-tab" data-toggle="tab" href="#time-2020"
                                    role="tab" aria-controls="time-2020" aria-selected="true">
                                    2020
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="time-2012-tab" data-toggle="tab" href="#time-2019"
                                    role="tab" aria-controls="time-2012" aria-selected="false">
                                    2019
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="time-2013-tab" data-toggle="tab" href="#time-2018"
                                    role="tab" aria-controls="time-2013" aria-selected="false">
                                    2018
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="time-2016-tab" data-toggle="tab" href="#time-2017"
                                    role="tab" aria-controls="time-2016" aria-selected="false">
                                    2017
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <!-- <a class="nav-item nav-link" id="time-2017-tab" data-toggle="tab" href="#time-2016"
                                    role="tab" aria-controls="time-2017" aria-selected="false">
                                    2016
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="time-2019-tab" data-toggle="tab" href="#time-2015"
                                    role="tab" aria-controls="time-2019" aria-selected="false">
                                    2015
                                    <div class="nav-item--point">
                                        <div class="nav-item--arrow-wrap">
                                            <span class="crumina-icon"></span>
                                        </div>
                                    </div>
                                </a> -->
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade" id="time-2022" role="tabpanel" aria-labelledby="time-2022-tab">
                                    <div class="row no-gutters gallery" id="lightgallery">
                                        <div class="col-md-12">
                                        </div>
                                    
                                    </div>
                                    
                                </div>

                                <div class="tab-pane fade show active" id="time-2021" role="tabpanel" aria-labelledby="time-2021-tab">
                                    <div class="row no-gutters gallery" id="lightgallery">
                                        <div class="col-md-12">
                                            <h4 class="border-bottom mb-2 bg-success text-white"><i class="fa fa fa-arrow-right"></i> Warehouse Inspection -
                                                March
                                            </h4>
                                        </div>
                                        <div class="col-md-2 col-sm-auto" data-src="./assets/web-styles/images/inspectionphoto/insp8.png">
                                            <img src="./assets/web-styles/images/inspectionphoto/insp8.png" class="mr-2 mb-2 img-fluid" />
                                        </div>
                                        <div class="col-md-2 col-sm-auto" data-src="./assets/web-styles/images/inspectionphoto/insp9.png">
                                            <img src="./assets/web-styles/images/inspectionphoto/insp9.png" class="mr-2 mb-2 img-fluid" />
                                        </div>
                                        <div class="col-md-2 col-sm-auto" data-src="./assets/web-styles/images/inspectionphoto/insp10.png">
                                            <img src="./assets/web-styles/images/inspectionphoto/insp10.png" class="mr-2 mb-2 img-fluid" />
                                        </div>
                                        <div class="col-md-2 col-sm-auto" data-src="./assets/web-styles/images/inspectionphoto/insp11.png">
                                            <img src="./assets/web-styles/images/inspectionphoto/insp11.png" class="mr-2 mb-2 img-fluid" />
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="tab-pane fade" id="time-2020" role="tabpanel" aria-labelledby="time-2020-tab">
                                    <div class="row no-gutters gallery" id="lightgallery">
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="time-2019" role="tabpanel" aria-labelledby="time-2019-tab">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="time-2018" role="tabpanel" aria-labelledby="time-2018-tab">
                                    <div class="row align-items-center">
                                        
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="time-2017" role="tabpanel" aria-labelledby="time-2017-tab">
                                    <div class="row align-items-center">
                                        
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="time-2016" role="tabpanel" aria-labelledby="time-2016-tab">
                                    <div class="row align-items-center">
                                        
                                    </div>
                                </div>
                                <div class="tab-pane" id="time-2015" role="tabpanel" aria-labelledby="time-2015-tab">
                                    <div class="row align-items-center">
                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div> 

                         <!-- <div class="demo-gallery">
                            <ul id="lightgallery" class="list-unstyled row">
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp1.png">
                                    <a>
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp1.png" alt="Thumb-1">
                                    </a>
                                </li>
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp2.png">
                                    <a>
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp2.png" alt="Thumb-2">
                                    </a>
                                </li>
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp3.png">
                                    <a>
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp3.png" alt="Thumb-3">
                                    </a>
                                </li>
    
    
    
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp4.png">
                                    <a href="">
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp4.png" alt="Thumb-4">
                                    </a>
                                </li>
    
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp5.png">
                                    <a href="">
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp5.png" alt="Thumb-1">
                                    </a>
                                </li>
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp6.png">
                                    <a href="">
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp6.png" alt="Thumb-3">
                                    </a>
                                </li>
                                <li class="col-xs-6 col-sm-4 col-md-3" data-src="./assets/web-styles/images/inspectionphoto/insp7.png">
                                    <a href="">
                                        <img class="img-responsive" src="./assets/web-styles/images/inspectionphoto/insp7.png" alt="Thumb-2">
                                    </a>
                                </li>
    
    
                            </ul>
                        </div>  -->
                 
            </div>
            </div>
            </div>
            </main>
    
 
<!-- END: Page Main-->