
    <div class="container page-border">

        <div class="row breadcum">
            <div class="col-sm-12">
                <div class="">

                    <h1>Copyright Policy</h1>
                    <p>Home /<a > Copyright Policy</a></p>
                </div>

            </div>
        </div>


        <div class="row p-5">
            <div class="col-sm-12">

                <div class="content-page">


                    <h2 class="mb-3"> Copyright Policy</h2>


                    <p> Material featured on this Website may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading
                        context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material which is identified as being
                        copyright of a third party. Authorization to reproduce such material must be obtained from the departments/copyright holders concerned.</p>


                </div>
            </div>
        </div>

    </div>