<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
  <div class="col-md-3" *ngIf="seldoctype == 'IMAGE'">
    <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
  </div>

  <div class="col-md-3 mt-2" *ngIf="seldoctype == 'PDF'">
    <a [href]="seldocpath" target="_blank">View</a>
  </div>
</div>

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>