<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Leave Master Details</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Masters</a>
                        </li>
                        <li class="breadcrumb-item active">Leave Master
                        </li>
                    </ol>
                </div>
            </div>
        </div>
       

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Leave Master
                            </h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div >
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-secondary btn-md" type="button" (click)="AddLeaveMaster()">
                                        <i class="fa fa-plus-circle"></i> Add </button>
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="Allhistory()">
                                        <i class="fa fa-plus-circle"></i> History</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} Leave Master</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="LeaveMasterForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sectionname">Leave Type  <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Leave Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block selectwarehouse" formControlName="LeaveType"
                                            [ngClass]="{ 'is-invalid': consubmitted && LeaveMaster.LeaveType.errors }">
                                            <option value="">Select Leave Type</option>
                                            <option *ngFor="let ltype of leavetypes" value="{{ltype.id}}">
                                                {{ltype.leave}}
                                            </option>

                                        </select>
                                        <div *ngIf="consubmitted && LeaveMaster.LeaveType.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="LeaveMaster.LeaveType.errors.required">Leave Type
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="employeename">No.of Leaves Per year <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter No.of Leaves Per year"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" numbersOnly minlength="1" maxlength="3"
                                            placeholder="No.of Leaves Per year" formControlName="NoofLeaves"
                                            [ngClass]="{ 'is-invalid': consubmitted && LeaveMaster.NoofLeaves.errors }" />
                                        <div *ngIf="consubmitted && LeaveMaster.NoofLeaves.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="LeaveMaster.NoofLeaves.errors.required">No.Of Leaves Per Year
                                                is required</div>

                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="checkbox" style="margin: 5px;" class="checkbox"
                                            formControlName="Carryforward">
                                        <label for=Carryforward></label>All Leaves Carry Forward
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="checkbox" style="margin: 5px;" class="checkbox"
                                            formControlName="HolidayCalender">
                                        <label for="HolidayCalender">Holiday Calendar</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="checkbox" style="margin: 5px;" class="checkbox"
                                            formControlName="Encashment">
                                        <label for="Encashment">Encashment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="Yearly" value="Y" name="LeavesAddMonthyear"
                                            formControlName="LeavesAddMonthyear"
                                            [ngClass]="{ 'is-invalid': consubmitted && LeaveMaster.LeavesAddMonthyear.errors }">
                                        <label for="Yearly">Bulk Addition</label>

                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="Monthly" value="M" name="LeavesAddMonthyear"
                                            formControlName="LeavesAddMonthyear"
                                            [ngClass]="{ 'is-invalid': consubmitted && LeaveMaster.LeavesAddMonthyear.errors }">
                                        <label for="Monthly">Monthly Incremental</label>

                                        <div *ngIf="consubmitted && LeaveMaster.LeavesAddMonthyear.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="LeaveMaster.LeavesAddMonthyear.errors.required">Bulk Addition or
                                                Monthly Increamental
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="isEdit" class="col-md-6">
                                    <div class="form-group">
                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="active" value="1" name="status" formControlName="status">
                                        <label for="active">Active</label>

                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="inactive" value="0" name="status" formControlName="status">
                                        <label for="inactive">In Active</label>
                                    </div>
                                </div>
                            </div>




                            <div class="row justify-content-center">
                                <div class="col-md-12 text-center">
                                    <form [formGroup]="form">
                                        <label>Applicable To Employee Types : </label> &nbsp;&nbsp;&nbsp;
                                        <label formArrayName="orders"
                                            *ngFor="let order of employeeleavetypelist; let i = index">
                                            <input type="checkbox" (change)="oncheckboxchange(order.EmployeeID,$event)"
                                                [checked]="order.Isselected" [formControlName]=""
                                                [value]="order.EmployeeID">

                                            {{order.EmployeeTYpe}} &nbsp;
                                        </label>

                                        <div *ngIf="!emptypeerrordiv" class="text-danger">At least one employee type
                                            must be selected </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class="row d-block text-center">
                                <button type="button" *ngIf="!isEdit" (click)="SubmitLeaveMaster();"
                                    class="btn btn-primary">Save Leave Master</button>
                                <button type="button" *ngIf="isEdit" (click)="UpdateLeaveMaster();"
                                    class="btn btn-primary">Update Leave Master</button>
                            </div>
                        </div>

                    </div>
                </form>



            </div>
        </div>
    </div>

</div>


<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="historyempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Leave Master</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Leave Type</th>

                                    <td> {{LeaveType_VIEW}}</td>
                                </tr>
                                <tr>

                                    <th>
                                        Leaves Per Year</th>
                                    <td> {{Peryear_VIEW}}</td>

                                </tr>
                                <tr>
                                    <th>
                                        Applicable To</th>
                                    <td> {{ApplicableTo_VIEW}}</td>
                                </tr>

                               
                                <tr>
                                    <th>Apply On</th>
                                    <td>{{Year_Month_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Carry Forward</th>
                                    <td>{{carryforward_VIEW}}</td>

                                </tr>
                                <tr>
                                    <th>Holiday Calendar</th>
                                    <td> {{Holidaycal_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Encashment</th>
                                    <td> {{Encashment_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td> {{status_VIEW}}</td>
                                </tr>






                            </table>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="viewModal.hide()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>