<main>
    <div class="container page-border">
        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">
                    <h1>Storage and other charges</h1>
                    <p>Home / <a >Storage and other charges</a></p>
                </div>
            </div>
        </div>

        <div class="row pb-5 px-5">
            <div class="col-sm-12  text-center py-4 px-5">
                <h4>Andhra Pradesh State Warehousing Corporation Vijayawada<br> <small>Consolidated tariff of storage charges per month with effect from <b>01.08.2013</b> </small></h4>
            </div>
            <div class="col-sm-2 mb-4" *ngFor="let god of Storagelist;">
            <div class="storagecharges-box" >

                <img [src]="'./assets/web-styles/images/'+god.imagePath"/>
                <h6>{{god.name}}</h6>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#'+god.tagName"  (click)="GetGowdowns(god);"> View Details</button>
            
        <!-- Modal type of godows -->
        <div *ngIf="god.name==='TYPES OF GODOWNS'" class="modal fade" [id]="god.tagName"  tabindex="-1" role="dialog" aria-labelledby="godownLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered   " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="godownLabel"> <img [src]="'./assets/web-styles/images/'+modalimage"/> {{modaltitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-hover table-striped table-bordered webtable-data">
                            <thead>
                                <tr>
                                    
                                    <th>Warehouse Type</th>
                                    <th>Nos</th>
                                    <th>Capacity (Lakhs MTs)</th>
                                    <th>Occupancy (Lakhs MTs) </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let godown of GodownsList;">                                            
                                    
                                    <td>{{godown.wtype}}</td>
                                    <td>{{godown.Nos}}</td>
                                    <td>{{godown.Capacity}}</td>
                                    <td>{{godown.Occupancy}}</td>
                                </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr style="font-weight: bold;">
                                    <td>Total</td>
                                    <td>164</td>
                                    <td>15.93</td>
                                    <td>13.15</td>
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    

        <!-- Modal rice -->
        <div *ngIf="god.name==='RICE'" class="modal fade"  [id]="god.tagName"  tabindex="-1" role="dialog" aria-labelledby="RiceLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered   " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RiceLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" /> {{modaltitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-bordered">
                            <thead>
                                <tr class="bg-primary text-white">

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rice of RiceList">

                                    <td>{{rice.name}}</td>
                                    <td>{{rice.type}}</td>
                                    <td>{{rice.netweight}}</td>
                                    <td>{{rice.sRate}}</td>
                                    <td>{{rice.hRate2}}</td>
                                    <td>{{rice.hRate1}}</td>
                                    <td>{{rice.remarks}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
   

        <!-- Modal Food grains -->
        <div *ngIf="god.name==='FOOD GRAINS'" class="modal fade" [id]="god.tagName"  tabindex="-1" role="dialog" aria-labelledby="FOODGRAINSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FOODGRAINSLabel"> <img [src]="'./assets/web-styles/images/'+modalimage"/> {{modaltitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let food of FoodGrainsList">
                            
                                    <td>{{food.name}}</td>
                                    <td>{{food.type}}</td>
                                    <td>{{food.netweight}}</td>
                                    <td>{{food.sRate}}</td>
                                    <td>{{food.hRate2}}</td>
                                    <td>{{food.hRate1}}</td>
                                    <td>{{food.remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal ferilizer -->
        <div *ngIf="god.name==='FERTILISERS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="FertilisersLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FertilisersLabel"> <img [src]="'./assets/web-styles/images/'+modalimage"alt="" srcset="">Fertilisers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fer of FertilisersList">
                            
                                    <td>{{fer.name}}</td>
                                    <td>{{fer.type}}</td>
                                    <td>{{fer.netweight}}</td>
                                    <td>{{fer.sRate}}</td>
                                    <td>{{fer.hRate2}}</td>
                                    <td>{{fer.hRate1}}</td>
                                    <td>{{fer.remarks}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal food products -->
        <div *ngIf="god.name==='FOOD PRODUCTS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="FOODPRODUCTSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FOODPRODUCTSLabel"><img [src]="'./assets/web-styles/images/'+modalimage"/> {{modaltitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let food of FoodProductsList">
                            
                                    <td>{{food.name}}</td>
                                    <td>{{food.type}}</td>
                                    <td>{{food.netweight}}</td>
                                    <td>{{food.sRate}}</td>
                                    <td>{{food.hRate2}}</td>
                                    <td>{{food.hRate1}}</td>
                                    <td>{{food.remarks}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    

        <!-- Modal pulses -->
        <div *ngIf="god.name==='PULSES'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="PulsesLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PulsesLabel"> <img [src]="'./assets/web-styles/images/'+modalimage"alt="" srcset=""> {{modaltitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let Pulse of PulsesList">
                            
                                    <td>{{Pulse.name}}</td>
                                    <td>{{Pulse.type}}</td>
                                    <td>{{Pulse.netweight}}</td>
                                    <td>{{Pulse.sRate}}</td>
                                    <td>{{Pulse.hRate2}}</td>
                                    <td>{{Pulse.hRate1}}</td>
                                    <td>{{Pulse.remarks}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

   

        <!-- Modal  SPICESLabel-->
        <div *ngIf="god.name==='SPICES'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="SPICESLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SPICESLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" /> Spices</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let spice of SpicesList">
                            
                                    <td>{{spice.name}}</td>
                                    <td>{{spice.type}}</td>
                                    <td>{{spice.netweight}}</td>
                                    <td>{{spice.sRate}}</td>
                                    <td>{{spice.hRate2}}</td>
                                    <td>{{spice.hRate1}}</td>
                                    <td>{{spice.remarks}}</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal foodstuff -->
        <div *ngIf="god.name==='FOOD STUFFS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="FOODSTUFFSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FOODSTUFFSLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" /> Food Stuffs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table  table-striped   table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fs of FoodStuffsList">
                            
                                    <td>{{fs.name}}</td>
                                    <td>{{fs.type}}</td>
                                    <td>{{fs.netweight}}</td>
                                    <td>{{fs.sRate}}</td>
                                    <td>{{fs.hRate2}}</td>
                                    <td>{{fs.hRate1}}</td>
                                    <td>{{fs.remarks}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modaloilseeds -->
        <div *ngIf="god.name==='OIL SEEDS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="OILSEEDSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="OILSEEDSLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" alt="" srcset="">Oil Seeds </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let os of OilSeedsList">
                            
                                    <td>{{os.name}}</td>
                                    <td>{{os.type}}</td>
                                    <td>{{os.netweight}}</td>
                                    <td>{{os.sRate}}</td>
                                    <td>{{os.hRate2}}</td>
                                    <td>{{os.hRate1}}</td>
                                    <td>{{os.remarks}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>



        <!-- Modal oils-->
        <div *ngIf="god.name==='OILS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="OILsLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="OILsLabel"><img [src]="'./assets/web-styles/images/'+modalimage" />Oil's </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let oil of OilsList">
                            
                                    <td>{{oil.name}}</td>
                                    <td>{{oil.type}}</td>
                                    <td>{{oil.netweight}}</td>
                                    <td>{{oil.sRate}}</td>
                                    <td>{{oil.hRate2}}</td>
                                    <td>{{oil.hRate1}}</td>
                                    <td>{{oil.remarks}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    

        <!-- Modal fiber-->
        <div  *ngIf="god.name==='FIBERS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="FIBERSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FIBERSLabel"> <img [src]="'./assets/web-styles/images/'+modalimage">Fibers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Cotton Yarn</td>
                                    <td>Bales 3</td>
                                    <td>50 Kgs</td>
                                    <td>8.80</td>
                                    <td>9.60</td>
                                    <td>10.80</td>
                                    <td>Excluding Insurance</td>
                                </tr>

                                <tr>

                                    <td>Cotton Bales</td>
                                    <td>Bales (fully pressed) 2</td>
                                    <td>200 Kgs</td>
                                    <td>23.35</td>
                                    <td>25.60</td>
                                    <td>28.70</td>
                                    <td>Excluding Insurance</td>
                                </tr>

                                <tr>

                                    <td>Jute Gunnies </td>
                                    <td>Bundles 3</td>
                                    <td>10 gunnies</td>
                                    <td>1.25</td>
                                    <td>1.35</td>
                                    <td>1.50</td>
                                    <td>Excluding Insurance</td>
                                </tr>

                                <tr>

                                    <td>Jute </td>
                                    <td>Bales</td>
                                    <td>Per bale</td>
                                    <td>21.85</td>
                                    <td>23.95</td>
                                    <td>26.90</td>
                                    <td>Excluding Insurance</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal seeds -->
        <div *ngIf="god.name==='SEEDS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="SeedsLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SeedsLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" alt="" srcset=""> Seeds</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table  table-striped table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Hybrid Seeds ( except paddy ) Jowar, Maize</td>
                                    <td>Cloth bags</td>
                                    <td>7 Kgs</td>
                                    <td>1.75</td>
                                    <td>1.90</td>
                                    <td>2.15</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>

                                    <td>Paddy Seed</td>
                                    <td>Clothbags/ Hessia/ Cloth bag 3</td>
                                    <td>12 Kgs</td>
                                    <td>1.75</td>
                                    <td>1.90</td>
                                    <td>2.15</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>

                                    <td>Wheat Seed</td>
                                    <td>Bags 3</td>
                                    <td>20 Kgs</td>
                                    <td>2.30</td>
                                    <td>2.50</td>
                                    <td>2.80</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>



        <!-- Modalff -->
        <div *ngIf="god.name==='FEED & FODDER'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="FFLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FFLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" alt="" srcset=""> Feed & Fodder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Blackgram Husk</td>
                                    <td>Bags</td>
                                    <td>70 Kgs</td>
                                    <td>6.20</td>
                                    <td>6.75</td>
                                    <td>7.60</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>

                                    <td>Blackgram Flour</td>
                                    <td>Bags</td>
                                    <td>100 Kgs</td>
                                    <td>7.75</td>
                                    <td>8050</td>
                                    <td>9.50</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>

                                    <td>Rice Bran</td>
                                    <td>Bags</td>
                                    <td>70 Kgs</td>
                                    <td>5.50</td>
                                    <td>6.00</td>
                                    <td>6.75</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal notification -->
        <div *ngIf="god.name==='NOTIFIED COMMODITIES'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="NOTIFIEDCOMMODITIESLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="NOTIFIEDCOMMODITIES"> <img [src]="'./assets/web-styles/images/'+modalimage" alt="" srcset="">Notified Commodities</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped  table-bordered">
                            <thead>
                                <tr>

                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Cement</td>
                                    <td>12 Bags Height</td>
                                    <td>50 Kgs</td>
                                    <td>4.10</td>
                                    <td>4.50</td>
                                    <td>5.05</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>

                                    <td>Soda ash</td>
                                    <td>Bags</td>
                                    <td>50 Kgs</td>
                                    <td>6.10</td>
                                    <td>6.60</td>
                                    <td>7.40</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

  

        <!-- Modal tea coffe-->
        <div *ngIf="god.name==='TEA & COFFEE'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="TEACOFFEELabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TEACOFFEELabel"><img [src]="'./assets/web-styles/images/'+modalimage" /> Tea & Coffee </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>
                                  
                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Tea</td>
                                    <td>Crates</td>
                                    <td>60</td>
                                    <td>12.95</td>
                                    <td>14.20</td>
                                    <td>15.90</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                  
                                    <td>Chicory Root</td>
                                    <td>Bags</td>
                                    <td>75 Kgs</td>
                                    <td>6.00</td>
                                    <td>6.60</td>
                                    <td>7.4</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                   
                                    <td>Chicory Powder</td>
                                    <td>Bags</td>
                                    <td>25 Kgs</td>
                                    <td>3.65</td>
                                    <td>4.00</td>
                                    <td>4.50</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>



        <!-- Modal miss -->
        <div *ngIf="god.name==='MISCELLANEOUS'" class="modal fade" [id]="god.tagName" tabindex="-1" role="dialog" aria-labelledby="MISCELLANEOUSLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="MISCELLANEOUSLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" alt="" srcset="">Miscellaneous</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                    </div>
                    <div class="modal-body">
                        <table id="example" class="table table-striped table-striped  table-bordered">
                            <thead>
                                <tr>
                                
                                    <th>Name of the commodity </th>
                                    <th>Type of Package </th>
                                    <th>Net Weight</th>
                                    <th>Standard Rate. Rs.</th>
                                    <th>High Rated - II. Rs.</th>
                                    <th>High Rated - I. Rs.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Tamrind Seed</td>
                                    <td>Bags</td>
                                    <td>100 Kgs</td>
                                    <td>5.50</td>
                                    <td>6.00</td>
                                    <td>6.75</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                   
                                    <td>Lime Stone</td>
                                    <td>Bulk</td>
                                    <td>per Mt.</td>
                                    <td>35.30</td>
                                    <td>38.70</td>
                                    <td>43.45</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                              
                                    <td>Iron & SteelLime Stone</td>
                                    <td>Bulk</td>
                                    <td>per Mt.</td>
                                    <td>44.50</td>
                                    <td>48.75</td>
                                    <td>54.75</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                    
                                    <td>BHC dust 10% or 50%</td>
                                    <td>Bags</td>
                                    <td>50 kgs</td>
                                    <td>3.91</td>
                                    <td>4.25</td>
                                    <td>4.84</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                    
                                    <td>Servin 85 % dust</td>
                                    <td>Bags</td>
                                    <td>50 kgs</td>
                                    <td>3.91</td>
                                    <td>4.25</td>
                                    <td>4.84</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                   
                                    <td>DDT in 50% technical</td>
                                    <td>Bags</td>
                                    <td>50 kgs</td>
                                    <td>3.91</td>
                                    <td>4.25</td>
                                    <td>4.84</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                              
                                    <td>DDT in cylinders</td>
                                    <td>per cylinder</td>
                                    <td>20</td>
                                    <td>5.44</td>
                                    <td>6.03</td>
                                    <td>6.63</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                   
                                    <td>Copra</td>
                                    <td>Bags</td>
                                    <td>50 kgs`</td>
                                    <td>8.10</td>
                                    <td>8.85</td>
                                    <td>9.95</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                                <tr>
                                  
                                    <td>Milling Copra</td>
                                    <td>Bags</td>
                                    <td>50 kgs`</td>
                                    <td>12.25</td>
                                    <td>13.40</td>
                                    <td>15.05</td>
                                    <td>Excluding Insurance</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

           
        </div>

</div>  
</div>
           
<div class="col-md-12 text-center text-danger py-3">* Charges are indicated for monthly</div> 
        </div>





    </div>

</main>