.storagecharges-box {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f0f4c3;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    text-align: center;
    background-image: url(../../../assets/web-styles/images/storagebox.png);
    box-shadow: 0 5px 15px rgb(170 170 170 / 32%);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.storagecharges-box h6 {
    font-size: 14px;
    font-weight: 600;
    /* text-transform: uppercase; */
    letter-spacing: 0.8px;
}

.storagecharges-box button {
    font-size: 10px;
    background: #009688;
    border: none;
}

.storagecharges-box img {
    width: 43px;
    margin-bottom: 10px;
}

.storagecharges-box table tr td {
    padding: 8px 4px;
    font-size: 13px;
    color: black;
}

.storagecharges-box table tr th {
    padding: 10px 4px;
    background: #1f475a;
    color: #ffffff;
}

.storagecharges-box .modal-header {
    padding: 10px 20px;
    background: #f0f4c3;
    color: #000000;
}

.storagecharges-box .modal-header .close {
    padding: 5px 9px;
    margin: 0px 0px;
    color: white;
    font-size: 19px;
    opacity: 1;
    box-shadow: none;
    background: #7f8c01;
    border-radius: 36px;
}

.storagecharges-box .modal-body table {
    margin-bottom: 0px;
}

.storagecharges-box .modal-header .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storagecharges-box .modal-header img {
    width: 32px;
    margin-right: 14px;
    /* margin: 0px; */
    margin-bottom: 0px;
}