ul.home-cnt{
    display: flex;
    flex-direction: row;
}
ul.home-cnt li{
    margin: 3px;
}
ul.home-cnt li a{
    padding: 10px;
    background-color: #00b5b8;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    text-transform: capitalize;
}