
    <div class="container-fluid">
        <div class="row justify-content-center mb-2">
           
                <ul class="nav navbar-nav home-cnt">
                    <li><a routerLink="/Homepage">about apswc</a>
                    </li>
                    <li><a  routerLink="/whyaspcwc">why apswc</a>
                    </li>
                    <li><a routerLink="/ourvision">our vision</a>
                    </li>
                    <li><a  routerLink="/ourobjective">our objective</a>
                    </li>
                    <li><a routerLink="/cmmimisterphotos">CM -Minister photos</a>
                    </li>
                            
        
                </ul>
           
            
        </div>
        
        
    
</div>