.warehouse-layout {
    border-radius: 15px;
    width: 100%;
    background-color: #fff8e1;
    margin-bottom: 20px;
    padding: 10px 10px;
    border: 1px solid #eeeeee;
    /* height: 180px; */
    height: auto;
}

.warehouse-layout h1 {
    background: #673ab7;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    color: #ffffff;
    letter-spacing: 1px;
    right: -22px;
    margin-top: 33px;
    padding: 12px 5px;
    border-radius: 99px;
}

.compartment {
    margin-right: 5px;
    width: 100%;
    padding: 15px 10px;
    /* height: 156px; */
    height: auto;
    background: #ffffff;
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.warehouse-layout div .compartment div.stacklist {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.warehouse-layout div .compartment:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.warehouse-layout div .compartment:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.compartment h2 {
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    /* margin-top: -150px; */
    top: -5px;
    background: #fff8e1;
    color: black;
    padding: 2px 11px;
    border-radius: 5px;
}

.stacks {
    width: 40px;
    margin: 4px 4px;
    height: 40px;
    border-radius: 2px;
    float: left;
    border: 1px solid #e5e5e5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px #b4b3b3;
}

.occupied {
    background-color: gray;
    color: white;
    border: 1px solid gray;
}

.available {
    background-color: #4caf50;
    border: 1px solid #4caf50;
    color: #ffffff;
}

.partial {
    background-color: #30b2ef;
    border: 1px solid #30b2ef;
    color: white;
}

.compartment .stacks small {
    font-size: 13px;
    /* font-weight: bold; */
    font-weight: 600;
}

.ourtercompat {
    display: flex;
    justify-content: space-around;
}


/* .label-notation {
    position: fixed;
    width: 30%;
    top: 20px;
    right: 30%;
    padding: 7px 5px;
    background: #fafafa;
    box-shadow: inset 0px -3px 1px #f8bbd0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1038;
} */

.label-notation {
    position: static;
    width: 30%;
    margin: 0 auto;
    padding: 7px 5px;
    background: #fafafa;
    /* box-shadow: inset 0px -3px 1px #f8bbd0; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1038;
}

.label-notation div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.label-notation div p {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
}

.label-notation div p span {
    padding: 0px 8px;
    border-radius: 10px;
    margin-right: 3px;
}

.label-notation div p span.available {
    background: #8bc34a;
}

.label-notation div p span.partial {
    background: #30b2ef;
    border: 0px;
}

.label-notation div p span.occupied {
    background: #757575;
    border: 1px solid grey;
}

.label-notation div p span.partial {
    background: fff;
    border: 1px solid grey;
}

.label-notation div p span.occupied {
    background: #9e9e9e;
    border: 1px solid grey;
}

form .form-control {
    border: 1px solid #CCD6E6;
    color: #3F587E;
    padding: 13px;
    height: 34px;
}

.col-form-label {
    font-size: 13px;
    font-weight: 600;
}

form .form-group {
    margin-bottom: 2px;
}

.btn {
    padding: .6rem 1rem;
}

@media (max-width:480px) {
    .content-header {
        display: none;
    }
    .label-notation {
        position: fixed;
        width: 88%;
        top: 57px;
        right: 6%;
        padding: 7px 5px;
        background: #fafafa;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 999;
    }
    .header-navbar .navbar-header .menu-toggle {
        top: -13px;
        position: relative;
    }
    .compartment {
        height: 106px;
        margin-bottom: 18px;
        border-radius: 15px;
    }
    .compartment h2 {
        margin-top: -97px;
    }
    .warehouse-layout {
        height: auto;
    }
    .ourtercompat {
        flex-direction: column;
    }
    .warehouse-layout h1 {
        background: #673ab7;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        writing-mode: vertical-rl;
        -webkit-text-orientation: mixed;
        text-orientation: mixed;
        color: #ffffff;
        letter-spacing: 1px;
        right: -19px;
        margin-top: 38%;
        padding: 10px 3px;
        border-radius: 99px;
    }
}