<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Warehouse Layout - {{workLocationName}}</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item active">Warehouse Layout
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12" *ngIf="!isLayout && isWarehouseMap">
                        <div class="label-notation">
                            <div>
                                <p> <span class="occupied"></span> Occupied</p>
                                <p> <span class="available"></span> Available </p>
                                <p> <span class="partial"></span> Partially Filled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form [formGroup]="RMForm">
                        <div class="row justify-content-center my-2">
                            <div class="col-sm-4" *ngIf="isdiv">                           
                                <div class="form-group">
                                    <label for="Whname">WareHouse Name<span class="text-danger">*</span>
                                        <a triggers="mouseenter:mouseleave" popover="Select Warehouse Name" placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <ng-select formControlName="Whname" placeholder="Select WareHouse Name" 
                                        [ngClass]="{ 'is-invalid': isSubmit &&  srmf.Whname.errors }" (change)="LoadLayoutData()">
                                        <ng-option *ngFor="let c of WareshouseByrm" value="{{c.warehousE_CODE}}">
                                            {{c.warehousE_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isSubmit && srmf.Whname.errors" class="invalid-feedback">
                                        <div *ngIf="srmf.Whname.errors.required">
                                            WareHouse Name
                                            is required</div>
                                    </div>
                    
                                </div>
                    
                            </div>
                        </div>
                        
                       </form>
                    </div>
                    
                    <div class="col-sm-12 px-0" *ngIf="!isLayout && isWarehouseMap">
                        <div class="warehouse-layout" *ngFor="let godw of distgodownlist; let godIndex=index ">
                            <h1>{{godw.godowN_NAME}}</h1>
                            <div class="ourtercompat">
                                <div class="compartment"
                                    *ngFor="let comp of layoutdata | filterBy: ['godowN_ID']: godw.godowN_ID |groupBy:['compartmenT_NAME','compartmenT_ID'] | pairs | orderBy:'compartmenT_ID'; let cmpIndex=index">

                                    <h2>{{ comp[0].split('|')[0] }}</h2>

                                    <!-- <div class="stacklist" >
                                        <div class="stacks " style="cursor: pointer;" [ngClass]="(stack.stacK_TYPE == 1 ? 'occupied' : (stack.stacK_TYPE == 2 ? 'partial' : 'available') )" *ngFor="let stack of layoutdata | filterBy: ['godowN_ID']: godw.godowN_ID | filterBy :['compartmenT_ID']: comp[0].split('|')[1]  ; let stackIndex=index">
                                        <small  *ngIf="stack.stacK_TYPE == 0"> {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                        <small title="Commodity : {{stack.commodity}} " *ngIf="stack.stacK_TYPE == 1" > {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                        <small title="Commodity : {{stack.commodity}} " *ngIf="stack.stacK_TYPE == 2" > {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                    </div> -->
                                    <div class="stacklist" >
                                        <div class="stacks " 
                                            
                                            [outsideClick]="true"
                                            [popover]="popTemplate" 
                                            popoverTitle="Commodity : {{stack.commodity}}"
                                            placement="top"
                                            style="cursor: pointer;" [ngClass]="(stack.stacK_TYPE == 1 ? 'occupied' : (stack.stacK_TYPE == 2 ? 'partial' : 'available') )" *ngFor="let stack of layoutdata | filterBy: ['godowN_ID']: godw.godowN_ID | filterBy :['compartmenT_ID']: comp[0].split('|')[1]  ; let stackIndex=index">
                                            <small *ngIf="stack.stacK_TYPE == 0"> {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                            <small *ngIf="stack.stacK_TYPE == 1"> {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                            <small *ngIf="stack.stacK_TYPE == 2"> {{stack.stacK_NAME.replace("Stack ","")}} </small>
                                            <ng-template #popTemplate>
                                                <div class="text-center">
                                                    <table class="table popover-table">
                                                        <tr>
                                                            <td>No. of Bags</td>
                                                            <td>{{stack.nO_OF_BAGS}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Weight</td>
                                                            <td>{{stack.weight}}</td>
                                                        </tr>
                                                    </table>
                                                    <!-- <button class="btn btn-primary btn-sm">Commodity Transfer</button> -->
                                                </div>
                                            </ng-template>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                    

                    <!-------------  Junior Assistant ----------->
                    <div class="col-sm-12 text-center mb-2" *ngIf="(!isLayout && !isJAStatus)&&(JASection)">
                        <button class="btn btn-facebook btn-md" (click)="addConfigSetting();">Set Warehouse Layout
                            Configuration </button>
                    </div>
                  

                    <div class="col-sm-12 text-center mb-2" *ngIf="(isJAStatus && !isWHMStatus)&&(JASection)">
                        <h5 style="color: red;" class="mt-1"><b>Warehouse Layout Is Configured And Send To Warehouse Manager ( {{WH_Manager_Name}}) Approval </b></h5>
                    </div>

                    <div class="col-sm-12 text-center mb-2" *ngIf="(isJAStatus && isWHMStatus&& !isRMStatus)&&(JASection)">
                        <h5 style="color: red;" class="mt-1"><b>Warehouse Layout Is Approved By Warehouse Manager( {{WH_Manager_Name}})  And Send To  Regional Manager( {{RM_Name}})  Approval </b> </h5>
                    </div>
                   


                    <!-------------  Warehouse Manger ----------->

                    
                    <div class="col-sm-12 text-center mb-2" *ngIf="(!isJAStatus && !isWHMStatus)&&(WHMSection)">
                        <h5 style="color: red;" class="mt-1"><b>Please Configure Warehouse Layout By Junior Assistant</b>  </h5>
                    </div>
                    
                    


                    <div class="col-md-12 text-center" *ngIf="(isJAStatus && !isWHMStatus)&&(WHMSection)">
                        <button  type="button" (click)="AcceptorReject('Reasondiv');" class="btn btn-danger btn-min-width ml-1"><i class="fa fa-times-circle-o"></i>  Reject</button>
                        <button  type="button" (click)="AcceptorReject('1');" class="btn btn-success btn-min-width ml-1"><i class="fa fa-check-circle"></i> Approve</button>                        
                    </div>
                 

                    <div class="col-sm-12 text-center mb-2" *ngIf="(isJAStatus && isWHMStatus && !isRMStatus)&&(WHMSection)">
                        <h5 style="color: red;" class="mt-1"><b>Warehouse Layout Is Send To Regional Manager({{RM_Name}}) Approval </b></h5>
                    </div>

                  


                    <!---------Regional Manager-------------->                   

                    <div class="col-sm-12 text-center mb-2" *ngIf="(!isJAStatus && !isWHMStatus && !isRMStatus)&&(RMSection)">
                        <h5 style="color: red;" class="mt-1"><b>  Warehouse Layout Configuration is Not Yet Created..!</b>  </h5>
                    </div>

                    
                    <div class="col-md-12 text-center" *ngIf="(isJAStatus && isWHMStatus && !isRMStatus)&&(RMSection)">
                        <button  type="button" (click)="AcceptorReject('Reasondiv');" class="btn btn-danger btn-min-width ml-1"><i class="fa fa-times-circle-o"></i>  Reject</button>
                        <button  type="button" (click)="AcceptorReject('1');" class="btn btn-success btn-min-width ml-1"><i class="fa fa-check-circle"></i> Approve</button>                        
                    </div>

                    
                    <div class="col-sm-12 text-center mb-2" *ngIf="(isJAStatus && !isWHMStatus)&&(RMSection)">
                        <h5 style="color: red;" class="mt-1"><b>Warehouse Layout Is Configured And Send To Warehouse Manager ( {{WH_Manager_Name}}) Approval </b></h5>
                    </div>

                    
                   

                    <!--Rejection Div-->
                    <div class="col-md-12">
                        <form [formGroup]="rejectForm">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-5" *ngIf="isactive_flag">
                                    <div class="form-group form-row my-2">
                                        <label class="col-sm-3 text-right mb-0" for="reject_rmks">Reject Reason <span class="text-danger">*</span></label>
                                        <div class="input-group col-sm-9">
                                            <input type="text" lettersOnly autocomplete="off" maxlength="100" formControlName="reject_rmks"
                                            [ngClass]="{ 'is-invalid': isSubmit && sf.reject_rmks.errors }" class="form-control"
                                            placeholder="Enter Reject Reason">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary py-0"
                                                    type="button" type="button" (click)="AcceptorReject('2');">
                                                    Submit</button>
                                            </div>
                                            <div *ngIf="isSubmit && sf.reject_rmks.errors" class="invalid-feedback">
                                                <div *ngIf="sf.reject_rmks.errors.required">Reject Reason is required</div>
                                            </div>
                                        </div>
                                        <!-- <input type="text" lettersOnly autocomplete="off" maxlength="100" formControlName="reject_rmks"
                                            [ngClass]="{ 'is-invalid': isSubmit && sf.reject_rmks.errors }" class="form-control"
                                            placeholder="Enter Reject Reason">
                                        <div *ngIf="isSubmit && sf.reject_rmks.errors" class="invalid-feedback">
                                            <div *ngIf="sf.reject_rmks.errors.required">Reject Reason is required</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addSetting" bsModal #addconfigmodal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="editSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Warehouse Layout Cofiguration</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseConfig();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-12">
                            <form [formGroup]="LayoutForm">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label text-right">Enter No of
                                        Godowns : <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                            popover="Enter No of Godowns " placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <div class="col-sm-2">
                                        <input type="text" numbersOnly maxlength="2" minlength="1" class="form-control"
                                            placeholder="Ex: 4" formControlName="GCount"
                                            [ngClass]="{ 'is-invalid': isSubmit && layout.GCount.errors }"
                                            (input)="AddGodowns();" />
                                        <div *ngIf="isSubmit && layout.GCount.errors" class="invalid-feedback">
                                            <div *ngIf="layout.GCount.errors.required">No of Godowns
                                                is required</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- <button type="button" (click)="AddGodowns();" class="btn btn-foursquare">Add
                                            Godowns</button> -->
                                    </div>

                                </div>

                                <div class="col-sm-12 bg-light p-2 mt-2">

                                    <div class="row">
                                        <div class="col-sm-8 offset-2" formArrayName="godowns">
                                            <!-- <div *ngFor="let comm of c.controls; let i = index">

                                            </div> -->
                                            <div *ngFor="let godown of godowns().controls; let godIndex=index">
                                                <div [formGroupName]="godIndex">
                                                    <div class="form-group row">
                                                        <label for="inputPassword"
                                                            class="col-sm-6 col-form-label text-right">Enter No of
                                                            Compartments in Godown {{ godIndex +1}} : <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter No of Compartments in Godown {{ godIndex +1}} "
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <div class="col-sm-4">
                                                            <input type="text" numbersOnly maxlength="2" minlength="1"
                                                                class="form-control" placeholder="Ex: 4"
                                                                formControlName="CCount"
                                                                [ngClass]="{ 'is-invalid': isSubmit && godown.controls.CCount.errors }"
                                                                (input)="AddCompartments(godIndex);" />
                                                            <div *ngIf="isSubmit && godown.controls.CCount.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="godown.controls.CCount.errors.required">
                                                                    No of Compartments in Godown {{ godIndex +1}}
                                                                    is required</div>
                                                            </div>

                                                        </div>
                                                        <!-- <div class="col-sm-3">
                                                            <button type="button" class="btn btn-facebook"
                                                                (click)="AddCompartments(godIndex)">Add
                                                                Compartments</button>

                                                        </div> -->
                                                        <div formArrayName="compartments"
                                                            class="col-sm-10 offset-sm-3  bg-light p-2 my-1"
                                                            style="background-color: #eceff1!important;">
                                                            <div
                                                                *ngFor="let compartment of godowncompartments(godIndex).controls; let comIndex=index">
                                                                <div [formGroupName]="comIndex">
                                                                    <div class="form-group row">
                                                                        <label for="inputPassword"
                                                                            class="col-sm-6 col-form-label">Enter No of
                                                                            stacks
                                                                            in Compartment {{comIndex + 1}} : <span
                                                                                class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Enter No of stacks in Compartment {{comIndex + 1}} "
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <div class="col-sm-4">
                                                                            <input type="text" numbersOnly maxlength="2"
                                                                                minlength="1" class="form-control"
                                                                                placeholder="Ex: 4"
                                                                                formControlName="SCount"
                                                                                [ngClass]="{ 'is-invalid': isSubmit && compartment.controls.SCount.errors }" />
                                                                            <div *ngIf="isSubmit && compartment.controls.SCount.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                    *ngIf="compartment.controls.SCount.errors.required">
                                                                                    No of stacks in Compartment
                                                                                    {{comIndex + 1}}
                                                                                    is required</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>


                                <div class="row d-block text-center mb-2 mt-2">
                                    <button type="button" class="btn btn-primary" (click)="SaveCofiguration();">Save
                                        Configuration <i class="fa fa-cogs"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>