.form-control {
    box-shadow: none;
    border-color: #ddd;
}

.form-control:focus {
    box-shadow: none;
    border-color: #9e9e9e;
}

.login-header {
    background: #12206f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.login-header img {
    width: 400px;
}

body {
    background: none;
}

.page-border {
    background: url(../../assets/web-styles/images/loginbg.png);
    background-color: white;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    /* padding: 30px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    /* display: flex; */
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 15px rgba(169, 162, 162, 0.25);
    border-radius: 20px;
    width: 100%;
}

.login-form h4 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: 500;
    letter-spacing: -1px;
}

.login-form .loginavatar {
    color: #fff;
    margin: 0 auto 0px;
    text-align: center;
    /* width: 100px; */
    height: 100px;
    /* border-radius: 50%; */
    z-index: 9;
    /* background: #4aba70; */
    /* padding: 15px; */
    /* box-shadow: 0 5px 15px rgb(0 0 0 / 15%); */
}

.login-form .loginavatar i {
    font-size: 62px;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form .form-control,
.login-form .btn {
    font-size: 14px;
    min-height: 40px;
    border-radius: 2px;
    transition: all 0.5s;
    color: black;
}

.login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.login-form .btn {
    background: #0d47a1;
    border: none;
    line-height: normal;
    font-weight: bold;
    color: white;
}

.login-form .btn:hover,
.login-form .btn:focus {
    background: #0d47a1;
}

.login-form .checkbox-inline {
    float: left;
}

.login-form input[type="checkbox"] {
    margin-top: 2px;
}

.login-form .forgot-link {
    float: right;
}

.login-form .small {
    font-size: 13px;
}

.login-form a {
    color: #0d47a1;
}

.login-left-cnt h1 {
    color: rgb(19 19 19 / 85%);
    /* text-shadow: 0px 0px 1px black; */
    font-size: 30px;
}

.login-left-cnt .objectives li {
    color: black;
    font-size: 16px;
}

@media (max-width:480px) {
    .login-header img {
        width: 300px;
    }
}

.btn-login input[type="submit"] {
    width: 100%;
}

.login-form span {
    position: relative;
}

.login-form span:before {
    font-family: FontAwesome;
    content: "\f090"; /* Value may need to be changed in newer version of font awesome*/
    font-size: 1.3rem;
    position: absolute;
    left: 35%;
    top: 0px;
    pointer-events: none;
    z-index: 1;
    color: #fff;
}
.login-form .btn .fa{
    font-size: 1.3rem;
    margin-right: 8px;
}