<div class="container page-border px-0">


    <div class=" login-header">
        <img src="./assets/web-styles/images/loginlogo.svg" alt="" srcset="">
        <a class="btn btn-success" routerLink="/Home" style="display: flex; flex-direction: column; justify-content: center;align-items: center; "> <i class="fa fa-home fa-2x"></i> <small>Home</small> </a>
    </div>


    <div class="row px-1  px-md-5  py-md-3 py-2 ">
        <div class="col-sm-8 order-2 order-md-1">
            <div class="login-left-cnt mt-2 mt-md-5">
                <h1 class=" mb-2 mb-md-5">Golden rules for safe storage of foodgrains:</h1>

                <ul class="objectives">

                    <li>Grain should be clean & dry. Free from infestation. </li>
                    <li>Godown should be storage worthy. Proper dunnage be used to avoid damage to bottom layer due to seepage. </li>
                    <li> Godown should be properly cleaned and sprayed before storage of grain. </li>
                    <li>Immediate curative treatment should be given in case of infestation and rodent control measures should be adopted, if needed. </li>
                    <li>Periodical inspection of stock should be conducted fortnightly & regular prophylactic measures be undertaken. </li>
                    <li>Regular aeration of food grain is necessary for control of moisture, temperature and infestation. </li>
                    <li>Liquidation of stock should be done in First in First out basis (FIFO) </li>



                </ul>
            </div>
        </div>
        <div class="col-sm-4 order-1 order-md-2">
            <div class="login-form">
                <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                    <div class="loginavatar"><img src="./assets/web-styles/images/smlogo.svg" alt="" width="70" srcset=""></div>
                    <h4 class="modal-title">Login to Your Account</h4>
                    <div class="form-group">
                        <input type="text" formControlName="Username" maxlength="15" class="form-control" placeholder="Username" required="required">
                    </div>


                    <div class="form-group">
                        <input type="password" formControlName="Password" maxlength="15" class="form-control" placeholder="Password" required="required">
                    </div>

                    <div class="form-group form-row">
                        <label class="font-weight-bold col-12">Please enter captcha below in text field</label>
                        <div class="col-8 col-sm-9">
                            <!-- <re-captcha (resolved)="resolved($event)" formControlName="recaptchaReactive" siteKey="6Lfb2XkUAAAAAGqQ58W2ANMX1Yqm8HMOvbPlYL_N">
                            </re-captcha> -->
                            <img [src]="'data:image/jpg;base64,'+imageBase64" width="150" height="50" alt="" srcset="" />


                        </div>
                        <div class="col-4 col-sm-3">
                            <button type="button" (click)="LoadCaptcha();" class="btn btn-primary btn-block btn-sm"> <i class="fa fa-undo" aria-hidden="true"></i> <small>Refresh</small></button>

                        </div>
                        <input type="text" class="form-control mt-1" formControlName="recaptchaReactive" numbersOnly maxlength="6" autocomplete="off" placeholder="Enter above Captcha" required="required">
                    </div>
                    <div class="form-group small clearfix d-flex justify-content-between">
                        <!-- <a routerLink="/Registration">User Registration</a> -->
                        <!-- <a class="forgot-link">Forgot Password?</a> -->
                    </div>
                    <span class="btn-login"><input type="submit" class="btn btn-primary btn-lg" value="Login" /></span>
                    <a  class="btn btn-success btn-block btn-lg mt-1" routerLink="/Registration">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                         User Registration</a>
                </form>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center bg-dark">
            <p class="mb-0 py-2 text-white small">Copyright © 2021 APSWC. All Rights Reserved.</p>
        </div>
    </div>

</div>