<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status">
  </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <h3 class="content-header-title">Imprest Payments</h3>
      </div>
      <div class="
          content-header-right
          breadcrumbs-right breadcrumbs-top
          col-md-6 col-12
        ">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>Warehouse</a></li>
            <li class="breadcrumb-item active">Imprest Payments</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- card actions section start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Imprest Payments</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div>
                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="Taxclick()"><i
                    class="fa fa-plus-circle"></i>
                  Add</button>

              </div>
            </div>
            <div class="card-content">
              <div class="card-body">

                <div class="row">


                  <div class="col-md-12">


                    <div class="ag-theme-alpine">
                      <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine" [columnDefs]="columnDefs"
                        [floatingFilter]="true" (gridReady)="BindData($event)" [pagination]="true"
                        [paginationPageSize]="20" (selectionChanged)="onSelectionChanged($event)"
                        [frameworkComponents]="frameworkComponents" rowSelection="single" [components]="components">
                      </ag-grid-angular>
                    </div>


                    <!-- (rowSelected)="onRowSelected($event)" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div bsModal #TaxPaymentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left">Imprest Payment Details</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideTaxModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form [formGroup]="TaxPaymentForm">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 ">
                      <div class="form-group">
                        <label for="Taxtype">
                          Payment Type
                          <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                            popover="Select TaxType" placement="right">
                            <i class="fa fa-info-circle"></i>
                          </a></label>
                        <ng-select class="" id="exampleFormControlSelect1" formControlName="Taxtype"
                          [ngClass]="{ 'is-invalid': submitted && reg.Taxtype.errors}" (change)="Taxchange()">
                          <ng-option value="" selected>Select Payment Type</ng-option>
                          <!-- <ng-option value="PropertyTax">Property Tax</ng-option>
                          <ng-option value="WaterTax">Water Tax</ng-option> -->
                          <ng-option *ngFor="let c of imprestlist" [value]="c.iteM_ID">
                            {{c.iteM_NAME}} </ng-option>
                        </ng-select>
                        <div *ngIf="submitted && reg.Taxtype.errors" class="invalid-feedback">
                          <div *ngIf="reg.Taxtype.errors.required">Please Select Payment Type</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 ">
                      <div class="form-group">
                        <label for="EndDate">Payment Date <span class="text-danger">*</span>
                          <a triggers="mouseenter:mouseleave" popover="Select Tax Payment done Date" placement="right">
                            <i class="fa fa-info-circle"></i>
                          </a></label>
                        <div class="input-group">
                          <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="EndDate" ngbDatepicker
                            #d2="ngbDatepicker" readonly [maxDate]="NgbDateStruct" formControlName="EndDate"
                            (click)="d2.toggle()" [ngClass]="{ 'is-invalid': submitted && reg.EndDate.errors }" />
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" type="button" (click)="d2.toggle()"
                              type="button"><i class="ficon feather icon-calendar"></i></button>
                          </div>
                          <div *ngIf="submitted && reg.EndDate.errors" class="invalid-feedback">
                            <div *ngIf="reg.EndDate.errors.required">Payment Date
                              is required</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="OutName">Payment Amount<span class="text-danger">*</span>
                          <a triggers="mouseenter:mouseleave" popover="Enter Payment Amount" placement="right">
                            <i class="fa fa-info-circle"></i>
                          </a></label>
                        <input type="text" maxlength="10" placeholder="Enter Amount" class="form-control" digitsOnly
                          formControlName="TaxAmount" [ngClass]="{ 'is-invalid': submitted && reg.TaxAmount.errors}" />

                        <div *ngIf="submitted && reg.TaxAmount.errors" class="invalid-feedback">
                          <div *ngIf="reg.TaxAmount.errors.required">Please enter Tax Amount</div>
                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-sm-6 col-md-6 mb-2">
                      <label for="OutName">Upload Receipt<span class="text-danger">*</span>
                        <a triggers="mouseenter:mouseleave" popover="Upload Tax Payment Done Receipt" placement="right">
                          <i class="fa fa-info-circle"></i>
                        </a></label>
                      <div class="input-group">
                        <div class="custom-file">

                          <input type="hidden" formControlName="DocPath" />

                          <input type="file" formControlName="RegDoc"
                            [ngClass]="{ 'is-invalid': submitted && reg.RegDoc.errors }" #file
                            placeholder="Upload Receipt" (change)="uploadFile($event)" class="form-control"
                            id="inputGroupFile04">
                          <label class="custom-file-label" for="inputGroupFile04">Upload
                            Documnet <span class="text-danger">*</span></label>

                        </div>
                        <div *ngIf="reg.RegDoc.errors" class="invalid-feedback">
                          <div *ngIf="reg.RegDoc.errors.required"></div>
                        </div>
                      </div>
                      <div class="input-group-append ml-2 " style="color: green;" [hidden]="!progressbar">
                        <span class="upload" *ngIf="progress > 0">
                          {{progress}}%
                        </span>
                        <span class="upload ml-2" *ngIf="message">
                          {{message}}
                        </span>
                      </div>
                      <div class="invalid-feedback" style="display: block !important;">
                        <div> * File size upto 2 MB</div>
                      </div>
                      <div class="input-group-append" *ngIf="seldoctype == 'IMAGE'">
                        <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
                      </div>

                      <div class="input-group-append mt-1" *ngIf="seldoctype == 'PDF'">
                        <a [href]="seldocpath" target="_blank">View</a>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="OutName">Remarks
                          <a triggers="mouseenter:mouseleave" popover="Enter Remarks" placement="right">
                            <i class="fa fa-info-circle"></i>
                          </a>
                        </label>
                        <textarea name="" maxlength="100" alphanumbers="" placeholder="Enter Remarks"
                          class="form-control" id="" cols="30" rows="2" formControlName="taxRemarks"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-block text-center mb-2">
                  <button type="button" class="btn btn-primary" (click)="Sumbitfun()">
                    <i _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Submit Details
                  </button>
                </div>


              </div>
            </form>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END: Page Main-->

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>