#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;

}
.ag-theme-alpine .ag-cell-value, .ag-group-value {
    overflow: hidden;
    text-overflow: unset !important;
}

.upload {
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.table thead th, .table thead td{
white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
        
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}

    /* img:hover {
        transform: scale(1.3);
        } */
 

.zoom:hover {
  transform: scale(0.5); /* (150% zoom)*/
}











.container {
    width: 100%;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.title {
    width: 100%;
  }
  
    .content display logo {
      width: 100%;
  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
  
   
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 0.5rem;
        }
  
       
    
  
.editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
}
    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;  
      

        }

