<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-right col-md-6 col-12 mb-1">
                  <h3 class="content-header-title">Help</h3>
                </div>
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a >Home</a>  
                      </li>
                      <li class="breadcrumb-item"><a >Masters</a>
                      </li>
                      <li class="breadcrumb-item active">Help
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Help</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create">
                                    <form>

                                        <div class="row">
                                            <div class="col-md-12 text-right  ">
                                                <button class="btn btn-success mr-1" (click)="AddHelp();">
                                                    <i class="fa fa-plus-circle"></i>
                                                    Add</button>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid  class="ag-theme-alpine" 
                                                    [columnDefs]="columnDefs"
                                                    [floatingFilter]="true"
                                                    (gridReady)="BindData($event)"
                                                    [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents"
                                                    rowSelection="single"
                                                    [components]="components"
                                                    >
                                                
                                                    </ag-grid-angular>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Add Section Modal -->
<div class="modal fade" id="AddSection" bsModal #addModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">Help</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="hideaddModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="HelpAddForm">
                   
                    <div class="">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Page"> Page  <span class="text-danger">*</span></label>                               
                            <ng-select  formControlName="PageName" [readonly]='isEdit' (change)="OnchangePage()"
                            [ngClass]="{ 'is-invalid': submitted && subf.PageName.errors }"
                            placeholder="Select Page Name">                                
                            <ng-option *ngFor="let pdd of PageDD"  [value]="pdd.pagE_ID">{{pdd.pagE_NAME}}
                            </ng-option>
                            </ng-select>

                            <div *ngIf="submitted && subf.PageName.errors" class="invalid-feedback">

                                <div *ngIf="subf.PageName.errors.required"> Page Name is required</div>

                            </div>
                        </div>
                    </div>

                        <div class="col-md-12">
                            <div class="form-group">
                               
                                <label for="Text">Description <span class="text-danger">*</span></label>
                                <div class="editor">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                                </ngx-editor-menu>

                                <ngx-editor [editor]="editor" [ngClass]="{ 'is-invalid': submitted && subf.Description.errors}" name="Description"  formControlName ="Description"  maxlength="7000"  placeholder="Please Enter Description" >
                                </ngx-editor>
                                
                                <div *ngIf="submitted && subf.Description.errors" class="invalid-feedback">
                                    <div *ngIf="subf.Description.errors.required">Description is required</div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-block text-center mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="SubmitAddDetails();">Submit</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>