html body.fixed-navbar {
    padding-top: 0rem;
}


/* Top Header */

.top-header {
    padding: 1px 15px;
    background: #f8faf8;
}

.top-header a {
    font-size: 13px;
    color: black;
}

.top-right-header {
    margin-bottom: 0px;
    padding-left: 10px;
    margin-left: 25px;
}

.top-right-header li {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px 15px;
    border: 1px solid #cfcaca;
    background-color: white;
}


/* .top-right-header li::after{
    content: '';
    background: #141818;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 18px; 
    margin-left: 6px;
    border-radius: 58px;
}
.top-right-header li:last-child::after{
   display: none;

} */

.top-right-header li a {
    font-weight: 600;
}

.top-right-header li a i {
    margin-right: 2px;
}


/* Font increase */

ul.font-increase {
    display: flex;
    margin-bottom: 0px;
    padding-left: 5px;
}

ul.font-increase li {
    margin: 4px;
    list-style-type: none;
}

ul.font-increase li button {
    background: #ffffff;
    border-radius: 1px;
    color: #069203;
    font-size: 12px;
    border: 1px solid #dadada;
    font-weight: bold;
    width: 28px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

ul.font-increase li a:hover {
    text-decoration: none;
}


/* Language */

.language {
    display: flex;
    margin-bottom: 0px;
    padding-left: 5px;
}

ul.language li {
    margin: 4px;
    list-style-type: none;
}

ul.language li a {
    padding: 8px 5px;
    border-radius: 5px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}


/* navbar */

.header-bg {
    background-color: #0d2b93 !important;
}

header .navbar-brand {
    position: absolute;
    top: -5px;
    z-index: 1;
    padding: 0;
}

header .navbar-brand img {
    width: 450px;
}

@media (min-width: 768px) {
    header .navbar-brand img {
        width: 280px;
        z-index: -9999;
        position: relative;
    }
}

@media (min-width: 992px) {
    header .navbar-brand img {
        width: 350px;
        margin-left: 0px;
    }
    header .navbar-brand {
        position: absolute;
        top: -3px;
    }
}

@media (min-width: 1200px) {
    header .navbar-brand img {
        width: 410px;
        margin-left: 0px;
    }
    header .navbar-brand {
        position: absolute;
        top: -18px;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    header .navbar-brand {
        position: absolute;
        left: 0px;
        top: -12px !important;
    }
    .top-right-header li a span {
        display: none;
    }
    #myHeader .container {
        display: flex;
        justify-content: flex-end;
    }
    ul.font-increase li {
        margin: 4px 2px;
        list-style-type: none;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 75px;
        left: 0;
        width: 67%;
        height: 100%;
        background: #fafafa;
        padding: 0px;
        padding-top: 30px;
        z-index: -1;
        color: black !important;
        box-shadow: 2px 0px 15px #82777757;
    }
    .show>.dropdown-menu {
        transform: scale(1, 1);
        opacity: 1;
        display: block;
        background: transparent;
        border: 0px;
        box-shadow: none;
        color: white;
    }
    .dropdown-toggle::after {
        font-family: FontAwesome;
        content: '\f107'!important;
        border: none!important;
        position: relative;
        top: 1px;
        right: 0;
        padding: 0 2px 0 6px;
        margin: 0 .3em 0 0;
        vertical-align: 0;
        float: right;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #000;
        padding: 0px;
    }
    .dropdown-item {
        color: #ffffff;
    }
    .navbar-dark .navbar-nav .nav-item {
        padding: 15px;
    }
    .navbar-dark .navbar-nav .nav-item:focus,
    .navbar-dark .navbar-nav .nav-item:hover {
        color: rgb(255 255 255);
        background: #1a237e;
    }
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(255 255 255);
        background: transparent;
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}