<header>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">


                </div>
                <div class="col-12 col-md-6 px-0 d-flex justify-content-center justify-content-md-end align-items-center">



                    <!-- <ul class="language">

                        <li>
                            <a >Telugu</a>
                        </li>
                        <li>
                            <a >English</a>
                        </li>

                    </ul> -->

                    <ul class="font-increase">

                        <li>
                            <button id="btn-decrease">A-</button>
                        </li>
                        <li>
                            <button id="btn-orig">A</button>
                        </li>
                        <li>
                            <button id="btn-increase">A+</button>
                        </li>
                    </ul>
                    <ul class="top-right-header">
                        <li><a routerLink="/Sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i> <span>Sitemap</span></a></li>
                        <li style="border-left: 0px;  border-right: 0px;"><a routerLink="/ScreenReaderAccess"><i class="fa fa-book" aria-hidden="true"></i><span>Screen Reader Access</span> </a></li>
                        <li><a href="#maincontent"><i class="fa fa-chain-broken" aria-hidden="true"></i> <span>Skip to main</span></a></li>
                    </ul>
                    <!-- <form class="form-inline my-2 ml-3 my-lg-0">
                        <input class="form-control headsearch mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form> -->
                </div>

            </div>
            <!--/row-->
        </div>
    </div>






    <nav class="navbar navbar-expand-lg navbar-dark header-bg py-md-0" id="myHeader">
        <div class="container px-0">


            <a class="navbar-brand" routerLink="/Home"> <img src="assets/web-styles/images/aplogo.svg" width="350" alt="apswc-logo" srcset="assets/web-styles/images/aplogo.svg"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/Home">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a routerLink="/Boardofdirector" class="dropdown-item">Board of Directors</a>
                            <a routerLink="/OrganisationalStructure" class="dropdown-item">Organisational Structure</a>
                            <a routerLink="/WarehouseAct" class="dropdown-item">Warehousing Act</a>
                            <a routerLink="/Regulation" class="dropdown-item">Regulations</a>

                            <!-- <a class="dropdown-item" href="documentryrepostory.html">Document Repository</a> -->


                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Warehouse 
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <!-- <a class="dropdown-item" href="logistic.html">Logistic</a> -->
                            <a class="dropdown-item" routerLink="/StorageCharges">Storage and other charges</a>
                            <a class="dropdown-item" routerLink="/ServicesCharter">Service Charter</a>
                            <a class="dropdown-item" routerLink="/Tender">Tenders</a>
                            <a class="dropdown-item" routerLink="/GodownLocator">Godown Locator</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gallery
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" routerLink="/PhotoGallery">Photo Gallery</a>
                            <a class="dropdown-item" routerLink="/InpectionGallery">Inspection Gallery</a>


                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Contactus">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown eserive-btn">
                        <a class="nav-link " routerLink="/Login" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-lock" aria-hidden="true"></i> Login
                        </a>
                        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" >Dashboard</a>
                            <a class="dropdown-item">Login</a>

                        </div> -->
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>