<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row justify-content-between">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">HR Dashboard</h3>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="list-group filter-list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Day</a>
                    <a href="#" class="list-group-item list-group-item-action">Week</a>
                    <a href="#" class="list-group-item list-group-item-action">Month</a>
                    <a href="#" class="list-group-item list-group-item-action">Year</a>
                </div>
            </div>
        </div>

        <div class="content-body">

            <!--stats-->
            <div class="row stats-count match-height">

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-primary border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <div class="d-flex">
                                            <h2>Leaves <img src="./assets/app-assets/images/nextmonth.svg"></h2>
                                            <div class="form-group mb-0">
                                                <ng-select placeholder="July" class="medium-control">
                                                    <ng-option>Today</ng-option>
                                                    <ng-option>July</ng-option>
                                                    <ng-option>June</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span>Leaves Applied</span>
                                            <h3 class="primary">80</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Approved</span>
                                            <h3 class="success">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Pending</span>
                                            <h3 class="warning">123</h3>
                                        </div>
                                        <button class="btn btn-sm btn-primary">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-warning border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <div class="d-flex">
                                            <h2>Employees <img src="./assets/app-assets/images/emp.svg"></h2>
                                            <div class="form-group mb-0">
                                                <ng-select placeholder="2020-2021" class="medium-control">
                                                    <ng-option>2020-2021</ng-option>
                                                    <ng-option>2019-2020</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span>Total</span>
                                            <h3 class="primary">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Active</span>
                                            <h3 class="success">123</h3>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span>Regular Employees</span>
                                            <h3 class="warning">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Contracted Employees</span>
                                            <h3 class="purple">123</h3>
                                        </div>
                                        <button class="btn btn-sm btn-info">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-secondary border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <div class="d-flex">
                                            <h2 class="f-9">Medical Reimbursement <img src="./assets/web-styles/images/certificates.svg"></h2>
                                            <div class="form-group mb-0">
                                                <ng-select placeholder="July" class="medium-control">
                                                    <ng-option>Today</ng-option>
                                                    <ng-option>July</ng-option>
                                                    <ng-option>June</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span>Total Requests</span>
                                            <h3 class="primary">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Approved</span>
                                            <h3 class="success">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Total Amount Sanctioned</span>
                                            <h3 class="danger">123</h3>
                                        </div>
                                        <button class="btn btn-sm btn-success">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card border-top-success border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body text-left w-100">
                                        <div class="d-flex">
                                            <h2>Attendance <img src="./assets/app-assets/images/today.svg"></h2>
                                            <div class="form-group mb-0">
                                                <ng-select placeholder="July" class="medium-control">
                                                    <ng-option>Today</ng-option>
                                                    <ng-option>July</ng-option>
                                                    <ng-option>June</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-between">
                                            <span>Total</span>
                                            <h3 class="primary">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Marked IN</span>
                                            <h3 class="success">123</h3>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span>Not Marked IN</span>
                                            <h3 class="danger">123</h3>
                                        </div>
                                        <button class="btn btn-sm btn-success">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row match-height">
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card border-top-danger border-top-lighten-1">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body loan-items-list text-left w-100">
                                        <div class="d-flex">
                                            <h2>Loan Details <img src="./assets/app-assets/images/loan.svg"></h2>
                                            <div class="form-group mb-0">
                                                <ng-select placeholder="2020-2021" class="medium-control">
                                                    <ng-option>2020-2021</ng-option>
                                                    <ng-option>2019-2020</ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-primary float-right">250</span> Total Requests
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-info float-right">200</span> Total Approved
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-danger float-right">Rs. 25,000,0000</span> Total Sanctioned Amount
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-warning float-right">Rs. 11,050,0000</span> Pending Amount
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-secondary bg-lighten-5 float-right">Rs. 5,000,0000</span> Discrepancy Amount
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-success float-right">Rs. 8,500,0000</span> Recovered Amount
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge badge-pill bg-purple bg-accent-2 float-right">Rs. 2,250,0000</span> Balance Amount
                                            </li>
                                        </ul>
                                        <button class="btn btn-sm btn-danger">More info <i class="feather icon-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Loan Details Graph</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <!-- <div id="chart">
                                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [fill]="chartOptions.fill">
                                    </apx-chart>
                                </div> -->
                                <!-- <apx-chart [series]="series" [chart]="chart9" [dataLabels]="dataLabels" [markers]="markers" [title]="title" [fill]="fill" [yaxis]="yaxis" [xaxis]="xaxis" [tooltip]="tooltip" [autoUpdateSeries]="true"></apx-chart> -->
                                <div id="linechart">
                                    <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart" [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors" [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
                                        [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid" [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Attendance Graph</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="chart3">
                                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [labels]="chartOptions3.labels" [legend]="chartOptions3.legend" [fill]="chartOptions3.fill" [responsive]="chartOptions3.responsive">
                                    </apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row match-height">
                <div class="col-xl-7 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Employee Graph</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="p-1 bg-success bg-accent-1">
                                    <div class="filter-inline-radio-btns">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadioInline5">Employee Type</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Gender Wise</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Designation Wise</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline3">Age Wise</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline4">Qualification Wise</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="chart5">
                                    <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart" [dataLabels]="chartOptions5.dataLabels" [stroke]="chartOptions5.stroke" [colors]="chartOptions5.colors" [title]="chartOptions5.title" [subtitle]="chartOptions5.subtitle" [plotOptions]="chartOptions5.plotOptions"
                                        [yaxis]="chartOptions5.yaxis" [xaxis]="chartOptions5.xaxis" [tooltip]="chartOptions5.tooltip"></apx-chart>
                                </div>
                                <!-- <div id="groupedchart">
                                    <apx-chart [series]="groupedChartOptions.series" [chart]="groupedChartOptions.chart" [dataLabels]="groupedChartOptions.dataLabels" [plotOptions]="groupedChartOptions.plotOptions" [xaxis]="groupedChartOptions.xaxis" [stroke]="groupedChartOptions.stroke"></apx-chart>
                                </div> -->
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Medical Reimbursement Graph</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div id="columnchart">
                                    <apx-chart [series]="columnChartOptions.series" [chart]="columnChartOptions.chart" [dataLabels]="columnChartOptions.dataLabels" [plotOptions]="columnChartOptions.plotOptions" [responsive]="columnChartOptions.responsive" [xaxis]="columnChartOptions.xaxis"
                                        [legend]="columnChartOptions.legend" [colors]="columnChartOptions.colors" [fill]="columnChartOptions.fill"></apx-chart>
                                </div>
                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>