.gallery img:hover {
    transform: scale(1.1) rotate(-4deg);
    z-index: 1;
}

.gallery img {
    transition: all;
    transition-duration: .2s;
    border-radius: 2px;
}

.is-hidden {
    display: none;
}

.gallery .card-body{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    display: block;
    padding: 1.25rem;
    position: relative;
}
.gallery .card-body:after,
.gallery .card-body:before {
    content: "";
    height: 0;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    width: 0;
}
.gallery .card-body:before {
    border-bottom: 10px solid transparent;
    border-right: 12px solid #ccc;
    border-top: 10px solid transparent;
    left: -12px;
    z-index: 1;
}
.gallery .card-body:after {
    border-bottom: 9px solid transparent;
    border-right: 11px solid #fff;
    border-top: 9px solid transparent;
    left: -10px;
    z-index: 2;
}
.gallery .date-year , .gallery .card-title{
    cursor: pointer;
}


/* Badge Icon */

  .badge{
    width: 40px;
    height: 40px;
    display: block;
  }
  .badge span{
    position: relative;
    bottom: 2px;
    padding: 10px 5px;
    display: block;
  }
  .badge span::after {
    content:"\f067";
    font-family:'FontAwesome';
    color:#fff;
  }
  
  .badge.expanded span::after{
    content:"\f068";
    font-family:'FontAwesome';
    color:#fff;
  }




  /* Photo Gallery Tab Timeline */


  
.tabs {
  position: relative; }
  .tabs .nav-tabs {
    border: none; }

.tabs--time-line .nav-tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.tabs--time-line .nav-tabs .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  color: #8d9cab;
  font-weight: 700;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 6px 0;
  border: none; }

.tabs--time-line .nav-item--point {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  margin-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .tabs--time-line .nav-item--point:before, .tabs--time-line .nav-item--point:after {
    content: '';
    display: block;
    height: 103px;
    width: 2px;
    background-color: #009688;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease; }
  .tabs--time-line .nav-item--point:before {
    top: -7px; }
  .tabs--time-line .nav-item--arrow-wrap:before {
    content: '\f067';
    font-family: 'FontAwesome';
    position: absolute;
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
  }
  
  .tabs--time-line .nav-link.active .nav-item--arrow-wrap:before {
    display: none;
  }
  .tabs--time-line .nav-item--point:after {
    bottom: -7px; }

.tabs--time-line .nav-item--arrow-wrap {
  margin: auto;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border: 3px solid #009688;
  background-color: #009688;
  border-radius: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10; }
  .tabs--time-line .nav-item--arrow-wrap .crumina-icon {
    margin: auto;
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    fill: #009688; }
  
  .tabs--time-line .nav-link.active .nav-item--arrow-wrap .crumina-icon::after{
    content: '\f068';
    font-family: 'FontAwesome';
    font-size: 16px;
    position: absolute;
    margin: 0 auto;
    display: block;
    text-align: center;
    align-items: center;
    left: 0;
    right: 0;
  }
  /* .tabs--time-line .nav-item--arrow-wrap .crumina-icon::after{
    content: '\f067';
    font-family: 'FontAwesome';
    font-size: 16px;
  } */

.tabs--time-line .nav-tabs .nav-link.active ~ .nav-link .nav-item--arrow-wrap {
  background-color: #cad7e3;
  border: 3px solid #cad7e3; }

.tabs--time-line .nav-tabs .nav-link.active ~ .nav-link .nav-item--point:before, .tabs--time-line .nav-tabs .nav-link.active ~ .nav-link .nav-item--point:after {
  background-color: #cad7e3; }

.tabs--time-line .nav-tabs .nav-link.active {
  color: #009688;
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 900; }
  .tabs--time-line .nav-tabs .nav-link.active .nav-item--point:before {
    background-color: #009688; }
  .tabs--time-line .nav-tabs .nav-link.active .nav-item--point:after {
    background-color: #009688; }
  .tabs--time-line .nav-tabs .nav-link.active .nav-item--arrow-wrap {
    width: 100%;
    height: 100%;
    background-color: #f0f4c3;
    border: 4px solid #009688; }
    .tabs--time-line .nav-tabs .nav-link.active .nav-item--arrow-wrap .crumina-icon {
      visibility: visible;
      opacity: 1;
      max-width: initial;
      max-height: initial;
      width: 32px;
      height: 20px; }

.tabs--time-line .nav-tabs .nav-link:not(.active):hover {
  border-color: transparent;
  color: #009688; }
  .tabs--time-line .nav-tabs .nav-link:not(.active):hover .nav-item--arrow-wrap {
    border: 3px solid #009688;
    max-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    background-color: #ebf2f8; }

.tabs--time-line .tabs--time-line-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #8d9cab;
  margin-bottom: 20px; }
.tabs--time-line .bg-success{
  background-color: #009688 !important;
  padding: 5px 5px;
  border-radius: 3px;
}

@media screen and (max-width: 991px){
  .tabs--time-line .nav-tabs .nav-link {
    width: 15%;
    display: block;
  }
  .tabs--time-line .nav-tabs {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; 
  }
  .tabs--time-line .nav-tabs .nav-link.active {
    font-size: 18px;
  }
  .tabs--time-line .nav-item--point {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    margin-left: 0;
    display: flex;
    position: relative;
  }
  .tabs--time-line .nav-item--point:before, .tabs--time-line .nav-item--point:after {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    background-color: #009688;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color .3s ease;
  }
  .tabs--time-line .nav-item--point:before {
    top: 20px;
  }
  .tabs--time-line .nav-item--point:after {
    display: none;
  }
}