<div class="container page-border">

    <div class="row breadcum">
        <div class="col-sm-12">
            <div class="">

                <h1>Hyperlink Policy</h1>
                <p>Home /<a > Hyperlink policy</a></p>
            </div>

        </div>
    </div>


    <div class="row p-5">
        <div class="col-sm-12">

            <div class="content-page">



                <h3> Links to external websites/portals</h3>

                <p> At many places in this Website, you shall find links to other websites/portals. This links have been placed for your convenience. This Office is not responsible for the contents and reliability of the linked websites and does not necessarily
                    endorse the views expressed in them. Mere presence of the link or its listing on this Website should not be assumed as endorsement of any kind. We can not guarantee that these links will work all the time and we have no control
                    over availability of linked pages.</p>

                <h3> Links to this Website by other websites </h3>

                <p>We do not object to you linking directly to the information that is hosted on this Website and no prior permission is required for the same. However, we would like you to inform us about any links provided to this Website. Also, we
                    do not permit our pages to be loaded into frames on your site. The pages belonging to this Website must load into a newly opened browser window of the User.</p>
            </div>
        </div>
    </div>

</div>