

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Home Page Content</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">Why APSWC
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
  
        </div>
        <app-home-headerlayout></app-home-headerlayout>

  
        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">
  
                        <div class="card">
                            <div class="card-body">
  
  
                              <h4 class="card-title">APSWC Home Page Content Form</h4>
  
  
                              <div class="row" [hidden]="!formedit" >
                                <div class="col-12 col-sm-12 col-md-6">
                                  <div class="about-hc">
                                    <div  [innerHTML]="divapswcwhy">
                              
                                    </div>
                                  </div>
                                  <div class="row">
                                    <button type="button" class="btn btn-success" (click)="apswcedit();">Edit</button>
                                  </div>
                                </div>
                              </div>
  
           <form [formGroup]="formwhy" (ngSubmit)="onSubmit()"  [hidden]="formedit">
  
               <label>APSWC WHY</label> <span class="danger">*</span>
                <div class="editor1">
                  <ngx-editor-menu [editor]="editor1" [toolbar]="toolbar1">
                  </ngx-editor-menu>
  
                  <ngx-editor [editor]="editor1" formControlName="apswcwhy" maxlength="1000"  placeholder="Please Enter apswcwhy">
                  </ngx-editor>
                </div>
                <br>
                <br>
                              <div class="row justify-content-center mb-5" >
                                <button type="submit" class="btn btn-success">UPDATE</button>
                                </div>
                
              </form>
  
    </div>
  </div>
  
  