<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Outsourcing Agencies Details</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Registrations</a>
                        </li>
                        <li class="breadcrumb-item active">Outsourcing Agencies
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Outsourcing Agencies Details</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button class="btn btn-secondary btn-md ml-1" type="button"
                                    (click)="AddOutSourcing()"><i class="fa fa-plus-circle"></i>
                                    Add</button>
                                <button class="btn btn-info btn-md ml-1" (click)="HistoryOutSourcing('all');">
                                    <i class="fa fa-clock-o"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20" (cellClicked)="dataclicked($event)"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} Outsourcing Agency Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="OutSourceForm">
                    <div class="card-content">
                        <div class="card-body">
                            <h5 class="font-weight-bold mb-2 mt-2 text-success">General Details</h5>
                            <div class="row">
                                <div class="col-md-3">

                                    <input type="hidden" formControlName="OursouceCode" />
                                    <div class="form-group">
                                        <label for="OutName">Agency Name<span class="text-danger"> *
                                            </span> <a triggers="mouseenter:mouseleave" popover="Enter Agency Name"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' maxlength="100" type="text" alphaNumbers
                                            class="form-control" placeholder="Enter Name" lettersOnly
                                            formControlName="OutName"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.OutName.errors }">
                                        <div *ngIf="isSubmit && reg.OutName.errors" class="invalid-feedback">
                                            <div *ngIf="reg.OutName.errors.required">Agency Name
                                                is required</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="StartDate">Start Date <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Start Date"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                name="StartDate" ngbDatepicker #d1="ngbDatepicker"
                                                [disabled]='isEdit ? true : null' readonly formControlName="StartDate"
                                                (click)="d1.toggle()"
                                                [ngClass]="{ 'is-invalid': isSubmit && reg.StartDate.errors }" />
                                            <div class="input-group-append">
                                                <button [disabled]='isEdit ? true : null'
                                                    class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d1.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="isSubmit && reg.StartDate.errors" class="invalid-feedback">
                                                <div *ngIf="reg.StartDate.errors.required">Start Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EndDate">End Date <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency End Date"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <div class="input-group">
                                            <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                name="EndDate" ngbDatepicker #d2="ngbDatepicker" readonly
                                                formControlName="EndDate" (click)="d2.toggle()"
                                                [ngClass]="{ 'is-invalid': isSubmit && reg.EndDate.errors }" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d2.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="isSubmit && reg.EndDate.errors" class="invalid-feedback">
                                                <div *ngIf="reg.EndDate.errors.required">End Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="PANNo">PAN No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency PAN No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' alphaNumbers class="form-control"
                                            placeholder="PAN No" formControlName="PANNo"
                                            oninput="this.value=this.value.toUpperCase()" minlength="10" maxlength="10"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.PANNo.errors }" />
                                        <div *ngIf="isSubmit && reg.PANNo.errors" class="invalid-feedback">
                                            <div *ngIf="reg.PANNo.errors.required">PAN No
                                                is required</div>
                                            <div *ngIf="reg.PANNo.errors.minlength">PAN No
                                                Must Be 10 Digits</div>
                                            <div *ngIf="reg.PANNo.errors.pattern">
                                                Invalid PAN Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="GSTNo">GST No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency GST No"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" [readonly]='isEdit' alphaNumbers class="form-control"
                                            placeholder="GST No" formControlName="GSTNo"
                                            oninput="this.value=this.value.toUpperCase()" minlength="15" maxlength="15"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.GSTNo.errors }" />
                                        <div *ngIf="isSubmit && reg.GSTNo.errors" class="invalid-feedback">
                                            <div *ngIf="reg.GSTNo.errors.required">GST No
                                                is required</div>
                                            <div *ngIf="reg.GSTNo.errors.minlength">GST No
                                                Must Be 15 Digits</div>
                                            <div *ngIf="reg.GSTNo.errors.pattern">
                                                Invalid GST Number Format
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NState">State <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency State"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NState"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NState.errors }"
                                            placeholder="Select State">
                                            <ng-option *ngFor="let dist of states" [value]="dist.id">
                                                {{dist.states}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NState.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NState.errors.required">State
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Pincode <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Pincode"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" placeholder="Enter Pincode" numbersOnly
                                            minlength="6" maxlength="6" formControlName="NPincode"
                                            (change)="PincodeDetails()"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NPincode.errors }" />
                                        <div *ngIf="isSubmit && reg.NPincode.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NPincode.errors.required">Pincode
                                                is required</div>
                                            <div *ngIf="reg.NPincode.errors.minlength">Pincode must
                                                be 6 numbers</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NDistrict">District <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency District"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NDistrict" (change)="DistrictChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NDistrict.errors }"
                                            placeholder="Select District">
                                            <ng-option *ngFor="let dist of districts" [value]="dist.districT_CODE">
                                                {{dist.districT_NAME_ENG}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NDistrict.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NDistrict.errors.required">District
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NArea">Area <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency Area"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NArea" (change)="DistrictChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NArea.errors }"
                                            placeholder="Select Area">
                                            <ng-option *ngFor="let area of urlist" [value]="area.id">
                                                {{area.urbaN_RURAL}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NArea.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NArea.errors.required">Area
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NMandal">Municipal/Mandal <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave"
                                                popover="Select Agency Municipal/Mandal" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NMandal" (change)="MandalChange()"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NMandal.errors }"
                                            placeholder="Select Municipal/Mandal">
                                            <ng-option *ngFor="let dist of nmandals" [value]="dist.mmC_CODE">
                                                {{dist.mmC_NAME}}
                                            </ng-option>
                                        </ng-select>

                                        <div *ngIf="isSubmit && reg.NMandal.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NMandal.errors.required">
                                                Municipal/Mandal
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NVillage">Village/Town <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Select Agency Village/Town"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <ng-select formControlName="NVillage"
                                            [ngClass]="{ 'is-invalid': isSubmit &&  reg.NVillage.errors }"
                                            placeholder="Select Village/Town">
                                            <ng-option *ngFor="let dist of nvillages" [value]="dist.warD_VILLAGE_CODE">
                                                {{dist.warD_VILLAGE_NAME}}
                                            </ng-option>
                                        </ng-select>
                                        <div *ngIf="isSubmit && reg.NVillage.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NVillage.errors.required">
                                                Village/Town
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NHNO">House No <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency House Number"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" alphaNumbers
                                            placeholder="Enter House No " maxlength="10" formControlName="NHNO"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NHNO.errors }" />
                                        <div *ngIf="isSubmit && reg.NHNO.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NHNO.errors.required"> House No
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Street Name <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Street Name"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" alphaNumbers maxlength="100" class="form-control"
                                            placeholder="Enter Street" formControlName="NStrName"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.NStrName.errors }" />
                                        <div *ngIf="isSubmit && reg.NStrName.errors" class="invalid-feedback">
                                            <div *ngIf="reg.NStrName.errors.required"> Street Name
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="employeeid">Landmark <a triggers="mouseenter:mouseleave"
                                                popover="Enter Agency Landmark" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" alphaNumbers maxlength="100" class="form-control"
                                            placeholder="Enter Landmark" formControlName="NLandmark">
                                    </div>
                                </div>

                              

                                <div class="col-md-3">
                                    <div class="input-group " style="margin-top: 28px;">
                                        <div class="custom-file">

                                            <input type="hidden" formControlName="oldOutDoc" />

                                            <input type="file" formControlName="OutDoc" #file placeholder="Upload"
                                                (change)="uploadFile($event)" class="form-control"
                                                id="inputGroupFile04" />
                                            <label class="custom-file-label" for="inputGroupFile04">Upload Agrement
                                                Document <span class="text-danger">*</span></label>
                                            <span style="color: red;"> </span>

                                        </div>
                                    </div>
                                    <div class="input-group-append ml-2 " style="color: green;">
                                        <span class="upload" *ngIf="progress > 0">
                                            {{progress}}%
                                        </span>
                                        <span class="upload ml-2" *ngIf="message">
                                            {{message}}
                                        </span>
                                    </div>
                                    <div class="invalid-feedback" style="display: block !important;">
                                        <div> * File size upto 2 MB</div>
                                    </div>




                                    <div class="col-md-3" *ngIf="seldoctype == 'IMAGE'">
                                        <img [src]="seldocpath" (click)="Docpriview(seldocpath)" style="height: 100px;width: 100px;">
                                    </div>
    
                                    <div class="col-md-3 mt-3" *ngIf="seldoctype == 'PDF'">
                                        <a [href]="seldocpath" target="_blank">View</a>
                                    </div>


                                </div>

                                <div  class="col-md-3">
                                    <div class="digi-locker-btn col-sm-6">
                                        <b>or </b>
                                        <button class="btn btn-primary" (click)="CallDigilock();">
                                            <img src="assets/web-styles/images/digi-locker.svg"
                                                width="30" height="30"> Fetch from DigiLocker
                                        </button>
                                        <a [href]="hrefdata" target="_blank"
                                            class="btn btn-success btn-md ml-1 text-white"
                                            style="padding: 8px;" *ngIf="Authstatus=='1'">
                                            <i aria-hidden="true" class="fa fa-eye"></i>
                                            View
                                        </a>

                                        <a class="btn btn-success btn-md ml-1 text-white"
                                            style="padding: 8px;display: none;" *ngIf="Authstatus=='1'"
                                            (click)="GetDetails(uri);">
                                            <i aria-hidden="true" class="fa fa-eye"></i> Get Details
                                        </a>

                                    </div>
                                </div>

                              

                            </div>

                            <div class="row my-1" *ngIf="isEdit">
                                <div class="col-md-12 text-center">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="IsOutActive" id="IsOutActive1" value="1"
                                            formControlName="IsOutActive" class="custom-control-input">
                                        <label class="custom-control-label" for="IsOutActive1">Active</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="IsOutActive" id="IsOutActive2" value="0"
                                            formControlName="IsOutActive" class="custom-control-input">
                                        <label class="custom-control-label" for="IsOutActive2">Inactive</label>
                                    </div>
                                    <div *ngIf="reg.IsOutActive.value == '0'" class="col-md-3">
                                        <label for="OutRemarks">Remarks <span class="text-danger">*</span> <a
                                                triggers="mouseenter:mouseleave" popover="Enter Agency Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" placeholder="Enter Remarks" lettersOnly
                                            maxlength="200" formControlName="OutRemarks"
                                            [ngClass]="{ 'is-invalid': isSubmit && reg.OutRemarks.errors }" />
                                    </div>
                                </div>
                            </div>

                            <h5 class="font-weight-bold mb-2 mt-2 text-success">Officials Communication Details</h5>
                            <div *ngFor="let comm of c.controls; let i = index">
                                <div class="form-row" [formGroup]="comm">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="CName">Name <span class="text-danger">*</span> <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter Agency Officials Name" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="100" lettersOnly class="form-control"
                                                placeholder="Name" formControlName="CName"
                                                [ngClass]="{ 'is-invalid': isSubmit && comm.controls.CName.errors }"
                                                (change)="mob_uid_validate($event.target.value)" />
                                            <div *ngIf="isSubmit && comm.controls.CName.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="comm.controls.CName.errors.required">Name
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="CDesignation">Designation <span class="text-danger">*</span> <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter Agency Officials Designation" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="100" lettersOnly class="form-control"
                                                placeholder="Designation" formControlName="CDesignation"
                                                [ngClass]="{ 'is-invalid': isSubmit && comm.controls.CDesignation.errors }" />
                                            <div *ngIf="isSubmit && comm.controls.CDesignation.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="comm.controls.CDesignation.errors.required">
                                                    Designation
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="CMobile">Mobile NO <span class="text-danger">*</span> <a
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Enter Agency Officials Mobile Number" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" numbersOnly maxlength="10" minlength="10"
                                                class="form-control" placeholder="Mobile NO" formControlName="CMobile"
                                                [ngClass]="{ 'is-invalid': isSubmit && comm.controls.CMobile.errors }" />
                                            <div *ngIf="isSubmit && comm.controls.CMobile.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="comm.controls.CMobile.errors.required">
                                                    Mobile NO
                                                    is required</div>
                                                <div *ngIf="comm.controls.CMobile.errors.minlength">
                                                    Mobile NO
                                                    Must be 10 Digits </div>
                                                <div *ngIf="comm.controls.CMobile.errors.pattern">Mobile
                                                    NO
                                                    Starts from 6 , 7 , 8 ,9
                                                </div>
                                            </div>
                                            <div *ngIf="!Emp_mob_isvalid" class="text-danger">Invalid
                                                Mobile
                                                Number
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="CEmail">Email <a triggers="mouseenter:mouseleave"
                                                    popover="Enter Agency Officials Email" placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text" maxlength="200" class="form-control" placeholder="Email"
                                                formControlName="CEmail"
                                                [ngClass]="{ 'is-invalid': isSubmit && comm.controls.CEmail.errors }" />
                                            <div *ngIf="isSubmit && comm.controls.CEmail.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="comm.controls.CEmail.errors.email">Invalid Email
                                                    address
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" *ngIf="i==0">
                                        <button class="btn btn-success btn-sm mt-3" (click)="AddOfficial()"><i
                                                class="fa fa-plus-circle"></i></button>
                                    </div>
                                    <div class="col-md-1" *ngIf="i!=0">
                                        <button class="btn btn-danger btn-sm mt-3" (click)="RemoveOfficial(i)"><i
                                                class="fa fa-minus-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-block text-center mb-2">
                            <button type="button" *ngIf="!isEdit" (click)="SubmitOutDetails();"
                                class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Submit
                                Details</button>
                            <button type="button" *ngIf="isEdit" (click)="UpdateOutDetails();"
                                class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Update
                                Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- End Edit Modal -->

<div class="modal fade" id="historySection" bsModal #historyModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Warehouse History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Column Name</th>
                                    <th *ngIf="isEdit">Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of wh_history;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="isEdit">{{hsty.evenT_CODE}}</td>
                                    <td *ngIf="hsty.columN_NAME=='contracT_DOCUMENT'"><a href="{{hsty.olD_VALUE}}"
                                            target="_blank">View</a></td>

                                    <td
                                        *ngIf="hsty.columN_NAME!='contracT_DOCUMENT' && hsty.columN_NAME!='DOCUMENT_UPLOAD'">
                                        {{hsty.olD_VALUE}} </td>

                                    <td *ngIf="hsty.columN_NAME=='contracT_DOCUMENT'"><a href="{{hsty.neW_VALUE}}"
                                            target="_blank">View</a></td>

                                    <td
                                        *ngIf="hsty.columN_NAME!='contracT_DOCUMENT' && hsty.columN_NAME!='DOCUMENT_UPLOAD'">
                                        {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyModal.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" id="viewSection" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Outsoucing Agency Details</h5>
                <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                    Print
                </button> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewModal.hide();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="print-section">
                <h4 class="bg-light font-weight-bold text-primary mb-2">General Details</h4>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vname}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Start Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstartdate| date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">End Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{venddate| date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">PAN No <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vpanno}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">GST No <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vgstno}}
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">State <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">District <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vdistrict}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Area <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{varea}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Municipal/Mandal Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vmandal}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Village/Town <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vvillage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">H.NO <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vhno}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Street <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstreet}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Lanmark <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vlanmark}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Pin Code <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vpincode}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">Agrement
                                Document <span class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                <a href="{{vdocumentpath}}" target="_blank">View</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Status <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6" *ngIf="vastatus == 'Active'">
                                <i class="fa fa-circle text-success"></i> Active
                            </div>
                            <div class="col-md-6" *ngIf="vastatus == 'Inactive'">
                                <i class="fa fa-circle text-success"></i> Inactive
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="bg-light font-weight-bold text-primary mb-2">Officials Communication Details</h4>
                <div class="row">
                    <div class="col-sm-12 p-5">
                        <table id="example" class="table table-striped table-bordered webtable-data">
                            <thead>
                                <tr>
                                    <th>SNO</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Mobile Number</th>
                                    <th>Email</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let m of vofficals; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{m.name}}</td>
                                    <td>{{m.designation}}</td>
                                    <td>{{m.mobilE_NUM}}</td>
                                    <td>{{m.email}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img [src]="preview" width="100%" height="550px" />
                <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div bsModal #DetailList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog digilocker-dialog modal-md">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-white">
                    DigiLocker
                </h5>

                <button type="button" class="close" data-dismiss="modal" (click)="hideDetailList()" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body dl-doc-body">

                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <td> {{name}}</td>
                            </tr>
                            <tr>
                                <th>
                                    DOB</th>
                                <td> {{dob}}</td>
                            </tr>
                            <tr>
                                <th>
                                    Gender</th>
                                <td> {{gender}}</td>
                            </tr>
                        </table>
                    </div>
                </div>





            </div>
        </div>
    </div>

</div>


<div bsModal #FilesList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog digilocker-dialog modal-md">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-white">
                    DigiLocker
                </h5>
                <!-- <button type="button" class="close pull-right" aria-label="Close"
                (click)="hideFilesList()">
                <span aria-hidden="true">&times;</span>
            </button> -->
                <button type="button" class="close" data-dismiss="modal" (click)="hideFilesList()" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body dl-doc-body">
                <!-- <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="FileListForm">
                        <ul class="list">  
                            <li  *ngFor="let FDD of FilesDD"> 
                                <a class="item item-thumbnail-left" href="" (click)="ShowFiles(FDD.uri)"><h3>{{FDD.description}}</h3></a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div> -->
                <img src="assets/web-styles/images/digi-locker-logo.png" class="img-fluid w-50 mb-2">

                <ul class="nav nav-pills nav-fill mb-1 dl-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-issued-doc-tab" (click)="DocDivClick(true)"
                            data-toggle="pill" href="#pills-issued-doc" role="tab" aria-controls="pills-issued-doc"
                            aria-selected="true">Issued Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-uploaded-doc-tab" (click)="DocDivClick(false)" data-toggle="pill"
                            href="#pills-uploaded-doc" role="tab" aria-controls="pills-uploaded-doc"
                            aria-selected="false">Uploaded Documents</a>
                    </li>
                </ul>

                <div class="tab-pane fade show active" id="pills-issued-doc" role="tabpanel"
                    aria-labelledby="pills-issued-doc-tab">
                    <div class="list-group dl-doc-list" *ngIf="IssuedDocView">
                        <a class="list-group-item list-group-item-action" *ngFor="let FDD of FilesDD"
                            (click)="ShowFiles(FDD.uri,FDD.mime,1,FDD.description)">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                                <div>
                                    <h4 class="text-secondary">{{FDD.description}}</h4>
                                    <h6 class="mb-0">{{FDD.issuer}}</h6>
                                    <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-uploaded-doc" role="tabpanel"
                    aria-labelledby="pills-uploaded-doc-tab">
                    <div class="list-group dl-doc-list" *ngIf="!IssuedDocView">
                        <a class="list-group-item list-group-item-action" *ngFor="let UDD of UploadFilesDD"
                            (click)="ShowFiles(UDD.uri,UDD.mime,2,UDD.description)">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                                <div>
                                    <h4 class="text-secondary">{{UDD.description}}</h4>
                                    <h6 class="mb-0">{{UDD.issuer}}</h6>
                                    <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(true)">Issued Documents</h4>
            <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(false)">Uploaded Documents</h4> -->


            </div>
        </div>
    </div>

</div>