<main class="m-0 pagenotfound">
    <div class="container">
        <div class="row d-flex">
            <div class="col-sm-12 text-center">
                    <h1>404</h1>                
                    <h2 class="mb-3"> Oops! Page does not found</h2>
                    <a class="btn btn-primary" (click)="NavigateHome();" >
                        Go Back to Home
                      </a>
                    <!-- <a routerLink="/Home" style="cursor: pointer;">Go Back to home</a>                            -->
            </div>
        </div>
     </div>
</main>

