<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status">
  </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <!-- <h3 class="content-header-title">Page Title</h3> -->
      </div>
      <div class="
          content-header-right
          breadcrumbs-right breadcrumbs-top
          col-md-6 col-12
        ">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>P&A Services</a></li>
            <li class="breadcrumb-item active">Medical Reimbursement Request</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- card actions section start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Medical Reimbursement Request</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div>
                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="Taxclick()"><i
                    class="fa fa-plus-circle"></i>
                  Add</button>
                <button class="btn btn-info btn-md ml-1" (click)="Historyclick();">
                  <i class="fa fa-clock-o"></i>
                  History</button>
              </div>
            </div>
            <div class="card-content">
              <div class="card-body">

                <div class="row">
                  <!-- <div class="col-md-12 text-right mb-2">
                    <button type="button" class="btn btn-primary btn-md mr-1" (click)="Taxclick()">
                      <i class="fa fa-plus-circle"></i> Add
                    </button>
                    <button type="button" class="btn btn-success btn-md" (click)="Historyclick()">
                      <i class="fa fa-plus-circle"></i> History
                    </button>
                  </div> -->

                  <div class="col-md-12">


                    <div class="ag-theme-alpine">
                      <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine" [columnDefs]="columnDefs"
                        (gridReady)="BindData($event)" [pagination]="true" [defaultColDef]="defaultColDef"
                        [paginationPageSize]="20" (selectionChanged)="onSelectionChanged($event)"
                        [frameworkComponents]="frameworkComponents" rowSelection="single" [components]="components">
                      </ag-grid-angular>
                    </div>


                    <!-- (rowSelected)="onRowSelected($event)" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div bsModal #TaxPaymentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left">Medical Reimbursement Details</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideTaxModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body py-0">

            <div class="card spr-card">
              <div class="card-body py-0">
                <form class="form" [formGroup]="EmployeeMedicalrequestForm">
                  <div class="form-body">
                    <h5 class="form-section"><img src="assets/web-styles/images/family.svg" width="20">
                      Family Details</h5>
                    <div class="card bg-blue bg-lighten-5">
                      <div class="card-body py-0">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="LoanMonths">
                                Family Relation
                                <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                  popover="Select Relation" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>

                              <ng-select class="select-control" id="exampleFormControlSelect1"
                                formControlName="Familyrel"
                                [ngClass]="{ 'is-invalid': submitted && reg.Familyrel.errors}"
                                (change)="Familyrelationchange()">
                                <ng-option value="">Select Relation</ng-option>

                                <ng-option *ngFor="let emp of Familyrelationlist" [value]="emp.iteM_NAME">
                                  {{emp.iteM_NAME}}
                                </ng-option>
                              </ng-select>
                              <div *ngIf="submitted && reg.Familyrel.errors" class="invalid-feedback">
                                <div *ngIf="reg.Familyrel.errors.required">Please Select Relation</div>
                              </div>
                            </div>
                          </div>



                          <div class="col-md-2" [hidden]="!hiderelname">
                            <div class="form-group">
                              <label for="LoanMonths">
                                Relation Name
                                <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                  popover="Select Relation Name" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>

                              <ng-select class="select-control" id="exampleFormControlSelect1" formControlName="Relname"
                                [ngClass]="{ 'is-invalid': submitted && reg.Relname.errors}">
                                <ng-option value="" selected>Select Relation Name</ng-option>
                                <ng-option *ngFor="let emp of Familynameslist" [value]="emp.fM_NAME">{{emp.fM_NAME}}
                                </ng-option>
                              </ng-select>
                              <div *ngIf="submitted && reg.Relname.errors" class="invalid-feedback">
                                <div *ngIf="reg.Relname.errors.required">Please Select Relation Name</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="PDistrict">District <span class="text-danger">*</span>
                                <a triggers="mouseenter:mouseleave" popover="Select District" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <ng-select class="select-control" formControlName="PDistrict"
                                [ngClass]="{ 'is-invalid': submitted &&  reg.PDistrict.errors }"
                                placeholder="Select District" (change)="Hospitalload()">
                                <ng-option value="" selected>Select District</ng-option>
                                <ng-option *ngFor="let dist of districts" [value]="dist.districT_CODE">
                                  {{dist.districT_NAME_ENG}}
                                </ng-option>
                              </ng-select>

                              <div *ngIf="submitted && reg.PDistrict.errors" class="invalid-feedback">
                                <div *ngIf="reg.PDistrict.errors.required"> District
                                  is required</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="LoanMonths">
                                Recognized Hospitals
                                <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                  popover="Select Hospital" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <ng-select class="select-control" id="exampleFormControlSelect1" formControlName="Hosname"
                                [ngClass]="{ 'is-invalid': submitted && reg.Hosname.errors}"
                                (change)="hospitalchange()">
                                <ng-option value="" selected>Select Hospital</ng-option>
                                <ng-option *ngFor="let emp of hospitaltypes" [value]="emp.hospitaL_ID">
                                  {{emp.hospitaL_NAME}}
                                </ng-option>
                              </ng-select>
                              <div *ngIf="submitted && reg.Hosname.errors" class="invalid-feedback">
                                <div *ngIf="reg.Hosname.errors.required">Please Select Hospital</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="disease">
                                Treatment type
                                <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                  popover="Select Disease" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <ng-select class="select-control" id="exampleFormControlSelect1" formControlName="disease"
                                [ngClass]="{ 'is-invalid': submitted && reg.disease.errors}" (change)="diseasechange()">
                                <ng-option value="" selected>Select Treatment type</ng-option>
                                <ng-option *ngFor="let emp1 of diseaselist" [value]="emp1.treatmenT_ID">
                                  {{emp1.treatmenT_NAME}}</ng-option>
                              </ng-select>
                              <div *ngIf="submitted && reg.disease.errors" class="invalid-feedback">
                                <div *ngIf="reg.disease.errors.required">Please Select Treatment type</div>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Treatment Amount<span class="text-danger">*</span> <a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="10" placeholder="Enter Amount" class="form-control"
                                numbersOnly formControlName="TreatmentAmount"
                                [ngClass]="{ 'is-invalid': submitted && reg.TreatmentAmount.errors}"
                                (change)="Treatmentchange()" />

                              <div *ngIf="submitted && reg.TreatmentAmount.errors" class="invalid-feedback">
                                <div *ngIf="reg.TreatmentAmount.errors.required">Please enter Treatment Amount</div>
                              </div>
                            </div>

                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="trttype">
                                Approval Type
                                <span class="text-danger">*</span> <a triggers="mouseenter:mouseleave"
                                  popover="Approval Type" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>


                              <input type="text" maxlength="100" placeholder="Approval Type" class="form-control"
                                digitsOnly formControlName="trttype" readonly />
                              <div *ngIf="submitted && reg.trttype.errors" class="invalid-feedback">
                                <div *ngIf="reg.trttype.errors.required">Please Select Approval</div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="OutName">Remarks <a triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                  placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <textarea name="" maxlength="100" alphanumbers="" placeholder="Enter Remarks"
                                class="form-control" id="" cols="30" rows="2" formControlName="LoanRemarks"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <h5 class="form-section"><img src="assets/web-styles/images/certificates.svg" width="18">
                      Certificates</h5>
                    <div class="card bg-success bg-accent-1">
                      <div class="card-body py-1">
                        <div class="row align-items-baseline">
                          <div class="col">
                            <label for="OutName" class="f-7">APPLICATION FOR MEDICAL REIMBURSEMENT-APPENDIX-2<span
                                class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                popover="Upload APPLICATION FOR MEDICAL REIMBURSEMENT-APPENDIX-2" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="AppendixDocPath" />

                                <input type="file" formControlName="AppendixRegDoc"
                                  [ngClass]="{ 'is-invalid': submitted && reg.AppendixRegDoc.errors }" #file
                                  placeholder="Upload Receipt" (change)="uploadFile($event)" class="form-control"
                                  id="inputGroupFile04">
                                <label class="custom-file-label" for="inputGroupFile04">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>

                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress1 > 0">
                                {{progress1}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message1">
                                {{message1}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype1 == 'IMAGE'">
                              <img [src]="seldocpath1" (click)="Docpriview(seldocpath1)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype1 == 'PDF'">
                              <a [href]="seldocpath1" target="_blank">View</a>
                            </div>
                          </div>


                          <div class="col">
                            <label for="OutName" class="f-7">CERTIFICATE-A (OP)<span class="text-danger">*</span><a
                                triggers="mouseenter:mouseleave" popover="Upload CERTIFICATE-A (OP)" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="CERTIFICATEADocPath" />

                                <input type="file" formControlName="CERTIFICATEARegDoc" #file1
                                  placeholder="Upload Receipt" (change)="certificateuploadFile($event)"
                                  class="form-control" id="inputGroupFile05">
                                <label class="custom-file-label" for="inputGroupFile05">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>

                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress2 > 0">
                                {{progress2}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message2">
                                {{message2}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype2 == 'IMAGE'">
                              <img [src]="seldocpath2" (click)="Docpriview(seldocpath1)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype2 == 'PDF'">
                              <a [href]="seldocpath2" target="_blank">View</a>
                            </div>
                          </div>


                          <div class="col">
                            <label for="OutName" class="f-7">NON DRAWAL CERTIFICATE<span class="text-danger">*</span><a
                                triggers="mouseenter:mouseleave" popover="Upload NON DRAWAL CERTIFICATE"
                                placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="NONDRAWALDocPath" />

                                <input type="file" formControlName="NONDRAWALRegDoc"
                                  [ngClass]="{ 'is-invalid': submitted && reg.NONDRAWALRegDoc.errors }" #file3
                                  placeholder="Upload Receipt" (change)="NONDRAWALuploadFile($event)"
                                  class="form-control" id="inputGroupFile06">
                                <label class="custom-file-label" for="inputGroupFile06">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>
                              <div *ngIf="reg.NONDRAWALRegDoc.errors" class="invalid-feedback">
                                <div *ngIf="reg.NONDRAWALRegDoc.errors.required"></div>
                              </div>
                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress3 > 0">
                                {{progress3}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message3">
                                {{message3}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype3 == 'IMAGE'">
                              <img [src]="seldocpath3" (click)="Docpriview(seldocpath3)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype3 == 'PDF'">
                              <a [href]="seldocpath3" target="_blank">View</a>
                            </div>
                          </div>

                          <div class="col">
                            <label for="OutName" class="f-7">DECLARATION (DEPENDENCY)CERTIFICATE<span
                                class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                popover="Upload DECLARATION (DEPENDENCY)CERTIFICATE" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="DECLARATIONDocPath" />

                                <input type="file" formControlName="DECLARATIONRegDoc"
                                  [ngClass]="{ 'is-invalid': submitted && reg.DECLARATIONRegDoc.errors }" #file4
                                  placeholder="Upload Receipt" (change)="DECLARATIONuploadFile($event)"
                                  class="form-control" id="inputGroupFile07">
                                <label class="custom-file-label" for="inputGroupFile07">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>
                              <div *ngIf="reg.DECLARATIONRegDoc.errors" class="invalid-feedback">
                                <div *ngIf="reg.DECLARATIONRegDoc.errors.required"></div>
                              </div>
                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress4 > 0">
                                {{progress4}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message4">
                                {{message4}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype4 == 'IMAGE'">
                              <img [src]="seldocpath4" (click)="Docpriview(seldocpath4)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype4 == 'PDF'">
                              <a [href]="seldocpath4" target="_blank">View</a>
                            </div>
                          </div>

                          <div class="col">
                            <label for="OutName" class="f-7">EMERGENCY ADMISSION CERTIFICATE<span
                                class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                popover="Upload EMERGENCY ADMISSION CERTIFICATE" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="EMERGENCYDocPath" />

                                <input type="file" formControlName="EMERGENCYRegDoc"
                                  [ngClass]="{ 'is-invalid': submitted && reg.EMERGENCYRegDoc.errors }" #file5
                                  placeholder="Upload Receipt" (change)="EMERGENCYuploadFile($event)"
                                  class="form-control" id="inputGroupFile08">
                                <label class="custom-file-label" for="inputGroupFile08">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>
                              <div *ngIf="reg.EMERGENCYRegDoc.errors" class="invalid-feedback">
                                <div *ngIf="reg.EMERGENCYRegDoc.errors.required"></div>
                              </div>
                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress5 > 0">
                                {{progress5}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message5">
                                {{message5}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype5 == 'IMAGE'">
                              <img [src]="seldocpath5" (click)="Docpriview(seldocpath5)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype5 == 'PDF'">
                              <a [href]="seldocpath5" target="_blank">View</a>
                            </div>
                          </div>

                          <div class="col">
                            <label for="OutName" class="f-7">ESSENTIALITY CERTIFICATE<span
                                class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                popover="Upload ESSENTIALITY CERTIFICATE" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="ESSENTIALITYDocPath" />

                                <input type="file" formControlName="ESSENTIALITYRegDoc" #file6
                                  placeholder="Upload Receipt" (change)="ESSENTIALITYuploadFile($event)"
                                  class="form-control" id="inputGroupFile09">
                                <label class="custom-file-label" for="inputGroupFile09">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>

                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress6 > 0">
                                {{progress6}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message6">
                                {{message6}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype6 == 'IMAGE'">
                              <img [src]="seldocpath6" (click)="Docpriview(seldocpath6)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype6 == 'PDF'">
                              <a [href]="seldocpath6" target="_blank">View</a>
                            </div>
                          </div>

                          <div class="col">
                            <label for="OutName" class="f-7">CHECKLIST<span class="text-danger">*</span><a
                                triggers="mouseenter:mouseleave" popover="Upload Proof" placement="right">
                                <i class="fa fa-info-circle"></i>
                              </a></label>
                            <div class="input-group">
                              <div class="custom-file">

                                <input type="hidden" formControlName="CHECKLISTDocPath" />

                                <input type="file" formControlName="CHECKLISTRegDoc" #file7 placeholder="Upload Receipt"
                                  (change)="CHECKLISTuploadFile($event)" class="form-control" id="inputGroupFile014">
                                <label class="custom-file-label" for="inputGroupFile014">Upload
                                  Document <span class="text-danger">*</span></label>

                              </div>

                            </div>
                            <div class="input-group-append" style="color: green;" [hidden]="!progressbar">
                              <span class="upload small" *ngIf="progress7 > 0">
                                {{progress7}}%
                              </span>
                              <span class="upload small ml-1" *ngIf="message7">
                                {{message7}}
                              </span>
                            </div>
                            <div class="invalid-feedback" style="display: block !important;">
                              <div> * File size upto 2 MB</div>
                            </div>
                            <div class="input-group-append" *ngIf="seldoctype7 == 'IMAGE'">
                              <img [src]="seldocpath7" (click)="Docpriview(seldocpath7)"
                                style="height: 100px;width: 100px;">
                            </div>

                            <div class="input-group-append mt-1" *ngIf="seldoctype7 == 'PDF'">
                              <a [href]="seldocpath7" target="_blank">View</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <h5 class="form-section"><img src="assets/web-styles/images/bank.svg" width="18">
                      Bank Details</h5>
                    <div class="card bg-blue-grey bg-lighten-5">
                      <div class="card-body py-1">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Bank Holder Name<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                formControlName="Bankholdername"
                                [ngClass]="{ 'is-invalid': submitted && reg.Bankholdername.errors}" readonly />

                              <div *ngIf="submitted && reg.Bankholdername.errors" class="invalid-feedback">
                                <div *ngIf="reg.Bankholdername.errors.required">Please enter Bank Holder Name</div>
                              </div>
                            </div>

                          </div>



                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Account Number<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                formControlName="Accno" [ngClass]="{ 'is-invalid': submitted && reg.Accno.errors}"
                                readonly />

                              <div *ngIf="submitted && reg.Accno.errors" class="invalid-feedback">
                                <div *ngIf="reg.Accno.errors.required">Please enter Account Number</div>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Ifsc Code<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                formControlName="Ifsccode" [ngClass]="{ 'is-invalid': submitted && reg.Ifsccode.errors}"
                                readonly />

                              <div *ngIf="submitted && reg.Ifsccode.errors" class="invalid-feedback">
                                <div *ngIf="reg.Ifsccode.errors.required">Please enter Ifsccode</div>
                              </div>
                            </div>

                          </div>


                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Bank Name<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                formControlName="Bankname"
                                [ngClass]="{ 'is-invalid': submitted && reg.TreatmentAmount.errors}" readonly />

                              <div *ngIf="submitted && reg.TreatmentAmount.errors" class="invalid-feedback">
                                <div *ngIf="reg.TreatmentAmount.errors.required">Please enter Bank name</div>
                              </div>
                            </div>

                          </div>

                          <div class="col-md-2">
                            <div class="form-group">
                              <label for="OutName">Branch Name<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                formControlName="Branchname"
                                [ngClass]="{ 'is-invalid': submitted && reg.Branchname.errors}" readonly />

                              <div *ngIf="submitted && reg.Branchname.errors" class="invalid-feedback">
                                <div *ngIf="reg.Branchname.errors.required">Please enter Branchname</div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-body p-1 bg-red bg-lighten-5">
                          <p class="mb-0"><strong>*NOTE: </strong>For any updation in Bank account details please
                            contact P&A section</p>
                        </div>
                      </div>




                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="checkbox" value="1" name="check" class="checkbox" formControlName="check"
                            (change)="Submitcchange()" style="margin: 5px;">
                          I hereby declare that the details furnished above are true and correct to the best of my
                          knowledge and belief and I undertake the responsibility to inform you of any changes therein,
                          immediately
                        </div>
                      </div>
                    </div>

                    <div class="row d-block text-center">
                      <button type="button" class="btn btn-warning" (click)="Previewfunction()">
                        <i class="fa fa-eye"></i> Preview
                      </button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #mrPreviewModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-xl">
        <div class="modal-content shadow-lg">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left">Medical Reimbursement Preview Details</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hidepreviewTaxModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card spr-card">
              <div class="card-body py-1">
                <form class="form" [formGroup]="EmployeepreviewrequestForm">
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <h4 class="form-section"><img src="assets/web-styles/images/family.svg" width="25">
                          Family Details</h4>
                        <div class="card preview-card bg-blue bg-lighten-5">
                          <div class="card-body py-1">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Family Relation
                                  </label>
                                  <h5>{{familrelation}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Relation Name
                                  </label>
                                  <h5>{{relation}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>District
                                  </label>
                                  <h5>{{district}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Recognized Hospitals
                                  </label>
                                  <h5>{{hospital}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Disease
                                  </label>
                                  <h5>{{disease}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Treatment Amount
                                  </label>
                                  <h5>{{treatmentamount}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Approval Type
                                  </label>
                                  <h5>{{treatmenttype}}</h5>
                                </div>
                              </div>




                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Remarks
                                  </label>
                                  <h5>{{remarks}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h4 class="form-section"><img src="assets/web-styles/images/certificates.svg" width="25">
                          Certificate Details</h4>
                        <div class="card preview-card bg-success bg-accent-1">
                          <div class="card-body py-1">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>APPLICATION FOR MEDICAL REIMBURSEMENT- <br>APPENDIX-2
                                  </label>
                                  <h5>
                                    <a class="btn btn-warning btn-sm" (click)="certificates('1')"><i
                                        class="fa fa-eye"></i> View</a>
                                  </h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>CERTIFICATE-A (OP)
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('2')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>NON DRAWAL CERTIFICATE
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('3')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>DECLARATION (DEPENDENCY)CERTIFICATE
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('4')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>EMERGENCY ADMISSION CERTIFICATE
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('5')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>ESSENTIALITY CERTIFICATE
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('6')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>CHECKLIST
                                  </label>
                                  <h5><a class="btn btn-warning btn-sm" (click)="certificates('7')"><i
                                        class="fa fa-eye"></i> View</a></h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <h4 class="form-section"><img src="assets/web-styles/images/bank.svg" width="25">
                          Bank Details</h4>
                        <div class="card preview-card bg-blue-grey bg-lighten-5">
                          <div class="card-body py-1">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Bank Holder Name
                                  </label>
                                  <h5>{{bankholdername}}</h5>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Account Number
                                  </label>
                                  <h5>{{accnumber}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>IFSC Code
                                  </label>
                                  <h5>{{ifsccode}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Bank Name
                                  </label>
                                  <h5>{{bankname}}</h5>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Branch Name
                                  </label>
                                  <h5>{{branchname}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row">
                            <div class="col-md-12">
                              <div class="card card-body p-1 bg-red bg-lighten-5">
                                  <p class="mb-0"><strong>*NOTE: </strong>For any Updation In Bank Account Details Please Concern P&A Section</p>
                              </div>
                            </div>




                            <div class="col-md-12">
                              <div class="form-group">
                                <input type="checkbox"  value="1" name="check"
                                 class="checkbox"  formControlName="check" (change)="Submitcchange()" style="margin: 5px;" > 
                                Accept Terms &amp; Conditions 
                              </div>
                            </div>
                          </div> -->

                    <div class="row d-block text-center">
                      <button type="button" class="btn btn-primary" (click)="Sumbitfun()"> Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div bsModal #historyWarehousemodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-lg" style="width: auto;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hidehistorymasterModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Request Id</th>
                        <th>Employee Name</th>
                        <th>
                          Requested Date
                        </th>
                        <th>
                          Approval Date
                        </th>
                        <th>Status</th>

                      </tr>

                    </thead>
                    <tbody>
                      <tr *ngFor="let Mastlist of historylist;let i=index;">

                        <td>{{i+1}}</td>
                        <td>{{Mastlist.medicaL_REIM_ID}}</td>
                        <td>{{Mastlist.emP_NAME}}</td>
                        <td>{{Mastlist.requesteD_DATE | date: 'dd-MM-yyyy'}}</td>
                        <td>{{Mastlist.date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{Mastlist.requesT_STATUS}}</td>


                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
       </div>
       </div>
    </div>

    <div bsModal #apprModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
      aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content shadow-lg">
          <div class="modal-header">
            <h4 id="dialog-child-name" class="modal-title pull-left"></h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hidemesgModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card mb-0 bg-blue bg-lighten-5">
              <div class="card-body">
                <h5>Do You wish to Continue ??</h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-md" (click)="OKclick()">
              <i class="fa fa-check-circle"></i> Ok
            </button>
            <button type="button" class="btn btn-danger btn-md ml-1" (click)="Cancelclick()">
              <i class="fa fa-times-circle"></i> Cancel
            </button>
          </div>
        </div>
      </div>
    </div>



  
<!-- END: Page Main-->

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</div>
