<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Weight Check Memo</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Depositor Receipt In</a>
                        </li>
                        <li class="breadcrumb-item active">Weight Check Memo
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Weight Check Memo</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form [formGroup]="reciptForm">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group row">
                                                    <label for="employeeid" class="col-md-4"
                                                        style="margin-top: 5px;">Status <span
                                                            class="text-danger">*</span></label>
                                                    <ng-select formControlName="ReceiptType" class="col-md-8"
                                                        [ngClass]="{ 'is-invalid': issubmit && rec.ReceiptType.errors }"
                                                        placeholder="Select Status">
                                                        <ng-option value="Pending">Pending</ng-option>
                                                        <ng-option value="Completed">Completed</ng-option>
                                                    </ng-select>
                                                    <div *ngIf="issubmit && rec.ReceiptType.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="rec.ReceiptType.errors.required">Status
                                                            is required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <button class="btn btn-success"
                                                    (click)="GetWHReceipts()">Search</button>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="ag-theme-alpine">
                                                <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                    (gridReady)="BindData($event)" [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents" rowSelection="single"
                                                    [components]="components">
                                                </ag-grid-angular>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->
