<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Tenders</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Home</a>
                            </li>
                            <li class="breadcrumb-item"><a>Warehouse</a>
                            </li>
                            <li class="breadcrumb-item active">Tenders
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Tenders Upload</h4>
<!--   -->

<div class="row" [hidden]="!formtender">

    <div class="table">
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Tender Description</th>
                    <th>Tender download date</th>
                    <th>Tender end date</th>
                    <th>Tender Document</th>
                    <th>Status</th>
                    <th>Disabled</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of tenderlist; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{m.contenT_TITLE}}</td>
                  
                     <td>{{m.downloaD_DATE | date:'dd-MM-yyyy'}}</td>
                     <td>{{m.enD_DATE | date:'dd-MM-yyyy'}}</td>
                     <td><a href="{{m.contenT_PHOTO}}" target="_blank" >View</a></td>
                    <td *ngIf="m.iS_ACTIVE=='1'">Active</td> 
                    <td *ngIf="m.iS_ACTIVE=='0'">Disabled</td>
                    <td *ngIf="m.iS_ACTIVE=='1'">   <button type="button" class="btn btn-success" (click)="edittender(m);" >Disabled</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-success" (click)="AddTender();">Add</button>
    </div>
</div>

                                <form class="forms-sample" [formGroup]="tenderForm" (ngSubmit)="onSubmit()"
                                    [hidden]="formtender">
                                    <div class="row justify-content-center">
                                       
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="tendername">Tender Description <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="tendername" formControlName="tendername" lettersOnly placeholder="Enter Tender Description" />
                                                </div>
                                             </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="tendername">Tender Download Date <span class="text-danger">*</span></label>
                                                        <input type="date" class="form-control" name="tenderdownloaddate" formControlName="tenderdownloaddate"  placeholder="Enter Tender download date" />
                                                    </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="tendername">Tender End Date <span class="text-danger">*</span></label>
                                                            <input type="date" class="form-control" name="tenderenddate" formControlName="tenderenddate"  placeholder="Enter Tender End Date" />
                                                        </div>
                                                        </div>
                                                        <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Upload Tender document</label><span class="danger">*</span>
                                            <app-insepction-upload (onUploadFinished)="uploadFinished($event)"></app-insepction-upload>
        </div> 
                                                 </div>
        
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    
                                   
                                </form>
                            </div>
                        </div>



                    </div>
                </div>


            </section>
            <!-- // card-actions section end -->
        </div>
    </div>
</div>