<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
              <h3 class="content-header-title">Change Password</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a >Profile</a>
                  </li>
                  <li class="breadcrumb-item active">Change Password
                  </li>
                </ol>
              </div>
            </div>
          </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Change Password</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <!-- <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form [formGroup]="ChangePasswordForm">
                                        <div class="row mt-2">
                                            <input type="hidden" formControlName="EMPCODE" />
                                            <div class="col-md-3 d-flex justify-content-start">

                                            </div>
                                            <div class="col-md-9">
                                                <div class="row form-group">
                                                    <label class="col-md-4 label" for="employeeid">Password <span
                                                            class="text-danger">*</span></label>
                                                    <input type="password" maxlength="20" class="form-control col-md-4"
                                                        placeholder="Enter Password" formControlName="EmpPassword"
                                                        [ngClass]="{ 'is-invalid': issubmitted && pass.EmpPassword.errors }" />
                                                    <div *ngIf="issubmitted && pass.EmpPassword.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="pass.EmpPassword.errors.required">Password is required
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-md-4 label" for="employeeid">New Password <span
                                                            class="text-danger">*</span></label>
                                                    <input minlength="4" maxlength="20" type="password"
                                                        class="form-control col-md-4" placeholder="Enter New Password"
                                                        formControlName="EmpNewPassword"
                                                        [ngClass]="{ 'is-invalid': issubmitted && pass.EmpNewPassword.errors }" />
                                                    <div *ngIf="issubmitted && pass.EmpNewPassword.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="pass.EmpNewPassword.errors.required">New Password is
                                                            required</div>
                                                        <div *ngIf="pass.EmpNewPassword.errors.minlength">New Password Minimum
                                                            4 Characters </div>
                                                        <div *ngIf="pass.EmpNewPassword.errors.maxlength">New Password Maxiimum
                                                            20 Characters </div>
                                                    </div>

                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-md-4 label" for="employeeid">Confirm Password
                                                        <span class="text-danger">*</span></label>
                                                    <input minlength="4" maxlength="20" type="password"
                                                        class="form-control col-md-4" placeholder="Enter Confirm Password"
                                                        formControlName="EmpConPassword"
                                                        [ngClass]="{ 'is-invalid': issubmitted && pass.EmpConPassword.errors }" />
                                                    <div *ngIf="issubmitted && pass.EmpConPassword.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="pass.EmpConPassword.errors.required">Confirm Password is
                                                            required</div>
                                                        <div *ngIf="pass.EmpConPassword.errors.minlength">Confirm Minimum
                                                            4 Characters </div>
                                                        <div *ngIf="pass.EmpConPassword.errors.maxlength">Confirm Maxiimum
                                                            20 Characters </div>
                                                            <div *ngIf="pass.EmpConPassword.errors.mustMatch">New Password & Confirm Password
                                                                Must Match</div>
                                                    </div>

                                                </div>
                                                <div class="row text-center form-group">
                                                    <button type="button" (click)="SaveChangePassword();"
                                            class="btn btn-primary">Update Password</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>