<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Employee Leave Balance</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>P & A Services</a>
                        </li>
                        <li class="breadcrumb-item active">Employee Leave Balance
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Employee Leave Balance</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div >
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="HistoryAll()">
                                        <i class="fa fa-plus-circle"></i> History</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                     <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                    [columnDefs]="dynamicheader" 
                                                    [floatingFilter]="true"
                                                    (gridReady)="BindData($event)"
                                                    [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    rowSelection="single"
                                                    [components]="components"
                                                    (cellClicked)="buttonrender($event)"
                                                    refreshCells="true">
                                                    
                                                    </ag-grid-angular>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="historyempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Leave Details -->
<div bsModal #LeaveDetailsempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Leave Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="LeaveDetailsempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Leave Type</th>
                                    <th>Carry Forward</th>
                                    <th>Leaves Credited</th>
                                    <th>Lapse</th>
                                    <th>Leaves Availed</th>
                                    <th>
                                        Leaves Pending
                                    </th>
                                    <th>
                                        Leaves Balance
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let EmpLeaveDetaile of EmpLeaveDetails;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{EmpLeaveDetaile.leavE_TYPE}}</td>
                                    <td>{{EmpLeaveDetaile.carrY_FORWARD}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_CREDITED}}</td>
                                    <td>{{EmpLeaveDetaile.lapse}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_AVAILED}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_PENDING}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_BALANCE}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
