<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!loader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">WareHouse Invoices</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>WareHouse Invoices</a>
                        </li>
                        <li class="breadcrumb-item active">Credit/Debit Note Invoices
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Credit/Debit Note Invoices</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>                         
                           
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form [formGroup]="DepositorForm"> 
                                        <div class="row">

                                            <div class="col-md-3" *ngIf="isdiv">
                                                <div class="form-group">
                                                    <label for="WHtype">WareHouse Type<span class="text-danger">*</span>
                                                        <a triggers="mouseenter:mouseleave" popover="Select Warehouse Type" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <ng-select formControlName="WHtype" placeholder="Select WareHouse Type"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.WHtype.errors }" (change)="LoadWarehouses('Warehouses')">
                                                        <ng-option *ngFor="let c of WHTypelist" value="{{c.warehousE_TYPE_CODE}}">
                                                            {{c.warehousE_TYPE}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.WHtype.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.WHtype.errors.required">
                                                            WareHouse Type
                                                            is required</div>
                                                    </div>
                                        
                                                </div>
                                        
                                            </div>
                                        
                                            <div class="col-md-3" *ngIf="isdiv">
                                                <div class="form-group">
                                                    <label for="Whname">WareHouse Name<span class="text-danger">*</span>
                                                        <a triggers="mouseenter:mouseleave" popover="Select Warehouse Name" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <ng-select formControlName="Whname" placeholder="Select WareHouse Name" 
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Whname.errors }">
                                                        <ng-option *ngFor="let c of whlist" value="{{c.warehousE_CODE}}">
                                                            {{c.warehousE_NAME}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.Whname.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.Whname.errors.required">
                                                            WareHouse Name
                                                            is required</div>
                                                    </div>
                                        
                                                </div>
                                        
                                            </div>     
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Crdtdbtnote">Credit/Debit Note<span class="text-danger">*</span>
                                                    <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Credit/Debit Note"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    </label>
                                                    <ng-select formControlName="Crdtdbtnote"
                                                     placeholder="Select Credit/Debit Note"                                                     
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Crdtdbtnote.errors }">
                                                        <ng-option value="">Select Credit/Debit Note </ng-option>
                                                        <ng-option value="CREDIT_NOTE">Credit Note</ng-option>
                                                        <ng-option value="DEBIT_NOTE">Debit Note</ng-option>                                                        
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.Crdtdbtnote.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.Crdtdbtnote.errors.required">
                                                            Credit/Debit Note
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>

                                                                                



                                            <div class="col-md-3 mt-2">                                          
                                            
                                                <button type="button" name="next" (click)="GetDetails();"
                                                 class="btn btn-success btn-min-width ml-1"><i
                                                        class="fa fa-paper-plane"></i> Get Details</button>
                                            
                                            </div>               
                                            
                
                                        </div>   
                                        
                                        
                                        <div class="row mt-1" *ngIf="istable">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" (gridReady)="BindData($event)"
                                                        [pagination]="true" [paginationPageSize]="20"
                                                        [defaultColDef]="defaultColDef"                                                                                                          
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->


