<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status">
  </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
     <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-1">
           <!-- <h3 class="content-header-title">Page Title</h3> -->
        </div>
        <div
           class="
           content-header-right
           breadcrumbs-right breadcrumbs-top
           col-md-6 col-12
           "
           >
           <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a >Home</a></li>
                 <li class="breadcrumb-item"><a >P&A Services</a></li>
                 <li class="breadcrumb-item active">Employee loan Approval</li>
              </ol>
           </div>
        </div>
     </div>
     <div class="content-body">
        <!-- card actions section start -->
        <div class="row">
           <div class="col-12">
              <div class="card">
                 <div class="card-header">
                    <h4 class="card-title">Employee loan Approval</h4>
                    <a class="heading-elements-toggle"
                       ><i class="fa fa-ellipsis-v font-medium-3"></i
                       ></a>
                    <!-- <div class="heading-elements">
                       <ul class="list-inline mb-0">
                         <li>
                           <a data-action="collapse"
                             ><i class="feather icon-minus"></i
                           ></a>
                         </li>
                         <li>
                           <a data-action="reload"
                             ><i class="feather icon-rotate-cw"></i
                           ></a>
                         </li>
                         <li>
                           <a data-action="expand"
                             ><i class="feather icon-maximize"></i
                           ></a>
                         </li>
                       </ul>
                       </div> -->
                 </div>
                 <div class="card-content">
                    <div class="card-body">
                       <div class="row">
                          <!-- <div class="col-md-12 text-right mb-2">                            
                             <button type="button" class="btn btn-primary btn-md" (click)="LoanApproval()">
                             Approve Loan
                             </button>
                             <button type="button" class="btn btn-primary btn-md" (click)="RejectApproval()">
                              Reject Loan
                              </button>
                          </div> -->
                          <div class="col-md-12">
                             <div class="ag-theme-alpine">
                                <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine"
                                [columnDefs]="columnDefs" [floatingFilter]="true"
                                (gridReady)="BindData($event)" [pagination]="true"
                                [paginationPageSize]="20"
                                (selectionChanged)="onSelectionChanged($event)"
                                [frameworkComponents]="frameworkComponents"
                                rowSelection="single" [components]="components">
                                </ag-grid-angular>
                             </div>
                             <!-- (rowSelected)="onRowSelected($event)" -->
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>





<!-- <div class="app-content content">
   <div class="content-overlay"></div>
   <div class="content-wrapper">
      <div class="content-header row">
         <div class="content-header-left col-md-6 col-12 mb-1">
            <h3 class="content-header-title">Page Title</h3> 
         </div>
         <div
            class="
            content-header-right
            breadcrumbs-right breadcrumbs-top
            col-md-6 col-12
            "
             >
            <div class="breadcrumb-wrapper col-12">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a >Home</a></li>
                  <li class="breadcrumb-item"><a >Warehouse</a></li>
                  <li class="breadcrumb-item active">Employee loan Approval</li>
               </ol>
            </div> 
         </div>
      </div>
      <div class="content-body">
         card actions section start
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h4 class="card-title">Payment To be Generate</h4>
                     <a class="heading-elements-toggle"
                        ><i class="fa fa-ellipsis-v font-medium-3"></i
                        ></a>
                    
                  </div>
                  <div class="card-content">
                     <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-right mb-2">                            
                              <button type="button" class="btn btn-primary btn-md" (click)="LoanApproval()">
                              Approve Loan
                              </button>
                              <button type="button" class="btn btn-primary btn-md" (click)="RejectApproval()">
                               Reject Loan
                               </button>
                           </div> 
                           <div class="col-md-12">
                              <div class="ag-theme-alpine">
                                 <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine"
                                 [columnDefs]="columnDefs1" [floatingFilter]="true"
                                 (gridReady)="BindData1($event)" [pagination]="true"
                                 [paginationPageSize]="20"
                                 (selectionChanged)="onSelectionChanged1($event)"
                                 [frameworkComponents]="frameworkComponents1"
                                 rowSelection="single" [components]="components1">
                                 </ag-grid-angular>
                              </div>
                               (rowSelected)="onRowSelected($event)" 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div> -->
 
<div class="modal fade" bsModal #LoanApprovalModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-xl w-75 mx-auto">
  <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title font-weight-bold " id="editSectionLabel">Approval</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
     </div>
     <div class="modal-body px-3">
        <form  [formGroup]="officerApprovalform">
           <div class="row mb-4">
              <div class="col-md-6">
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-5"> Loan Amount
                    <span class="text-danger">*</span><a
                    triggers="mouseenter:mouseleave"
                    popover="Enter  Loan Amount"
                    placement="right">
                    <i class="fa fa-info-circle"></i>
                </a></label>
                    <div class="col-sm-5" >
                       <input type="text" maxlength="10" numbersOnly formControlName="offloanamount" class="form-control" (change)="loanamountchnage()">
                    </div>
                 </div>
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-5"> Interest Rate (%)
                    <span class="text-danger">*</span><a
                    triggers="mouseenter:mouseleave"
                    popover="Enter Interest Rate (%) "
                    placement="right">
                    <i class="fa fa-info-circle"></i>
                </a></label>
                    <div class="col-sm-5" >
                       <input type="text" maxlength="3"digitsOnly formControlName="Rateofinterest" class="form-control" (change)="interestratecalculation()">
                    </div>
                 </div>
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-5"> Tenure in no of months 
                    <span class="text-danger">*</span><a
                    triggers="mouseenter:mouseleave"
                    popover="No Of Months To be Paid"
                    placement="right">
                    <i class="fa fa-info-circle"></i>
                </a></label>
                    <div class="col-sm-5" >
                       <input type="text" maxlength="10" type="text" class="form-control" formControlName="offmonths" disabled='true'>
                    </div>
                 </div>
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-5">
                       Remarks
                       <!-- <span class="text-danger">*</span> -->
                       <a
                       triggers="mouseenter:mouseleave"
                       popover="Enter Remarks"
                       placement="right">
                       <i class="fa fa-info-circle"></i>
                   </a> </label>
                    <div class="col-sm-5" >
                      <textarea  class="form-control" rows="3" formControlName="offremarks"></textarea>
                     
                    </div>
                 </div>

                 <div class="form-group">
                  <div class="totalsum">
                     <table class="table">
                        <tr>
                           <th>Princple Amount + Interest</th>
                           <td>{{lastamount}}</td>
                        </tr>                       
                     </table>
                  </div>
               </div>
                   
                
              </div>   
              <div class="col-md-6">

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="form-check-label">Enable installment wise Amount <a
                     triggers="mouseenter:mouseleave"
                     popover="If you want to enable the installment wise amount Please Check the Checkbox otherwise dont check"
                     placement="right">
                     <i class="fa fa-info-circle"></i>
                 </a></label> 
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"  formControlName="checkbx" (change)="checkboxfun($event)">
                     
                    </div>
                  </div>
                </div>
                    <div class="form-group form-row align-items-center " [hidden]="!installmenttxtb">
                      <label class="col-sm-5">No of Installments<a
                        triggers="mouseenter:mouseleave"
                        popover="Enter No of Installments To be Paid"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                      <div class="col-sm-4 ">
                      <input maxlength="5" placeholder="Enter no of installments" type="text" numbersOnly class="form-control" formControlName="instlno">
                      
                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-primary btn-md" (click)="Installmentclick()"><i _ngcontent-ofk-c236=""
                        class="fa fa-paper-plane"></i>Enter</button>
                    </div>
                   </div>
                   <div class="form-group form-row align-items-center" *ngFor="let value of values; let i = index">
                      <label class="col-sm-5">Enter {{i+1}} installment amount <a
                        triggers="mouseenter:mouseleave"
                        popover="Enter Amount to be generate in installments"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                     
                         <div class="col-sm-4">                           
                            <input type="text" maxlength="10" class="form-control" numbersOnly [(ngModel)]="value.value" #name="ngModel"  [ngModelOptions]="{standalone: true}" name="value{{i}}" placeholder="Enter Amount" (change)="textboxchange(name.value,i+1)">
                         </div>
                      
                   </div>
              </div> 
             
              
              

           </div>
           <div class="row d-block text-right mb-2">
              <button type="button" class="btn btn-primary btn-md" (click)="submit()"><i _ngcontent-ofk-c236=""
               class="fa fa-paper-plane"></i>Submit Details</button>
           </div>
        </form>
     </div>
  </div>
</div>
</div>

<div class="modal fade" bsModal #LoanRejectModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-xl w-75 mx-auto">
  <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title font-weight-bold " id="editSectionLabel">Reason for Rejecting</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
     </div>
     <div class="modal-body px-3">
        <form  [formGroup]="officerRejectform">
           <div class="row mb-1">
              <div class="col-md-6 offset-sm-3">
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-3">Remarks<a
                     triggers="mouseenter:mouseleave"
                     popover="Enter Remarks"
                     placement="right">
                     <i class="fa fa-info-circle"></i>
                 </a></label>
                    <div class="col-sm-9">
                      <textarea  class="form-control" rows="3" formControlName="offrejremarks"></textarea>                     
                    </div>
                 </div> 
              </div> 
           </div>
           <div class="row d-block text-center mb-2">
              <button type="button" class="btn btn-primary btn-md" (click)="Rejectsubmit()"> <i _ngcontent-ofk-c236=""
               class="fa fa-paper-plane"></i>Submit Details</button>
           </div>
        </form>
     </div>
  </div>
</div>
</div>


<div bsModal #mrPreviewModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
 aria-labelledby="dialog-child-name">
 <div class="modal-dialog modal-xl">
   <div class="modal-content shadow-lg">
     <div class="modal-header">
       <h4 id="dialog-child-name" class="modal-title pull-left">Loan Approval Preview Details</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="hidepreviewTaxModal()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div class="card spr-card">
         <div class="card-body py-1">
             <form class="form" [formGroup]="LoanApprovalpreviewForm">
                 <div class="form-body">
                     <div class="row">
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/app-assets/images/FA.svg" width="25">
                                Loan Approval Details</h4>
                             <div class="card preview-card bg-blue bg-lighten-5">
                                 <div class="card-body py-1">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Employee Code                                                      </label>
                                                 <h5>{{empcode}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Loan type
                                                 </label>
                                                 <h5>{{Loantpe}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Requested Amount
                                                 </label>
                                                 <h5>{{reqamount}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Months
                                                 </label>
                                                 <h5>{{month}}</h5>
                                             </div>
                                         </div>

                                        

                                         <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Basic Salary
                                              </label>
                                              <h5>{{basesl}}</h5>
                                          </div>
                                      </div>

                                    
                                      <div class="col-md-12">
                                       <div class="form-group">
                                           <label>Net Pay
                                           </label>
                                           <h5>{{netpy}}</h5>
                                       </div>
                                   </div>

                                  

                                         <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Sanctioned Amount
                                                </label>
                                                <h5>{{totalamount}}</h5>
                                            </div>
                                        </div>

                                      
                                        <div class="col-md-12" [hidden]="!install">
                                          <div class="form-group">
                                              <label>No of Installments
                                              </label>
                                              <div>
                                              <h5 *ngFor="let de1 of installmen;let indexOfelement=index;">Installment {{indexOfelement+1}}: Rs.<span class="text-dark"> {{de1.amt}} </span></h5>
                                            </div>
                                          </div>
                                      </div>


                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Uploaded by
                                                </label>
                                                <h5>{{Uploadby}}</h5>
                                            </div>
                                        </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Remarks
                                                 </label>
                                                 <h5>{{remarks}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Status
                                              </label>
                                              <h5>   {{statname}}</h5>
                                          </div>
                                      </div>

                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/web-styles/images/certificates.svg" width="25">
                                 Photo/Document Details</h4>
                             <div class="card preview-card bg-success bg-accent-1">
                                 <div class="card-body py-1">
                                     <div class="row">
                                        

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Photo
                                                 </label>
                                                 <h5><a class="btn btn-warning btn-sm" (click)="certificates()"><i class="fa fa-eye"></i> View</a></h5>
                                             </div>
                                         </div>

                                 
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-4">
                             <h4 class="form-section"><img
                                     src="assets/web-styles/images/bank.svg" width="25">
                                 Bank Details</h4>
                             <div class="card preview-card bg-blue-grey bg-lighten-5">
                                 <div class="card-body py-1">
                                     <div class="row">
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Bank Holder Name
                                                 </label>
                                                 <h5>{{bankholname}}</h5>
                                             </div>
                                         </div>
                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Account Number
                                                 </label>
                                                 <h5>{{accno}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>IFSC Code
                                                 </label>
                                                 <h5>{{ifsc}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                             <div class="form-group">
                                                 <label>Bank Name
                                                 </label>
                                                 <h5>{{bankname}}</h5>
                                             </div>
                                         </div>

                                         <div class="col-md-12">
                                           <div class="form-group">
                                               <label>Branch Name
                                               </label>
                                               <h5>{{bankbranch}}</h5>
                                           </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row" [hidden]="!submitbutton">
                        <div class="col-md-12">
                            <h4 class="form-section"><i class="fa fa-files-o text-secondary mr-0" aria-hidden="true"></i> Upload Approval Details</h4>
                            <div class="row mb-4">
                              <div class="col-md-6">
                                 <div class="form-group form-row align-items-center">
                                    <label for="Basic" class="col-sm-5"> Loan Amount
                                    <span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter  Loan Amount"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                    <div class="col-sm-5" >
                                       <input type="text" maxlength="10" numbersOnly formControlName="offloanamount" class="form-control" (change)="loanamountchnage()">
                                    </div>
                                 </div>
                                 <div class="form-group form-row align-items-center">
                                    <label for="Basic" class="col-sm-5"> Interest Rate (%)
                                    <span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave"
                                    popover="Enter Interest Rate (%) "
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                    <div class="col-sm-5" >
                                       <input type="text" maxlength="3"digitsOnly formControlName="Rateofinterest" class="form-control" (change)="interestratecalculation()">
                                    </div>
                                 </div>
                                 <div class="form-group form-row align-items-center">
                                    <label for="Basic" class="col-sm-5"> Tenure in no of months 
                                    <span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave"
                                    popover="No Of Months To be Paid"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                                    <div class="col-sm-5" >
                                       <input type="text" maxlength="10" type="text" class="form-control" formControlName="offmonths" disabled='true'>
                                    </div>
                                 </div>
                                 <div class="form-group form-row align-items-center">
                                    <label for="Basic" class="col-sm-5">
                                       Remarks
                                       <span class="text-danger">*</span>
                                       <a
                                       triggers="mouseenter:mouseleave"
                                       popover="Enter Remarks"
                                       placement="right">
                                       <i class="fa fa-info-circle"></i>
                                   </a> </label>
                                    <div class="col-sm-5" >
                                      <textarea  class="form-control" rows="3" formControlName="offremarks"></textarea>
                                     
                                    </div>
                                 </div>
                
                                 <div class="form-group">
                                  <div class="totalsum">
                                     <table class="table">
                                        <tr>
                                           <th>Princple Amount + Interest</th>
                                           <td>{{lastamount}}</td>
                                        </tr>                       
                                     </table>
                                  </div>
                               </div>
                                   
                                
                              </div>   
                              <div class="col-md-6">
                
                                <div class="form-group row">
                                  <div class="col-sm-6">
                                    <label class="form-check-label">Amount Released (Installment)<a
                                     triggers="mouseenter:mouseleave"
                                     popover="If you want to enable the installment wise amount Please Check the Checkbox otherwise dont check"
                                     placement="right">
                                     <i class="fa fa-info-circle"></i>
                                 </a></label> 
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-check">
                                      <input type="checkbox" class="form-check-input"  formControlName="checkbx" (change)="checkboxfun($event)">
                                     
                                    </div>
                                  </div>
                                </div>
                                    <div class="form-group form-row align-items-center " [hidden]="!installmenttxtb">
                                      <label class="col-sm-5">No of Installments<a
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter No of Installments To be Paid"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>
                                      <div class="col-sm-4 ">
                                      <input maxlength="5" placeholder="Enter no of installments" type="text" numbersOnly class="form-control" formControlName="instlno">
                                      
                                    </div>
                                    <div class="col-sm-3">
                                      <button type="button" class="btn btn-primary btn-md" (click)="Installmentclick()"><i _ngcontent-ofk-c236=""
                                        class="fa fa-paper-plane"></i>Enter</button>
                                    </div>
                                   </div>
                                   <div class="form-group form-row align-items-center" *ngFor="let value of values; let i = index">
                                      <label class="col-sm-5">installment  {{i+1}} <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Amount to be generate in installments"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>
                                     
                                         <div class="col-sm-4">                           
                                            <input type="text" maxlength="10" class="form-control" numbersOnly [(ngModel)]="value.value" #name="ngModel"  [ngModelOptions]="{standalone: true}" name="value{{i}}" placeholder="Enter Amount" (change)="textboxchange(name.value,i+1)">
                                         </div>
                                        </div>
                              </div> 
                             </div>
                        </div>
                        
                        <div class="col-md-12 text-center" [hidden]="!submitbutton">
                           <button type="button" class="btn btn-primary" (click)="SubmitApprovalDetails()">
                              <i class="fa fa-paper-plane"></i> Submit Details
                              </button>
                        </div>
                    </div>

                 </div>
             </form>
         </div>
     </div>
     </div>
   </div>
 </div>
</div>

<div bsModal #DsApprovalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      
       
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="dialog-child-name" class="modal-title pull-left">Loan Approval Details</h4>
              <button type="button" class="close pull-right" aria-label="Close" 	(click)="CloseDsApprovalModal()"> 
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
             
                  <form [formGroup]="LoanapprejApprovalform">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="row">


                          <div class="col-12 col-sm-6 ">
                            <div class="form-group">
                              <label>Approve/Reject
                      
                                  <a triggers="mouseenter:mouseleave" popover="Select Approve/Reject"
                                      placement="right">
                                      <i class="fa fa-info-circle"></i>
                                  </a>
                              
                              </label><br>
            
                              <div class="form-check-inline">
      
                                  <label class="form-check-label">
                                      <input type="radio" value="1" name="dsApproverej"
                                          formControlName="dsApproverej" (change)="approverejectfun('1')"
                                          >Approve</label>
                              </div>
                              <div class="form-check-inline">
                                  <label class="form-check-label">
                                      <input type="radio" value="0" name="dsApproverej"
                                          formControlName="dsApproverej" (change)="approverejectfun('0')"
                                          >Reject
                                  </label>
                              </div>
                            </div>
                          </div>



                          <div class="col-12 col-sm-6"[hidden]="!forwardeddivs" >
                            <div class="form-group">
                              <label for="SectionName">Forward To<span
                                  class="text-danger">*</span> <a
                                  triggers="mouseenter:mouseleave"
                                  popover="Select Employee Work Section Name"
                                  placement="right">
                                  <i class="fa fa-info-circle"></i>
                              </a></label>
                          <ng-select formControlName="dsSectionName" placeholder="Select Section Name" (change)="sectionchange()">
                           <ng-option value="">Select Section</ng-option>                                  
                              <ng-option *ngFor="let dist of sections"
                                  [value]="dist.section">
                                  {{dist.section}}
                              </ng-option>
                          </ng-select>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                           <div class="form-group">
                             <label for="SectionName">Desigantion<span
                                 class="text-danger">*</span> <a
                                 triggers="mouseenter:mouseleave"
                                 popover="Select Employee Designation"
                                 placement="right">
                                 <i class="fa fa-info-circle"></i>
                             </a></label>
                         <ng-select formControlName="dsDesigName"placeholder="Select Desigantion">
                          <ng-option value="">Select Desigantion</ng-option>                                  
                             <ng-option *ngFor="let dist of Designationlist"
                                 [value]="dist.officeR_DESIGNATION">
                                 {{dist.officeR_DESIGNATION}}
                             </ng-option>
                         </ng-select>
                           </div>
                        
</div>                        <div class="col-12 col-sm-6" [hidden]="!forwardeddivs">
                              <div class="form-group">
                                <label for="SectionName">Name<span
                                    class="text-danger">*</span> <a
                                    triggers="mouseenter:mouseleave"
                                    popover="Select Employee Name"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                </a></label>
                            <ng-select formControlName="dsOffName"
                                                               placeholder="Select Name">
                             <ng-option value="">Select Name</ng-option>                                  
                                <ng-option *ngFor="let dist of Designationlist"
                                    [value]="dist.emP_CODE">
                                    {{dist.officeR_NAME}}
                                </ng-option>
                            </ng-select>
                              </div>
                           </div>

                          
                     
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="OutName"
                                >Remarks<a
                                triggers="mouseenter:mouseleave"
                                popover="Enter Remarks"
                                placement="right">
                                <i class="fa fa-info-circle"></i>
                            </a></label
                              >
                              <textarea
                                name=""
                                maxlength="100"
                                alphanumbers=""
                                placeholder="Enter Remarks"
                                class="form-control"
                                id=""
                                cols="30"
                                rows="2" 
                                formControlName="dsoffremarks"></textarea>
                            </div>
                          </div>
                     

                     </div>

                     <div class="row">
                        <div class="col-md-12 text-center">
                          <button type="button" class="btn btn-primary" (click)="submit()">
                             <i class="fa fa-paper-plane"></i> Submit Details
                           </button>
                        </div>
                     </div>

                  </div>
                     
                    </div>
                  </form>                          
                 
      </div>
              </div>

      </div>
   </div>
   <div bsModal #historyempModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
      <div class="modal-dialog modal-lg">
         <div class="modal-dialog modal-lg" style="width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                        (click)="hidehistorymasterModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.no</th>
                                            <th>Request Id</th>
                                            <th>Employee Name</th>
                                                <th>
                                               Requested Date
                                            </th>
                                            <th>
                                               Approval Date
                                            </th>
                                            <th>Status</th>
                                           
                                        </tr>
    
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Mastlist of historylist;let i=index;">
    
                                            <td>{{i+1}}</td>
                                            <td>{{Mastlist.reQ_CODE}}</td>
                                            <td>{{Mastlist.emP_NAME}}</td>
                                            <td>{{Mastlist.requesteD_DATE }}</td>
                                            <td>{{Mastlist.date}}</td>
                                            <td>{{Mastlist.requesT_STATUS}}</td>
                                           
    
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
      </div>
   </div>