.bd-row .col-md-6 {
    padding: 0px;
}

.bod-box {
    background: #f9fbe7;
    border: 2px solid #9e9e9e47;
    box-sizing: border-box;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* margin-bottom: 66px; */
    width: 100%;
    margin: 0px 15px;
    flex-direction: column;
    margin-top: 95px;
    padding-top: 82px;
    height: 160px;
    text-align: center;
}

.bod-box h1 {
    font-size: 19px;
    font-weight: 800;
    color: #ff1100;
}

.bod-box img {
    width: 150px;
    position: absolute;
    /* left: -36px; */
    top: -50px;
    margin-top: 50px;
    border: 1px solid #9e9e9e;
    border-radius: 87px;
    /* background: #9e9e9e; */
}

.bod-box p {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 6px;
}

.bod-box h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.bod-box.vice-chairman img {
    width: 150px;
}

.bod-box.vice-chairman h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0px;
}

.bod-namedisgnation {
    text-align: center;
    padding: 30px;
}

.bod-namedisgnation h2 {
    font-size: 27px;
    font-weight: 700;
    color: #009688;
}

.bod-namedisgnation p {
    margin-bottom: 0px;
}

.sec-title-bodname {
    text-align: center;
    background: #f1f1f1;
    margin-bottom: 0px;
    font-size: 28px;
    padding: 10px;
    color: #1f1f1f;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

@media screen and (max-width: 991px){
    .bod-box{
        margin-left: 0;
        height: 180px;
    }
}