<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Board of Directors</h1>
                    <p>Home /<a > Board of Directors</a></p>
                </div>

            </div>
        </div>

        <div class="row py-3 mb-2">
            <div class="col-sm-12 offset-md-2 col-md-8">
                <div class="row d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="50">

                    <div *ngFor="let ch of boardofDirectorsList;" class="col-md-6">
                        <div class="bod-box chairman" *ngIf="ch.emP_CODE==='APSWC0001'">
                            <img src="./assets/web-styles/images/chariman.png" alt="chariman-pic" srcset="">
                            <div>
                                <h1>{{ch.emP_NAME}}</h1>
                                <p> Special Secretary to Government, Marketing and Cooperation</p>
                                <h2>{{ch.designation}}</h2>
                            </div>

                        </div>


                        <div class="bod-box vice-chairman" *ngIf="ch.emP_CODE==='APSWC0002'">

                            <div>
                                <h1>{{ch.emP_NAME}}</h1>
                                <!-- <p> Special Secretary to Government, Marketing and Cooperation</p> -->
                                <h3>{{ch.designation}}</h3>
                            </div>
                            <img src="./assets/web-styles/images/vicechariman.png" alt="chariman-pic" srcset="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 p-0">
                <h1 class="sec-title-bodname">Board of Directors</h1>
            </div>
        </div>
        <div class="row bd-row">
            <div class="col-md-6" *ngFor="let ch of boardofDirectorsList;">
                <div class="bod-namedisgnation" *ngIf="ch.emP_CODE==='APSWC0003'">
                    <h2>{{ch.emP_NAME}}</h2>
                    <p>{{ch.designation}},</p>
                    <br> Corporate Office, Central Warehousing Corporation, <br> New Delhi.
                </div>
                <div class="bod-namedisgnation" *ngIf="ch.emP_CODE==='APSWC0004'" style="background: #e3f2fd;">
                    <h2>{{ch.emP_NAME}}</h2>
                    <p>{{ch.designation}}, <br> Central Warehousing Corporation, Nampally, <br> Hyderabad. </p>
                </div>
                <div class="bod-namedisgnation" *ngIf="ch.emP_CODE==='APSWC0005'" style="background: #e3f2fd;">
                    <h2>{{ch.emP_NAME}} </h2>
                    <p>{{ch.designation}} <br> Ministry of Consumer Affairs,Food & Public Distribution, <br> Govt. of India.</p>
                </div>
                <div class="bod-namedisgnation" *ngIf="ch.emP_CODE==='APSWC0006'">
                    <h2>{{ch.emP_NAME}} </h2>
                    <p>D/o Dr. Shankar Kumar, <br> Indiranagar, Banglore.</p>
                </div>
            </div>
        </div>
    </div>
</main>