<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status">
  </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <!-- <h3 class="content-header-title">Page Title</h3> -->
      </div>
      <div class="
          content-header-right
          breadcrumbs-right breadcrumbs-top
          col-md-6 col-12
        ">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>P&A Services</a></li>
            <li class="breadcrumb-item active">Employee Loan Request</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- card actions section start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Employee loan Request</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <div>
                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="Taxclick()"><i
                    class="fa fa-plus-circle"></i>
                  Add</button>
                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="Historyclick()"><i
                    class="fa fa-plus-circle"></i>
                  History</button>
              </div>
            </div>
            <div class="card-content">
              <div class="card-body">

                <div class="row">
                  <!-- <div class="col-md-12 text-right mb-2">
                    <button type="button" class="btn btn-primary btn-md" (click)="Taxclick()">
                      <i class="fa fa-plus-circle"></i>Add
                    </button>
                  </div> -->

                  <div class="col-md-12">


                    <div class="ag-theme-alpine">
                      <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine" [columnDefs]="columnDefs"
                        (gridReady)="BindData($event)" [pagination]="true" [defaultColDef]="defaultColDef"
                        [paginationPageSize]="20" (selectionChanged)="onSelectionChanged($event)"
                        [frameworkComponents]="frameworkComponents" rowSelection="single" [components]="components">
                      </ag-grid-angular>
                    </div>


                    <!-- (rowSelected)="onRowSelected($event)" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #TaxPaymentModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Loan Request Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideTaxModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body py-0">

          <div class="card spr-card">
            <div class="card-body py-0">
              <form [formGroup]="EmployeeLoanrequestForm">
                <div class="card-content">
                  <div class="card-body">
                    <div class="form-body">
                      <h5 class="form-section"><img src="assets/web-styles/images/family.svg" width="20">
                        Loan Details</h5>
                      <div class="card bg-blue bg-lighten-5">
                        <div class="card-body py-0">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="Loantype">
                                  Loan Type
                                  <span class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                    popover="Select LoanType " placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <ng-select class="" id="exampleFormControlSelect1" formControlName="Loantype"
                                  [ngClass]="{ 'is-invalid': submitted && reg.Loantype.errors}" (change)="Loanchange()">
                                  <ng-option value="" selected>Select LoanType</ng-option>
                                  <ng-option *ngFor="let ln of Loantypes" [value]="ln.iteM_ID">{{ln.iteM_NAME}}
                                  </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && reg.Loantype.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Loantype.errors.required">Please Select Loan Type</div>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="OutName">Loan Amount<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Loan Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="10" placeholder="Enter Amount" class="form-control"
                                  digitsOnly formControlName="loanAmount"
                                  [ngClass]="{ 'is-invalid': submitted && reg.loanAmount.errors}" />

                                <div *ngIf="submitted && reg.loanAmount.errors" class="invalid-feedback">
                                  <div *ngIf="reg.loanAmount.errors.required">Please enter Loan Amount</div>
                                </div>
                              </div>

                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="LoanMonths">
                                  Months
                                  <span class="text-danger">*</span><a triggers="mouseenter:mouseleave"
                                    popover="Select Month" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <ng-select class="" id="exampleFormControlSelect1" formControlName="LoanMonths"
                                  [ngClass]="{ 'is-invalid': submitted && reg.LoanMonths.errors}">
                                  <ng-option value="" selected>Select Months</ng-option>
                                  <ng-option *ngFor="let emp1 of Loanmonth" [value]="emp1.months">{{emp1.months}}
                                  </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && reg.LoanMonths.errors" class="invalid-feedback">
                                  <div *ngIf="reg.LoanMonths.errors.required">Please Select Months</div>
                                </div>
                              </div>
                            </div>



                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="OutName">Remarks<a triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                    placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <textarea name="" maxlength="100" alphanumbers="" placeholder="Enter Remarks"
                                  class="form-control" id="" cols="30" rows="2"
                                  formControlName="LoanRemarks"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <h5 class="form-section"><img src="assets/web-styles/images/certificates.svg" width="18">
                        Document</h5>
                      <div class="card bg-success bg-accent-1">
                        <div class="card-body py-1 ">
                          <div class="row align-items-baseline">
                            <div class="col-md-4">
                              <label for="OutName">Upload Document<span class="text-danger">*</span><a
                                  triggers="mouseenter:mouseleave" popover="Upload Any Proof" placement="right">
                                  <i class="fa fa-info-circle"></i>
                                </a></label>
                              <div class="input-group">
                                <div class="custom-file">

                                  <input type="hidden" formControlName="DocPath" />

                                  <input type="file" formControlName="RegDoc"
                                    [ngClass]="{ 'is-invalid': submitted && reg.RegDoc.errors }" #file
                                    placeholder="Upload Receipt" (change)="uploadFile($event)" class="form-control"
                                    id="inputGroupFile04">
                                  <label class="custom-file-label" for="inputGroupFile04">Upload
                                    Document <span class="text-danger">*</span></label>

                                </div>
                                <div *ngIf="reg.RegDoc.errors" class="invalid-feedback">
                                  <div *ngIf="reg.RegDoc.errors.required"></div>
                                </div>
                              </div>
                              <div class="input-group-append ml-2 " style="color: green;" [hidden]="!progressbar">
                                <span class="upload" *ngIf="progress > 0">
                                  {{progress}}%
                                </span>
                                <span class="upload ml-2" *ngIf="message">
                                  {{message}}
                                </span>
                              </div>
                              <div class="invalid-feedback" style="display: block !important;">
                                <div> * File size upto 2 MB</div>
                              </div>
                            </div>




                            <div class="col-md-8">


                              <div class="form-row">

                                <div class="digi-locker-btn col-sm-6">
                                  <b>or </b>
                                  <button class="btn btn-primary" (click)="CallDigilock();">
                                    <img src="assets/web-styles/images/digi-locker.svg" width="30" height="30"> Fetch
                                    from DigiLocker
                                  </button>
                                  <a [href]="hrefdata" target="_blank" class="btn btn-success btn-md ml-1 text-white"
                                    style="padding: 8px;" *ngIf="Authstatus=='1'">
                                    <i aria-hidden="true" class="fa fa-eye"></i>
                                    {{viewbtnname}}
                                  </a>

                                  <a class="btn btn-success btn-md ml-1 text-white" style="padding: 8px; display:none;"
                                    *ngIf="Authstatus=='1'" (click)="GetDetails(uri);">
                                    <i aria-hidden="true" class="fa fa-eye"></i> Get Details
                                  </a>

                                </div>
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>


                      <h5 class="form-section"><img src="assets/web-styles/images/bank.svg" width="18">
                        Bank Details</h5>
                      <div class="card bg-blue-grey bg-lighten-5">
                        <div class="card-body py-1">
                          <div class="row">
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="OutName">Bank Holder Name<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                  formControlName="Bankholdername"
                                  [ngClass]="{ 'is-invalid': submitted && reg.Bankholdername.errors}" readonly />

                                <div *ngIf="submitted && reg.Bankholdername.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Bankholdername.errors.required">Please enter Bank Holder Name</div>
                                </div>
                              </div>

                            </div>



                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="OutName">Account Number<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                  formControlName="Accno" [ngClass]="{ 'is-invalid': submitted && reg.Accno.errors}"
                                  readonly />

                                <div *ngIf="submitted && reg.Accno.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Accno.errors.required">Please enter Account Number</div>
                                </div>
                              </div>

                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="OutName">Ifsc Code<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                  formControlName="Ifsccode"
                                  [ngClass]="{ 'is-invalid': submitted && reg.Ifsccode.errors}" readonly />

                                <div *ngIf="submitted && reg.Ifsccode.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Ifsccode.errors.required">Please enter Ifsccode</div>
                                </div>
                              </div>

                            </div>


                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="OutName">Bank Name<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                  formControlName="Bankname"
                                  [ngClass]="{ 'is-invalid': submitted && reg.Bankname.errors}" readonly />

                                <div *ngIf="submitted && reg.Bankname.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Bankname.errors.required">Please enter Bank name</div>
                                </div>
                              </div>

                            </div>

                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="OutName">Branch Name<span class="text-danger">*</span><a
                                    triggers="mouseenter:mouseleave" popover="Enter Treatment Amount" placement="right">
                                    <i class="fa fa-info-circle"></i>
                                  </a></label>
                                <input type="text" maxlength="100" placeholder="Enter Amount" class="form-control"
                                  formControlName="Branchname"
                                  [ngClass]="{ 'is-invalid': submitted && reg.Branchname.errors}" readonly />

                                <div *ngIf="submitted && reg.Branchname.errors" class="invalid-feedback">
                                  <div *ngIf="reg.Branchname.errors.required">Please enter Branchname</div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="card card-body p-1 bg-red bg-lighten-5">
                            <p class="mb-0"><strong>*NOTE: </strong>For any updation in Bank account details please
                              contact P&A section</p>
                          </div>
                        </div>




                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="checkbox" value="1" name="check" class="checkbox" formControlName="check"
                              (change)="Submitcchange()" style="margin: 5px;">
                            I hereby declare that the details furnished above are true and correct to the best of my
                            knowledge and belief and I undertake the responsibility to inform you of any changes
                            therein, immediately
                          </div>
                        </div>
                      </div>

                      <!-- <div class="row d-block text-center">
                        <button type="button" class="btn btn-warning" (click)="Previewfunction()">
                          <i class="fa fa-eye"></i> Preview
                        </button>
                      </div> -->

                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>





        <div class="row d-block text-center">
          <button type="button" class="btn btn-warning" (click)="Previewfunction()">
            <i class="fa fa-eye"></i> Preview
          </button>
        </div>

      </div>
    </div>
  </div>
</div>




<div bsModal #mrPreviewModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Medical Reimbursement Preview Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidepreviewTaxModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card spr-card">
          <div class="card-body py-1">
            <form class="form" [formGroup]="EmployeepreviewrequestForm">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <h4 class="form-section"><img src="assets/web-styles/images/family.svg" width="25">
                      Family Details</h4>
                    <div class="card preview-card bg-blue bg-lighten-5">
                      <div class="card-body py-1">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Loan type
                              </label>
                              <h5>{{loantpe}}</h5>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Loan amount </label>
                              <h5>{{lonamount}}</h5>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Months
                              </label>
                              <h5>{{month}}</h5>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Remarks
                              </label>
                              <h5>{{remarks}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h4 class="form-section"><img src="assets/web-styles/images/certificates.svg" width="25">
                      Certificate Details</h4>
                    <div class="card preview-card bg-success bg-accent-1">
                      <div class="card-body py-1">
                        <div class="row">


                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Upload Document
                              </label>
                              <h5><a class="btn btn-warning btn-sm" (click)="certificates()"><i class="fa fa-eye"></i>
                                  View</a></h5>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h4 class="form-section"><img src="assets/web-styles/images/bank.svg" width="25">
                      Bank Details</h4>
                    <div class="card preview-card bg-blue-grey bg-lighten-5">
                      <div class="card-body py-1">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Bank Holder Name
                              </label>
                              <h5>{{bankholdername}}</h5>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Account Number
                              </label>
                              <h5>{{accnumber}}</h5>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>IFSC Code
                              </label>
                              <h5>{{ifsccode}}</h5>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Bank Name
                              </label>
                              <h5>{{bankname}}</h5>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Branch Name
                              </label>
                              <h5>{{branchname}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row d-block text-center">
                  <button type="button" class="btn btn-primary" (click)="Sumbitfun()"> Submit
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div bsModal #apprModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content shadow-lg">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemesgModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card mb-0 bg-blue bg-lighten-5">
          <div class="card-body">
            <h5>Do You wish to Continue ??</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-md" (click)="OKclick()">
          <i class="fa fa-check-circle"></i> Ok
        </button>
        <button type="button" class="btn btn-danger btn-md ml-1" (click)="Cancelclick()">
          <i class="fa fa-times-circle"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</div>


<div bsModal #DetailList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog digilocker-dialog modal-md">
    <div class="modal-content shadow-lg">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title text-white">
          DigiLocker
        </h5>

        <button type="button" class="close" data-dismiss="modal" (click)="hideDetailList()" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dl-doc-body">

        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <td> {{name}}</td>
              </tr>
              <tr>
                <th>
                  DOB</th>
                <td> {{dob}}</td>
              </tr>
              <tr>
                <th>
                  Gender</th>
                <td> {{gender}}</td>
              </tr>
            </table>
          </div>
        </div>





      </div>
    </div>
  </div>

</div>


<div bsModal #FilesList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog digilocker-dialog modal-md">
    <div class="modal-content shadow-lg">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title text-white">
          DigiLocker
        </h5>
        <!-- <button type="button" class="close pull-right" aria-label="Close"
                  (click)="hideFilesList()">
                  <span aria-hidden="true">&times;</span>
              </button> -->
        <button type="button" class="close" data-dismiss="modal" (click)="hideFilesList()" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body dl-doc-body">
        <!-- <div class="row">
                  <div class="col-sm-12">
                      <form [formGroup]="FileListForm">
                          <ul class="list">  
                              <li  *ngFor="let FDD of FilesDD"> 
                                  <a class="item item-thumbnail-left" href="" (click)="ShowFiles(FDD.uri)"><h3>{{FDD.description}}</h3></a>
                              </li>
                          </ul>
                      </form>
                  </div>
              </div> -->
        <img src="assets/web-styles/images/digi-locker-logo.png" class="img-fluid w-50 mb-2">

        <ul class="nav nav-pills nav-fill mb-1 dl-tabs" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-issued-doc-tab" (click)="DocDivClick(true)" data-toggle="pill"
              href="#pills-issued-doc" role="tab" aria-controls="pills-issued-doc" aria-selected="true">Issued
              Documents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-uploaded-doc-tab" (click)="DocDivClick(false)" data-toggle="pill"
              href="#pills-uploaded-doc" role="tab" aria-controls="pills-uploaded-doc" aria-selected="false">Uploaded
              Documents</a>
          </li>
        </ul>

        <div class="tab-pane fade show active" id="pills-issued-doc" role="tabpanel"
          aria-labelledby="pills-issued-doc-tab">
          <div class="list-group dl-doc-list" *ngIf="IssuedDocView">
            <a class="list-group-item list-group-item-action" *ngFor="let FDD of FilesDD"
              (click)="ShowFiles(FDD.uri,FDD.mime,1,FDD.description)">
              <div class="d-flex align-items-center">
                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                <div>
                  <h4 class="text-secondary">{{FDD.description}}</h4>
                  <h6 class="mb-0">{{FDD.issuer}}</h6>
                  <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-uploaded-doc" role="tabpanel" aria-labelledby="pills-uploaded-doc-tab">
          <div class="list-group dl-doc-list" *ngIf="!IssuedDocView">
            <a class="list-group-item list-group-item-action" *ngFor="let UDD of UploadFilesDD"
              (click)="ShowFiles(UDD.uri,UDD.mime,2,UDD.description)">
              <div class="d-flex align-items-center">
                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                <div>
                  <h4 class="text-secondary">{{UDD.description}}</h4>
                  <h6 class="mb-0">{{UDD.issuer}}</h6>
                  <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(true)">Issued Documents</h4>
              <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(false)">Uploaded Documents</h4> -->


      </div>
    </div>
  </div>
</div>


<!-- END: Page Main-->

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
          data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #historyWarehousemodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg" style="width: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidehistorymasterModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Request Id</th>
                    <th>Employee Name</th>
                    <th>
                      Requested Date
                    </th>
                    <th>
                      Approval Date
                    </th>
                    <th>Status</th>

                  </tr>

                </thead>
                <tbody>
                  <tr *ngFor="let Mastlist of historylist;let i=index;">

                    <td>{{i+1}}</td>
                    <td>{{Mastlist.medicaL_REIM_ID}}</td>
                    <td>{{Mastlist.emP_NAME}}</td>
                    <td>{{Mastlist.requesteD_DATE }}</td>
                    <td>{{Mastlist.date}}</td>
                    <td>{{Mastlist.requesT_STATUS}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>