<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">News</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">News Update
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">News Update Page</h4>

                                <div class="row" [hidden]="!newshiden">
                                    <div class="table table-responsive">
                                        <table class="table table-responsive table-bordered">
                                            <thead>
                                                <th>SNo</th> 
                                                <th>News Title</th>
                                                <th>News Description</th>  
                                                <th>News Link</th>
                                                <th>News Images</th>
                                                <th>Active/Deactive</th>
                                                <th>View</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let news of newslist; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{news.contenT_TITLE}}</td>
                                                    <td>{{news.contenT_BODY}}</td>
                                                    <td>{{news.contenT_LINK}}</td>
                                                    <td><img [src]="news.contenT_PHOTO" height="150" weight="150" /> </td>
                                                    <td *ngIf="news.iS_ACTIVE=='1'">Active</td> 
                                                    <td *ngIf="news.iS_ACTIVE=='0'">Deactive</td>
                                                    <td *ngIf="news.iS_ACTIVE=='1'"><button type="button" class="btn btn-success" (click)="editnews(news);" >Deactive</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-success" (click)="AddNews();">Add News</button>
                                    </div>
                                </div>

                                <form class="forms-sample" [formGroup]="newsForm" (ngSubmit)="onSubmit()" [hidden]="newshiden">

                                    <div class="row justify-content-center">
                                        <div class="col-6">                                          
                
                                            <div class="form-group">
                                                <label for="newstitle">News Title
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="newstitle" lettersOnly maxlength="150"
                                                 [ngClass]="{'is-invalid':submitted && f.newstitle.errors}"  placeholder="Enter News Title" />
                                                <div *ngIf="submitted && f.newstitle.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.newstitle.errors.required">scroll message is required </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newscontent">Enter News Content
                                                     <span class="text-danger">*</span></label>
                                                <textarea  class="form-control" 
                                                formControlName="newscontent" (keypress)="keyPress($event)" maxlength="1000" [pattern]="'^[a-zA-Z, \-\']$'"
                                                   placeholder="Enter News Content" ></textarea>
                                                <div *ngIf="submitted && f.newscontent.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.newscontent.errors.required">News Message is required </div>
                                                </div>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="newslink">News Title
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="newslink" lettersOnly
                                                 placeholder="Enter News link" />
                                                
                                            </div>
                                           
                                            <div class="form-group">
                                                <label>Upload News Image</label><span class="danger">*</span>
                                                <app-insepction-upload (onUploadFinished)="uploadFinished($event)"></app-insepction-upload>
               
                                            </div>
        
        
                                        </div>
                                    </div>
                                 
                                  <div class="row justify-content-center">
                                      <div class="col-1 text-center">
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        
                                      </div>
                                      <div class="col-1 text-center">
                                        
                                        <button class="btn btn-light" type="reset"(ngClick)="onReset()">Cancel</button>
                                      </div>
                                  </div>
                                    
                                </form>
                            </div>
                        </div>



                    </div>
                </div>


            </section>
            <!-- // card-actions section end -->
        </div>
    </div>
</div>