<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Card Actions</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Home</a>
                            </li>
                            <li class="breadcrumb-item"><a>Components</a>
                            </li>
                            <li class="breadcrumb-item active">Inspection Photos
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- <div class="content-header-right text-md-right col-md-6 col-12">
              <div class="form-group"> 
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
              </div>
            </div> -->
        </div>


        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center">Upload Insecption Photos</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create" *ngIf="isCreate">

                                    <form>
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="name">Name <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="name" name="name"
                                                        placeholder="Enter your name" [(ngModel)]="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="selectedWarehousename">WareHouse Name <span
                                                            class="text-danger">*</span></label>
                                                    <select class="form-control selectwarehouse"
                                                        name="selectedWarehousename"
                                                        [(ngModel)]="selectedWarehousename">
                                                        <option [ngValue]="">select WareHouse Name </option>
                                                        <option *ngFor="let w of warehouse" [ngValue]="w">
                                                            {{w.warehouseName}}
                                                        </option>
                                                    </select>

                                                </div>
                                                <div class="form-group">
                                                    <label for="inspectiondesc">Description <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="inspectiondesc"
                                                        name="inspectiondesc" placeholder="Enter Inspection Description"
                                                        [(ngModel)]="inspectiondesc">
                                                </div>
                                                <app-insepction-upload (onUploadFinished)="uploadFinished($event)">
                                                </app-insepction-upload>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-md-2 text-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="onCreate()">Create </button>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <section class="users">
                                <h2 align="center">Inspection Photos Warehouse Wise List </h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>

                                            <th scope="col">WareHouse Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Uploaded Date</th>
                                            <th scope="col">Image</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users">

                                            <td>{{user.warehouseName}}</td>
                                            <td>{{user.description}}</td>
                                            <td>{{user.uploadeddate}}</td>
                                            <td><img [src]="createImgPath(user.filePath)" alt="profile picture"
                                                    style="width:60px; height:60px;"></td>
                                            <td><button type="button" class="btn btn-primary"
                                                    (click)="EditInspection(user.warehouseCode)">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger"
                                                    (click)="DeleteInspection(user.warehouseCode)">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <div class="row">
                    <div class="offset-md-10 col-md-2">
                        <button type="button" class="btn btn-primary" (click)="returnToCreate()">New User</button>
                    </div>
                </div> -->
                            </section>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->