<!-- <ngx-spinner bdColor="rgba(0,0,0,0.5)" size="default" color="#fff" type="ball-clip-rotate-multiple">
<p style="font-size: 16px; color: white">Loading...</p>
</ngx-spinner>  -->
<router-outlet></router-outlet>
