<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Regulations
                    </h1>
                    <p>Home / <a > Regulations
                    </a></p>
                </div>

            </div>
        </div>



        <div class="row ">
            <div class="col-md-12 ">
                <div class="d-flex common-content">
                    <img src="./assets/web-styles/images/ap-logo 3.png" alt="" srcset="">
                    <h4> ANDHRA PRADESH STATE WAREHOUSING REGULATIONS</h4>
                    <p> Please Click on the links below to view the Regulations :</p>
                    <button class="btn btn-pdf" data-toggle="modal" data-target="#exampleModal">Warehouse Regulations</button>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">REGULATIONS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <iframe src="./assets/employees Regulations 1965.pdf" width="100%" height="550" style="border:none;"></iframe>
            </div>

        </div>
    </div>
</div>