
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Home Page Content</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">CM Minister Images
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
  
        </div>
  
        <app-home-headerlayout></app-home-headerlayout>

        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">
  
                        <div class="card">
                            <div class="card-body">
  
  
                              <h4 class="card-title">APSWC Home Page Content Form</h4>
  
  
  
  
           <form [formGroup]="formimages">
  <div class="row">
            <div class="col-sm-4">
                <img [src]="cmphoto" width="150px" height="150px">
              </div>
             
              </div>  
              
              <div class="row" style="margin-bottom:15px;">
                <label>Upload CM Photo</label><span class="danger">*</span>
                               
                <div class="col-md-3">
                  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
                  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                </div>
                <div class="col-md-4">
                  <span class="upload" *ngIf="progress > 0">
                    {{progress}}%
                  </span>
                  <span class="upload" *ngIf="message">
                    {{message}}
                  </span>
                </div>
              </div>
              <div class="row">

                
                <div class="col-sm-6">
                    <label>CM Name</label>
                    <input type="text" class="form-control" name="cmname" formControlName="cmname" placeholder="Enter CM Name" />
                    </div>
                    
                    
                  <div class="col-sm-6">
                  <label><br></label>
                   <button class="btn btn-success" type="button" (click)="UpdateCMDetails();">Update</button>
                  </div>
                  
              </div>
             
              <div class="row">
                <div class="col-sm-6">
                <img [src]="ministerphoto" width="150px" height="150px">
                </div>
                
              </div>
              <div class="row" style="margin-bottom:15px;">
                <label>Upload Minister Photo</label><span class="danger">*</span>
                               
                <div class="col-md-3">
                  <input type="file" #file1 placeholder="Choose file" (change)="uploadMinisterFile(file1.files)" style="display:none;" multiple>
                  <button type="button" class="btn btn-success" (click)="file1.click()">Upload File</button>
                </div>
                <div class="col-md-4">
                  <span class="upload" *ngIf="progress1 > 0">
                    {{progress1}}%
                  </span>
                  <span class="upload" *ngIf="message1">
                    {{message1}}
                  </span>
                </div>
              </div>
                        <div class="row">
                          
                            <div class="col-sm-6">
                                <label>Minister Name</label>
                                <input type="text" class="form-control" name="ministername" formControlName="ministername" placeholder="Enter Minister Name" />
                                </div>
                                <div class="col-sm-6">
                                    <label>Minister Designation</label>
                                <input type="text" class="form-control" name="ministerdesiganation" formControlName="ministerdesiganation" placeholder="Enter Minister Designation" />
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-success" type="button" (click)="UpdateMinisterDetails();">Update</button>
                                </div>
                        </div>      
                
             </form>
  
    </div>
  </div>
  
  