.servicecharter-box {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f0f4c3;
    border-radius: 6px;
    border: 2px solid #a5a5a5;
    text-align: center;
    box-shadow: 0 5px 15px rgb(88 88 88 / 5%);
    height: 141px;
}

.servicecharter-box h6 {
    font-size: 15px;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin-top: 8px;
    margin-bottom: 6px;
    color: #3c420b;
}

.servicecharter-box img {
    width: 43px;
    margin-bottom: 10px;
}

.servicecharter-box table tr td {
    padding: 8px 4px;
    font-size: 13px;
    color: black;
}

.servicecharter-box table tr td:nth-child(2),
.servicecharter-box table tr th:nth-child(2) {
    text-align: left;
}

.servicecharter-box table tr th {
    padding: 10px 4px;
    background: #1f475a;
    color: #ffffff;
}

.servicecharter-box .modal-header {
    padding: 10px 20px;
    background: #f0f4c3;
    color: #000000;
}

.servicecharter-box .modal-header .close {
    padding: 5px 9px;
    margin: 0px 0px;
    color: white;
    font-size: 19px;
    opacity: 1;
    box-shadow: none;
    background: #7f8c01;
    border-radius: 36px;
}

.servicecharter-box .modal-header img {
    width: 32px;
    margin-right: 14px;
    /* margin: 0px; */
    margin-bottom: 0px;
}

.servicecharter-box .modal-body table {
    margin-bottom: 0px;
}


/* .modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
 */

.zoom-in {
    transform: scale(0)!important;
    opacity: 0;
    -webkit-transition: 0.5s all 0s;
    -moz-transition: 0.5s all 0s;
    -ms-transition: 0.5s all 0s;
    -o-transition: 0.5s all 0s;
    transition: 0.5s all 0s;
    display: block !important;
}

.zoom-in.show {
    opacity: 1;
    transform: scale(1)!important;
    transform: none;
}