<main>
    <div class="container page-border">
        
        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Service Charter </h1>
                    <p>Home / <a > Service Charter
                    </a></p>
                </div>

            </div>
        </div>



        <div class="row ">
            <div class="col-md-8 offset-sm-2 ">




                <!-- <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">
                            <div class="serchart">
                                <img src="./assets/web-styles/images/busness.svg" />
                                <h6>B & L Section </h6>
                            </div>
                        </a>
                    </li>
                    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h3>HOME</h3>
                        <p>Some content.</p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div> -->


                <div class="row">
                    <div class="col-sm-12  text-center py-4 px-5">
                        <h4>Andhra Pradesh State Warehousing Corporation Vijayawada<br> <small>Consolidated  section wise service charter details </small></h4>
                    </div>

                   

                   
                    <div class="col-sm-4 mb-4"  *ngFor="let sc of sectioncharterlist">
                        <div class="servicecharter-box">

                            <img [src]="'./assets/web-styles/images/'+sc.imagepath" />
                            <h6>{{sc.section}} </h6>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn page-btn" data-toggle="modal" [attr.data-target]="'#'+sc.section_CODE" (click)="GetSectionDetails(sc);"> View Details</button>
                        

                         <!-- Modal -->
                         <div class="modal zoom-in" [id]="modalsection" tabindex="-1" role="dialog" aria-labelledby="blsectionLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered   " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="blsectionLabel"> <img [src]="'./assets/web-styles/images/'+modalimage" /> {{modaltitle}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
      </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered  table-striped webtable-data">
                                            <thead>
                                                <th>Sno</th>
                                                <th>Name</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sd of servicecharterdetails ">
                                                    <td>{{sd.sno}}</td>
                                                    <td>{{sd.service}}</td>

                                                </tr>
                                               </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                  
                    </div>
                           
                       
                   
                
                </div>
            </div>
        </div>

    </div>
</main>