
<!-- Footer -->
<footer class="">
    <!-- Grid container -->
    <div class="container px-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h1 class="text-uppercase pt-2"> APSWC</h1>
                <h4 class="fhead-title">Head Office</h4>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Stalin Corporate Building, 2nd floor, <br> D.no. 55-17-3, C-13, Industrial Estate, Auto Nagar,<br> Vijayawada -520 007
                        </p>
                        <h6 class="mb-0">Email : md[at]apswc[dot]com </h6>
                        <h6 class="mb-0">Last updated on: <span style="color: #2dcee3;"> 05.07.2021 </span></h6>

                    </div>
                    <div class="col-md-4">
                        <!-- <img src="assets/web-styles/images/playstore 1.png" alt="playstore" width="150"> -->
                    </div>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="fhead-title">More Information</h6>
                <ul class="nav flex-column footer-links">
                    <!-- <li class="nav-item">
                        <a class="nav-link" >Website Policy</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Disclaimer">Disclaimer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/CopyrightsPolicy">Copyright Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/PrivacyPolicy" >Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Hyperlinkpolicy" >Hyperlinking Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Accessibility"  >Accessibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/TermsConditions"  >Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="fhead-title">External Links</h6>
                <ul class="nav flex-column list-unstyled footer-links2 pt-2">
                    <li class="nav-item">
                        <a class="nav-link text-info" (click)="onClickMe3()" target="_blank">
                            <img src="./assets/web-styles/images/AP-State-Portal.png">
                            <h4>AP State Portal</h4>
                            <p>Official portal of Andhra Pradesh Government</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" (click)="onClickMe4()" target="_blank">
                            <img src="./assets/web-styles/images/Market-AP.png">
                            <h4>Agriculture and Cooperation (MKTG-I) Department</h4>
                            <p>Government of Andhra Pradesh</p></a>
                    </li>
                </ul>
                <div class="mt-1">
                    <h6 class="text-white">Total Site Visitors: <span class="h3 ml-1" style="color: #2dcee3; font-size: large;">{{visitorscount}}</span></h6>
                    
                     <!-- <a href="" title="web counter"><img src="//counter4.stat.ovh/private/freecounterstat.php?c=b8e5d263hkt21uu9r79hj8rs23fkr9te" border="0" title="web counter" alt="web counter"></a> -->

                </div>
            </div>

        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="col-sm-12 mx-auto text-white p-1" style="background-color: #00000061;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="mb-0">Copyright © 2021 APSWC. All Rights Reserved. </p>


                </div>

            </div>

        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->