footer {
    background: #232323;
    /* padding: 30px 15px; */
}

footer p {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 12px;
    margin-bottom: 6px;
}

footer h6,
footer h1 {
    color: #fff;
    font-weight: 500;
}

footer .fhead-title {
    padding: 10px;
    color: #fff;
    padding-left: 0px;
    /* margin-bottom: -3px; */
    border-bottom: 1px solid #3a3a3a;
}

.footer-links .nav-item .nav-link {
    color: white;
    font-size: 13px;
    padding: 4px 15px;
}

.footer-links .nav-item::before {
    content: "";
    width: 4px;
    height: 4px;
    background: white;
    position: absolute;
    margin-top: 9px;
    border-radius: 11px;
}

ul.nav li img{
    width: 64px;
    margin-right: 5px;
    float: left;
    margin-bottom: 1rem;
    height: 48px;
}
.footer-links2{
    list-style: none;
}
.footer-links2 .nav-item img{
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.footer-links2 .nav-item:hover img {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    cursor: pointer;
}
.footer-links2 .nav-item .nav-link{
    padding: .5rem .2rem;
}
.footer-links2 .h4, h4 {
    font-size: 1.12rem;
    margin-bottom: 0;
}
.footer-links2 .nav-item .nav-link p{
    line-height: 1.3;
}