<main>
    <div name="" #divbody class="container page-border">
        <div class="row">
            <div class="col-sm-9 p-0">

                <div class="slider-animation">
                    <div class="vechile">
                        <img id="pic" class="pic" src="./assets/web-styles/images/sliderimg/truck.png" />
                        <img id="pic1" class="pic" src="./assets/web-styles/images/sliderimg/truck2.png" />
                        <img id="pic2" class="pic" src="./assets/web-styles/images/sliderimg/tempo.png" />
                        <img id="load" class="loads" src="./assets/web-styles/images/sliderimg/load.png" />
                    </div>

                </div>


                <!-- 
                <div class="slider-animation">

                    <div id="clouds-wrap">
                        <div class="x1">
                            <div class="cloud"></div>
                        </div>

                        <div class="x2">
                            <div class="cloud"></div>
                        </div>

                        <div class="x3">
                            <div class="cloud"></div>
                        </div>                     
                    </div>
                    <div class="warehousegodown">
                        <div class="venttilator1">
                            <img src="./assets/web-styles/images/sliderimg/fan.png" alt="" srcset="">
                        </div>
                        <div class="venttilator2">
                            <img src="./assets/web-styles/images/sliderimg/fan.png" alt="" srcset="">
                        </div>
                        <div class="venttilator3">
                            <img src="./assets/web-styles/images/sliderimg/fan2.png" alt="" srcset="">
                        </div>

                        <img src="./assets/web-styles/images/sliderimg/warehouse.png" />
                    </div>
                    <div class="office">
                        <img src="./assets/web-styles/images/sliderimg/office.png" />
                    </div>
                
                    <div class="vechile">
                        <img id="pic" class="pic" src="./assets/web-styles/images/sliderimg/truck.png" />
                        <img id="pic1" class="pic" src="./assets/web-styles/images/sliderimg/truck2.png" />
                        <img id="pic2" class="pic" src="./assets/web-styles/images/sliderimg/tempo.png" />
                        <img id="load" class="loads" src="./assets/web-styles/images/sliderimg/load.png" />
                    </div>                 

                    <div class="labour2">
                        <img src="./assets/web-styles/images/sliderimg/laboutreading.png">
                    </div>
                    <div class="labour">
                        <img src="./assets/web-styles/images/sliderimg/labourwithgoods.png">
                    </div>
                    <div class="trees">
                        <div class="t1">
                            <div class="tree"> <img src="./assets/web-styles/images/sliderimg/stem.png"></div>
                        </div>
                           <div class="t3">
                            <div class="tree"> <img src="./assets/web-styles/images/sliderimg/stem.png"></div>
                        </div>
                        <div class="t4">
                            <div class="tree treebig">
                                <img class="tb" src="./assets/web-styles/images/sliderimg/treebig.png">

                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- <img class="d-block img-fluid w-100" src="./assets/web-styles/images/finalslide.jpg" alt="slider2"> -->
                <!-- <div style="width: 100%; overflow: hidden;">


                    <img id="pic1" class="pic" src="./assets/web-styles/images/sliderimg/truck.png">
                </div> -->
            </div>
            <div class="col-sm-3">
                <div class="minister-photo">
                    <div class="minister-photo">
                        <img [src]="cmphoto" alt="cm-photo">
                        <!--    <img src="./assets/web-styles/images/cm.png" alt="cm-photo"> -->
                        <h2>Sri Y.S. Jagan Mohan Reddy</h2>
                        <p class="text-center"> Hon’ble Chief Minister <br> Government of Andhra Pradesh</p>
                    </div>
                    <div class="minister-photo text-center">
                        <!-- <img src="./assets/web-styles/images/kannababu.png" alt="kannababy-photo"> -->
                        <img [src]="ministerphoto" alt="kannababy-photo">
                        <h2>{{ministername}}</h2>
                        <p class="text-center">{{ministerdesignation}}</p>
                    </div>


                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 pl-0" style="background-color: #f5f5f5!important">
                <div class=" notification">
                    <h6>Notifications</h6>
                    <marquee onmouseover="this.stop();" onmouseout="this.start();">
                        <p class="mb-0"> {{scrollmesage}}</p>
                    </marquee>
                </div>
            </div>
        </div>

        <div class="row px-0 my-0 px-md-5 my-md-3">
            <div class="col-sm-4">
                <div class="dashboard-count clr1 text-center " data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="50">
                    <div class="d-flex justify-content-start align-items-center flex-column" *ngIf="dashboardval">
                        <span>As on {{dashboardval.asoN_DATE}}</span>
                        <h1>Total Space (MT's)</h1>
                        <div class="justify-content-center">
                            <h3 class='numscroller' data-min='1' data-max='1000' data-delay='10' data-increment='4'> {{dashboardval.totaL_SPACE}} </h3>
                        </div>
                    </div>

                    <circle-progress [percent]="100" [radius]="60" [outerStrokeWidth]="5" [innerStrokeWidth]="1" [space]="0" [outerStrokeColor]="'#2ab8e2'" [innerStrokeColor]="'#2ab8e2'" [animation]="true" [animationDuration]="2000" [unitsColor]="'#ffffff'">
                    </circle-progress>


                </div>

                <!-- <circle-progress #circleProgress [percent]="options.percent" [radius]="options.radius"
                [subtitleFormat]="options.subtitleFormat" 
                            [outerStrokeWidth]="options.outerStrokeWidth" [innerStrokeWidth]="options.innerStrokeWidth"
                [animationDuration]="options.animationDuration" [outerStrokeColor]="options.outerStrokeColor"
                [innerStrokeColor]="options.innerStrokeColor" 
                [animation]="options.animation" >
              </circle-progress> -->

            </div>
            <div class="col-sm-4">
                <div class="dashboard-count clr2">
                    <div class="d-flex justify-content-start align-items-center flex-column" *ngIf="dashboardval">
                        <span>As on {{dashboardval.asoN_DATE}}</span>
                        <h1>Occupied Space (MT's)</h1>
                        <div>
                            <h3 class='numscroller' data-min='1' data-max='540' data-delay='10' data-increment='4'> {{dashboardval.occupieD_SPACE}} </h3>

                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center flex-column">

                        <circle-progress [percent]="occupiedper" [space]="0" [backgroundColor]="'#d2813d'" [radius]="60" [outerStrokeWidth]="5" [innerStrokeWidth]="1" [outerStrokeColor]="'#d2813d'" [innerStrokeColor]="'#d2813d'" [animation]="true" [animationDuration]="2000">
                        </circle-progress>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dashboard-count clr3">
                    <div class="d-flex justify-content-start align-items-center flex-column" *ngIf="dashboardval">
                        <span>As on {{dashboardval.asoN_DATE}}</span>
                        <h1>Available Space (MT's)</h1>
                        <div>
                            <h3 class='numscroller' data-min='1' data-max='380' data-delay='10' data-increment='4'> {{dashboardval.availablE_SPACE}} </h3>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center flex-column">
                        <circle-progress [percent]="availbleper" [space]="0" [backgroundColor]="'#88c32b'" [radius]="60" [outerStrokeWidth]="5" [innerStrokeWidth]="1" [outerStrokeColor]="'#88c32b'" [innerStrokeColor]="'#88c32b'" [animation]="true" [animationDuration]="2000">
                        </circle-progress>
                    </div>


                </div>
            </div>
        </div>
        <div class="row bg-light px-0 px-md-5 pt-4 pb-2 mb-0 mb-md-2" id="maincontent">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="about-hc">
                    <h1>About <span>APSWC </span></h1>

                    <ul class="about_points" [innerHTML]="ulapswcabout">

                    </ul>
                    <!-- <ul class="about_points">
                        <li>The Andhra Pradesh State Warehousing Corporation (APSWC) is Statutory Corporation established by the Government of Andhra Pradesh on 5 th August, 1958. </li>
                        <li>
                            <div class="shareholde-ls">
                                <p> <b>Shareholders:</b> </p>
                                <div class="ml-2">
                                    <p class="mb-0"> 50% Share capital by Government of Andhra Pradesh.</p>
                                    <p class="mb-0"> 50% share capital by Central Warehousing Corporation <span style=" color: #3f51b5; cursor: pointer;" (click)="onClickMe2()"> (CWC)</span></p>
                                </div>
                            </div>
                        </li>
                        <li>Acts as a Nodal Agency of the State Government for the purpose of storage of agriculture produce, seeds, manures, fertilizers, agriculture implants and notified commodities. </li>
                        <li>Provides scientific storage facilities through its Warehouses spread throughout Andhra Pradesh with a total storage capacity more than 17.27 lakh Metric Tonnes for the storage of agricultural produce, seeds, manures, fertilizers,
                            agricultural implements and notified commodities. </li>
                        <li>Provides storage facilities to Food Corporation of India, AP State Civil Supplies Corporation Limited, APMARKFED, APOILFED, NAFED, Private Customers. </li>
                        <li>Maintains quality of the commodities through prophylactic and curative treatment. </li>
                        <li>Also provides disinfestation and fumigation services for the stored commodities. </li>


                    </ul> -->


                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="tendersec">

                    <h1> <img src="./assets/web-styles/images/tender-icn.svg" alt="tender icon" style="width:30px;"> &nbsp; TENDERS</h1>
                    <!--<p class="text-center pt-5 text-danger">Coming Soon...!</p>-->
                    <ul >
                        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" Scrolldelay=200>
                            <div *ngFor="let ten of tenderlist;">
                            <li *ngIf="ten.iS_ACTIVE=='1'">
                                <a href="{{ten.contenT_PHOTO}}" target="_blank" style="color: #f81238 !important;">
                                    <div class="tender-list">
                                        
                                        <h4><b>{{ten.contenT_TITLE}} </b></h4>
                                    </div>
                                </a>
                            </li>
                        </div>
                        </marquee>

                    </ul>
                    <!-- <a href="tenders.html" style="float: right; margin-top: 5px;margin-right: 15px;font-size: 12px; color: black;"> Veiw all</a> -->
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="latestnews">

                    <h1> <img src="./assets/web-styles/images/tender-icn.svg" alt="tender icon" style="width:30px;"> &nbsp; LATEST NEWS</h1>
                   
                    <ul >
                        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" Scrolldelay=300>
                            <div *ngFor="let news of newslist;">
                            <li style="height: 200px;" *ngIf="news.iS_ACTIVE=='1'">
                                <!-- <a href="./assets/news/apswc-web-portal-guide.pdf" target="_blank" style="color: #349192 !important;">
                                    <div class="tender-list">
                                        <h5>APSWC Web Portal Guide</h5>
                                    </div>
                                </a>-->

                                <a href="{{news.contenT_PHOTO}}" target="_blank" style="color: #349192 !important;">
                                    <div class="tender-list">
                                        <h5>{{news.contenT_TITLE}}</h5>
                                    </div>
                                </a>

                            </li>
                        </div>
                        </marquee>
                    </ul>
                    <!-- <p class="text-center pt-5 text-danger">Coming Soon...!</p> -->
                    <!-- <ul>
                        <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" Scrolldelay=300>


                            <li>
                                <a href=" #">
                                    <div class="tender-list">

                                        <h5> Latest News Sample text </h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5> Latest News Sample text </h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5> Latest News Sample text </h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5> Latest News Sample text </h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5>E-Procurment Tender Notice 27/6/2020</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5>E-Procurment Tender Notice 27/6/2020</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a >
                                    <div class="tender-list">

                                        <h5>E-Procurment Tender Notice 27/6/2020</h5>
                                    </div>
                                </a>
                            </li>
                        </marquee>
                    </ul> -->

                </div>
            </div>
        </div>

        <div class="row px-0  px-md-5 pt-0 pt-md-3 pb-2 mb-md-3 mb-0">
            <div class="col-sm-6">
                <div class="about-hc why">
                    <h1><img src="./assets/web-styles/images/why.svg" alt="tender icon" style="width:35px; margin-bottom: 10px;" /> Why <span>APSWC</span></h1>
                    <ul class="why_points" [innerHTML]="ulapswcwhy">

                    </ul>
                    <!-- <ul class="why_points">
                        <li>Facilitates Storage space for the notified commodities. </li>
                        <li>Scientific designs suited to large scale storage.</li>
                        <li>Accessibility to social infrastructure.</li>
                        <li>Scientific Management through trained workforce.</li>
                        <li>Low Storage Losses</li>
                        <li>Registered with Warehousing Development and Regulatory Authority ( <span style=" color: #3f51b5; cursor: pointer;" (click)="onClickMe()"> WDRA </span> )</li>
                        <li>Provides a warehouse receipt of stored commodities for securing credit from the banks. </li>
                        <li>Insurance cover against Fire, Riot, Strike &amp; Malicious Damages, Storm, Tempest, Flood and Inundation. </li>
                        <li>Approved Contractors for Handling and Transport services.</li>
                        <li>Periodic Quality check and Inspection for assessing food grains.</li>
                    </ul> -->

                </div>
            </div>
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="about-hc">
                            <h1><img src="./assets/web-styles/images/objective.svg" alt="tender icon" style="width:35px; margin-bottom: 10px;" /> Our <span>Vision</span> <i> "A Grain Saved is A Grain Produced"</i></h1>
                            <!-- <h4 class="text-center my-2"> <i>The more you saved is the more you produced</i> </h4> -->

                            <ul class="objectives" [innerHTML]="ulourvision">

                            </ul>

                            <!-- <ul class="objectives">
                                <li>To provide and maintain adequate, scientific infrastructure facility to farmers for storages of their produce and other notified commodities.</li>
                                <li>To facilitate easy accessibility to the farmers to minimize storage loss and wastage & to improve rural liquidity.</li>
                                <li>To support market to overcome volatile market prices of Agricultural commodities to the possible extent.</li>
                            </ul> -->




                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="about-hc">
                            <h1><img src="./assets/web-styles/images/vision.svg" alt="tender icon" style="width:30px; margin-bottom: 10px; margin-right: 10px;" />Our <span>Objectives </span></h1>

                            <ul class="objectives" [innerHTML]="ulourobjective">

                            </ul>
                            <!-- <ul class="objectives">
                                <li>To provide storage facilities to Farmers, Traders and Government agencies to minimize storage losses.</li>
                                <li>To promote and develop scientific storage facilities to minimize wastage.</li>
                                <li>To maintain quality of the commodities through prophylactic and curative treatment.</li>
                            </ul> -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">

            </div>

        </div>
        <div class="row px-5 pt-2 bg-light">


            <div class=" col-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12">

                        <h3 class=" mb-2"> <img src="./assets/web-styles/images/inspection.svg" alt="tender icon" style="width:30px; margin-bottom: 10px; margin-right: 10px;" /> Inspection Photos</h3>

                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <img src="./assets/web-styles/images/inspectionphoto/insp8.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <img src="./assets/web-styles/images/inspectionphoto/insp9.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <img src="./assets/web-styles/images/inspectionphoto/insp10.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <img src="./assets/web-styles/images/inspectionphoto/insp1.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <img src="./assets/web-styles/images/inspectionphoto/insp2.png">
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                        <a routerLink="/InpectionGallery" style="float: right; margin-top: 10px; color: black; background: #2196f3; padding: 3px 13px; border-radius: 2px;  color: white;  font-size: 12px; "> Veiw all</a>
                    </div>
                </div>



            </div>
            <div class=" col-12 col-sm-12 col-md-6">

                <h2 class="text-center mb-2 font-weight-bold">Storage Status</h2>
                <canvas baseChart width="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                </canvas>
                <!-- <canvas id="myChartStorage" width="250" height="250"></canvas> -->
                <!-- <canvas id="myChartbottom" width="250" height="250"></canvas> -->

                <!-- <div id="piechart" ></div> -->
                <!-- <div class="chart" style="height: 350px;"> 
                    <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
                    </canvas>
                  </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 px-0">
                <a routerLink="/GodownLocator" class="fullmap">View All Warehouse / AMC Locator</a>
                <iframe src="http://uat.apswc.ap.gov.in/gowdonmap/home/index" width="100%" height="750" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>




    </div>
</main>


<!-- <div id="pagepopup" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content landingpop">
            <div class="modal-body p-0">
                <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <img src="../../../assets/web-styles/images/landingpopup.png" alt="landingpopup" class="w-100">
            </div>

        </div>
    </div>
</div> -->

<style>

</style>

<script src="./assets/web-styles/js/webindex.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<script>
    // var imgs = document.querySelectorAll('.pic');;
    // for (var i = 0; i < imgs.length; i++) {
    //     var cnt = img[i];
    //     console.log(cnt);


    //     imgs[i].style.webkitAnimationPlayState = 'running';
    // }

    // function toggleAnimation() {
    //     var style;
    //     for (var i = 0; i < imgs.length; i++) {
    //         style = imgs[i].style;
    //         if (style.webkitAnimationPlayState === 'running') {
    //             style.webkitAnimationPlayState = 'paused';
    //             document.body.className = 'paused';
    //         } else {
    //             style.webkitAnimationPlayState = 'running';
    //             document.body.className = '';
    //         }
    //     }
    // }


    // AOS.init();
</script>