/* Slider animation */

.darkanimationslider {
    background-image: url(../../../assets/web-styles/images/darkbanner.svg)!important;
}

.dayanimation {
    background-image: url(../../../assets/web-styles/images/dayanimation.svg);
}

.slider-animation {
    height: 100%;
    width: 100%;
    background-position: center center;
    /* background-size: cover; */
    overflow-x: hidden;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
}

#clouds-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: relative;
    right: 0;
    top: 0px;
    z-index: 0;
    width: 1024px;
    overflow-x: hidden;
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 10px;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}


/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud 80s linear infinite;
    -moz-animation: animateCloud 80s linear infinite;
    animation: animateCloud 80s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
    left: 0px;
}

.x2 {
    -webkit-animation: animateCloud 40s linear infinite;
    -moz-animation: animateCloud 40s linear infinite;
    animation: animateCloud 40s linear infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    left: 0px;
}

.x3 {
    -webkit-animation: animateCloud 50s linear infinite;
    -moz-animation: animateCloud 50s linear infinite;
    animation: animateCloud 50s linear infinite;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    left: 0px;
}

.x4 {
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    left: 0px;
}

.x5 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
    left: 0px;
}


/* OBJECTS */

.cloud {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 30px;
    position: relative;
    width: 100px;
}

.cloud:after,
.cloud:before {
    background: #f0f0f0;
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 60px;
    left: 30px;
    top: -35px;
    width: 60px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    right: 54px;
    top: -22px;
}

.warehousegodown img {
    position: absolute;
    bottom: 28px;
    right: 60px;
}

.venttilator1 img {
    position: absolute;
    top: 140px;
    right: 268px;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
    z-index: 99;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
}

.venttilator2 img {
    position: absolute;
    top: 140px;
    right: 153px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 99;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.office img {
    position: absolute;
    bottom: 35px;
    left: 80px;
}

.labour img {
    position: absolute;
    bottom: 24px;
    right: 418px;
}

.labour2 img {
    position: absolute;
    bottom: 67px;
    left: 280px;
}

.labour2::after {
    content: url(../../../assets/web-styles/images/sliderimg/nidle.png);
    position: absolute;
    position: absolute;
    z-indeX: 99;
    bottom: 89px;
    left: 307px;
    /* height: 10px; */
    margin: -10px 0 0 -15px;
    -webkit-animation: spin1 2s linear infinite;
    animation: spin1 2s linear infinite;
}

@-moz-keyframes spin1 {
    0% {
        /* left: 0px; */
        transform: rotate(0deg);
        transform-origin: center center;
    }
    50% {
        /* left: 3px; */
        transform: rotate(90deg);
        transform-origin: center center;
    }
    100% {
        /* left: 0px; */
        transform: rotate(0deg);
        transform-origin: center center;
    }
}

@-webkit-keyframes spin1 {
    0% {
        /* left: 0px; */
        transform: rotate(0deg);
        transform-origin: center center;
    }
    50% {
        /* left: 3px; */
        transform: rotate(90deg);
        transform-origin: center center;
    }
    100% {
        /* left: 0px; */
        transform: rotate(0deg);
        transform-origin: center center;
    }
}

@keyframes spin1 {
    0% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
    50% {
        /* left: 3px; */
        transform: rotate(90deg);
    }
    100% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
}

.truck {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 99;
    overflow-x: hidden;
    width: 1024px;
}

.truck img {
    position: absolute;
    bottom: 84px;
    left: 115px;
    /* animation: trucks 50s linear infinite; */
}

.vechile {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    z-index: 99;
}

#load {
    bottom: 42px;
    /* -webkit-animation: load 11s infinite linear; */
    z-index: -1;
    margin-left: -5px;
    left: 8px;
    position: absolute;
}

.truck2 {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 99;
    width: 1024px;
    overflow-x: hidden;
}

.truck2 img {
    position: absolute;
    bottom: 15px;
    /* animation: trucks2 50s linear infinite; */
}

.truck3 {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 99;
    width: 1024px;
    overflow-x: hidden;
}

.truck3 img {
    position: absolute;
    bottom: 0px;
    animation: trucks3 50s linear infinite;
}

@keyframes trucks3 {
    0% {
        margin-left: -1000px;
    }
    /* 50% {
        background-color: green;
        margin-left: -1000px;
    } */
    100% {
        margin-left: 100%;
    }
}

.trees .t1 {
    position: absolute;
    left: 2%;
    bottom: 115px;
}

.trees .t2 {
    position: absolute;
    right: 5%;
    bottom: 100px;
}

.trees .t3 {
    position: absolute;
    left: 40%;
    bottom: 110px;
}

.trees .t4 {
    position: absolute;
    left: 45%;
    bottom: 90px;
}

.tree.treebig::after {
    content: url(../../../assets/web-styles/images/sliderimg/bigbush.png);
    position: absolute;
    z-indeX: 99;
    bottom: 100px;
    -webkit-animation: treebig 5s linear infinite;
    animation: trees 5s linear infinite;
    left: 5px;
}

@keyframes treebig {
    0% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
    50% {
        /* left: 3px; */
        transform: rotate(5deg);
    }
    100% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
}

.tree.treebig img {
    position: absolute;
    bottom: 0px;
}

.tree {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color: red; */
    position: relative;
}

.tree::after {
    content: url(../../../assets/web-styles/images/sliderimg/bigtreebuches.png);
    position: absolute;
    z-indeX: 99;
    bottom: 38px;
    -webkit-animation: trees 3s linear infinite;
    animation: trees 3s linear infinite;
    left: -3px;
}

@keyframes trees {
    0% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
    50% {
        /* left: 3px; */
        transform: rotate(5deg);
    }
    100% {
        /* left: 0px; */
        transform: rotate(0deg);
    }
}

.tree img {
    position: absolute;
    bottom: 0px;
}


/* ------------------------ */

.minister-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.minister-photo h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #ff5722;
}

.minister-photo p {
    font-size: 12px;
    line-height: 1.5;
}


/* About section */

.about-hc h1 {
    font-size: 24px;
    border-bottom: 2px solid #488DF5;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-hc p {
    text-align: justify;
}

.about-hc h1>span {
    color: #488DF5;
}

.about-hc h1 i {
    font-size: 18px;
    float: right;
    margin-top: 10px;
    color: #ff2946;
    font-weight: 600;
    font-style: italic;
}


/* Tenders */

.tendersec {
    background: #FFF;
    border: 1px dashed #acaeb1;
    border-radius: 10px;
    padding: 15px 15px;
    height: 380px;
    margin-top: 30px;
    box-shadow: 1px 1px 15px 8px #21212117;
}

.tendersec h1 {
    background: #1b2942;
    margin-top: -40px;
    border-radius: 6px;
    margin-bottom: 2px;
    color: white;
    font-size: 22px;
    padding: 5px 14px;
    width: 80%;
    margin: 0px auto;
    margin-top: -50px;
    position: absolute;
    font-weight: bold;
}

.tendersec ul {
    padding: 0px;
    margin: 0px;
}

.tendersec ul li {
    list-style-type: none;
    /* margin: 4px 6px; */
    padding: 12px 10px;
}

.tendersec ul li::after {
    content: "";
    position: absolute;
    width: 90%;
    background: #dadada4f;
    height: 1.5px;
    margin-top: 12px;
}

.tendersec ul li a {
    color: black;
    font-size: 13px;
}

.tendersec ul li a:hover {
    text-decoration: none;
}

.tendersec ul li span {
    background: #C8EEFF;
    border-radius: 7px;
    width: 50px;
    height: 50px;
}

.tendersec ul marquee {
    height: 300px;
    margin-top: 10px;
}

.tender-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tender-list h4{
    font-size: 12px;
}
.tender-list p {
    font-size: 9px;
    background: #e0f7fa;
    border-radius: 4px;
    text-align: center;
    margin-right: 14px;
    margin-bottom: 0px;
    padding: 6px;
    line-height: 12px;
    width: 50px;
    font-weight: 700;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tender-list h5 {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 400;
}


/* Latestnews */

.latestnews {
    background: #ffffff;
    border: 1px dashed #acaeb1;
    border-radius: 10px;
    padding: 15px 15px;
    height: 380px;
    margin-top: 30px;
    box-shadow: 1px 1px 15px 8px #21212117;
}

.latestnews h1 {
    background: #0f8e67;
    margin-top: -40px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    padding: 4px 10px;
    width: 80%;
    margin: 0px auto;
    margin-top: -50px;
    position: absolute;
    font-weight: bold;
}

.latestnews ul {
    padding: 0px;
    margin: 0px;
}

.latestnews ul li {
    list-style-type: none;
    /* margin: 4px 6px; */
    padding: 12px 10px;
}

.latestnews ul li::after {
    content: "";
    position: absolute;
    width: 74%;
    background: #dadada4f;
    height: 1.5px;
    margin-top: 12px;
}

.latestnews ul li a {
    color: black;
    font-size: 13px;
}

.latestnews ul li a:hover {
    text-decoration: none;
}

.latestnews ul li span {
    background: #C8EEFF;
    border-radius: 7px;
    width: 50px;
    height: 50px;
}

.latestnews .tender-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.latestnews .tender-list p {
    font-size: 9px;
    background: #bcaaa4;
    border-radius: 4px;
    text-align: center;
    margin-right: 14px;
    margin-bottom: 0px;
    padding: 6px;
    line-height: 12px;
    width: 50px;
    font-weight: 700;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.latestnews .tender-list h5 {
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 400;
}

.objectives {
    margin-bottom: 35px;
}

.shareholde-ls {
    display: flex;
}


/* Dashboard counter */

.dashboard-count {
    margin-bottom: 15px;
    background-image: url(../../../assets/web-styles/images/dashboard-bg.png);
    padding: 13px 30px;
    border-radius: 7px;
    color: white;
    box-shadow: 0 5px 15px rgb(88 88 88 / 9%);
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
}

.dashboard-count.clr1 {
    background-color: #ffffff;
    color: #3b3b3b;
    border: 3px solid #8080801f;
}

.dashboard-count.clr2 {
    background-color: #ffffff;
    color: #3b3b3b;
    /* border: 1px solid; */
    border: 3px solid #8080801f;
}

.dashboard-count.clr3 {
    background-color: #ffffff;
    color: #3c3c3c;
    /* border: 1px solid; */
    border: 3px solid #8080801f;
}

.dashboard-count h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 3px;
    margin-top: 10px;
}

.dashboard-count div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-count h3 {
    margin-bottom: 0px;
    font-size: 33px;
    font-family: 'DS-DIGIB', sans-serif;
    letter-spacing: 1px;
    color: #e38f12;
}

.dashboard-count h6 {
    margin-bottom: 0px;
    position: absolute;
    font-size: 13px;
    /* font-family: 'Anton', sans-serif; */
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 44px;
    margin-left: 53px;
}

.dashboard-count span {
    font-size: 10px;
    background: #e6ee9c;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.about-hc.why {
    /* color: white; */
    background: #f9fbe7;
    padding: 30px;
    border-radius: 14px;
    border-top: 4px solid #795548;
}

ul.why_points li {
    margin-bottom: 13px;
    line-height: 1.5;
    color: black;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
}

ul.why_points li::before {
    content: url(../../../assets/web-styles/images/objimg.svg);
    position: absolute;
    left: 55px;
    margin-top: 3px;
}

.about-hc.why h1 {
    /* text-align: center; */
    font-size: 28px;
    border-bottom: 0px solid #488DF5;
    margin-bottom: 20px;
}

.about-hc.why p {
    text-align: justify;
}

.objectives li {
    margin-bottom: 8px;
    list-style-type: none;
    color: black;
}

iframe html .container-fluid {
    padding: 0px !important;
}

.fullmap {
    float: right;
    padding: 10px 15px;
    position: absolute;
    right: 22px;
    background: #212529;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    font-size: 12px;
}

.minister-photo h2 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #212529;
}

@media (max-width:480px) {
    .minister-photo {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .tendersec {
        margin-bottom: 30px;
    }
    .shareholde-ls {
        display: flex;
        flex-direction: column;
    }
    .about-hc p {
        text-align: left;
        margin-bottom: 0px;
    }
    .about-hc.why {
        margin-bottom: 30px;
    }
    .about-hc h4 {
        font-size: 13px;
        line-height: 3;
    }
    .about-hc h1 i {
        font-size: 20px;
        float: right;
        margin-top: 12px;
        color: #ff2946;
        font-weight: 600;
        font-style: italic;
        text-align: center;
    }
    .slider-animation {
        height: 20vh;
    }
    .vechile {
        bottom: 3px;
    }
    .warehousegodown img {
        position: absolute;
        bottom: 24px;
        right: 25px;
        width: 165px;
        z-index: 1;
    }
    .venttilator1 img {
        top: 169px;
        right: 116px !important;
        z-index: 2;
        width: 5px !important;
    }
    .venttilator2 img {
        top: 169px;
        right: 78px !important;
        width: 5px !important;
    }
    .office img {
        position: absolute;
        bottom: 23px;
        left: 19px;
        width: 100px;
    }
    .notification h6 {
        background: #f44336;
        padding: 9px 14px;
        color: white;
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 10px;
    }
    main {
        margin-top: 77px;
    }
    .labour2 img {
        bottom: 26px;
        left: 94px;
        width: 35px;
    }
    .trees {
        position: absolute;
        width: 100%;
        bottom: -46px;
    }
    .trees .t3 {
        left: 25%;
        bottom: 110px;
    }
    .trees .t4 {
        position: absolute;
        left: 33%;
        bottom: 80px;
    }
    .tree.treebig img.tsm {
        content: url(../../../assets/web-styles/images/sliderimg/bigbushsm.png);
        bottom: 0px;
        width: 70px;
        display: block;
    }
    .vechile img {
        width: 100px;
    }
    circle-progress svg {
        width: 100px !important;
    }
}

#cloud1 {
    -webkit-animation: cloudone 1s linear infinite;
    -moz-animation: cloudone 1s linear infinite;
    animation: cloudone 80s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

@-webkit-keyframes cloudone {
    0% {
        transform: translatex(1024px)
    }
    100% {
        transform: translatex(1024px)
    }
}

@-moz-keyframes cloudone {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes cloudone {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(1024px)
    }
}
.about_points{
    padding-left: 0;
}

.about-hc.why{
    padding: 15px 10px;
}
.why_points{
    padding-left: 0;
}
.objectives{
    padding-left: 0;
}
@media screen and (max-width: 991px){
    .about_points{
        padding-left: 0;
    }
    .about-hc.why{
        padding: 15px 10px;
    }
    .why_points{
        padding-left: 0;
    }
    .objectives{
        padding-left: 0;
    }
    .tender-list h4{
        font-size: 1rem;
    }
}


iframe body{
    background: white !important;
}