
<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Site Map</h1>
                    <p>Home /<a >Sitemap</a></p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 p-5">

                <ul>
                    <li><a routerLink="/Home">Home</a></li>
                    <li><a routerLink="/Boardofdirector">About</a>
                    <ul>
                        <li><a routerLink="/Boardofdirector">Board of Director</a></li>
                        <li><a routerLink="/OrganisationalStructure" target="_blank">Organisational Structure</a></li>
                        <li><a routerLink="/WarehouseAct">Warehouse Act</a></li>
                        <li><a routerLink="/Regulations">Regulations</a></li>
                    </ul>
                    </li>
                    <li><a ></a><a >Warehouse</a>
                        <ul>
                            <li><a routerLink="/StorageCharges">Storage and other Charges</a></li>
                            <li><a routerLink="/ServicesCharter">Service Charter</a></li>
                            <li><a routerLink="/Tender">Tenders</a></li>
                            <li><a routerLink="/GodownLocator">Godown Locator</a></li>
                        </ul>
                        </li>
                        <li><a ></a><a >Gallery</a>
                            <ul>
                                <li><a routerLink="/PhotoGallery">Photo Gallery</a></li>
                                <li><a routerLink="/InpectionGallery">Inspection Gallery</a></li>
                                
                            </ul>
                            </li>
                            <li><a routerLink="/Disclaimer">Disclaimer</a></li>
                            <li><a routerLink="/CopyrightsPolicy">Copyright Policy</a></li>
                            <li><a routerLink="/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a routerLink="/Hyperlinkpolicy">Hyperlinking Policy</a></li>
                            <li><a routerLink="/Accessibility">Accessibility</a></li>
                            
                </ul>
        </div>
        </div>
        </div>
        </main>
