@import url('https://fonts.googleapis.com/css2?family=Sree+Krushnadevaraya&display=swap');
.header-navbar.navbar-shadow {
    box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 17%);
}

.main-menu.menu-dark .navigation li a {
    color: #ffffff;
    font-weight: 400;
    box-shadow: 2px 4px 20px -4px rgb(0 0 0 / 17%);
}

form label {
    color: #2e405c;
    font-weight: 600;
    font-size: 13px;
}

.form-control {
    height: calc(2rem + 5px);
}

.autocomplete-container {
    box-shadow: none !important;
    height: 36px;
}

.autocomplete-container .input-container input {
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #babfc7 !important;
    box-shadow: none;
    outline: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    padding: 0 15px;
    line-height: 30px;
    height: 36px !important;
    border-radius: 4px;
}

.autocomplete-container .input-container .x i {
    color: #f44336 !important;
    font-size: 16px !important;
    vertical-align: middle;
    margin-bottom: 4px;
}

.autocomplete-container .suggestions-container ul li a {
    padding: 5px 8px !important;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px !important;
    border-bottom: 1px solid #eeeeee;
}

.btn.calendar {
    display: inline-block;
    color: #404e67;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #9e9e9e !important;
    padding: 7px;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="file" i] {
    font-size: 13px;
    padding: 7px;
    height: 36px;
}

.ngb-dp-weekday {
    color: #000 !important;
    color: var(--info);
}

.main-menu.menu-dark .navigation li a {
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.card-header {
    background: #eeeeee;
    padding: 15px;
    border: 1px solid #dedede;
    border-bottom: 0px;
}

.card-header .heading-elements,
.card-header .heading-elements-toggle {
    top: 10px;
}

.card .card-title {
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 1.12rem;
}

span.active {
    background-color: #4caf50;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px;
    text-align: center;
}

span.inactive {
    background-color: gray;
    padding: 3px 5px;
    color: white;
    background-color: #4caf50;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px;
    text-align: center;
}

span.inactive {
    background-color: gray;
    padding: 3px 5px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    margin: 2px;
    text-align: center;
}

.custom-select {
    height: calc(2rem + 8px);
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i {
    margin-right: 12px;
    background: #0000004f;
    padding: 6px;
    border-radius: 6px;
    margin: 0px;
    transition: transform 1s ease 0s;
    margin-right: 10px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li:hover>a>i {
    transform: rotate(360deg);
    color: #a5d6a7;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>i {
    margin-right: 12px;
    background: #0000004f;
    padding: 6px;
    border-radius: 6px;
    margin: 0px;
    transition: transform 1s ease 0s;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li:hover>a>i {
    transform: rotate(360deg);
    color: #a5d6a7;
}

.main-menu.menu-dark .navigation>li.open a>i {
    color: #a5d6a7;
}

.main-menu.menu-dark .navigation>li.open {
    border-left: 4px solid #04c556;
}

.ag-theme-alpine .ag-row {
    font-size: 12px;
}

.table td,
.table th {
    padding: 8px 14px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e0f2f1;
}

.ag-header {
    background: #e2e5f7 !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.btn-group-md>.btn,
.btn-md {
    padding: 8px;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.21rem;
}

li.breadcrumb-item {
    font-size: 11px;
    font-family: open-sans;
}

.breadcrumb-item.active {
    color: #4caf50;
}

.fc-event-title {
    color: black !important;
    text-transform: capitalize;
    font-size: 9px;
    vertical-align: middle !important;
    font-weight: bold;
}

.fc-h-event.HOLIDAY {
    background: #ffcdd2 !important;
    text-align: center !important;
    border: 1px solid #ff1100 !important;
}

.fc-h-event.ANNIVERSARY {
    background: #fef2d4 !important;
    border: 1px solid #ffbd59 !important;
    text-align: center !important;
}

.fc-h-event.LEAVES {
    background: #c8e6c9 !important;
    text-align: center !important;
    /* margin-bottom: 3px; */
    border: 1px solid #4caf50 !important;
}

.fc-h-event.INOUT {
    background: #cddc39 !important;
    text-align: center !important;
    /* margin-bottom: 3px; */
    border: 1px solid #cddc39 !important;
}

.fc-day-sat {
    background-color: #f5f5f5 !important;
}

.fc-day-sun {
    background-color: #f5f5f5 !important;
}

.fc-h-event {
    background: #bbdefb !important;
    border: 1px solid #2196f3 !important;
}

.fc .fc-daygrid-event {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    text-align: center;
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}

.fc-daygrid-event-harness.self-left {
    background-color: transparent !important;
}

.fc .fc-button {
    text-transform: capitalize !important;
}

.INOUT {
    width: 35px !important;
    text-align: center !important;
    background-color: black !important;
    color: white !important;
}

.fc-daygrid-event-harness.self-left {
    float: left;
    margin-right: 2px;
    width: 35px !important;
    text-align: center;
    color: #000;
}

.fc-daygrid-event-harness.self-right {
    float: right;
    margin-right: 2px;
    text-align: center;
    width: 35px !important;
    color: #000;
}

.fc .fc-button {
    text-transform: capitalize !important;
}

.fc .fc-button .fc-icon {
    font-size: 1em;
    vertical-align: initial;
}


/* .HOLIDAYINOUT{
            
            color: white !important;
            text-align: center !important;
            margin-top: -50%;
        } 

       .HOLIDAY{
            background-color: #337ab7 !important; 
           color: white !important; 
           text-align: center !important;
       } 

       .ANNIVERSARY{
         background-color: #777 !important;  
         color: white !important; 
        text-align: center !important;
    } 

    .LEAVES{
         background-color: #5cb85c !important;
        color: white !important; 
        text-align: center !important; 
    } 

    .BIRTHDAY{
         background-color: #f0ad4e !important; 
         color: white !important; 
        text-align: center !important;
    } 

.fc-daygrid-event-harness.self-left{
    float: left;
    margin-right: 2px; 
    width: 35px !important;
    background: white !important;
}

.fc-daygrid-event-harness.self-right{
    float: right;
    margin-right: 2px;
    background: white !important;
    width: 35px !important;
   
}
.fc{width:80% !important;}
.fc-event-main{

    cursor: pointer !important;}
.fc-h-event{border: 0px !important;}

.fc-button-group { text-transform: capitalize !important;}
.fc-dayGridWeek-button{ text-transform: capitalize !important;}
.fc-dayGridMonth-button{ text-transform: capitalize !important;}
.fc-dayGridDay-button{ text-transform: capitalize !important;}
.fc-today-button{ text-transform: capitalize !important;}

.fc-day-sat{background-color: lightgreen !important;}
.fc-day-sun{background-color: lightgreen !important;} */

.ag-header {
    background: #e2e5f7 !important;
}

.fav-text {
    font-size: 0.7rem;
    padding: 5px 12px !important;
}

.ag-theme-alpine .ag-header-row {
    background: #0093b4;
    color: #fff !important;
}

.popover {
    background-color: #3f3f3f;
    color: #ffffff;
    border-radius: 5px;
}

.popover-content {
    background-color: #3f3f3f;
    color: #ffffff;
    border-radius: 5px;
}

.bs-popover-auto[x-placement^="right"]>.arrow::after,
.bs-popover-right>.arrow::after {
    border-right-color: #3f3f3f;
}

#msform {
    margin-top: 0 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f8f8f8;
    opacity: 1;
}


/* #progressbar li.current:before{
            box-shadow: 0 0px 10px #f5f5f5;
        } */

.apswc-table tr th {
    background-color: #0093b4;
    color: #fff;
}

.apswc-table tr th,
.apswc-table tr td {
    text-align: center;
}


/* .ag-theme-alpine {
            height: 100%;
            width: 100%;
            min-height: 80vh;
        }
        .ag-theme-alpine {
            -webkit-font-smoothing: antialiased;
            color: #181d1f;
            color: var(--ag-foreground-color,#181d1f);
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
            font-size: 13px;
            line-height: normal;
        } */

.ag-header {
    background: #e2e5f7 !important;
}

.wizard-body {
    background-image: linear-gradient(45deg, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
}

.content-card {
    background-color: #fff;
    border-radius: 10px;
    min-height: 25vh;
    box-shadow: 0 5px 15px #9c9c9c !important;
}

#msform fieldset .form-card {
    border: 0;
    border-radius: 0;
    padding: 20px 40px 30px;
}

#progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    color: lightgrey;
    padding-left: 0;
}

#progressbar li {
    display: table-cell;
    width: 1%;
    float: none;
    border-radius: unset;
    position: relative;
    list-style-type: none;
    font-size: 12px;
    position: relative;
}

.icon-svg {
    position: absolute;
    top: 4px;
    width: 55px;
    left: 35%;
}


/* 
    
    #progressbar .active {
        color: #000000
    } */

#progressbar li:before {
    display: block;
    font-size: 18px;
    color: #626262;
    background: #ececec;
    border-radius: 0;
    margin: 0 auto 10px auto;
    padding: 2px;
    height: 65px;
}

#progressbar li.current:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-left: 30px solid #71eca2;
    border-bottom: 32px solid transparent;
    display: inline-block;
    background: transparent !important;
    position: absolute;
    top: 0;
    /* left: 5px; */
    z-index: 99;
    right: -30px;
}

#progressbar .commtab:before {
    font-family: FontAwesome;
    content: "";
}

#progressbar .active {
    color: #fff !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #51e28a !important;
    color: #000;
    border-right: 1px solid #fff;
}

#progressbar li.current:after {
    border-left: 30px solid #ffcc7e;
    background: transparent !important;
}

#progressbar li:last-child.current:after {
    border-left: 30px solid #ffcc7e;
    background: transparent !important;
}

#progressbar li.current:before {
    background: #ffcc7e !important;
    color: #ffffff;
}

@media screen and (max-width: 991px) {
    #progressbar li:before {
        height: 33px;
    }
    .icon-svg {
        width: 25px;
        left: 22%;
    }
    #progressbar li.current:after {
        border-top: 16px solid transparent;
        border-bottom: 18px solid transparent;
    }
    .commtab strong {
        display: none;
    }
    #progressbar li.current:after {
        right: -15px;
    }
    #progressbar li.current:after {
        border-left: 15px solid #ffcc7e;
    }
}

.modalpage-accordion.accordion .card-header {
    background: #eeeeee;
    border: 1px solid #c8e6c9 !important;
    margin-bottom: 1px !important;
    border-radius: 5px;
    margin: 5px;
    color: black !important;
    font-weight: 800;
}

.modalpage-accordion.accordion .card-header a img {
    width: 30px;
    margin-right: 9px;
    /* background: #a1887f; */
    padding: 1px;
}

.modalpage-accordion.accordion .card-header a:hover {
    border: 0px !important;
}

.table-row-repeat td,
.table-row-repeat th {
    padding: 8px;
    font-size: 14px;
    text-align: center;
}

.custom-select {
    height: calc(2rem + 8px);
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i {
    margin-right: 12px;
    background: #0000004f;
    padding: 6px;
    border-radius: 6px;
    margin: 0px;
    transition: transform 1s ease 0s;
    margin-right: 10px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li:hover>a>i {
    transform: rotate(360deg);
    color: #a5d6a7;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a>i {
    margin-right: 12px;
    background: #0000004f;
    padding: 6px;
    border-radius: 6px;
    margin: 0px;
    transition: transform 1s ease 0s;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li:hover>a>i {
    transform: rotate(360deg);
    color: #a5d6a7;
}

.main-menu.menu-dark .navigation>li.open a>i {
    color: #a5d6a7;
}

.main-menu.menu-dark .navigation>li.open {
    border-left: 4px solid #04c556;
}

.ag-theme-alpine .ag-row {
    font-size: 12px;
}

.table td,
.table th {
    padding: 8px 14px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e0f2f1;
}

.ag-header {
    background: #e2e5f7 !important;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.btn-group-md>.btn,
.btn-md {
    padding: 8px;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.21rem;
}

.fc-event-title {
    color: black !important;
    text-transform: capitalize;
    font-size: 9px;
    vertical-align: middle !important;
    font-weight: bold;
}

.fc-h-event.HOLIDAY {
    background: #ffcdd2 !important;
    text-align: center !important;
    border: 1px solid #ff1100 !important;
}

.fc-h-event.ANNIVERSARY {
    background: #FEF2D4 !important;
    border: 1px solid #FFBD59 !important;
    text-align: center !important;
}

.fc-h-event.LEAVES {
    background: #c8e6c9 !important;
    text-align: center !important;
    /* margin-bottom: 3px; */
    border: 1px solid #4caf50 !important;
}

.fc-h-event.INOUT {
    background: #cddc39 !important;
    text-align: center !important;
    /* margin-bottom: 3px; */
    border: 1px solid #cddc39 !important;
}

.fc-day-sat {
    background-color: #f5f5f5 !important;
}

.fc-day-sun {
    background-color: #f5f5f5 !important;
}

.fc-h-event {
    background: #bbdefb !important;
    border: 1px solid #2196f3 !important;
}

.fc .fc-daygrid-event {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    text-align: center;
}

.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}

.fc-daygrid-event-harness.self-left {
    background-color: transparent !important;
}

.fc .fc-button {
    text-transform: capitalize !important;
}

.INOUT {
    width: 35px !important;
    text-align: center !important;
    background-color: black !important;
    color: white !important;
}

.fc-daygrid-event-harness.self-left {
    float: left;
    margin-right: 2px;
    width: 35px !important;
    text-align: center;
    color: #000;
}

.fc-daygrid-event-harness.self-right {
    float: right;
    margin-right: 2px;
    text-align: center;
    width: 35px !important;
    color: #000;
}

.fc .fc-button .fc-icon {
    font-size: 1em;
    vertical-align: initial;
}


/* .HOLIDAYINOUT{
              
              color: white !important;
              text-align: center !important;
              margin-top: -50%;
          } 
  
         .HOLIDAY{
              background-color: #337ab7 !important; 
             color: white !important; 
             text-align: center !important;
         } 
  
         .ANNIVERSARY{
           background-color: #777 !important;  
           color: white !important; 
          text-align: center !important;
      } 
  
      .LEAVES{
           background-color: #5cb85c !important;
          color: white !important; 
          text-align: center !important; 
      } 
  
      .BIRTHDAY{
           background-color: #f0ad4e !important; 
           color: white !important; 
          text-align: center !important;
      } 
  
  .fc-daygrid-event-harness.self-left{
      float: left;
      margin-right: 2px; 
      width: 35px !important;
      background: white !important;
  }
  
  .fc-daygrid-event-harness.self-right{
      float: right;
      margin-right: 2px;
      background: white !important;
      width: 35px !important;
     
  }
  .fc{width:80% !important;}
  .fc-event-main{
  
      cursor: pointer !important;}
  .fc-h-event{border: 0px !important;}
  
  .fc-button-group { text-transform: capitalize !important;}
  .fc-dayGridWeek-button{ text-transform: capitalize !important;}
  .fc-dayGridMonth-button{ text-transform: capitalize !important;}
  .fc-dayGridDay-button{ text-transform: capitalize !important;}
  .fc-today-button{ text-transform: capitalize !important;}
  
  .fc-day-sat{background-color: lightgreen !important;}
  .fc-day-sun{background-color: lightgreen !important;} */

.ag-header {
    background: #E2E5F7 !important;
}

.fav-text {
    font-size: 0.7rem;
    padding: 5px 12px !important;
}

.ag-theme-alpine .ag-header-row {
    background: #0093b4;
    color: #fff !important;
}

.popover {
    background-color: #3f3f3f;
    color: #FFFFFF;
    border-radius: 5px;
}

.popover-content {
    background-color: #3f3f3f;
    color: #FFFFFF;
    border-radius: 5px;
}

.bs-popover-auto[x-placement^=right]>.arrow::after,
.bs-popover-right>.arrow::after {
    border-right-color: #3f3f3f;
}

#msform {
    margin-top: 0 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f8f8f8;
    opacity: 1;
}


/* #progressbar li.current:before{
              box-shadow: 0 0px 10px #f5f5f5;
          } */

.apswc-table tr th {
    background-color: #0093b4;
    color: #fff;
}

.apswc-table tr th,
.apswc-table tr td {
    text-align: center;
}


/* .ag-theme-alpine {
              height: 100%;
              width: 100%;
              min-height: 80vh;
          }
          .ag-theme-alpine {
              -webkit-font-smoothing: antialiased;
              color: #181d1f;
              color: var(--ag-foreground-color,#181d1f);
              font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
              font-size: 13px;
              line-height: normal;
          } */

.ag-header {
    background: #E2E5F7 !important;
}

.wizard-body {
    background-image: linear-gradient( 45deg, #008875, #008875);
    background-size: 100% 250px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff !important;
}

.content-card {
    background-color: #fff;
    border-radius: 10px;
    min-height: 25vh;
    box-shadow: 0 5px 15px #9c9c9c !important;
}

#msform fieldset .form-card {
    border: 0;
    border-radius: 0;
    padding: 20px 40px 30px;
}

#progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    color: lightgrey;
    padding-left: 0;
}

#progressbar li {
    display: table-cell;
    width: 1%;
    float: none;
    border-radius: unset;
    position: relative;
    list-style-type: none;
    font-size: 12px;
    position: relative,
}

.icon-svg {
    position: absolute;
    top: 4px;
    width: 55px;
    left: 35%;
}


/* 
      
      #progressbar .active {
          color: #000000
      } */

#progressbar li:before {
    display: block;
    font-size: 18px;
    color: #626262;
    background: #ececec;
    border-radius: 0;
    margin: 0 auto 10px auto;
    padding: 2px;
    height: 65px;
}

#progressbar li.current:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 32px solid transparent;
    border-left: 30px solid #71eca2;
    border-bottom: 32px solid transparent;
    display: inline-block;
    background: transparent !important;
    position: absolute;
    top: 0;
    /* left: 5px; */
    z-index: 99;
    right: -30px;
}

#progressbar .commtab:before {
    font-family: FontAwesome;
    content: ""
}

#progressbar .active {
    color: #fff !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #51e28a !important;
    color: #000;
    border-right: 1px solid #fff;
}

#progressbar li.current:after {
    border-left: 30px solid #ffcc7e;
    background: transparent !important;
}

#progressbar li:last-child.current:after {
    border-left: 30px solid #ffcc7e;
    background: transparent !important;
}

#progressbar li.current:before {
    background: #ffcc7e !important;
    color: #ffffff;
}

@media screen and (max-width: 991px) {
    #progressbar li:before {
        height: 33px;
    }
    .icon-svg {
        width: 25px;
        left: 22%;
    }
    #progressbar li.current:after {
        border-top: 16px solid transparent;
        border-bottom: 18px solid transparent;
    }
    .commtab strong {
        display: none;
    }
    #progressbar li.current:after {
        right: -15px;
    }
    #progressbar li.current:after {
        border-left: 15px solid #ffcc7e;
    }
}

.table-row-repeat td,
.table-row-repeat th {
    padding: 8px;
    font-size: 14px;
    text-align: center;
}

.table-row-repeat th {
    padding: 10px 4px;
}

.table-row-repeat .ng-select.ng-select-single .ng-select-container {
    height: 30px;
    width: 130px;
}

.table-row-repeat .ng-select .ng-select-container {
    min-height: 28px;
}

.table-row-repeat .form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
}

.table-row-repeat .btn {
    padding: 4px 8px;
}

.table-row-repeat .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup,
.table-row-repeat .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal;
}

.ag-theme-alpine input[class^=ag-],
.ag-theme-alpine select[class^=ag-],
.ag-theme-alpine textarea[class^=ag-] {
    color: #000 !important;
}

.fc-h-event.event_addnote i:before {
    font-weight: 800;
    color: darkgray;
}

.table-row-repeat th {
    padding: 10px 4px;
}

.table-row-repeat .ng-select.ng-select-single .ng-select-container {
    height: 30px;
    width: 130px;
}

.table-row-repeat .ng-select .ng-select-container {
    min-height: 28px;
}

.table-row-repeat .form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
}

.table-row-repeat .btn {
    padding: 4px 8px;
}

.table-row-repeat .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup,
.table-row-repeat .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal;
}

.custom-select {
    height: calc(2rem + 8px);
}

.ag-theme-alpine input[class^=ag-],
.ag-theme-alpine select[class^=ag-],
.ag-theme-alpine textarea[class^=ag-] {
    color: #000 !important;
}

.fc-h-event.event_addnote i:before {
    font-weight: 800;
    color: darkgray;
}

.NgxEditor h1 {
    font-size: 1.5rem;
}

.NgxEditor h2 {
    font-size: 1.4rem;
}

.NgxEditor h3 {
    font-size: 1.3rem;
}

.NgxEditor h4 {
    font-size: 1.2rem;
}

.NgxEditor h5 {
    font-size: 1rem;
}

.NgxEditor h6 {
    font-size: 0.925rem;
    margin-bottom: 15px;
    background-color: #def0ff;
    padding: 5px 8px;
    /* font-weight: normal; */
    color: #4e4e4e;
}

.user-editor .NgxEditor {
    border: none !important;
}

.pdf-main {
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 15px;
}

.pdf-header {
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}

.pdf-header h1 {
    font-size: 2.1rem;
    font-weight: bold;
}

.pdf-header h3,
.pdf-header h5 {
    font-weight: 500;
}

.pdf-body {
    padding: 15px 20px;
}

.pdf-li {
    list-style-type: none;
    padding-left: 0;
}

.pdf-li li h6 {
    display: flex;
    font-size: 0.925rem;
    font-weight: 500;
}

.pdf-li li h6 label {
    width: auto;
    text-align: center;
    border-bottom: 2px solid #000;
    flex: 1;
    font-size: 0.925rem;
    font-weight: 700;
    margin-left: 10px;
}

.pdf-header-table tr td {
    padding: 2px;
    border-top: 0;
    border-bottom: 0;
}

.pdf-header-table tr td h6 {
    margin-bottom: 0;
}

.pdf-header-table tr td h6 label {
    margin-bottom: 0;
    width: auto;
    text-align: center;
    border-bottom: 2px solid #000;
    flex: 1;
    font-size: 0.925rem;
    font-weight: 700;
    margin-left: 10px;
    padding: 0 20px;
}

.pdf-table {
    text-align: center;
}

.pdf-table thead tr th,
.pdf-table tbody tr td {
    vertical-align: middle;
    font-size: 0.925rem;
}

.pdf-table thead tr th {
    white-space: unset;
    background: #444444;
    color: #fff;
    font-weight: 500;
}

.pdf-table tbody tr td {
    font-weight: 600;
}

.pdf-p {
    font-size: 0.925rem;
    font-weight: 500;
}

.telugu-heading {
    color: #008875;
}

.telugu-text {
    font-family: 'Sree Krushnadevaraya', serif;
    font-weight: normal;
    margin-right: 3px;
}

.f-1 {
    font-size: 0.1rem !important;
}

.f-2 {
    font-size: 0.2rem !important;
}

.f-3 {
    font-size: 0.3rem !important;
}

.f-4 {
    font-size: 0.4rem !important;
}

.f-5 {
    font-size: 0.5rem !important;
}

.f-6 {
    font-size: 0.6rem !important;
}

.f-7 {
    font-size: 0.7rem !important;
}

.f-8 {
    font-size: 0.8rem !important;
}

.f-9 {
    font-size: 0.9rem !important;
}

.f-10 {
    font-size: 1.125rem !important;
}

.f-11 {
    font-size: 1.2rem !important;
}

.f-12 {
    font-size: 1.258rem !important;
}

.f-13 {
    font-size: 1.3rem !important;
}

.f-14 {
    font-size: 1.4rem !important;
}

.f-15 {
    font-size: 1.5rem !important;
}

.f-16 {
    font-size: 1.6rem !important;
}

.f-17 {
    font-size: 1.7rem !important;
}

.header-navbar .navbar-container ul.nav li .media-list {
    max-height: 18.2rem;
    overflow-y: auto !important;
}

.digi-locker-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.digi-locker-btn .btn {
    /* border: 2px solid #cacaca;
  color: gray;
  background-color: #f5f5f5; */
    padding: 2px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}

.digi-locker-btn input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.dl-doc-body {
    max-height: 500px;
    overflow-y: auto;
}

.dl-doc-list {
    list-style: none;
    padding-left: 0;
}

.dl-doc-list .list-group-item {
    padding: 10px;
    border-bottom: 1px dashed #6e6e6e;
    border-radius: 10px;
}

.dl-doc-list .list-group-item h4 {
    font-size: 1rem;
    font-weight: 700;
}

.dl-doc-list .list-group-item:last-child {
    border-bottom: none;
}

.dl-doc-list .list-group-item:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.dl-doc-list .list-group-item:nth-of-type(even) {
    background-color: #ffffff;
}

.digilocker-dialog {
    margin: 30px;
}

.digilocker-dialog .modal-content {
    min-height: 30rem;
    border: 0;
}

.dl-tabs .nav-link {
    padding: 0;
    border-bottom: 2px solid #ccc;
    border-radius: 0 !important;
    color: #5c5c5c;
    font-size: 1.1rem;
    font-weight: 500;
}

.dl-tabs .nav-link.active,
.dl-tabs .show>.nav-link {
    color: #00B5B8;
    background-color: transparent;
    border-bottom: 2px solid #00B5B8;
    font-weight: 700;
}

.text-secondary {
    color: #1363f3!important;
}

.main-menu-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(209, 209, 209, 0.4);
}

.main-menu-content::-webkit-scrollbar {
    width: 8px;
}

.main-menu-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    background-color: #c7c7c7;
}

.btn.spr-add-more-btn {
    position: absolute;
    bottom: -40px;
    left: 45%;
}

.spr-card {
    border-radius: 20px;
    border: 2px solid #00d6cc;
    margin-bottom: 30px;
}

form .form-section {
    margin-bottom: 5px;
    line-height: 2.2rem;
    padding-bottom: 4px;
}

.spr-card form .form-group {
    margin-bottom: 10px;
}

.spr-card form .form-group label {
    margin-bottom: 5px;
}

.preview-card {
    /* min-height: 18rem; */
    line-height: 15px;
    width: 100%;
    height: 85%;
}

.preview-card .form-group {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-card h5 {
    font-size: 0.925rem;
    font-weight: 700;
    text-align: right;
    width: auto;
}

.hzl-preview-card.bg-blue h5,
.preview-card.bg-blue h5 {
    color: #1363f3;
}

.hzl-preview-card.bg-success h5,
.preview-card.bg-success h5 {
    color: #0b8011;
}

.hzl-preview-card.bg-blue-grey h5,
.preview-card.bg-blue-grey h5 {
    color: #a73030;
}

.text-underline {
    text-decoration: underline !important;
}

.hzl-preview-card {
    min-height: 5rem;
    line-height: 15px;
}

.hzl-preview-card .form-group {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hzl-preview-card h5 {
    font-size: 0.925rem;
    font-weight: 500;
    text-align: right;
    width: 55%;
}

.hzl-preview-card h6 {
    font-weight: 600;
}

.hzl-preview-card h6 a.btn.btn-warning {
    float: right;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.custom-file-label::after {
    height: 32px !important;
}

.custom-file,
.custom-file-input,
.custom-file-label {
    height: 34px !important;
}

.custom-file-label,
.custom-file-label::after {
    padding: .45rem 1rem !important;
}

.custom-file input[type="file" i] {
    height: 34px;
}

.select-control.ng-select-single .ng-select-container {
    height: 30px !important;
}

.select-control .ng-select-container {
    min-height: 30px !important;
}

#theme-select .divider {
    margin: 5px 0;
}

.color-box {
    display: flex;
    flex: 1;
    flex-wrap: 1;
}

.color-box .box {
    width: 35px;
    height: 35px;
}


/* Color Palette-1 Colors */

.color-palette1 .bg-1 {
    background-color: #003B46 !important;
}

.color-palette1 .bg-2 {
    background-color: #52ab98 !important;
}

.color-palette1 .bg-3 {
    background-color: #bbdce0 !important;
}

.color-palette1 .bg-4 {
    background-color: #eaf6ff !important;
}

.color-palette1 .bg-5 {
    background-color: #ecf4f7 !important;
}


/* Color Palette-2 Colors */

.color-palette2 .bg-1 {
    background-color: #276678 !important;
}

.color-palette2 .bg-2 {
    background-color: #1687A7 !important;
}

.color-palette2 .bg-3 {
    background-color: #fff1d0 !important;
}

.color-palette2 .bg-4 {
    background-color: #ddebf5 !important;
}

.color-palette2 .bg-5 {
    background-color: #F6F5F5 !important;
}


/* Color Palette-3 Colors */

.color-palette3 .bg-1 {
    background-color: #39395f !important;
}

.color-palette3 .bg-2 {
    background-color: #73a24e !important;
}

.color-palette3 .bg-3 {
    background-color: #cbdf91 !important;
}

.color-palette3 .bg-4 {
    background-color: #f1f1f1 !important;
}

.color-palette3 .bg-5 {
    background-color: #fffadc !important;
}

.stacklist .popover-header {
    color: #444 !important;
    font-weight: 500 !important;
    font-size: 0.985rem !important;
}

.popover-table tr td {
    border-top: none;
    color: #fff;
    font-weight: 500;
    font-size: 0.925rem;
    padding: 4px;
    text-align: left;
}

@media (max-width: 767.98px) {
    .header-navbar .navbar-header .menu-toggle {
        padding: 6px 0px;
    }
    .header-navbar .navbar-header .navbar-brand {
        padding: 12px 0;
    }
    .him-text {
        display: none;
    }
    .content .content-wrapper {
        padding-top: 5rem !important;
    }
    .content-wrapper .content-header-title {
        margin-bottom: 0px;
    }
    .content-header .content-header-left {
        margin-bottom: 5px !important;
    }
    .content-header .content-header-right {
        margin-bottom: 8px !important;
    }
    .content-header .content-header-right.breadcrumbs-right {
        padding: 0 !important;
    }
    .content-header .content-header-right.breadcrumbs-right .breadcrumb {
        float: left;
        margin-bottom: 5px !important;
    }
    .card-header .heading-elements,
    .card-header .heading-elements-toggle {
        display: none !important;
    }
    .ag-theme-alpine .ag-paging-panel>* {
        margin: 0px 2px !important;
        font-size: 12px !important;
    }
    .card .card-title {
        font-size: 0.925rem;
    }
    .card .card-header .btn {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1;
        border-radius: .21rem;
    }
}

.actions-button-cell {
    overflow: visible;
}

.ag-cell {
    overflow: visible;
}

.ag-row {
    z-index: 0;
}

.ag-row.ag-row-focus {
    z-index: 1;
}

.more-option-menu {
    box-shadow: 0 2px 10px #00000038;
}

.more-option-menu .dropdown-item {
    padding: 0px 8px;
    margin: 5px 0;
    cursor: pointer;
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    line-height: 25px !important;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    right: 10px !important;
    top: 12px !important;
}

.main-menu.menu-dark .navigation>li.active>a,
.main-menu.menu-dark .navigation>li.hover>a,
.main-menu.menu-dark .navigation>li:hover>a {
    color: #C3C3C3;
    background-color: #00000080;
}

.badge-pill {
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 10rem;
}

.main-menu.menu-dark .navigation>li.open {
    border-left: none !important;
}

.medium-control {
    font-size: 0.825rem;
    font-weight: 600;
    /* height: 24px; */
    margin-left: 5px;
    /* padding: 5px; */
}

.medium-control.ng-select.ng-select-single .ng-select-container {
    height: 24px;
    border: 1px solid #000;
}

.medium-control.ng-select .ng-select-container {
    min-height: 24px;
}

.medium-control.ng-select .ng-arrow-wrapper .ng-arrow {
    border-width: 4px 4px 2.5px;
}

.medium-control.ng-select .ng-arrow-wrapper {
    width: 25px;
    padding-right: 5px;
}

.medium-control.ng-select .ng-clear-wrapper {
    width: 12px;
}

.medium-control.ng-select .ng-clear-wrapper .ng-clear {
    margin: 4px;
}

.filter-list-group {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.filter-list-group .list-group-item {
    padding: 0.25rem;
    border: 1px solid #42A5F5;
}

.filter-list-group .list-group-item.active {
    box-shadow: 0 10px 25px #ccc;
    border: 1px solid #fff;
    background-color: #42A5F5;
}

.filter-inline-radio-btns .custom-control {
    padding-left: 1rem;
}

.filter-inline-radio-btns .custom-control-label::after,
.filter-inline-radio-btns .custom-control-label::before {
    left: -1rem;
    width: 0.8rem;
    height: 0.8rem;
}

.filter-inline-radio-btns .custom-control-label {
    font-size: 0.9rem;
    font-weight: 500;
}