<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Screen reader Access</h1>
                    <p>Home /<a > Screen reader</a></p>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 p-5">
                <div class="col-md-12">
                    <p>
                        Andhra Pradesh State Warehousing Corporation (APSWC), India website complies with World Wide
                        Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level AA. This
                        will enable people with visual impairments access the website using assistive technologies,
                        such as screen readers. The information of the website is accessible with different
                        screen readers. The information of the website is accessible with different screen
                        readers, such as JAWS, NVDA, SAFA, Supernova and Window-Eyes.</p>
                    <p>
                        <strong>Following table lists the information about different screen readers:</strong></p>
                   
                    
                      
                </div>
                <div class="col-md-10">
                    <table class="table table-bordered table-striped table-hover webtable-data">
                        <thead class="py-3">
                            <tr>
                                <th width="2" >
                                    Screen Reader
                                </th>
                                <th width="10">
                                    Website
                                </th>
                                <th width="10">
                                    Free / Commercial
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                       
                            <tr>
                                <td>
                                    Non Visual Desktop Access (NVDA)
                                </td>
                                <td>
                                    <a  (click)="onClickMe()">www.nvaccess.org</a>
                                </td>
                                <td>
                                    Free
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    System Access To Go
                                </td>
                                <td>
                                    <a (click)="onClickMe2()">
                                        www.satogo.com</a>
                                </td>
                                <td>
                                    Free
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hal
                                </td>
                                <td>
                                    <a (click)="onClickMe3()">
                                        www.yourdolphin.co.uk</a>
                                </td>
                                <td>
                                    Commercial
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    JAWS
                                </td>
                                <td>
                                    <a (click)="onClickMe4()">
                                        www.freedomscientific.com</a>
                                </td>
                                <td>
                                    Commercial
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Supernova
                                </td>
                                <td>
                                    <a (click)="onClickMe5()">
                                        www.yourdolphin.co.uk</a>
                                </td>
                                <td>
                                    Commercial
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Window-Eyes
                                </td>
                                <td>
                                    <a (click)="onClickMe6()">
                                        www.gwmicro.com</a>
                                </td>
                                <td>
                                    Commercial
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
                </main>
