<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status"></div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-right col-md-6 col-12 mb-1">
        <h3 class="content-header-title">Asset Management/Deadstock</h3>
      </div>
      <div
        class="
          content-header-right
          breadcrumbs-right breadcrumbs-top
          col-md-6 col-12
        "
      >
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active">
              <a>Asset Management/Deadstock</a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="content-body">
      <!-- card actions section start -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Asset Management/Deadstock</h4>
              <a class="heading-elements-toggle"
                ><i class="fa fa-ellipsis-v font-medium-3"></i
              ></a>
            </div>
            <div class="card-content">
              <div class="card-body">
                <section class="create">
                  <form>
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button
                          class="btn btn-success mr-1"
                          (click)="AddDeadStock()"
                        >
                          <i class="fa fa-plus-circle"></i>
                          Add
                        </button>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12">
                        <div class="ag-theme-alpine">
                          <ag-grid-angular
                            #agGrid
                            class="ag-theme-alpine"
                            [columnDefs]="columnDefs"
                            [floatingFilter]="true"
                            (gridReady)="BindData($event)"
                            [pagination]="true"
                            [paginationPageSize]="20"
                            [frameworkComponents]="frameworkComponents"
                            rowSelection="single"
                            [components]="components"
                          >
                          </ag-grid-angular>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Page Main-->

<!-- Modal -->

<!-- Add Section Modal -->
<div
  class="modal fade"
  id="AddSection"
  bsModal
  #addModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  aria-labelledby="addSectionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSectionLabel">
          {{ Worklocname }} Asset Management/Deadstock
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="hideaddModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="AssetManagementAddForm">
          <div class="row">
            <!-- 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Category">Asset Management Category <span class="text-danger">*</span>
                                    <a  
                                    triggers="mouseenter:mouseleave"
                                    popover="Select Category Here"
                                    placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </label>                               

                                <ng-select  formControlName="AddCategory" (change)="GetSubCategoryDropdown($event)"
                                [ngClass]="{ 'is-invalid': submitted && subf.AddCategory.errors }"
                                placeholder="Select Category">                                
                                <ng-option *ngFor="let Catdd of categorydd"  [value]="Catdd.iteM_ID">{{Catdd.iteM_NAME}}
                                </ng-option>
                            </ng-select>


                                <div *ngIf="submitted && subf.AddCategory.errors" class="invalid-feedback">

                                    <div *ngIf="subf.AddCategory.errors.required"> Category Name is required</div>

                                </div>
                            </div>
                        </div> -->

            <div class="col-md-3">
              <div class="form-group">
                <label for="SubCategory"
                  >Asset Management Sub Category
                  <span class="text-danger">*</span>
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Select Sub Category Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>

                <ng-select
                  formControlName="AddSubCategory"
                  [ngClass]="{
                    'is-invalid': submitted && subf.AddSubCategory.errors
                  }"
                  placeholder="Select Sub Category"
                >
                  <ng-option
                    *ngFor="let SubCatdd of SubCategorydd"
                    [value]="SubCatdd.iteM_ID"
                    >{{ SubCatdd.iteM_NAME }}
                  </ng-option>
                </ng-select>
                <div
                  *ngIf="submitted && subf.AddSubCategory.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="subf.AddSubCategory.errors.required">
                    Sub Category is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="NoOfUnits"
                  >No. Of Units <span class="text-danger">*</span>
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Enter No. of Units here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <input
                  type="text"
                  digitsOnly
                  formControlName="AddNoOfUnits"
                  autocomplete="off"
                  maxlength="10"
                  [ngClass]="{
                    'is-invalid': submitted && subf.AddNoOfUnits.errors
                  }"
                  class="form-control"
                  placeholder="Enter No. of units "
                />
                <div
                  *ngIf="submitted && subf.AddNoOfUnits.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="subf.AddNoOfUnits.errors.required">
                    No. of units is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="SerialNo"
                  >Serial No.
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Enter Serial No. here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <input
                  type="text"
                  formControlName="SerialNo"
                  autocomplete="off"
                  maxlength="30"
                  [ngClass]="{
                    'is-invalid': submitted && subf.SerialNo.errors
                  }"
                  class="form-control"
                  placeholder="Enter Serial No."
                />
                <div
                  *ngIf="submitted && subf.SerialNo.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="subf.SerialNo.errors.required">
                    Serial No. is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="purchasedate"
                  >Purchased Date <span class="text-danger">*</span>
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Select Purchase Date Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="date"
                    placeholder="DD-MM-YYYY"
                    name="PurchasedDate"
                    ngbDatepicker
                    #d1="ngbDatepicker"
                    [maxDate]="NgbDateStruct"
                    readonly
                    formControlName="PurchasedDate"
                    (click)="d1.toggle()"
                    [ngClass]="{
                      'is-invalid': submitted && subf.PurchasedDate.errors
                    }"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      type="button"
                      (click)="d1.toggle()"
                      type="button"
                    >
                      <i class="ficon feather icon-calendar"></i>
                    </button>
                  </div>
                  <div
                    *ngIf="submitted && subf.PurchasedDate.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="subf.PurchasedDate.errors.required">
                      Purchased On Date is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="expirydate"
                  >Expiry Date
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Select Expiry Date Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="date"
                    placeholder="DD-MM-YYYY"
                    name="ExpiryDate"
                    readonly
                    ngbDatepicker
                    #d2="ngbDatepicker"
                    formControlName="ExpiryDate"
                    (click)="d2.toggle()"
                    [ngClass]="{
                      'is-invalid': submitted && subf.ExpiryDate.errors
                    }"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      type="button"
                      (click)="d2.toggle()"
                      type="button"
                    >
                      <i class="ficon feather icon-calendar"></i>
                    </button>
                  </div>
                  <div
                    *ngIf="submitted && subf.ExpiryDate.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="subf.ExpiryDate.errors.required">
                      Expiry On Date is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="MaintenanceAvailable"
                  >Maintenance Available <span class="text-danger">*</span>
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Select Maintenance available or not Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>

                <ng-select
                  formControlName="MaintenanceAvailable"
                  [ngClass]="{
                    'is-invalid': submitted && subf.MaintenanceAvailable.errors
                  }"
                  placeholder="Select Maintenance Available"
                  (change)="ChangeMaintenance($event)"
                >
                  <ng-option
                    *ngFor="let Maindd of MaintenanceAvailableList"
                    [value]="Maindd.MainID"
                    >{{ Maindd.MainName }}
                  </ng-option>
                </ng-select>
                <div
                  *ngIf="submitted && subf.MaintenanceAvailable.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="subf.MaintenanceAvailable.errors.required">
                    Maintenance Available status is required
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3" *ngIf="showMaintenance">
              <div class="form-group">
                <label for="Maintenanceupto"
                  >Maintenance Upto <span class="text-danger">*</span>
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Select Maintenance End Date Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <div class="input-group">
                  <input
                    class="form-control"
                    type="date"
                    placeholder="DD-MM-YYYY"
                    name="Maintenanceupto"
                    readonly
                    ngbDatepicker
                    #d3="ngbDatepicker"
                    formControlName="Maintenanceupto"
                    (click)="d3.toggle()"
                    [ngClass]="{
                      'is-invalid': submitted && subf.Maintenanceupto.errors
                    }"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      type="button"
                      (click)="d3.toggle()"
                      type="button"
                    >
                      <i class="ficon feather icon-calendar"></i>
                    </button>
                  </div>
                  <div
                    *ngIf="submitted && subf.Maintenanceupto.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="subf.Maintenanceupto.errors.required">
                      Expiry On Date is required
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="pdfDoc"
                  >Upload Document
                  <a
                    triggers="mouseenter:mouseleave"
                    popover="Upload Document Here"
                    placement="right"
                  >
                    <i class="fa fa-info-circle"></i>
                  </a>
                </label>
                <input
                  type="file"
                  formControlName="StockDOC"
                  #file
                  placeholder="Upload Document"
                  (change)="uploadFile($event)"
                  class="form-control"
                />

                <span>* File size upto 10 MB (pdf)</span>
                <div>
                  <span class="upload" *ngIf="progress > 0">
                    {{ progress }}%
                  </span>
                  <span class="upload" *ngIf="message">
                    {{ message }}
                  </span>
                </div>
              </div>
            </div>

            <div  class="col-md-3">
              <div class="digi-locker-btn col-sm-6">
                  <b>or </b>
                  <button class="btn btn-primary" (click)="CallDigilock();">
                      <img src="assets/web-styles/images/digi-locker.svg"
                          width="30" height="30"> Fetch from DigiLocker
                  </button>
                  <a [href]="hrefdata" target="_blank"
                      class="btn btn-success btn-md ml-1 text-white"
                      style="padding: 8px;" *ngIf="Authstatus=='1'">
                      <i aria-hidden="true" class="fa fa-eye"></i>
                      View
                  </a>

                  <a class="btn btn-success btn-md ml-1 text-white"
                      style="padding: 8px;display: none;" *ngIf="Authstatus=='1'"
                      (click)="GetDetails(uri);">
                      <i aria-hidden="true" class="fa fa-eye"></i> Get Details
                  </a>

              </div>
          </div>





          </div>
            <div class="row">
              <div class="col-md-6" *ngFor="let img of im.controls; let i = index" >
                <div
class="form-group form-row align-items-center" [formGroup]="img">
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="hidden" formControlName="ImagePath" />
                      <input type="hidden" formControlName="ImageType" />
                      <input type="hidden" formControlName="ImagCategory" />
                      <input type="hidden" formControlName="ImageBase64" />
                      <input type="hidden" formControlName="PrevPath" />
                      <label for="ImagePath"
                        >Upload Photo
                        <a
                          triggers="mouseenter:mouseleave"
                          popover="Upload Photo Here"
                          placement="right"
                        >
                          <i class="fa fa-info-circle"></i>
                        </a>
                      </label>
                      <input
                        type="file"
                        #file
                        placeholder="Upload Image"
                        (change)="uploadImage($event, i)"
                        class="form-control"
                      />
                      <!-- <input type="file" class="form-control" [(ngModel)]="images.images"  #name="ngModel"
                      [ngModelOptions]="{ standalone: true }" name="value{{ i }}" [ngClass]="{ 'is-invalid': submitted && subf.ImagePath.errors }"
                      class="form-control" (change)="uploadImage($event, images)" placeholder="Attach Photo" />
                    <span>* File size upto 2 MB (jpg,png...etc)</span> -->
                    </div>
                  </div>
                  <div 
                    class="col-md-3"
                    *ngIf="img.controls.ImageType.value == 'IMAGE'"
                  >
                    <img
                      [src]="img.controls.PrevPath.value"
                      (click)="Docpriview(img.controls.ImageBase64.value)"
                      style="height: 100px; width: 100px"
                    />
                  </div>

                  <div
                    class="col mt-3"
                    *ngIf="img.controls.ImageType.value == 'PDF'"
                  >
                    <a [href]="img.controls.PrevPath.value" target="_blank"
                      >View</a
                    >
                  </div>
                  <div class="col" *ngIf="i == 0">
                    <button
                      class="btn btn-success btn-sm mt-1"
                      (click)="AddImage()"
                    >
                      <i class="fa fa-plus-circle"></i>
                    </button>
                  </div>
                  <div class="col" *ngIf="i != 0">
                    <button
                      class="btn btn-danger btn-sm mt-1"
                      (click)="RemoveImage(i)"
                    >
                      <i class="fa fa-minus-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
         

          <div class="row d-block text-center mb-2">
            <button
              type="button"
              class="btn btn-primary"
              (click)="SubmitAddDetails()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View Details Modal -->
<div
  class="modal fade"
  id="viewSection"
  bsModal
  #viewModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  aria-labelledby="viewSectionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewSectionLabel">View Data</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="viewModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card shadow-none bg-blue bg-lighten-5">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <label>Uploaded Image</label>
                <div class="" *ngIf="Image">
                  <a href="{{ Image }}" (click)="viewPDF(Image)">
                    <img
                      [src]="Image"
                      class="
                        border-secondary border-2
                        box-shadow-2
                        border-radius-3
                      "
                      style="
                        width: 100%;
                        height: 300px;
                        box-shadow: 1px 1px 1px grey;
                      "
                    />
                  </a>
                </div>

                <div class="" *ngIf="!Image">
                  <img
                    [src]="Image"
                    class="
                      border-secondary border-2
                      box-shadow-2
                      border-radius-3
                    "
                    style="
                      width: 100%;
                      height: 300px;
                      box-shadow: 1px 1px 1px grey;
                    "
                  />
                </div>
              </div>
              <div class="col-sm-12 text-center mt-1" *ngIf="Document">
                <a
                  href="Assetmanagement"
                  (click)="viewPDF(Document)"
                  class="btn btn-secondary"
                >
                  Click to view Uploaded Document</a
                >
              </div>
              <div class="col-sm-12 text-center mt-1" *ngIf="!Document">
                <label>Document Not uploaded for this Record</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="viewModal.hide()" data-dismiss="modal">Close</button>
        </div> -->
    </div>
  </div>
</div>

<!-- File Preview -->
<div
  class="modal fade"
  id="previewModal"
  bsModal
  #previewModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="previewModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="preview" width="100%" height="550px" />
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="previewModal.hide()"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>





<div bsModal #DetailList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog digilocker-dialog modal-md">
      <div class="modal-content shadow-lg">
          <div class="modal-header bg-secondary">
              <h5 class="modal-title text-white">
                  DigiLocker
              </h5>

              <button type="button" class="close" data-dismiss="modal" (click)="hideDetailList()" aria-label="Close">
                  <span class="text-white" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body dl-doc-body">

              <div class="col-sm-12">
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <tr>
                              <th>Name</th>
                              <td> {{name}}</td>
                          </tr>
                          <tr>
                              <th>
                                  DOB</th>
                              <td> {{dob}}</td>
                          </tr>
                          <tr>
                              <th>
                                  Gender</th>
                              <td> {{gender}}</td>
                          </tr>
                      </table>
                  </div>
              </div>





          </div>
      </div>
  </div>

</div>


<div bsModal #FilesList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog digilocker-dialog modal-md">
      <div class="modal-content shadow-lg">
          <div class="modal-header bg-secondary">
              <h5 class="modal-title text-white">
                  DigiLocker
              </h5>
              <!-- <button type="button" class="close pull-right" aria-label="Close"
              (click)="hideFilesList()">
              <span aria-hidden="true">&times;</span>
          </button> -->
              <button type="button" class="close" data-dismiss="modal" (click)="hideFilesList()" aria-label="Close">
                  <span class="text-white" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body dl-doc-body">
              <!-- <div class="row">
              <div class="col-sm-12">
                  <form [formGroup]="FileListForm">
                      <ul class="list">  
                          <li  *ngFor="let FDD of FilesDD"> 
                              <a class="item item-thumbnail-left" href="" (click)="ShowFiles(FDD.uri)"><h3>{{FDD.description}}</h3></a>
                          </li>
                      </ul>
                  </form>
              </div>
          </div> -->
              <img src="assets/web-styles/images/digi-locker-logo.png" class="img-fluid w-50 mb-2">

              <ul class="nav nav-pills nav-fill mb-1 dl-tabs" id="pills-tab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="pills-issued-doc-tab" (click)="DocDivClick(true)"
                          data-toggle="pill" href="#pills-issued-doc" role="tab" aria-controls="pills-issued-doc"
                          aria-selected="true">Issued Documents</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="pills-uploaded-doc-tab" (click)="DocDivClick(false)" data-toggle="pill"
                          href="#pills-uploaded-doc" role="tab" aria-controls="pills-uploaded-doc"
                          aria-selected="false">Uploaded Documents</a>
                  </li>
              </ul>

              <div class="tab-pane fade show active" id="pills-issued-doc" role="tabpanel"
                  aria-labelledby="pills-issued-doc-tab">
                  <div class="list-group dl-doc-list" *ngIf="IssuedDocView">
                      <a class="list-group-item list-group-item-action" *ngFor="let FDD of FilesDD"
                          (click)="ShowFiles(FDD.uri,FDD.mime,1,FDD.description)">
                          <div class="d-flex align-items-center">
                              <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                              <div>
                                  <h4 class="text-secondary">{{FDD.description}}</h4>
                                  <h6 class="mb-0">{{FDD.issuer}}</h6>
                                  <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                              </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-uploaded-doc" role="tabpanel"
                  aria-labelledby="pills-uploaded-doc-tab">
                  <div class="list-group dl-doc-list" *ngIf="!IssuedDocView">
                      <a class="list-group-item list-group-item-action" *ngFor="let UDD of UploadFilesDD"
                          (click)="ShowFiles(UDD.uri,UDD.mime,2,UDD.description)">
                          <div class="d-flex align-items-center">
                              <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                              <div>
                                  <h4 class="text-secondary">{{UDD.description}}</h4>
                                  <h6 class="mb-0">{{UDD.issuer}}</h6>
                                  <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                              </div>
                          </div>
                      </a>
                  </div>
              </div>

              <!-- <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(true)">Issued Documents</h4>
          <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(false)">Uploaded Documents</h4> -->


          </div>
      </div>
  </div>

</div>