	
  .menu-content.active{
    display: block !important;
  }
  
  /* .main-menu.menu-dark .navigation li a img{
    width: 35px;
    background: rgb(16 42 67 / 51%);
    padding: 4px;
    border-radius: 5px;
    border: 2px solid #00000070;
    margin-right: 5px !important;
  } */
  .main-menu.menu-dark .navigation li a img{
    width: 40px;
    height: 40px;
    background: rgb(255 255 255 / 100%);
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #00000070;
    margin-right: 5px !important;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    }
  .main-menu.menu-dark .navigation>li>a {
    padding: 5px 13px 5px 10px;
}
.main-menu.menu-dark .navigation>li.open>a {
  padding-left: 6px!important;
  color: #e8e8e8;
  background: #38445A;
  font-weight: 600;
}

.main-menu.menu-dark .navigation li a {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.4px;
}

.main-menu .main-menu-content {
  height: 100%!important;
  position: relative;
  max-height: 100% !important;
  overflow-y: auto !important;
}


#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #aaa;
}

.menu-item .badge{
  position: absolute;
  right: -10px !important;
}
.main-menu.menu-dark .navigation li a .badge{
  position: absolute;
  right: 0px;
  top: 12px;
  font-weight: 700;
}

/* .main-menu.menu-dark .navigation li a .badge{
  position: absolute;
  left: 30px;
  top: -2px;
  width: fit-content;
}
.menu-item .badge{
  position: absolute;
  right: -10px !important;
  top: 10px !important;
  left: unset !important;
} */

