<!-- BEGIN: Main Menu-->

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content mt-2 pb-2 ps ps--active-y" id="style-1">
        <!-- <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

            <li class=" nav-item">

                <a routerLink="/UserProfile"><img src="./assets/app-assets/images/registration.svg" alt="registration"
                        class="mr-1" srcset=""><span class="menu-title">Profile</span></a>

            <li *ngIf="logUserrole == '101' || logUserrole == '102'" class=" nav-item has-sub">
                <a (click)="active1click('1');"> <img src="./assets/app-assets/images/registration.svg" alt="registration"
                    class="mr-1" srcset=""> <span
                        class="menu-title">Registrations</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive1}">
                    <li *ngIf="logUserCode == 'APSWC0007' || logUserCode == 'APSWC_PA'"><a class="menu-item"
                            routerLink="/EmployeeDetails">Employee Details</a> </li>
                    <li *ngIf="logUserCode == 'APSWC0007' || logUserCode == 'APSWC_BL'"><a class="menu-item"
                            routerLink="/Warehousemaster">Warehouse Details</a>
                    <li *ngIf="logUserCode == 'APSWC0007' || logUserCode == 'APSWC_PA'"><a class="menu-item"
                                routerLink="/OutsourcingAgencies">Outsourcing Details</a>
                    <li *ngIf="logUserCode == 'APSWC0007' || logUserCode == 'APSWC_BL'"><a class="menu-item"
                                    routerLink="/Insurance">Insurance Details</a>
                </ul>
            </li>

            <li *ngIf="logUserrole == '101'" class=" nav-item has-sub">
                <a (click)="active1click('2');"><img src="./assets/app-assets/images/web.svg" alt="web" class="mr-1"
                        srcset=""><span class="menu-title">Website</span></a>

                <ul class="menu-content" [ngClass]="{'active': isActive2}">
                    <li><a class="menu-item" routerLink="/Homepage">Home Page Content</a>
                    </li>
                    <li><a class="menu-item" routerLink="/Gallerypage">Gallery Page</a>
                    </li>
                    <li><a class="menu-item" routerLink="/InspectionPage">Inspection Photos </a>
                    </li>
                    <li><a class="menu-item" routerLink="/AStorageacharge">Storages Charges</a>
                    </li>
                    <li><a class="menu-item" routerLink="/ServiceCharterPage">Service Charter</a>
                    <li><a class="menu-item" routerLink="/ScrollingMessage">Scrolling Message Page</a>
                    </li>
                    <li><a class="menu-item" routerLink="/Newsupdate">News Update</a> </li>
                    <li><a class="menu-item" routerLink="/Tenderpage">Tenders</a> </li>
                   
                </ul>
            </li>

            <li *ngIf="logUserrole == '101'" class=" nav-item has-sub">
                <a (click)="active1click('3');"><img src="./assets/app-assets/images/master.svg" alt="web" class="mr-1"
                        srcset=""><span class="menu-title">Masters</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive3}">
                    <li><a class="menu-item" routerLink="/Employeemaster">Employee Master</a> </li>
                    <li><a class="menu-item" routerLink="/WarehouseRegistrationMaster">Warehouse Master</a> </li>
                    <li><a class="menu-item" routerLink="/LeaveMaster">Leave Master</a> </li>
                    <li><a class="menu-item" routerLink="/HolidayMaster">Holiday Calender</a> </li>
                    <li><a class="menu-item" routerLink="/DeadStock">Engg Maintenance Master</a> </li>
                   
                </ul>
            </li>
            <li *ngIf="logUserrole == '101'" class="nav-item has-sub">
                <a (click)="active1click('4');"> <img src="./assets/app-assets/images/permission.svg" alt="permission"
                        class="mr-1" srcset=""> <span class="menu-title">Access Permission</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive4}">
                    <li><a class="menu-item" routerLink="/Userpermission">User Access</a> </li>
                </ul>
            </li>
            <li *ngIf="logUserrole == '101' || logUserrole == '103'" class="nav-item has-sub">
                <a (click)="active1click('5');"> <img src="./assets/app-assets/images/services.svg" alt="permission"
                        class="mr-1" srcset=""> <span class="menu-title">P&A Services</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive5}">
                    <li><a class="menu-item" routerLink="/EmployeeLeave">Leave Application</a> </li>
                    <li><a class="menu-item" routerLink="/EmployeeSchedule">Calendar</a> </li>
                    <li><a class="menu-item" routerLink="/LeaveBalance">Employee Leaves</a> </li>
                    <li><a class="menu-item" routerLink="/LeaveApprove">Leave Approve</a> </li>
                </ul>
            </li>
            <li *ngIf="logUserrole == '104'" class="nav-item has-sub">
                <a (click)="active1click('6');"> <img src="./assets/app-assets/images/recipt.svg" alt="permission"
                        class="mr-1" srcset=""> <span class="menu-title">Depositor Receipt IN</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive6}">
                    <li><a class="menu-item" routerLink="/GeneralBooking">General Booking</a> </li>
                    <li><a class="menu-item" routerLink="/GateIn">Gate IN Pass</a> </li>
                    <li><a class="menu-item" routerLink="/WeighmentIn">Weighment IN</a> </li>
                    <li><a class="menu-item" routerLink="/QualityExamination">Quality</a> </li>
                    <li><a class="menu-item" routerLink="/Stacking">Stacking</a> </li>
                    <li><a class="menu-item" routerLink="/Weighmentout">Weighment Out</a> </li>
                    <li><a class="menu-item" routerLink="/GateOut">Gate Out Pass</a> </li>                    
                </ul>
            </li>
            <li *ngIf="logUserrole == '104' || logUserrole == '105' || logUserrole == '102'" class="nav-item has-sub">
                <a (click)="active1click('7');"> <img src="./assets/app-assets/images/permission.svg" alt="permission"
                        class="mr-1" srcset=""> <span class="menu-title">Engg. Maintenance</span></a>
                <ul class="menu-content" [ngClass]="{'active': isActive7}">
                    <li><a class="menu-item" *ngIf="logUserrole == '104'" routerLink="/Enggmaintenance">Dead Stock Insertion</a> </li>
                    <li><a class="menu-item" *ngIf="logUserrole == '105'" routerLink="/Deadstockrgnapproval">Dead Stock Approval</a> </li>
                    <li><a class="menu-item" *ngIf="logUserrole == '102'" routerLink="/Deadstocksecapproval">Dead Stock Approval</a> </li>                                         
                </ul>
            </li>
            
            <li *ngIf="logUserrole == '104'" class=" nav-item" >
                <a routerLink="/WarehouseLayout"> <img src="./assets/app-assets/images/warehoselayout.svg" alt="web"
                        class="mr-1" srcset=""><span class="menu-title">Warehouse Layout</span></a>
            </li>
            <li class=" nav-item">
                <a (click)="UserLogout();"><img src="./assets/app-assets/images/logout.svg" alt="web" class="mr-1"
                        srcset=""><span class="menu-title">Logout</span></a>
            </li>
 
        </ul> -->


        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item has-sub" *ngFor="let item of mainmenulist; let mainIndex=index">
                <a (click)="activeclick(mainIndex);" > <img src="./assets/app-assets/images/menuicons/{{item.icoN_NAME}}" class="mr-1" srcset=""> <span
                        class="menu-title">{{item.pagE_NAME}}</span> <span class="badge badge badge-primary badge-pill float-right mr-2"></span></a>
                <ul class="menu-content" [ngClass]="ApplyCss(mainIndex)">
                    <li
                        *ngFor="let submenu of menulist | filterBy: ['menU_ITEM_ID']: item.pagE_ID: true | orderBy: 'iteM_ORDER'; let subIndex=index">
                        <a class="menu-item" routerLink="{{submenu.routE_LINK}}" routerLinkActive="active">{{submenu.pagE_NAME}} <span class="badge badge-pill float-right mr-2"></span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item " *ngFor="let item of indlist">
                <a routerLink="{{item.routE_LINK}}"> <img src="./assets/app-assets/images/menuicons/{{item.icoN_NAME}}" 
                        class="mr-1" srcset=""><span class="menu-title">{{item.pagE_NAME}}</span> <span class="badge badge-pill float-right mr-2">9</span></a>
            </li>
           
        </ul>
    </div>
</div>

<!-- END: Main Menu-->