<div class="container page-border">

    <div class="row breadcum">
        <div class="col-sm-12">
            <div class="">

                <h1>Terms & Conditions</h1>
                <p>Home /<a > Terms & Conditions</a></p>
            </div>

        </div>
    </div>


    <div class="row p-5">
        <div class="col-sm-12">

            <p>This website is designed, developed and maintained by Andhra Pradesh State Warehousing Corporation (APSWC), Government of Andhra Pradesh.  Though all efforts have been made to ensure the accuracy and currency of the content on this website, the same should not be construed as a statement of law or used for any legal purposes. In case of any ambiguity or doubts, users are advised to verify/check with the Corporation, and to obtain appropriate professional advice.  Under no circumstances will this Corporation be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this website.  These terms and conditions shall be governed by and construed in accordance with the Indian/Andhra Pradesh Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India/Andhra Pradesh.  The information posted on this website could include hypertext links or pointers to information created and maintained by non-Government/private organisations. (CWC, WDRA) is providing these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the website and are subject to the privacy and security policies of the owners/sponsors of the outside website.  Andhra Pradesh State Warehousing Corporation does not guarantee the availability of such linked pages at all times.</p>
                
            <p>Andhra Pradesh State Warehousing Corporation, cannot authorise the use of copyrighted materials contained in linked websites. Users are advised to request such authorisation from the owner of the linked website. 
            Andhra Pradesh State Warehousing Corporation, does not guarantee that linked websites comply with Indian Government or Andhra Pradesh Web Guidelines.</p>

        </div>
    </div>

</div>