<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Stack Out-Quality Examination</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item active">Stack Out-Quality Examination
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Stack Out-Quality Examination</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong></li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong></li>
                                <li id="commtab" class="commtab active">
                                        <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                        <strong>Stack-Out</strong></li>
                                <li  id="Qualitytab" class="commtab current active">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quality Examination</strong></li>
                                
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong></li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong></li>
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                                                
                                            <form [formGroup]="QualtyForm">

                                                <div class="row mb-1">
                                                    <div class="col-md-12">
                                                        <div class="ag-theme-alpine">
                                                            <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                                [columnDefs]="columnDefs" [floatingFilter]="true"
                                                                (gridReady)="BindData($event)" [pagination]="true"
                                                                [paginationPageSize]="20"
                                                                
                                                                (selectionChanged)="onSelectionChanged($event)"
                                                                [frameworkComponents]="frameworkComponents"
                                                                rowSelection="single" [components]="components">
                                                            </ag-grid-angular>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1" > 
                                                    <h2 class="fs-title bg-light text-center"></h2>
                                                    <div class="row">
<!-- 
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Tknid">Select Token<span class="text-danger">*</span></label>
                                                                <ng-select formControlName="Tknid"
                                                                 [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Tknid.errors }"
                                                                 (change)="LoadDep_ComodityDetails();"
                                                                    placeholder="Select Token Id">
                                                                    <ng-option *ngFor="let Tlist of Tokenlist" [value]="Tlist.tokeN_ID">
                                                                        {{Tlist.tokeN_ID}}
                                                                    </ng-option>
                                                                </ng-select>
                                            
                                                                <div *ngIf="isSubmit && qualty.Tknid.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.Tknid.errors.required">Token Ids
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="DepositorName">Depositor Name <span class="text-danger">*</span></label>
                                                                <ng-select formControlName="DepositorName" (change)="changedepstrname()"
                                                                 [ngClass]="{ 'is-invalid': isSubmit &&  qualty.DepositorName.errors }"
                                                                    placeholder="Select Depositor Name">
                                                                    <ng-option *ngFor="let D of dep_comf_list" value="{{D.name}}:{{D.bookinG_ID}}:{{D.registratioN_ID}}">
                                                                        {{D.name}}
                                                                    </ng-option>
                                                                </ng-select>
                                            
                                                                <div *ngIf="isSubmit && qualty.DepositorName.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.DepositorName.errors.required">Depositor Name
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                       
                                                        
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="commoditygroup">Commodity Group <span class="text-danger">*</span></label>
                                                                <ng-select formControlName="commoditygroup"
                                                                (change)="changecmodtygrup()"
                                                                 placeholder="Select Commodity Group"                                                                                      
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.commoditygroup.errors }">
                                                                    <ng-option *ngFor="let c of comdtylist" value="{{c.commoditY_CODE}}:{{c.commoditY_GROUP_NAME}}">
                                                                        {{c.commoditY_GROUP}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.commoditygroup.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.commoditygroup.errors.required">
                                                                        Commodity Group
                                                                        is required</div>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="commodity">Commodity<span class="text-danger">*</span></label>
                                                                <ng-select formControlName="commodity" placeholder="Select Commodity " 
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.commodity.errors }"
                                                                    (change)="loadvarieties('VARIETY')">
                                                                    <ng-option *ngFor="let c of comdtylist"
                                                                        value="{{c.commodity_id}}:{{c.commodity}}">
                                                                        {{c.commodity}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.commodity.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.commodity.errors.required">
                                                                        Commodity
                                                                        is required</div>
                                                                </div>
                                                        
                                                            </div>
                                                        
                                                        </div> -->

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Variety">Commodity Variety<span class="text-danger">*</span></label>
                                                                <ng-select formControlName="Variety" placeholder="Select Variety " 
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Variety.errors }"
                                                                    (change)="loadgrades('GRADE')">
                                                                    <ng-option *ngFor="let c of comd_vartylist"
                                                                        value="{{c.varietY_ID}}:{{c.varietY_NAME}}">
                                                                        {{c.varietY_NAME}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.Variety.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.Variety.errors.required">
                                                                        Commodity Variety
                                                                        is required</div>
                                                                </div>
                                                        
                                                            </div>
                                                        
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="grade">Grade<span class="text-danger">*</span></label>
                                                                <ng-select formControlName="grade"
                                                                 placeholder="Select Grade " 
                                                                 (change)="LoadQualtyprams()"
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.grade.errors }">
                                                                    <ng-option *ngFor="let c of gradelist"
                                                                        value="{{c.grade_id}}:{{c.grade_name}}">
                                                                        {{c.grade_name}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.grade.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.grade.errors.required">
                                                                        Grade
                                                                        is required</div>
                                                                </div>
                                                        
                                                            </div>
                                                        
                                                        </div>

                                                    </div>

                                                    <div class="row">                                                                           
                                                        <div class="col-md-12" *ngIf="istable">
                                                            <div class="card">
                                                                <h2 class="fs-title bg-light text-center">Report For {{qualty.commoditygroup.value}} Table </h2>
                                                                <div class="card-body p-1" formArrayName="Qparms">
                                                                    <table class="table table-striped table-bordered apswc-table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Sno</th>
                                                                                <th>Parameter Name</th>
                                                                                <th>Value</th>
                                                                                <th>Current Value</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let parms of QP.controls; let i=index" [formGroup]="parms">
                                                                                <td>{{i+1}}</td>
                                                                                <td>{{parms.controls.PramName.value}}</td>
                                                                                <td>{{parms.controls.pramvalue.value}}</td>
                                                                                <td>
                                                                                    <input type="text" class="form-control" style="min-width: 100px;" numbersOnly maxlength="4"
                                                                                     formControlName="pramentervalue">
                                                                                        <!-- [ngClass]="{ 'is-invalid': isSubmit && parms.controls.pramentervalue.errors }">
                                                                                    <div *ngIf="isSubmit && parms.controls.pramentervalue.errors" class="invalid-feedback">
                                                                                        <div *ngIf="parms.controls.pramentervalue.errors.required">
                                                                                            Quality Parameter
                                                                                            is required</div>
                                                                                    </div> -->
                                                                                </td>
                                                                            </tr>
        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <input type="button"  name="next" (click)="SaveQualityChecking();" class="btn btn-primary next action-button"
                                                    value="Save" />

                                            </form>
                                        </fieldset>       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->
