    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
          <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
              <h3 class="content-header-title mb-0">Card Actions</h3>
              <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a >Home</a>
                    </li>
                    <li class="breadcrumb-item"><a >Section</a>
                    </li>
                    <li class="breadcrumb-item active">Employee Registration
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="content-header-right text-md-right col-md-6 col-12">
              <div class="form-group"> 
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
                <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
              </div>
            </div>
          </div>  
  
          <div class="content-body"><!-- card actions section start -->

    <div class="row">
        <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title">Employee Registration</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">

           
            <section class="create">
                    <form>
            <div class="row justify-content-center">
                <div class="col-6">
                        <div class="form-group">
                            <label for="employeename">Employee Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="employeename" name="employeename"
                                placeholder="Enter your Employee Name" [(ngModel)]="employeename">
                        </div>
                        <div class="form-group">
                            <label for="employeeid">Employee Id <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="employeeid" name="employeeid"
                                placeholder="Enter your Employee Id" [(ngModel)]="employeeid">
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="doj" [(ngModel)]="dob" ngbDatepicker
                                    #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="ficon feather icon-calendar"></i></button>
                                </div>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label for="gender">Gender <span class="text-danger">*</span></label>
                            <select class="form-control" name="gender" [(ngModel)]="gender">
                                <option value="Male">Male </option>
                                <option value="Female">Female </option>
            
                            </select>
            
                        </div>
            
                        <div class="form-group">
                            <label for="employeemobile">Employee Mobile Number <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="employeemobile" name="employeemobile"
                                placeholder="Enter your Employee Mobile Number" maxlength="10" [(ngModel)]="employeemobile">
                        </div>
                        <div class="form-group">
                            <label for="employeemailid">Employee Mail ID <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="employeemailid" name="employeemailid"
                                placeholder="Enter your Employee Mail Id" [(ngModel)]="employeemailid">
                        </div>
                        
            
            
                </div>
                
                <div class="col-6">
                    <div class="form-group">
                        <label for="sectionname">Section Name <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="sectionname" [(ngModel)]="sectionname">
                            <option [ngValue]="">select Section Name </option>
                            <option *ngFor="let s of Sections" [ngValue]="s">
                                {{s}}
                            </option>
                        </select>
        
                    </div>
                    <div class="form-group">
                        <label for="designation">Designation <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="designation" [(ngModel)]="designation">
                            <option [ngValue]="">Select Designation </option>
                            <option *ngFor="let d of Designations" [ngValue]="d">
                                {{d}}
                            </option>
                        </select>
        
                    </div>
        
                    <div class="form-group">
                        <label for="locationtype">Location Type <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="locationtype" [(ngModel)]="locationtype">
                            <option [ngValue]="null">Select the Location Type</option>
                            <option value="1">Head office </option>
                            <option value="2">Regional Office </option>
                            <option value="3">Warehouse Office </option>
        
                        </select>
        
                    </div>
                    <div class="form-group">
                        <label for="location">Location <span class="text-danger">*</span></label>
                        <select class="form-control selectwarehouse" name="location" [(ngModel)]="location">
                            <option [ngValue]="null">Select Location </option>
                            <option *ngFor="let loc of Locations" [ngValue]="loc.Id">
                                {{loc.Name}}
                            </option>
                        </select>
        
                    </div>
                    <div class="form-group">
                        <label for="employeeaddress"> <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="employeeaddress" name="employeeaddress"
                            placeholder="Enter Employee Address" [(ngModel)]="employeeaddress">
                    </div>
        
        
                    <div class="form-group">
                        <label for="doj">Date of Joining <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="doj" ngbDatepicker
                                #dj="ngbDatepicker">
                            <div class="input-group-append"> 
                                <button class="btn btn-outline-secondary calendar" (click)="dj.toggle()" type="button"><i class="ficon feather icon-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                    <button type="button" class="btn btn-primary" (click)="onRegistration()">Register</button>
                </div>
            </div>
            </form>
            </section>
        </div>
        </div>
    </div>
  
</div>
       
    </div>

</div>
</div>
</div>
<!-- END: Page Main-->