<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Board of Directors</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">Board of Directors
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Board of Directors Registration</h4>

                                <div class="row" [hidden]="!bodshiden">
                                    <div class="table table-responsive">
                                        <table class="table table-responsive table-bordered">
                                            <thead>
                                                <th>SNo</th> 
                                                <th>Category</th>
                                                <th>Designation</th>
                                                <th>Name</th>  
                                                <th>Photo</th>
                                                <th>Statud</th>  
                                                <th>view</th>                                         
                                                                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let bod of boardofDirectorsList; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{bod.category}}</td>
                                                    <td>{{bod.designation}}</td>
                                                    <td>{{bod.emP_NAME}}</td>
                                                    <td><img [src]="bod.emP_PHOTO" height="150" weight="150" /> </td>
                                                    <td *ngIf="bod.iS_ACTIVE=='Y'">Active</td>
                                                    <td *ngIf="bod.iS_ACTIVE=='N'">Deactive</td>
                                                    <td *ngIf="bod.iS_ACTIVE=='Y'"><button class="btn btn-success" (click)="EditDirectories(bod);">Deactive </button></td>
                                                     </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-success" (click)="Adddirectories();">Add Directors</button>
                                    </div>
                                </div>

                                <form class="forms-sample" [formGroup]="boardofdirectorsForm" [hidden]="bodshiden" (ngSubmit)="onSubmit()">

                                    <div class="row justify-content-center">
                                        <div class="col-6">                                          
                
                                            <div class="form-group">
                                                <label for="groupgeneralmanager">Group General Manager (Tech),
                                                    Corporate Office, Central Warehousing Corporation,
                                                    New Delhi
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="groupgeneralmanager" lettersOnly maxlength="150"
                                                 [ngClass]="{'is-invalid':submitted && f.groupgeneralmanager.errors}"  placeholder="Enter Group General Manager" />
                                                <div *ngIf="submitted && f.groupgeneralmanager.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.groupgeneralmanager.errors.required">Group General Manager (Tech), is required </div>
                                                </div>
                                            </div>                                      
        
                                        <div class="form-group">
                                            <label for="regionalmanager">Regional Manager,
                                                Central Warehousing Corporation, Nampally,
                                                Hyderabad
                                                 <span class="text-danger">*</span></label>
                                            <input type="text"  class="form-control" 
                                            formControlName="regionalmanager" lettersOnly
                                             [ngClass]="{'is-invalid':submitted && f.regionalmanager.errors}"  placeholder="Enter Regional Manager" />
                                            <div *ngIf="submitted && f.regionalmanager.errors"
                                             class="invalid-feedback">
                                                <div *ngIf="f.regionalmanager.errors.required">regional is required </div>
                                            </div>
                                        </div>
        
                                            <div class="form-group">
                                                <label for="dirctorcost">Director Cost,
                                                    Ministry of Consumer Affairs,Food & Public Distribution,
                                                    Govt. of India
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="dirctorcost" lettersOnly
                                                 [ngClass]="{'is-invalid':submitted && f.dirctorcost.errors}"  placeholder="Enter Director Cost" />
                                                <div *ngIf="submitted && f.dirctorcost.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.dirctorcost.errors.required">Director Cost,
                                                        Ministry of Consumer Affairs,Food & Public Distribution is required </div>
                                                </div>
                                            </div>
        
                                            <div class="form-group">
                                                <label for="indiranagar">Indiranagar, Banglore
                                                     <span class="text-danger">*</span></label>
                                                <input type="text"  class="form-control" 
                                                formControlName="indiranagar" lettersOnly
                                                 [ngClass]="{'is-invalid':submitted && f.indiranagar.errors}"  placeholder="Enter indiranagar Banglore" />
                                                <div *ngIf="submitted && f.indiranagar.errors"
                                                 class="invalid-feedback">
                                                    <div *ngIf="f.indiranagar.errors.required">Indiranagar, Banglore is required </div>
                                                </div>
                                        
        
                                            
                                           
        
        
                                        </div>
                                    </div>
                                    </div>
                                 
                                  <div class="row justify-content-center">
                                      <div class="col-1 text-center">
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        
                                      </div>
                                      <div class="col-1 text-center">
                                        
                                        <button class="btn btn-light" type="reset"(ngClick)="onReset()">Cancel</button>
                                      </div>
                                  </div>
                                    
                                </form>
                            </div>
                        </div>



                    </div>
                </div>


            </section>
            <!-- // card-actions section end -->
        </div>
    </div>
</div>