.rectangle {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    padding: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    color: #000000;
    z-index: 9;
    font-weight: 600;
    border: 3px solid #0000001f;
}


/* LEVEL-1 STYLES */

.level-1 {
    background: #39464c;
    text-align: center;
    font-size: 20px;
    width: 14%;
    margin: 0 auto 40px;
    color: white;
}

.level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 25px;
    background: #404446;
}


/* LEVEL-2 STYLES */

.level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: #616161;
}

.level-2-wrapper li {
    position: relative;
    list-style-type: none;
}

.level-2 {
    background: #f44336;
}

.level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: #616161;
}

.level-2-wrapper {
    position: relative;
}

.level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 15%;
    width: 51%;
    height: 2px;
    background: #404446;
}

.level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: #616161;
}

.level-2-wrapper li {
    position: relative;
}

.level-2-wrapper>li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: #616161;
}

.level-2 {
    width: 70%;
    margin: 0 auto 40px;
    color: white;
    padding: 12px;
}

.level-2::before {
    content: "";
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 24px;
    background: #616161;
}

.level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: #616161;
}

li.level-ho {
    width: 25%;
    float: left;
}

li.level-ro {
    width: 70%;
    float: right;
}

.level-ro .level-2 {
    width: 30%;
    color: white;
}

.level-ho h2.level-2::before {
    height: 0px;
    content: "";
}


/* LEVEL-3 STYLES */

.level-3-wrapper {
    position: relative;
    width: 90%;
    padding: 0px;
}

.level-3-wrapper::before {
    content: "";
    position: absolute;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 19px;
}

.left-level-3-wrapper.level-3-wrapper>li::before {
    content: "";
    height: 0px !important;
}


/* LEVEL-4 STYLES */

.level-4-wrapper {
    position: relative;
    width: 100%;
    margin-left: auto;
    padding-left: 0px;
}

.level-4-wrapper li+li {
    margin-top: 20px;
}

.level-4 {
    font-weight: normal;
    background: #56CCF2;
}

.level-5 {
    font-weight: normal;
    background: #0BDD64;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 45px;
    border-radius: 50px;
    width: 250px;
    margin-bottom: 30px;
}


/* LEVEL-3 STYLES
          –––––––––––––––––––––––––––––––––––––––––––––––––– */

.level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.left-level-3-wrapper {
    position: relative;
    display: list-item;
    width: 69%;
    margin: 0 auto;
}

.level-3-wrapper.left-level-3-wrapper::before {
    height: 0px !important;
}

.level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(9% - 0px);
    width: calc(80% + 17px);
    height: 3px;
    background: #616161;
}

.level-3-wrapper>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: #616161;
}

.level-3 {
    margin-bottom: 30px;
    background: #2F80ED;
    color: white;
}


/* LEVEL-4 STYLES
          –––––––––––––––––––––––––––––––––––––––––––––––––– */

.level-4-wrapper {
    position: relative;
    width: 70%;
    /* margin-left: auto; */
}

.level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -49px;
    left: -18px;
    width: 3px;
    height: calc(100% + 33px);
    background: #404446;
    z-index: 0;
}

.level-4-wrapper li+li {
    margin-top: 16px;
}

.level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1%;
    transform: translate(-100%, -50%);
    width: 17px;
    height: 7px;
    background: #404446;
}


/* MQ STYLES  */

@media screen and (max-width: 700px) {
    .rectangle {
        padding: 20px 10px;
    }
    .level-1,
    .level-2 {
        width: 100%;
    }
    .level-1 {
        margin-bottom: 20px;
    }
    .level-1::before,
    .level-2-wrapper>li::before {
        display: none;
    }
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
        display: block;
    }
    .level-2-wrapper {
        width: 90%;
        margin-left: 10%;
    }
    .level-2-wrapper::before {
        left: -20px;
        width: 2px;
        height: calc(100% + 40px);
    }
    .level-2-wrapper>li:not(:first-child) {
        margin-top: 50px;
    }
}

ol {
    list-style: none;
}

html body .content {
    margin-left: 0px !important;
}