<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Organisational Structure</h1>
                    <p>Home /<a > Organisational Structure</a></p>
                </div>
            </div>
        </div>


        <div class="row py-4" id="organisationstructure">

            <!-- <div class="container">
                <h1 class="level-1 rectangle">VC & MD</h1>
                <ol class="level-2-wrapper">
                    <li class="level-ho">
                        <h2 class="level-2 rectangle">Head Office</h2>
                        <ol class="level-3-wrapper left-level-3-wrapper">
                            <li>

                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">Finance & Accounts</h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Business & Logistics
                                        </h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Internal Audit</h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Labor</h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Personnel & Admin</h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Materials & Quality</h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Engineering</h4>
                                    </li>
                                </ol>
                            </li>

                        </ol>
                    </li>
                    <li class="level-ro">
                        <h2 class="level-2 rectangle">Regional Office</h2>
                        <ol class="level-3-wrapper">
                            <li>
                                <h3 class="level-3 rectangle"> Vizianagaram (RO) </h3>
                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">Vizianagaram <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Srikakulam <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">visakhapatnam <small><b>(District) </b></small></h4>
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h3 class="level-3 rectangle">Kakinada (RO)</h3>
                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">East Godavari <small><b>(District) </b></small></h4>
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h3 class="level-3 rectangle">Tadepalligudem (RO)</h3>
                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">West Godavari <small><b>(District) </b></small></h4>
                                    </li>

                                </ol>
                            </li>
                            <li>
                                <h3 class="level-3 rectangle">Vijayawada (RO)</h3>
                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">Krishna <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Guntur <small><b>(District) </b></small></h4>
                                    </li>

                                    <li>
                                        <h4 class="level-4 rectangle">Prakasam <small><b>(District) </b></small></h4>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3 class="level-3 rectangle">Kadapa (RO)</h3>
                                <ol class="level-4-wrapper">
                                    <li>
                                        <h4 class="level-4 rectangle">Anantapuram <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Chittor <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Kadapa <small><b>(District) </b></small></h4>
                                    </li>
                                    <li>
                                        <h4 class="level-4 rectangle">Kurnool <small><b>(District) </b></small></h4>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div> -->
            <div class="col-sm-12">
                <ul id="tree-data" style="display: none;">
                    <li id="root">
                        <div class="icon-circle"><img src="./assets/web-styles/images/vicechariman.png"></div>
                        <h3 class="mb-0">VC & MD </h3>
                        <ul>
                            <li id="node2">
                                <div class="icon-circle"><img src="./assets/web-styles/images/org-icons/office.svg"></div>
                                <h5 class="mb-0 py-2">
                                    Head Office</h5>
                                <ul type="vertical">
                                    <li id="node5">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/f&A.svg"></div> Finance & Accounts

                                    </li>
                                    <li id="node5">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/busness.svg"></div> Business & Logistics
                                    </li>
                                    <li id="node5">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/audit.svg"></div> Internal Audit
                                    </li>

                                    <li id="node8">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/conference.svg"></div> Conference
                                    </li>
                                    <li id="node8">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/admin.svg"></div> Personnel & Admin
                                    </li>
                                    <li id="node8">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/QC.svg"></div> Materials & Quality
                                    </li>
                                    <li id="node8">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/inc/engineering.svg"></div> Engineering
                                    </li>


                                </ul>

                            </li>

                            <li id="node28" class="last" style="width: 200px;">
                                <div class="icon-circle"><img src="./assets/web-styles/images/org-icons/office.svg"></div>
                                <h5 class="mb-0"> Regional Office - (R.O) </h5>
                                <ul>
                                    <li id="node29" class="last">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/vizianagaram.png"></div>
                                        <div class="text">Vizianagaram - R.O</div>
                                        <ul type="vertical">
                                            <li id="node30">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/vizianagaram.png"></div> Vizianagaram (District)
                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/srikakulam-district.png"></div> Srikakulam (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/visakhapatnam-district.png"></div> Visakhapatnam (District)
                                            </li>
                                        </ul>
                                    </li>

                                    <li id="node36">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/kakinada.png"></div>
                                        <div class="text"> Kakinada - R.O</div>
                                        <ul type="vertical">
                                            <li id="node30">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/east-godavari.png"></div> East Godavari (District)

                                            </li>

                                        </ul>
                                    </li>
                                    <li id="node36">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/tadepalligudem.png"></div>
                                        <div class="text">Tadepalligudem - R.O</div>
                                        <ul type="vertical">
                                            <li id="node30">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/westgodavari.png"></div> West Godavari (District)

                                            </li>

                                        </ul>
                                    </li>
                                    <li id="node36">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/vijayawada.png"></div>
                                        <div class="text">Vijayawada - R.O</div>
                                        <ul type="vertical">
                                            <li id="node30">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/vijayawada.png"></div> Krishna (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/guntur.png"></div> Guntur (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/prakasam.png"></div> Prakasam (District)

                                            </li>
                                        </ul>
                                    </li>
                                    <li id="node36">
                                        <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/kadapa.png"></div>
                                        <div class="text">Kadapa - R.O</div>
                                        <ul type="vertical">
                                            <li id="node30">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/anantpur.png"></div> Anantapuram (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/Chittoor.png"></div> Chittoor (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/kadapa.png"></div> Kadapa (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/Kurnool.png"></div> Kurnool (District)

                                            </li>
                                            <li id="node33">
                                                <div class="icon-circle-2"><img src="./assets/web-styles/images/org-icons/Nellore.png"></div> SPS Nellore (District)

                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="node37">
                        node37
                    </li>
                </ul>
                <div id="tree-view"></div>
            </div>





            <!-- <div class="col-sm-12">
                <h2 class="text-center  text-muted mb-5">Organisational Structure</h2>
                <div class="container">
                    <h1 class="level-1 rectangle">Headquarters</h1>
                    <ol class="level-2-wrapper">
                        <li>
                            <h2 class="level-2 rectangle">Regional Office <br> (Vizianagaram)</h2>
                            <ol class="level-3-wrapper">
                                <li>
                                    <h3 class="level-3 rectangle">District Covered <br> (Vizianagaram, Srikakulam, visakhapatnam)</h3>
                                    <ol class="level-4-wrapper">
                                        <li>
                                            <h4 class="level-4 rectangle">Warehouse <br> (10,5,1)</h4>
                                        </li>

                                    </ol>
                                </li>

                            </ol>
                        </li>
                        <li>
                            <h2 class="level-2 rectangle">Regional Office <br> (Kakinada)</h2>
                            <ol class="level-3-wrapper">
                                <li>
                                    <h3 class="level-3 rectangle">District Covered <br>(East Godavari)</h3>
                                    <ol class="level-4-wrapper">
                                        <li>
                                            <h4 class="level-4 rectangle">Warehouse <br> (9)</h4>
                                        </li>

                                    </ol>
                                </li>

                            </ol>
                        </li>
                        <li>
                            <h2 class="level-2 rectangle">Regional Office <br> (Tadepalligudem)</h2>
                            <ol class="level-3-wrapper">
                                <li>
                                    <h3 class="level-3 rectangle">Districts Covered <br> (West Godavari)</h3>
                                    <ol class="level-4-wrapper">
                                        <li>
                                            <h4 class="level-4 rectangle">Warehouse <br> (4)</h4>
                                        </li>

                                    </ol>
                                </li>

                            </ol>
                        </li>
                        <li>
                            <h2 class="level-2 rectangle">Regional Office <br> (Vijayawada)</h2>
                            <ol class="level-3-wrapper">
                                <li>
                                    <h3 class="level-3 rectangle">Districts Covered <br>(Krishna, Guntur, Prakasam)</h3>
                                    <ol class="level-4-wrapper">
                                        <li>
                                            <h4 class="level-4 rectangle">Warehouse <br> (3,9,3)</h4>
                                        </li>

                                    </ol>
                                </li>

                            </ol>
                        </li>
                        <li>
                            <h2 class="level-2 rectangle">Regional Office <br> (YSR Kadapa)</h2>
                            <ol class="level-3-wrapper">
                                <li>
                                    <h3 class="level-3 rectangle">Districts Covered (Anantapuram, Chittor, Kadapa ,Kurnool, Nellore)</h3>
                                    <ol class="level-4-wrapper">
                                        <li>
                                            <h4 class="level-4 rectangle">Warehouse <br> (3,2,3,8)</h4>
                                        </li>


                                    </ol>
                                </li>

                            </ol>
                        </li>
                    </ol>
                </div>
            </div> -->
        </div>

        <!-- <div class="row">
            <div class="col-sm-12 mb-4">
                <div class=" d-flex justify-content-around align-items-center">
                    <h4 class="level-5 rectangle">Finance & Accounts</h4>
                    <h4 class="level-5 rectangle">Business & Logistics</h4>
                    <h4 class="level-5 rectangle">Internal Audit</h4>
                    <h4 class="level-5 rectangle">Labor</h4>
                </div>
            </div>
            <div class="col-sm-12">
                <div class=" d-flex justify-content-around align-items-center">
                    <h4 class="level-5 rectangle">Personnel & Admin</h4>
                    <h4 class="level-5 rectangle">Materials & Quality</h4>
                    <h4 class="level-5 rectangle">Engineering</h4>

                </div>
            </div>
        </div> -->
    </div>
</main>


<script>
</script>