<main>
    <!-- class 'hidden' for display none -->
    <div class="preloader" [hidden]="!showloader">
        <div class="spinner-border text-info spinner-border-lg" role="status">
        </div>
    </div>

    <div class="container page-border">

        <!-- <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">
                    <h1>Registrations</h1>
                    <p>Home /<a>User Registration</a></p>
                </div>

            </div>
        </div> -->


        <div class="row justify-content-center mt-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-0 mt-3 mb-2">
                <div class="card">
                    <h2><strong>Register As Farmer</strong></h2>
                    <p>Fill all form field to go to next step</p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="account"><strong>Register</strong></li>
                                    <li id="doctab"><strong>Upload Documents</strong></li>
                                    <li id="commtab"><strong>Communication Details</strong></li>
                                </ul> <!-- fieldsets -->

                                <fieldset *ngIf="currtab=='Reg'">
                                    <form [formGroup]="RegForm">
                                        <input type="hidden" formControlName="REGCODE" />
                                        <div class="form-card">
                                            <h2 class="fs-title bg-light text-center">Registration <a class="ml-1" style="font-size: 14px;" href="./assets/VROCertificate.docx">VRO Certificate Template</a> </h2>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="FarType">Farmer Type <span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Farmer Type" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="FarType" (change)="FarmerTypeChange($event);"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.FarType.errors }"
                                                            placeholder="Select Farmer Type">
                                                            <!-- <ng-option *ngFor="let dist of states" [value]="dist.id">
                                                                {{dist.states}}
                                                            </ng-option> -->
                                                            <ng-option value="1">Own Land</ng-option>
                                                            <ng-option value="2">Tenant Farmer</ng-option>
                                                        </ng-select>

                                                        <div *ngIf="regsub && reg.FarType.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NState.errors.required">Farmer Type
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="RegName">Farmer Name <span class="text-danger"> *
                                                            </span> <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Farmer Name" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                            <div class="ng-autocomplete">
                                                                <ng-autocomplete [data]="Userslist" [searchKeyword]="userkeyword"
                                                                    [itemTemplate]="itemTemplate" lettersOnly maxlength="100"
                                                                    (selected)='UserSelect($event)' formControlName="RegName"
                                                                    [ngClass]="{ 'is-invalid': regsub && reg.RegName.errors }">
                                                                </ng-autocomplete>
                                                                <ng-template #itemTemplate let-item>
                                                                    <a [innerHTML]="item.name"></a>
                                                                </ng-template>
                                                            </div>
                                                        <!-- <input type="text" maxlength="100" type="text" lettersOnly
                                                            class="form-control" placeholder="Enter Name"
                                                            formControlName="RegName"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.RegName.errors }"> -->
                                                        <div *ngIf="regsub && reg.RegName.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.RegName.errors.required">Farmer Name
                                                                is required</div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="FarAadhaar">Farmer Aadhaar <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Farmer Aadhaar Number" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input minlength="12" maxlength="12"
                                                            type="text" class="form-control"
                                                            placeholder="Enter Employee Aadhaar"
                                                            (change)="uidvalidate($event.target.value)"
                                                            [hiddenInput]="true" mask="XXXXXXXX0000"
                                                            formControlName="FarAadhaar"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.FarAadhaar.errors }" />
                                                        <div *ngIf="regsub && reg.FarAadhaar.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.FarAadhaar.errors.required">Farmer Aadhaar
                                                                is required</div>
                                                            <div *ngIf="reg.FarAadhaar.errors.minlength">Farmer
                                                                Aadhaar must be 12 numbers </div>
                                                        </div>
                                                        <div *ngIf="!uidstatus || !uid_isvalid" class="text-danger">Invalid
                                                            Farmer Aadhaar Number
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="RegName">Email  <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Farmer Email" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                        <input type="text" class="form-control" placeholder="Email"
                                                            maxlength="200" placeholder="Enter Email"
                                                            formControlName="RegEmail"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.RegEmail.errors }">
                                                        <div *ngIf="regsub && reg.RegEmail.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.RegEmail.errors.required"> Email ID
                                                                is required</div>
                                                            <div *ngIf="reg.RegEmail.errors.email">Invalid  Email address
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="RegMobile"> Mobile Number <span class="text-danger"> *
                                                        </span> <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Enter Farmer Mobile Number" placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a></label>
                                                        <input type="text" class="form-control" numbersOnly
                                                            maxlength="10" minlength="10" placeholder="Enter Mobile No"
                                                            formControlName="RegMobile"
                                                            (change)="mob_uid_validate($event.target.value)"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.RegMobile.errors }" />
                                                        <div *ngIf="regsub && reg.RegMobile.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.RegMobile.errors.required">Mobile No
                                                                is required</div>

                                                            <div *ngIf="reg.RegMobile.errors.minlength"> Mobile Number
                                                                Must be 10 Digits </div>
                                                            <div *ngIf="reg.RegMobile.errors.pattern"> Mobile Number
                                                                Starts from 6 , 7 , 8 ,9
                                                            </div>
                                                        </div>
                                                        <div *ngIf="!Emp_mob_isvalid" class="text-danger">Invalid Mobile
                                                            Number
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="sectionname">  PAN No  <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Farmer PAN No" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                        <input type="text" alphaNumbers class="form-control"
                                                            placeholder="PAN No" formControlName="PANNo"
                                                            oninput="this.value=this.value.toUpperCase()" minlength="10"
                                                            maxlength="10"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.PANNo.errors }" />
                                                        <div *ngIf="regsub && reg.PANNo.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.PANNo.errors.required">  PAN No
                                                                is required</div>
                                                            <div *ngIf="reg.PANNo.errors.minlength">  PAN No
                                                                Must Be 10 Digits</div>
                                                            <div *ngIf="reg.PANNo.errors.pattern">
                                                                Invalid   PAN Number Format
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NState">  State  <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Select Farmer State" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a><span
                                                                class="text-danger">*</span></label>
                                                        <ng-select formControlName="NState"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.NState.errors }"
                                                            placeholder="Select State">
                                                            <ng-option *ngFor="let dist of states" [value]="dist.id">
                                                                {{dist.states}}
                                                            </ng-option>
                                                        </ng-select>

                                                        <div *ngIf="regsub && reg.NState.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NState.errors.required">  State
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NDistrict">  District <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Farmer District" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="NDistrict"
                                                            (change)="DistrictChange('N')"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.NDistrict.errors }"
                                                            placeholder="Select District">
                                                            <ng-option *ngFor="let dist of districts"
                                                                [value]="dist.districT_CODE">
                                                                {{dist.districT_NAME_ENG}}
                                                            </ng-option>
                                                        </ng-select>

                                                        <div *ngIf="regsub && reg.NDistrict.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NDistrict.errors.required">   District
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NArea">  Area <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Farmer Area" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="NArea"
                                                            (change)="DistrictChange('N')"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.NArea.errors }"
                                                            placeholder="Select Area">
                                                            <ng-option *ngFor="let area of urlist" [value]="area.id">
                                                                {{area.urbaN_RURAL}}
                                                            </ng-option>
                                                        </ng-select>

                                                        <div *ngIf="regsub && reg.NArea.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NArea.errors.required">   Area
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NMandal">  Municipal/Mandal <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Farmer Municipal/Mandal" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="NMandal"
                                                            (change)="MandalChange('N')"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.NMandal.errors }"
                                                            placeholder="Select Municipal/Mandal">
                                                            <ng-option *ngFor="let dist of nmandals"
                                                                [value]="dist.mmC_CODE">
                                                                {{dist.mmC_NAME}}
                                                            </ng-option>
                                                        </ng-select>

                                                        <div *ngIf="regsub && reg.NMandal.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NMandal.errors.required">
                                                                Municipal/Mandal
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="NVillage">  Village/Town <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Farmer Village/Town" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="NVillage"
                                                            [ngClass]="{ 'is-invalid': regsub &&  reg.NVillage.errors }"
                                                            placeholder="Select Village/Town">
                                                            <ng-option *ngFor="let dist of nvillages"
                                                                [value]="dist.warD_VILLAGE_CODE">
                                                                {{dist.warD_VILLAGE_NAME}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="regsub && reg.NVillage.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NVillage.errors.required">
                                                                Village/Town
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="employeeid">  House No <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Farmer House No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control" alphaNumbers
                                                            placeholder="Enter House No " maxlength="10"
                                                            formControlName="NHNO"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.NHNO.errors }" />
                                                        <div *ngIf="regsub && reg.NHNO.errors" class="invalid-feedback">
                                                            <div *ngIf="reg.NHNO.errors.required">   House No
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="employeeid">  Street Name <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Farmer Street Name" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" alphaNumbers maxlength="100"
                                                            class="form-control" placeholder="Enter Street"
                                                            formControlName="NStrName"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.NStrName.errors }" />
                                                        <div *ngIf="regsub && reg.NStrName.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NStrName.errors.required">   Street Name
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="employeeid">  Landmark  <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Farmer Landmark" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                        <input type="text" lettersOnly maxlength="100"
                                                            class="form-control" placeholder="Enter Landmark"
                                                            formControlName="NLandmark">
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="employeeid">  Pincode <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Farmer Pincode" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Enter Pincode" numbersOnly minlength="6"
                                                            maxlength="6" formControlName="NPincode"
                                                            [ngClass]="{ 'is-invalid': regsub && reg.NPincode.errors }" />
                                                        <div *ngIf="regsub && reg.NPincode.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.NPincode.errors.required">   Pincode
                                                                is required</div>
                                                            <div *ngIf="reg.NPincode.errors.minlength">   Pincode must
                                                                be 6 numbers</div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div> <input type="button" name="next" (click)="UserRegistration();"
                                            class="next action-button" value="Next Step" />
                                    </form>
                                </fieldset>

                                <fieldset *ngIf="currtab=='Doc'">
                                    <form [formGroup]="DocForm">
                                        <div class="form-card">
                                            <h2 class="fs-title bg-light text-center">Upload Required Documents</h2>
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <div *ngFor="let doc of d.controls; let ind = index">
                                                        <div class="form-group row" [formGroup]="doc">
                                                            <input type="hidden" formControlName="DocID" />
                                                            <input type="hidden" formControlName="DocType" />
                                                            <input type="hidden" formControlName="DocPath" />
                                                            <input type="text" readonly lettersOnly type="text"
                                                                class="form-control col-md-4"
                                                                placeholder="Document Name" formControlName="DocName">

                                                            <div class="input-group col-md-8">
                                                                <div class="custom-file">
                                                                    <input type="file" formControlName="RegDoc"   #file placeholder="{{doc.controls.DocName.value}}"
                                 (change)="uploadFile($event,ind)" class="form-control" id="inputGroupFile04_{{ind}}">
                                                                    <!-- <input type="file" formControlName="RegDoc" #file
                                                                        class="custom-file-input"
                                                                        (change)="uploadFile($event,ind)"
                                                                        class="form-control" id="inputGroupFile04"> -->
                                                                        <label class="custom-file-label"

                                                                        for="inputGroupFile04_{{ind}}">Upload 
                                                                        {{doc.controls.DocName.value}}  <span class="text-danger">*</span></label>    
                                                                
                                                                </div>
                                                                <div *ngIf="docsub && doc.controls.DocPath.errors" class="invalid-feedback">
                                                                    <div *ngIf="doc.controls.DocPath.errors.required"> Upload {{doc.controls.DocName.value}}
                                                                        is required</div>
                                                                   
                                                                </div>

                                                                <div class="input-group-append ml-2" style="color: green;">
                                                                    <span class="upload"
                                                                        *ngIf="doc.controls.progress.value > 0">
                                                                        {{doc.controls.progress.value}}%
                                                                    </span>
                                                                    <span class="upload ml-2"
                                                                        *ngIf="doc.controls.message.value">
                                                                        {{doc.controls.message.value}}
                                                                    </span>
                                                                    <!-- <button class="btn btn-outline-secondary" type="button"
                                                                id="inputGroupFileAddon04"><i
                                                                    class="fa fa-arrow-circle-up"></i>
                                                                Upload</button> -->
                                                                </div>
                                                                <div class="invalid-feedback" style="display: block !important;">
                                                                    <div> * File size upto 2 MB , allowed files jpg,jpeg,png & pdf</div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- <input type="button" name="previous" class="previous action-button-previous"
                                        value="Previous" /> -->
                                        <input type="button" name="next" class="next action-button"
                                            (click)="SaveDocDetails();" value="Next Step" />
                                    </form>
                                </fieldset>
                                <fieldset *ngIf="currtab=='Com'">
                                    <form [formGroup]="ComForm">
                                        <div class="form-card">
                                            <h2 class="fs-title bg-light text-center">Communication Details</h2>
                                            <div *ngFor="let comm of c.controls; let i = index">
                                                <div class="form-row" [formGroup]="comm">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="CName">Name <span class="text-danger">*</span>  <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Name" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" maxlength="100" lettersOnly class="form-control" placeholder="Name"
                                                                formControlName="CName"
                                                                [ngClass]="{ 'is-invalid': commusubmi && comm.controls.CName.errors }" />
                                                            <div *ngIf="commusubmi && comm.controls.CName.errors" class="invalid-feedback">
                                                                <div *ngIf="comm.controls.CName.errors.required">Name
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="CDesignation">Designation <span class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Designation" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" maxlength="100" lettersOnly class="form-control"
                                                                placeholder="Designation" formControlName="CDesignation"
                                                                [ngClass]="{ 'is-invalid': commusubmi && comm.controls.CDesignation.errors }" />
                                                            <div *ngIf="commusubmi && comm.controls.CDesignation.errors" class="invalid-feedback">
                                                                <div *ngIf="comm.controls.CDesignation.errors.required">
                                                                    Designation
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label for="CMobile">Mobile NO <span class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Mobile Number" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" numbersOnly maxlength="10" minlength="10" class="form-control"
                                                                placeholder="Mobile NO" formControlName="CMobile"
                                                                [ngClass]="{ 'is-invalid': commusubmi && comm.controls.CMobile.errors }"
                                                                (change)="mob_uid_validate($event.target.value)" />
                                                            <div *ngIf="commusubmi && comm.controls.CMobile.errors" class="invalid-feedback">
                                                                <div *ngIf="comm.controls.CMobile.errors.required">
                                                                    Mobile NO
                                                                    is required</div>
                                                                <div *ngIf="comm.controls.CMobile.errors.minlength">
                                                                    Mobile NO
                                                                    Must be 10 Digits </div>
                                                                <div *ngIf="comm.controls.CMobile.errors.pattern">Mobile
                                                                    NO
                                                                    Starts from 6 , 7 , 8 ,9
                                                                </div>
                                                            </div>
                                                            <div *ngIf="!Emp_mob_isvalid" class="text-danger">Invalid
                                                                Mobile
                                                                Number
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="CEmail">Email  <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Email" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" maxlength="200" class="form-control" placeholder="Email"
                                                                formControlName="CEmail"
                                                                [ngClass]="{ 'is-invalid': commusubmi && comm.controls.CEmail.errors }" />
                                                            <div *ngIf="commusubmi && comm.controls.CEmail.errors" class="invalid-feedback">
                                                                <div *ngIf="comm.controls.CEmail.errors.email">Invalid Email
                                                                    address
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1" *ngIf="i==0">
                                                        <button class="btn btn-success btn-sm mt-3" (click)="AddCommu()"><i
                                                                class="fa fa-plus-circle"></i></button>
                                                    </div>
                                                    <div class="col-md-1" *ngIf="i!=0">
                                                        <button class="btn btn-danger btn-sm mt-3" (click)="RemoveCommu(i)"><i
                                                                class="fa fa-minus-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <h2 class="fs-title bg-light text-center">Nominee/Legal Heir Details</h2>
                                            <div >
                                                <div class="form-row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NName">Name <span class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Nominee/Legal Heir Name" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" maxlength="100" lettersOnly class="form-control" placeholder="Name"
                                                                formControlName="NName"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NName.errors }" />
                                                            <div *ngIf="commusubmi && com.NName.errors" class="invalid-feedback">
                                                                <div *ngIf="com.NName.errors.required">Name
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NAadhaar">Aadhaar No <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Nominee/Legal Heir Aadhaar Number" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <input minlength="12" maxlength="12"
                                                                type="text" class="form-control"
                                                                placeholder="Enter Aadhaar No"
                                                                (change)="uidvalidate($event.target.value)"
                                                                [hiddenInput]="true" mask="XXXXXXXX0000"
                                                                formControlName="NAadhaar"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NAadhaar.errors }" />
                                                            <div *ngIf="commusubmi && com.NAadhaar.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NAadhaar.errors.required">Aadhaar No
                                                                    is required</div>
                                                                <div *ngIf="com.NAadhaar.errors.minlength">Aadhaar No must be 12 numbers </div>
                                                            </div>
                                                            <div *ngIf="!uidstatus || !uid_isvalid" class="text-danger">Invalid
                                                                Aadhaar Number
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NRelation">  Relation <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal Relation" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NRelation"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NRelation.errors }"
                                                                placeholder="Select Relation">
                                                                <ng-option *ngFor="let dist of relations" [value]="dist.id">
                                                                    {{dist.relation}}
                                                                </ng-option>
                                                            </ng-select>
    
                                                            <div *ngIf="commusubmi && com.NRelation.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NRelation.errors.required">  Relation
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NMobile"> Contact Number <span class="text-danger"> *
                                                            </span> <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Nominee/Legal Heir Contact Number" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                            <input type="text" class="form-control" numbersOnly
                                                                maxlength="10" minlength="10" placeholder="Enter Contact No"
                                                                formControlName="NMobile"
                                                                (change)="mob_uid_validate($event.target.value)"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NMobile.errors }" />
                                                            <div *ngIf="commusubmi && com.NMobile.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NMobile.errors.required">Contact Number
                                                                    is required</div>
    
                                                                <div *ngIf="com.NMobile.errors.minlength"> Contact Number
                                                                    Must be 10 Digits </div>
                                                                <div *ngIf="com.NMobile.errors.pattern"> Contact Number
                                                                    Starts from 6 , 7 , 8 ,9
                                                                </div>
                                                            </div>
                                                            <div *ngIf="!Emp_mob_isvalid" class="text-danger">Invalid Contact
                                                                Number
                                                            </div>
                                                        </div>
    
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NState">  State <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal Heir State" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NState"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NState.errors }"
                                                                placeholder="Select State">
                                                                <ng-option *ngFor="let dist of states" [value]="dist.id">
                                                                    {{dist.states}}
                                                                </ng-option>
                                                            </ng-select>
    
                                                            <div *ngIf="commusubmi && com.NState.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NState.errors.required">  State
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NDistrict">  District <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal District" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NDistrict"
                                                                (change)="NDistrictChange('N')"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NDistrict.errors }"
                                                                placeholder="Select District">
                                                                <ng-option *ngFor="let dist of districts"
                                                                    [value]="dist.districT_CODE">
                                                                    {{dist.districT_NAME_ENG}}
                                                                </ng-option>
                                                            </ng-select>
    
                                                            <div *ngIf="commusubmi && com.NDistrict.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NDistrict.errors.required">   District
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NArea">  Area <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal Area" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NArea"
                                                                (change)="NDistrictChange('N')"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NArea.errors }"
                                                                placeholder="Select Area">
                                                                <ng-option *ngFor="let area of urlist" [value]="area.id">
                                                                    {{area.urbaN_RURAL}}
                                                                </ng-option>
                                                            </ng-select>
    
                                                            <div *ngIf="commusubmi && com.NArea.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NArea.errors.required">   Area
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NMandal">  Municipal/Mandal <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal Municipal/Mandal" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NMandal"
                                                                (change)="NMandalChange('N')"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NMandal.errors }"
                                                                placeholder="Select Municipal/Mandal">
                                                                <ng-option *ngFor="let dist of nmandals"
                                                                    [value]="dist.mmC_CODE">
                                                                    {{dist.mmC_NAME}}
                                                                </ng-option>
                                                            </ng-select>
    
                                                            <div *ngIf="commusubmi && com.NMandal.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NMandal.errors.required">
                                                                    Municipal/Mandal
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="NVillage">  Village/Town <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Nominee/Legal Village/Town" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <ng-select formControlName="NVillage"
                                                                [ngClass]="{ 'is-invalid': commusubmi &&  com.NVillage.errors }"
                                                                placeholder="Select Village/Town">
                                                                <ng-option *ngFor="let dist of nvillages"
                                                                    [value]="dist.warD_VILLAGE_CODE">
                                                                    {{dist.warD_VILLAGE_NAME}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <div *ngIf="commusubmi && com.NVillage.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NVillage.errors.required">
                                                                    Village/Town
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="employeeid">  House No <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Nominee/Legal House No" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <input type="text" class="form-control" alphaNumbers
                                                                placeholder="Enter House No " maxlength="10"
                                                                formControlName="NHNO"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NHNO.errors }" />
                                                            <div *ngIf="commusubmi && com.NHNO.errors" class="invalid-feedback">
                                                                <div *ngIf="com.NHNO.errors.required">   House No
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="employeeid">  Street Name <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Nominee/Legal Street Name" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <input type="text" alphaNumbers maxlength="100"
                                                                class="form-control" placeholder="Enter Street"
                                                                formControlName="NStrName"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NStrName.errors }" />
                                                            <div *ngIf="commusubmi && com.NStrName.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NStrName.errors.required">   Street Name
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="employeeid">  Landmark  <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Nominee/Legal Landmark" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <input type="text" lettersOnly maxlength="100"
                                                                class="form-control" placeholder="Enter Landmark"
                                                                formControlName="NLandmark">
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="employeeid">  Pincode <span
                                                                    class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Nominee/Legal Pincode" placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter Pincode" numbersOnly minlength="6"
                                                                maxlength="6" formControlName="NPincode"
                                                                [ngClass]="{ 'is-invalid': commusubmi && com.NPincode.errors }" />
                                                            <div *ngIf="commusubmi && com.NPincode.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="com.NPincode.errors.required">   Pincode
                                                                    is required</div>
                                                                <div *ngIf="com.NPincode.errors.minlength">   Pincode must
                                                                    be 6 numbers</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                
                                                </div>
                                            </div>
                                        </div>
                                        <!--  <input type="button" name="previous" class="previous action-button-previous"
                                                                        value="Previous" /> -->
                                        <input type="button" value="Finish" name="make_payment" class="next action-button"
                                            (click)="SaveCommDetails();" />
                                        <!-- <a href="" class="btn btn-success" data-toggle="modal"
                                                                        data-target="#verify">Verify</a> -->
                                    </form>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="verify" tabindex="-1" aria-labelledby="verifyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verifyLabel">Verify Your Mobile Number By Entering OTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" placeholder="Enter OTP">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Verify</button>
                <button type="button" class="btn btn-info">Resend OTP</button>
            </div>
        </div>
    </div>
</div>