<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Mark In - Out Location</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item"><a >Section</a>
                            </li>
                            <li class="breadcrumb-item active">Mark In - Out Location 
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
           
        </div>


        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                       
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                
                                                <!-- <agm-map [latitude]="lat" [longitude]="lng">
                                                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                                  </agm-map> -->
                                               
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->