<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Medical Reimbursement Master</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item"><a >Components</a>
                            </li>
                            <li class="breadcrumb-item active">Medical Reimbursement Master
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->
            <div class="collapse-icon accordion-icon-rotate">
                <div id="headingCollapse31" class="card-header primary" data-toggle="collapse" href="#collapse31"
                    (click)="Hospitalclick()" aria-expanded="false" aria-controls="collapse31">
                    <a class="card-title lead collapsed">Recognized Hospitals</a>
                </div>
                <div id="collapse31" role="tabpanel" aria-labelledby="headingCollapse31" class="card collapse"
                    aria-expanded="false" style="height: 0px;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 text-right ">
                                    <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                        (click)="AddHospital()"><i class="fa fa-plus"></i>Add</button>
                                    <button class="btn btn-success btn-md mb-1" (click)="Medicalhistory('Hospitalhistory')"><i
                                            class="fa fa-clock-o"></i>History</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>S.no</th>
                                            <th>Hospital ID</th>
                                            <th>District Name</th>
                                            <th>Hospital Name</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let grad of Hospitallisttypes;let indexOfelement=index;">
                                            <td>{{indexOfelement+1}}</td>
                                            <td>{{grad.hospitaL_ID}}</td>
                                            <td>{{grad.districT_NAME}}</td>
                                            <td>{{grad.hospitaL_NAME}}</td>

                                            <td>{{grad.inserteD_BY}}</td>

                                            <td>{{grad.inserteD_ON| date: 'dd-MM-yyyy'}}</td>
                                            <td *ngIf="grad.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                padding: 2px 15px;
                                                color: white;
                                                border-radius: 4px;
                                                font-size: 12px;
                                            ">Active</span></td>

                                            <td *ngIf="grad.iS_ACTIVE==0"><span style="background: #c34a4a;
                                            padding: 2px 15px;
                                            color: white;
                                            border-radius: 4px;
                                            font-size: 12px;
                                        ">In Active</span></td>

                                            <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="HospitalEdit(grad.hospitaL_ID,grad.districT_NAME,grad.hospitaL_NAME,grad.iS_ACTIVE)"><i
                                                        class="fa fa-pencil"></i> Edit </button></td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="headingCollapse50" class="card-header primary" data-toggle="collapse" href="#collapse50"
                    (click)="Diseaseclick()" aria-expanded="false" aria-controls="collapse50">
                    <a class="card-title lead collapsed">Treatment type</a>
                </div>
                <div id="collapse50" role="tabpanel" aria-labelledby="headingCollapse50" class="card collapse"
                    aria-expanded="false" style="height: 0px;">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 text-right ">
                                    <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                        (click)="AddDisease()"><i class="fa fa-plus"></i>Add</button>
                                    <button class="btn btn-success btn-md mb-1"
                                        (click)="Medicalhistory('Diseasehistory')"><i
                                            class="fa fa-clock-o"></i>History</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-dark text-white">
                                        <tr>

                                            <th>S.no</th>
                                            <th>Treatment Type id</th>
                                            <th>Treatment Type Name</th>
                                            <th>Create By</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let qpl of Treatmentlisttypes;let indexOfelement=index;">
                                            <td>{{indexOfelement+1}}</td>
                                            <td>{{qpl.treatmenT_ID}}</td>
                                            <td>{{qpl.treatmenT_NAME}}</td>
                                            <td>{{qpl.inserteD_BY}}</td>
                                            <td>{{qpl.inserteD_ON| date: 'dd-MM-yyyy'}}</td>
                                            <td *ngIf="qpl.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                padding: 2px 15px;
                                                color: white;
                                                border-radius: 4px;
                                                font-size: 12px;
                                            ">Active</span></td>

                                            <td *ngIf="qpl.iS_ACTIVE==0"><span style="background: #c34a4a;
                                            padding: 2px 15px;
                                            color: white;
                                            border-radius: 4px;
                                            font-size: 12px;
                                        ">In Active</span></td>
                                            <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="DiseaseEdit(qpl.treatmenT_ID,qpl.treatmenT_NAME,qpl.iS_ACTIVE)">
                                                    <i class="fa fa-pencil"></i> Edit </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div bsModal #addmedicalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Add {{title}} Type</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="Medicaladdform">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="PDistrict">District <span class="text-danger">*</span>
                                                <a triggers="mouseenter:mouseleave"
                                                    popover="Select District"
                                                    placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <ng-select formControlName="PDistrict"
                                                [ngClass]="{ 'is-invalid': submitted &&  f1.PDistrict.errors }"
                                                placeholder="Select District">
                                                <ng-option *ngFor="let dist of districts"
                                                    [value]="dist.districT_CODE">
                                                    {{dist.districT_NAME_ENG}}
                                                </ng-option>
                                            </ng-select>

                                            <div *ngIf="submitted && f1.PDistrict.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f1.PDistrict.errors.required"> District
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>


                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail11">Hospital Type <a
                                                triggers="mouseenter:mouseleave" popover="Hospital Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text " maxlength="50" class="form-control"
                                            formControlName="Hospitaladdtype"
                                            [ngClass]="{ 'is-invalid': submitted && f1.Hospitaladdtype.errors }">
                                        <div *ngIf="submitted && f1.Hospitaladdtype.errors" class="invalid-feedback">
                                            <div *ngIf="f1.Hospitaladdtype.errors.required">{{title}} is required</div>
                                        </div>
                                    </div>


                                    <div class="form-group ">
                                        <label for="exampleInputEmail1 ">Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="Medicaladdremarks"
                                            [ngClass]="{ 'is-invalid': submitted && f1.Medicaladdremarks.errors }">

                                        <div *ngIf="submitted && f1.Medicaladdremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f1.Medicaladdremarks.errors.required">Remarks are required
                                            </div>
                                        </div>

                                    </div>


                                    <button type="submit " class="btn btn-primary" (click)="Medicaladdclick()"><i
                                            _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Add</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div bsModal #editmedicalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Edit {{title}} Type</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideeditWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="MedicalEDITform">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">District<a
                                                triggers="mouseenter:mouseleave" popover="District"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="Districtname"
                                            readonly>
                                    </div>


                                    <div class=" form-group">
                                        <label for="exampleInputEmail1">{{title}} Id <a triggers="mouseenter:mouseleave"
                                                popover="{{title}} Id" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="HospitalEDITId"
                                            readonly>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">{{title}} Type <a
                                                triggers="mouseenter:mouseleave" popover="{{title}} Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="HospitalEDITtype"
                                            readonly>
                                    </div>

                                    <div class="form-group" >
                                        <label>Active/Inactive
                                                
                                            <a triggers="mouseenter:mouseleave" popover="Select Active/Inactive"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        
                                        </label><br>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="1" name="medactive" formControlName="medactive"
                                                    [ngClass]="{ 'is-invalid': EDITsubmitted && f.medactive.errors }">Active</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="0" name="medactive" formControlName="medactive"
                                                    [ngClass]="{ 'is-invalid': EDITsubmitted && f.medactive.errors }">Inactive
                                            </label>
                                        </div>

                                        <div *ngIf="EDITsubmitted && f.medactive.invalid" class="alert alert-danger">
                                            <div *ngIf="f.medactive.errors.required">Please Select Active/Inactive</div>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label for="exampleInputEmail1 ">Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="medEDITremarks"
                                            [ngClass]="{ 'is-invalid': EDITsubmitted && f.medEDITremarks.errors }">

                                        <div *ngIf="EDITsubmitted && f.medEDITremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.medEDITremarks.errors.required">Remarks are required
                                            </div>
                                        </div>


                                    </div>
                                    <div>
                                        <button type="submit " class="btn btn-primary" (click)="MedicalEDITclick()"><i
                                                _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




        <div bsModal #addDiseaseModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Disease</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="Diseaseaddform">

                                

                                    
                                    <div class="form-group">
                                        <label for="exampleInputEmail11">Disease Type<a
                                                triggers="mouseenter:mouseleave" popover="Hospital Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text " maxlength="50" class="form-control"
                                            formControlName="diseaseaddtype"
                                            [ngClass]="{ 'is-invalid': dissubsubmitted && dis.diseaseaddtype.errors }">
                                        <div *ngIf="dissubsubmitted && dis.diseaseaddtype.errors" class="invalid-feedback">
                                            <div *ngIf="dis.diseaseaddtype.errors.required">{{title}} is required</div>
                                        </div>
                                    </div>


                                    <div class="form-group ">
                                        <label for="exampleInputEmail1 ">Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="diseaseaddremarks"
                                            [ngClass]="{ 'is-invalid': dissubsubmitted && dis.diseaseaddremarks.errors }">

                                        <div *ngIf="dissubsubmitted && dis.diseaseaddremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="dis.diseaseaddremarks.errors.required">Remarks are required
                                            </div>
                                        </div>

                                    </div>


                                    <button type="submit " class="btn btn-primary" (click)="Diseaseaddclick()"><i
                                            _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Add</button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div bsModal #editDiseaseModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">Edit {{title}} Type</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hideeditWarehouseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="diseaseEDITform">
                                


                                    <div class=" form-group">
                                        <label for="exampleInputEmail1">{{title}} Id <a triggers="mouseenter:mouseleave"
                                                popover="{{title}} Id" placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="diseseEDITId"
                                            readonly>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">{{title}} Type <a
                                                triggers="mouseenter:mouseleave" popover="{{title}} Type"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" class="form-control" formControlName="diseseEDITtype"
                                            readonly>
                                    </div>

                                    <div class="form-group" >
                                        <label>Active/Inactive
                                                
                                            <a triggers="mouseenter:mouseleave" popover="Select Active/Inactive"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        
                                        </label><br>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="1" name="diseseactive" formControlName="diseseactive"
                                                    [ngClass]="{ 'is-invalid': discEDITsubmitted && dis1.diseseactive.errors }">Active</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="0" name="diseseactive" formControlName="diseseactive"
                                                    [ngClass]="{ 'is-invalid': discEDITsubmitted && dis1.diseseactive.errors }">Inactive
                                            </label>
                                        </div>

                                        <div *ngIf="discEDITsubmitted && dis1.diseseactive.invalid" class="alert alert-danger">
                                            <div *ngIf="dis1.diseseactive.errors.required">Please Select Active/Inactive</div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="exampleInputEmail1 ">Remarks <a
                                                triggers="mouseenter:mouseleave" popover="Enter Remarks"
                                                placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>
                                        <input type="text" maxlength="2000" class="form-control"
                                            formControlName="medEDITremarks"
                                            [ngClass]="{ 'is-invalid': discEDITsubmitted && dis1.medEDITremarks.errors }">

                                        <div *ngIf="discEDITsubmitted && dis1.medEDITremarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="dis1.medEDITremarks.errors.required">Remarks are required
                                            </div>
                                        </div>


                                    </div>
                                    <div>
                                        <button type="submit " class="btn btn-primary" (click)="DiseaseEDITclick()"><i
                                                _ngcontent-ofk-c236="" class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



         <div bsModal #historyWarehousemodal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
            role="dialog" aria-labelledby="dialog-child-name">
            <div class="modal-dialog modal-lg" style="width: auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                        <button type="button" class="close pull-right" aria-label="Close"
                            (click)="hidehistorymasterModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.no</th>
                                                <th>Column Name</th>
                                                <th>Event Code</th>
                                                <th>Old Value</th>
                                                <th>New Value</th>
                                                <th>
                                                    Event Date
                                                </th>
                                                <th>
                                                    Event By
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                                <td>{{i+1}}</td>
                                                <td>{{Mastlist.columN_NAME}}</td>
                                                <td>{{Mastlist.evenT_CODE}}</td>
                                                <td>{{Mastlist.olD_VALUE}}</td>
                                                <td>{{Mastlist.neW_VALUE}}</td>
                                                <td>{{Mastlist.loG_DATE}}</td>
                                                <td>{{Mastlist.updateD_BY}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> 

       



    </div>
</div>