<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Employee Leave Application</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>P & A Services</a>
                        </li>
                        <li class="breadcrumb-item active">Employee Leave Application
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Employee Leave Application</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div >
                                <div class="col-md-12 text-right">

                                    <button class="btn btn-outline-secondary btn-md" type="button" (click)="AddEmpencashment()">
                                        <i class="fa fa-plus-circle"></i> Encashment</button> 
                                   
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="AddEmpLeave()">
                                        <i class="fa fa-plus-circle"></i> Apply Leave</button> 
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="LeaveDetailsempModal.show()">
                                        Leave Details</button>
                                    <button class="btn btn-outline-secondary ml-1 btn-md" type="button" (click)="HistoryAll()">
                                        <i class="fa fa-plus-circle"></i> History</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"  (cellClicked)="dataclicked($event)"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Modal -->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Employee Leave Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="employeeLeaveForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                               
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="sectionname">Leave Type <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Leave Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block selectwarehouse" formControlName="LeaveType"
                                            (change)="LeaveTypeChange()"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.LeaveType.errors }">
                                            <option value="">Select Leave Type</option>
                                            <option *ngFor="let ltype of leavetypes" value="{{ltype.leaveS_TYPE}}">
                                                {{ltype.iteM_NAME}}
                                            </option>



                                            <!-- <option value="Casual">Casual</option>
                                             -->

                                        </select>
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.LeaveType.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.LeaveType.errors.required">Leave Type
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="LeaveDay">Day Type <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Day Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block selectwarehouse" formControlName="LeaveDay"
                                            (change)="DayTypeChange()"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.LeaveDay.errors }">
                                            <option value="">Select Day </option>
                                            <option value="Full Day">Full Day</option>
                                            <option value="First Half">First Half</option>
                                            <option value="Second Half">Second Half</option>
                                        </select>
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.LeaveDay.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.LeaveDay.errors.required">Day Type
                                                is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="FromDate">From Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="SelectFrom Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="YYYY-DD-MM" name="FromDate"
                                                ngbDatepicker #d="ngbDatepicker" readonly (click)="d.toggle()"
                                                formControlName="FromDate"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.FromDate.errors }"
                                                [minDate]="NgbDateStruct" [maxDate]="{year:currentyear,month:12,day:31}"
                                                (dateSelect)="FromDateChange()" />



                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.FromDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="EmpLeaveCtrl.FromDate.errors.required">From Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="ToDate">To Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select To Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control"  placeholder="YYYY-DD-MM" name="ToDate"
                                                ngbDatepicker #d2="ngbDatepicker" readonly formControlName="ToDate"
                                                (click)="d2.toggle()"
                                                [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.ToDate.errors }"
                                                [minDate]="NgbDateStruct" [maxDate]="{year:currentyear,month:12,day:31}"
                                                (dateSelect)="ToDateChange()" />

                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d2.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && EmpLeaveCtrl.ToDate.errors"
                                                class="invalid-feedback">

                                                <div *ngIf="EmpLeaveCtrl.ToDate.errors.required">To Date

                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="encbalance">Balance <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Balance"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="text" readonly="true" class="form-control"
                                            placeholder="Balance" value="0" formControlName="leavebalance"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpLeaveCtrl.leavebalance.errors }" />
                                        <div *ngIf="encconsubmitted && EmpLeaveCtrl.leavebalance.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.leavebalance.errors.required">Balance
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NoOfdays">No.of Days <a
                                            triggers="mouseenter:mouseleave"
                                            popover="No.Of Days"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="text" readonly="true" class="form-control"
                                            placeholder="No.of Days" formControlName="NoOfdays"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.NoOfdays.errors }" />
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.NoOfdays.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.NoOfdays.errors.required">No.of Days
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="RptManager">Approver <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Approver"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="hidden" formControlName="RptManagerID" />
                                        <input type="text" readonly="true" class="form-control" maxlength="100"
                                            placeholder="Reporting Manager" formControlName="RptManager"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.RptManager.errors }" />
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.RptManager.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.RptManager.errors.required">Approver
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label for="EmgNumber"> Contact Number  <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Contact Number"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span
                                                class="text-danger">*</span></label>

                                        <input type="text" class="form-control" numbersOnly maxlength="10"
                                            placeholder="Emergency Contact Number" formControlName="EmgNumber"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.EmgNumber.errors }" />
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.EmgNumber.errors"
                                            class="invalid-feedback">

                                            <div *ngIf="EmpLeaveCtrl.EmgNumber.errors.required">Contact Number
                                                is required</div>
                                            <div *ngIf="EmpLeaveCtrl.EmgNumber.errors.minlength">Contact Number
                                                Must be 10 Digits </div>
                                            <div *ngIf="EmpLeaveCtrl.EmgNumber.errors.pattern">Contact Number

                                                Starts from 6 , 7 , 8 ,9
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Reason">Reason <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Reason"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <textarea type="text"  class="form-control" maxlength="200" lettersOnly
                                            placeholder="Reason" formControlName="Reason" rows="2" cols="50"
                                            [ngClass]="{ 'is-invalid': consubmitted && EmpLeaveCtrl.Reason.errors }" ></textarea>
                                        <div *ngIf="consubmitted && EmpLeaveCtrl.Reason.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpLeaveCtrl.Reason.errors.required">Reason
                                                is required</div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row d-block text-center">
                                <button type="button" (click)="SubmitEmpLeave();" class="btn btn-primary">Apply
                                    Leave</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>


<!-- Encashment Section Modal -->
<div class="modal fade" bsModal #encashModal="bs-modal" [config]="{backdrop: 'static'}" id="encashSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="encashSectionLabel">Employee Leaves Encahment Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="encashModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="employeeencashForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                               
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="sectionname">Leave Type <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Leave Type"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block selectwarehouse" formControlName="encashLeaveType"
                                           (change)="GetBalance('encashment')" [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encashLeaveType.errors }">
                                            <option value="">Select Leave Type</option>
                                            <option *ngFor="let ltype of encleavetypes" value="{{ltype.leaveS_TYPE}}">
                                                {{ltype.iteM_NAME}}
                                            </option>
                                        </select>
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encashLeaveType.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpencashCtrl.encashLeaveType.errors.required">Leave Type
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="encbalance">Balance <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Balance" 
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="text" readonly="true" class="form-control"
                                            placeholder="Balance" value="0" formControlName="encbalance"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encbalance.errors }" />
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encbalance.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpencashCtrl.encbalance.errors.required">Balance
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="NoOfdays">No.of Days <a
                                            triggers="encNoOfdays:mouseleave"
                                            popover="No.Of Days" 
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" maxlength="4" digitsOnly
                                            placeholder="No.of Days" formControlName="encNoOfdays"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encNoOfdays.errors }" />
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encNoOfdays.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpencashCtrl.encNoOfdays.errors.required">No.of Days
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="encRptManager">Approver <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Approver"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <input type="hidden" formControlName="encRptManagerID" />
                                        <input type="text" readonly="true" class="form-control" maxlength="100"
                                            placeholder="Reporting Manager" formControlName="encRptManager"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encRptManager.errors }" />
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encRptManager.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpencashCtrl.encRptManager.errors.required">Approver
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label for="EmgNumber"> Contact Number  <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Contact Number"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span
                                                class="text-danger">*</span></label>

                                        <input type="text" class="form-control" numbersOnly maxlength="10"
                                            placeholder="Emergency Contact Number" formControlName="encEmgNumber"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encEmgNumber.errors }" />
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encEmgNumber.errors"
                                            class="invalid-feedback">

                                            <div *ngIf="EmpencashCtrl.encEmgNumber.errors.required">Contact Number
                                                is required</div>
                                            <div *ngIf="EmpencashCtrl.encEmgNumber.errors.minlength">Contact Number
                                                Must be 10 Digits </div>
                                            <div *ngIf="EmpencashCtrl.encEmgNumber.errors.pattern">Contact Number

                                                Starts from 6 , 7 , 8 ,9
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="row">
                                
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Reason">Reason <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Reason"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <textarea type="text"  class="form-control" maxlength="200" lettersOnly
                                            placeholder="Reason" formControlName="encReason" rows="2" cols="50"
                                            [ngClass]="{ 'is-invalid': encconsubmitted && EmpencashCtrl.encReason.errors }" ></textarea>
                                        <div *ngIf="encconsubmitted && EmpencashCtrl.encReason.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="EmpencashCtrl.encReason.errors.required">Reason
                                                is required</div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row d-block text-center">
                                <button type="button" (click)="SubmitEncahment();" class="btn btn-primary">Apply
                                    Encashment</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>


<!-- Leave Details -->
<div bsModal #LeaveDetailsempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Leave Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="LeaveDetailsempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Leave Type</th>
                                    <th>Carry Forward</th>
                                    <th>Leaves Credited</th>
                                    <th>Lapse</th>
                                    <th>Leaves Availed</th>
                                    <th>
                                        Leaves Pending
                                    </th>
                                    <th>
                                        Leaves Balance
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let EmpLeaveDetaile of EmpLeaveDetails;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{EmpLeaveDetaile.leavE_TYPE}}</td>
                                    <td>{{EmpLeaveDetaile.carrY_FORWARD}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_CREDITED}}</td>
                                    <td>{{EmpLeaveDetaile.lapse}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_AVAILED}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_PENDING}}</td>
                                    <td>{{EmpLeaveDetaile.leaveS_BALANCE}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="historyempModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="viewSectionLabel">Leave Form</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive"> 
                            <h4 class="text-center">A.P State Warehousing Corporation</h4>    
                            
                            <h5>Leave Application Form</h5>   <br> 
                            
                        <table class="table table-bordered">
                            <tr>
                                <th Width="50%">
                                    Name of the Applicant 
                                </th>
                                <td class="col-sm-6">{{EmpName_VIEW}} </td>                                
                            </tr>
                            <tr>
                                <th> Designation</th>
                                <td>{{Designation}}</td>
                            </tr>
                            <tr>
                                <th>Reason for Leave Application :</th>
                                <td>{{Reason_VIEW}}</td>
                            </tr>
                            <tr>
                                <th>Leave Duration (Dates) :</th>
                                <td>FromDate : {{FromDate_VIEW}} <br> To Date : {{ToDate_VIEW}}</td>
                            </tr>
                            <tr>
                                <th>No.Of Days :</th>
                                <td>{{NoOfDays_VIEW}}</td>
                            </tr>
                            <tr>
                                <th>Encashment :</th>
                                <td>{{Encashment_VIEW}}</td>
                            </tr>
                            <tr>
                                <th>Type Of Leave : <br> CL/SL/EL</th>
                                <td>{{LeaveType_View}}</td>
                            </tr>
                        </table>
                        <br><br>
                        <div class="col-md-12">
                            <label>Emplyoee Signature :</label>
                        </div>
                        <div class="col-md-12">
                            <label>Date :</label> {{currentdate | date:'yyyy-MM-dd'}}
                        </div> <br><br>
                        <div class="col-md-12">
                            <label>Approved by :</label> {{Approved_by}}
                        </div>
                        <div class="col-md-12">
                            <label>Approve's Signature :</label>
                        </div>
                        <div class="col-md-12">
                            <label>Date :</label> {{ApprovedDate_VIEW}}
                        </div>
                    </div>
                    </div>
                </div>

               
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

