<main>
    <div class="container page-border">
       <div class="row breadcum">
          <div class="col-sm-12">
             <div class="">
                <h1>Contact Us</h1>
                <p>Home /<a > contact us</a></p>
             </div>
          </div>
       </div>
       <div class="row p-md-5 p-2">
          <div class="col-sm-6">
             <h1 class="text-uppercase font-weight-bold"> APSWC</h1>
             <p>
                Stalin Corporate Building. Back Side of Auto Nagar, 2nd floor, <br> D.no. 55-17-3, C-13, Industrial Estate, Auto Nagar, Vijayawada -520 007
             </p>
             <div class="contact-numbers">
                <div style="border-right: 1px solid #dcddcb; margin-right: 13px;">
                </div>
                <div>
                   <h1><img src="./assets/web-styles/images/landline.svg" alt="phone   " srcset=""><b>Office :</b> 0866 2556244</h1>
                   <h1> <img src="./assets/web-styles/images/email.svg" alt="phone   " srcset=""><b>Email :</b> md[at]apswc[dot]com </h1>
                </div>
             </div>
          </div>
          <div class="col-sm-6">
             <div class="Contactmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.654974360139!2d80.67025071481352!3d16.492999188620423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fade6e854843%3A0x61a3544ff46e95ee!2sStalin%20Corporate!5e0!3m2!1sen!2sin!4v1614076659405!5m2!1sen!2sin"
                   width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
             </div>
          </div>
       </div>
       <div class="row p-5" style="background: #fafafa;">
          <div class="col-sm-12">
             <h3 class="text-center mb-5 pb-5 text-muted font-weight-bold">  Regional offices & Warehouse address details</h3>
          </div>
          <div class="col-sm-12">
            <div class="conact-regional-bx" >
               <div class="flex-sm-row flex-column"  *ngFor="let r of RegionalOfffices; let RowIndex = index">
                  <img src={{r.imagepath}} alt="">
                  <h2>{{r.regionalname}}</h2>
                  <p>#{{r.Address}}</p>

                   <button class="btn btn-contact" data-toggle="modal" [attr.data-target]="'#contact'+r.regionalname | lowercase" (click)="getcontactDetails(r.regionalname);">View contact details</button>

               </div>
            </div>
             <!-- <div class="conact-regional-bx">
                <div class="flex-sm-row flex-column">
                   <img src="./assets/web-styles/images/contact/Ellipse 33.png" alt="">
                   <h2>VIZIANAGARAM</h2>
                   <p># 8-30-9A, Plot No.24, Sai Nagar, Near Gayathri College, Thotapalem, Vizianagaram Dist 535001.</p>
                   <button class="btn btn-contact" data-toggle="modal" data-target="#contactvizianagaram">View contact details</button>
                </div>
                <div class="flex-sm-row flex-column">
                   <img src="./assets/web-styles/images/contact/Ellipse 37.png" alt="">
                   <h2>KAKINADA</h2>
                   <p># 67-3-3/1,MSN Junior College Lane Kakinada , Ashok Nagar, E.G. Dist.533003</p>
                   <button class="btn btn-contact" data-toggle="modal" data-target="#contactkakinada">View contact details</button>
                </div>
                <div class="flex-sm-row flex-column">
                    
                   <img src="./assets/web-styles/images/contact/Ellipse 36.png" alt="">
                   <h2>TADEPALLIGUDEM</h2>
                   <p>Plot No.7,D.No.1-56-8/4, FCI Colony, Road no.4, opp.3rd water Tank, T.P.Gudem, WG.Distt 534101</p>
                   <button class="btn btn-contact"  data-toggle="modal" data-target="#contacttadepalli">View contact details</button>
                </div>
                <div class="flex-sm-row flex-column">
                   <img src="./assets/web-styles/images/contact/Ellipse 34.png" alt="">
                   <h2>VIJAYAWADA</h2>
                   <p># 11-97/1, 5th floor, Ashok Nagar, Beside Time Hospital, Kanur, Vijayawada -520007</p>
                   <button class="btn btn-contact" data-toggle="modal" data-target="#contactvijayawada">View contact details</button>
                </div>
                <div class="flex-sm-row flex-column">
                   <img src="./assets/web-styles/images/contact/Ellipse 35.png" alt="">
                   <h2>KADAPA</h2>
                   <p># 1/292 (Upstairs ) Haritha Hotel, Near TV 9 Office ,YSR KADAPA , DIST 516021.</p>
                   <button class="btn btn-contact" data-toggle="modal" data-target="#contactkadapa">View contact details</button>
                </div>
             </div> -->
          </div>
       </div>
    </div>
 </main>


  <div id="contactvizianagaram" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
       <div class="modal-content">
          <div class="modal-body">
             <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
             <div class="table-responsive">
               <table class="table  table-bordered webtable-contactdetails step1">
                  <thead>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th class="text-center">Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whm of InvestorGodowsList; let i=index">
                    <tr  *ngIf="whm.deptName==='HeadOffice' && whm.distName==='VIZIANAGARAM'">
                       <td>{{i+1}}</td>
                       <td>{{whm.nameofWareHouse}}</td>
                       <td>{{whm.nameofWareHouseManager}}</td>
                       <td>{{whm.telePhoneNo}}</td>
                       <td>{{whm.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
             </div>

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">HIRED/AMC GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whm of InvestorGodowsList; let i=index">
                    <tr  *ngIf="(whm.deptName==='HIRED/AMC GODOWNS ' ||whm.deptName==='INVESTOR GODOWNS ') && whm.distName==='VIZIANAGARAM'">
                       <td>{{i+1}}</td>
                       <td>{{whm.nameofWareHouse}}</td>
                       <td>{{whm.capacity}}
                       <td>{{whm.nameofWareHouseManager}}</td>
                       <td>{{whm.telePhoneNo}}</td>
                       <td>{{whm.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

            
            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">Own GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whm of InvestorGodowsList; let i=index">
                     <tr  *ngIf="whm.deptName==='OWN GODOWNS' && whm.distName==='VIZIANAGARAM'">
                        <td>{{i+1}}</td>
                        <td>{{whm.nameofWareHouse}}</td>
                        <td>{{whm.capacity}}
                        <td>{{whm.nameofWareHouseManager}}</td>
                        <td>{{whm.telePhoneNo}}</td>
                        <td>{{whm.mobileNum}}</td>
                     </tr>
                   </tbody>
               </table>
            </div>
             
          </div>
       </div>
    </div>
 </div> 
 <div id="contactkakinada" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
       <div class="modal-content">
          <div class="modal-body">
             <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step1">
                  <thead>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th class="text-center">Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='HeadOffice' && whmk.distName==='KAKINADA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

             <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">HIRED/AMC GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='INVESTOR/HIRED GODOWNS' && whmk.distName==='KAKINADA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.capacity}}
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>
          </div>
       </div>
    </div>
 </div>
 <div id="contacttadepalligudem" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
       <div class="modal-content">
          <div class="modal-body">
             <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>

             <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step1">
                  <thead>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th class="text-center">Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='HeadOffice' && whmk.distName==='TADEPALLIGUDEM'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">HIRED/AMC GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='OWN GODOWNS' && whmk.distName==='TADEPALLIGUDEM'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.capacity}}
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>
            
          </div>
       </div>
    </div>
 </div>
 <div id="contactvijayawada" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
       <div class="modal-content">
          <div class="modal-body">
             <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>

             <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step1">
                  <thead>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th class="text-center">Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='HeadOffice' && whmk.distName==='VIJAYAWADA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">OWN/Hired GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="(whmk.deptName==='OWN GODOWNS' || whmk.deptName==='HIRED GODOWNS ') && whmk.distName==='VIJAYAWADA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.capacity}}
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>                
            </div>

          </div>
       </div>
    </div>
 </div>
 <div id="contactkadapa" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
       <div class="modal-content">
          <div class="modal-body">
             <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>

             <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step1">
                  <thead>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Name of the Warehouse Manager </th>
                       
                        <th>Telephone No.</th>
                        <th class="text-center">Mobile No.</th>
                        
                     </tr>
                  </thead>
                  <tbody *ngFor="let whk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whk.deptName==='Headoffice' && whk.distName==='KADAPA'">
                       <td>{{k+1}}</td>
                       <td>{{whk.nameofWareHouse}}</td>
                       <td>{{whk.nameofWareHouseManager}}</td>
                       
                       <td>{{whk.telePhoneNo}}</td>
                       <td>{{whk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step2">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">HIRED/AMC GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='HIRED' && whmk.distName==='KADAPA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.capacity}}
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

            

            <div class="table-responsive">
               <table class="table table-bordered webtable-contactdetails step3">
                  <thead>
                     <tr>
                        <td colspan="6" class="text-center table-title">OWN GODOWNS </td>
                     </tr>
                     <tr>
                        <th>Sno</th>
                        <th>Name of the Warehouse </th>
                        <th>Capacity (MTS)</th>
                        <th>Name of the Warehouse Manager </th>
                        <th>Telephone No.</th>
                        <th>Mobile No.</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let whmk of InvestorGodowsList; let k=index">
                    <tr  *ngIf="whmk.deptName==='OWN GODOWNS' && whmk.distName==='KADAPA'">
                       <td>{{k+1}}</td>
                       <td>{{whmk.nameofWareHouse}}</td>
                       <td>{{whmk.capacity}}
                       <td>{{whmk.nameofWareHouseManager}}</td>
                       <td>{{whmk.telePhoneNo}}</td>
                       <td>{{whmk.mobileNum}}</td>
                    </tr>
                  </tbody>
               </table>
            </div>

             
          </div>
       </div>
    </div>
 </div>