/* Contact us */

.Contactmap iframe {
    border-radius: 32px;
    border: 1px solid #CECECE;
}

.conact-regional-bx {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conact-regional-bx div {
    padding: 7px;
    background: #f0f4c3;
    margin: 12px;
    border-radius: 16px;
    height: 220px;
    width: 264px;
    box-shadow: 0px 0px 18px 4px #00000012;
    border: 2px dashed #9e9e9e3d;
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
   
}
.conact-regional-bx div:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.conact-regional-bx div h2 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 18px;
}

.conact-regional-bx div p {
    font-size: 13px;
    height: 60px;
}

.btn-contact {
    background: #009688;
    color: white;
    font-size: 13px;
    font-weight: 600;
    bottom: -20px;
    position: relative;
    border-radius: 33px;
}

.webtable-contactdetails.step1 tr th {
    background: #56A176;
    color: white;
    padding: 6px 15px;
    font-size: 13px;
}

.webtable-contactdetails.step1 tr td {
    background: #effff1;
    color: black;
    font-size: 12px;
    padding: 2px 15px;
}

.webtable-contactdetails.step2 tr th {
    background: #0D2B93;
    color: white;
    padding: 6px 15px;
    font-size: 13px;
}

.webtable-contactdetails.step2 tr td {
    background: #e3f2fd;
    color: black;
    padding: 2px 15px;
    font-size: 12px;
}

td.table-title {
    background: #2196f3 !important;
    font-size: 16px !important;
    border: 0px;
    font-weight: bold;
    color: white !important;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 5px !important;
}

.contact-numbers {
    background: #f9fbe7;
    padding: 25px 0px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #d4d4d4;
    border-radius: 11px;
    align-items: center;
    width: 60%;
    margin-top: 35px;
}

.contact-numbers h1 {
    font-size: 18px;
    
}

.contact-numbers img {
    width: 50px;
    padding: 11px;
    background: rgb(0 0 0 / 11%);
    border-radius: 20px;
    margin-right: 14px;
}

.conact-regional-bx img {
    position: relative;
    width: 55%;
    margin-top: -70px;
    left: 0px;
    margin-bottom: 15px
}
.table {
    width: 99.9%;
}

@media (min-width: 992px){
.modal-lg, .modal-xl {
    max-width: 1024px;
}
.conact-regional-bx div{
    min-width: 170px;
}
}
@media (min-width: 1200px){
    .conact-regional-bx div{
        min-width: 205px;
    }
}

@media (max-width: 768px){
    .conact-regional-bx div{
        min-width: 125px;
    }
    
.conact-regional-bx div h2 {
    font-size: 12px;
}

.btn-contact {
    padding: 5px 5px;
    font-size: 9px;
    bottom: -80px;
}
.contact-numbers{
    width: 100%;
}

.contact-numbers h1 {
    font-size: 15px;
    
}
}


@media (min-width: 320px) and (max-width: 576px) {
    .conact-regional-bx{
        display: block;
    }
    .conact-regional-bx div{
        margin-bottom: 6rem;
    }
    
.btn-contact {
    
    font-size: 16px;
    bottom: -10px;
}
}