<p>mdlevel-approval works!</p>
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
  </div>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
       <div class="content-header row">
          <div class="content-header-left col-md-6 col-12 mb-1">
             <!-- <h3 class="content-header-title">Page Title</h3> -->
          </div>
          <div
             class="
             content-header-right
             breadcrumbs-right breadcrumbs-top
             col-md-6 col-12
             "
             >
             <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a >Home</a></li>
                   <li class="breadcrumb-item"><a >P&A Services</a></li>
                   <li class="breadcrumb-item active">MD Level Approval</li>
                </ol>
             </div>
          </div>
       </div>
       <div class="content-body">
          <!-- card actions section start -->
          <div class="row">
             <div class="col-12">
                <div class="card">
                   <div class="card-header">
                      <h4 class="card-title">MD Level Approval</h4>
                      <a class="heading-elements-toggle"
                         ><i class="fa fa-ellipsis-v font-medium-3"></i
                         ></a>
                      <!-- <div class="heading-elements">
                         <ul class="list-inline mb-0">
                           <li>
                             <a data-action="collapse"
                               ><i class="feather icon-minus"></i
                             ></a>
                           </li>
                           <li>
                             <a data-action="reload"
                               ><i class="feather icon-rotate-cw"></i
                             ></a>
                           </li>
                           <li>
                             <a data-action="expand"
                               ><i class="feather icon-maximize"></i
                             ></a>
                           </li>
                         </ul>
                         </div> -->
                   </div>
                   <div class="card-content">
                      <div class="card-body">
                         <div class="row">
                            <!-- <div class="col-md-12 text-right mb-2">                            
                               <button type="button" class="btn btn-primary btn-md" (click)="LoanApproval()">
                               Approve Loan
                               </button>
                               <button type="button" class="btn btn-primary btn-md" (click)="RejectApproval()">
                                Reject Loan
                                </button>
                            </div> -->
                            <div class="col-md-12">
                               <div class="ag-theme-alpine">
                                  <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine"
                                  [columnDefs]="columnDefs" [floatingFilter]="true"
                                  (gridReady)="BindData($event)" [pagination]="true"
                                  [paginationPageSize]="20"
                                  (selectionChanged)="onSelectionChanged($event)"
                                  [frameworkComponents]="frameworkComponents"
                                  rowSelection="single" [components]="components">
                                  </ag-grid-angular>
                               </div>
                               <!-- (rowSelected)="onRowSelected($event)" -->
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
  <div class="modal fade" bsModal #LoanRejectModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
aria-hidden="true">
<div class="modal-dialog modal-xl w-75 mx-auto">
  <div class="modal-content">
     <div class="modal-header">
        <h3 class="modal-title font-weight-bold " id="editSectionLabel">Reason for Rejecting</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
     </div>
     <div class="modal-body px-3">
        <form  [formGroup]="officerRejectform">
           <div class="row mb-1">
              <div class="col-md-6 offset-sm-3">
                 <div class="form-group form-row align-items-center">
                    <label for="Basic" class="col-sm-3">Remarks<a
                     triggers="mouseenter:mouseleave"
                     popover="Enter Remarks"
                     placement="right">
                     <i class="fa fa-info-circle"></i>
                 </a></label>
                    <div class="col-sm-9">
                      <textarea  class="form-control" rows="3" formControlName="mdrejremarks"></textarea>                     
                    </div>
                 </div> 
              </div> 
           </div>
           <div class="row d-block text-center mb-2">
              <button type="button" class="btn btn-primary btn-md" (click)="Rejectsubmit()"><i _ngcontent-ofk-c236=""
               class="fa fa-paper-plane"></i> Submit Details</button>
           </div>
        </form>
     </div>
  </div>
</div>
</div>