
 <!-- BEGIN: Content-->
 <div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Card Actions</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a >Home</a>
              </li>
              <li class="breadcrumb-item"><a >Components</a>
              </li>
              <li class="breadcrumb-item active">Storage charges  
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-6 col-12">
        <div class="form-group"> 
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-bell"></i></button>
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-life-buoy"></i></button>
          <button class="btn-icon btn btn-secondary btn-round" type="button"><i class="feather icon-settings"></i></button>
        </div>
      </div>
    </div>


    <div class="content-body"><!-- card actions section start -->


      <div class="row">
        <div class="col-12">
      <div class="card">
        <div class="card-header">
            <h4 class="card-title text-center">Service Charges Data Entry Form</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                    <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                    <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">

              <section class="create">
               
                <form>
                  <div class="row justify-content-center">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="selecteditemname">WareHouse Name <span class="text-danger">*</span></label>
                        <select class="form-control selectsection" name="selecteditemname" [(ngModel)]="selecteditemname" >
                          <option [ngValue]="">select Items Name </option>
                          <option *ngFor="let item of Items" [ngValue]="item">
                            {{item}}
                          </option>
                        </select>
                       
                      </div>
                      <div class="form-group">
                        <label for="selectedcommodityname">Commodity Name <span class="text-danger">*</span></label>
                        <select class="form-control selectsection" name="selectedcommodityname" [(ngModel)]="selectedcommodityname" >
                          <option [ngValue]="">select Commodity Name </option>
                          <option *ngFor="let com of Commoditys" [ngValue]="com">
                            {{com}}
                          </option>
                        </select>
                       
                      </div>
                      <div class="form-group">
                        <label for="selectedpackagetypename">Package Type <span class="text-danger">*</span></label>
                        <select class="form-control selectsection" name="selectedpackagetypename" [(ngModel)]="selectedpackagetypename" >
                          <option [ngValue]="">select Package Type </option>
                          <option *ngFor="let pkt of PackageType" [ngValue]="pkt">
                            {{pkt}}
                          </option>
                        </select>
                       
                      </div>
                      <div class="form-group">
                        <label for="Weight">Weight <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="Weight" name="Weight" placeholder="Enter Weight" [(ngModel)]="Weight">
                      </div>
                     
                     
                      </div>  
                      <div class="col-6">
                        <div class="form-group">
                          <label for="stdrate">STD Rate <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="stdrate" name="stdrate" placeholder="Enter STD Rate" [(ngModel)]="stdrate">
                        </div>
                        <div class="form-group">
                          <label for="highrate1">High Rate 1 <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="highrate1" name="highrate1" placeholder="Enter High Rate1" [(ngModel)]="highrate1">
                        </div>
                        <div class="form-group">
                          <label for="highrate2">High Rate 2 <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="highrate2" name="highrate2" placeholder="Enter High Rate2" [(ngModel)]="highrate2">
                        </div>
      
                        <div class="form-group">
                          <label for="selectedinsurance">Select Insurance <span class="text-danger">*</span></label>
                          <select class="form-control selectsection" name="selectedinsurance" [(ngModel)]="selectedinsurance" >
                            <option [ngValue]="">select Insurance Type </option>
                            <option *ngFor="let ins of Insurances" [ngValue]="ins">
                              {{ins}}
                            </option>
                          </select>
                         
                        </div>
                      </div>
                  </div>
                  
                                              
                  
                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                      <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit </button>
                    </div>
                  </div>
                </form>
              </section>
              
        </div>
        </div>
    </div>
   
</div>
       
    </div>

</div>
</div>
</div>
<!-- END: Page Main-->




