<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Warehouse Layout</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item active">Warehouse Layout
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Warehouse Configuration</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <form class="form-inline" action="#">
                                    <div class="col-sm-4 offset-sm-4">
                                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter No Of Godowns" id="text">
                                        <button type="submit" class="btn btn-purple btn-md mb-2">Add Godown</button>
                                    </div>

                                </form>

                                <div class="bg-light mt-3 p-2">


                                    <div class="row">
                                        <div class="col-sm-6 offset-sm-3">

                                            <div class="row mb-1">
                                                <!-- <div class="col">
                                                    <input type="text" class="form-control" placeholder="Enter Godown name">
                                                </div> -->
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Enter No Of Compartment">
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="btn btn-primary btn-md ">Add Compartment </button>
                                                </div>

                                                <div class="col-12 mt-1 p-1" style="background: #e2e5f7;">


                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="row mb-1">
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="Enter Compartment name">
                                                                </div>
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="No of Stacks">
                                                                </div>
                                                                <div class="col-2">
                                                                    <button type="submit" class="btn btn-primary btn-md ">Add Stack </button>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-1">
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="Enter Compartment name">
                                                                </div>
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="No of Stacks">
                                                                </div>
                                                                <div class="col-2">
                                                                    <button type="submit" class="btn btn-primary btn-md ">Add Stack </button>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-1">
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="Enter Compartment name">
                                                                </div>
                                                                <div class="col-5">
                                                                    <input type="text" class="form-control" placeholder="No of Stacks">
                                                                </div>
                                                                <div class="col-2">
                                                                    <button type="submit" class="btn btn-primary btn-md ">Add Stack </button>
                                                                </div>
                                                            </div>



                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row mb-1">
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Enter Godown name">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" placeholder="Enter No Of Compartment">
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="btn btn-primary btn-md ">Add Compartment </button>
                                                </div>



                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>