<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Quality Examination</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Govt-PSU)</a>
                        </li>
                        <li class="breadcrumb-item active">Quality Examination
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Quality Examination</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong></li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong></li>
                                    <li id="commtab" class="commtab active">
                                        <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                        <strong>Dumping</strong>
                                    </li>
                                    
                                    <li id="commtab" class="commtab  active">
                                        <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                        <strong>Weighment Out</strong>
                                    </li>
                                    <li id="commtab" class="commtab active ">
                                        <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                        <strong>Gate Out Pass</strong>
                                    </li>
                                    <li id="commtab" class="commtab active ">
                                        <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                        <strong>Quantity Examination</strong>
                                    </li>
                                    <li id="commtab" class="commtab active current">
                                        <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                        <strong>Quality Examination</strong>
                                    </li>
                                    <li id="commtab" class="commtab ">
                                        <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                        <strong>Stack-In</strong>
                                    </li>
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                                                
                                            <form [formGroup]="QualtyForm">

                                                <div class="row mb-1">
                                                    <div class="col-md-12">
                                                        <div class="ag-theme-alpine">
                                                            <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                                (gridReady)="BindData($event)" [pagination]="true"
                                                                [paginationPageSize]="20"
                                                                
                                                                (selectionChanged)="onSelectionChanged($event)"
                                                                [frameworkComponents]="frameworkComponents"
                                                                rowSelection="single" [components]="components">
                                                            </ag-grid-angular>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1" > 
                                                    <h2 class="fs-title bg-light text-center"></h2>
                                                    <div class="row">


                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="Variety">Commodity Variety <span class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Commodity Variety"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <ng-select formControlName="Variety" placeholder="Select Variety " 
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Variety.errors }"
                                                                    (change)="loadgrades('GRADE')">
                                                                    <ng-option *ngFor="let c of comd_vartylist"
                                                                        value="{{c.varietY_ID}}:{{c.varietY_NAME}}">
                                                                        {{c.varietY_NAME}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.Variety.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.Variety.errors.required">
                                                                        Commodity Variety
                                                                        is required</div>
                                                                </div>
                                                        
                                                            </div>
                                                        
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="grade">Grade <span class="text-danger">*</span> <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Select Commodity Grade"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a></label>
                                                                <ng-select formControlName="grade"
                                                                 placeholder="Select Grade " 
                                                                 (change)="LoadQualtyprams()"
                                                                    [ngClass]="{ 'is-invalid': isSubmit &&  qualty.grade.errors }">
                                                                    <ng-option *ngFor="let c of gradelist"
                                                                        value="{{c.grade_id}}:{{c.grade_name}}">
                                                                        {{c.grade_name}}
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="isSubmit && qualty.grade.errors" class="invalid-feedback">
                                                                    <div *ngIf="qualty.grade.errors.required">
                                                                        Grade
                                                                        is required</div>
                                                                </div>
                                                        
                                                            </div>
                                                        
                                                        </div>

                                                        <!-- <div class="col-md-4">
                                                            <label for="goods">Goods Status <span class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Goods Status"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                            <div class="form-group row">                                                                
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" name="IsActpt_reject" (change)=isactive(); id="IsActive1"
                                                                        value="1" formControlName="IsActpt_reject" class="custom-control-input">
                                                                    <label class="custom-control-label" for="IsActive1">Accepted</label>
                                                                </div>
                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                    <input type="radio" name="IsActpt_reject" (change)=isactive(); id="IsActive2"
                                                                        value="0" formControlName="IsActpt_reject" class="custom-control-input">
                                                                    <label class="custom-control-label" for="IsActive2">Rejected</label>
                                                                </div>
                                                                <div *ngIf="isSubmit && qualty.IsActpt_reject.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="qualty.IsActpt_reject.errors.required">Goods Status is required</div>
                                                            </div>
                        
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-4" *ngIf="isactive_flag">
                                                            <div class="form-group">
                                                                <label for="reject_rmks">Remarks <span class="text-danger">*</span></label>
                                                                <input type="text" lettersOnly autocomplete="off" maxlength="100"
                                                                    formControlName="reject_rmks"
                                                                    [ngClass]="{ 'is-invalid': isSubmit && qualty.reject_rmks.errors }"
                                                                    class="form-control" placeholder="Enter Rejected Remarks">
                                                                <div *ngIf="isSubmit && qualty.reject_rmks.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="qualty.reject_rmks.errors.required">Remarks is required</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">                                                                           
                                                        <div class="col-md-12" *ngIf="istable">
                                                            <div class="card">
                                                                <h2 class="fs-title bg-light text-center">Report For {{qualty.commoditygroup.value}} Table </h2>
                                                                <div class="card-body p-1" formArrayName="Qparms">
                                                                    <table class="table table-striped table-bordered apswc-table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Sno</th>
                                                                                <th>Parameter Name</th>
                                                                                <th>Value</th>
                                                                                <th>Current Value</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let parms of QP.controls; let i=index" [formGroup]="parms">
                                                                                <td>{{i+1}}</td>
                                                                                <td>{{parms.controls.PramName.value}}</td>
                                                                                <td>{{parms.controls.pramvalue.value}}</td>
                                                                                <td>
                                                                                    <input type="text" class="form-control" style="min-width: 100px;" numbersOnly maxlength="4"
                                                                                     formControlName="pramentervalue">
                                                                                        <!-- [ngClass]="{ 'is-invalid': isSubmit && parms.controls.pramentervalue.errors }">
                                                                                    <div *ngIf="isSubmit && parms.controls.pramentervalue.errors" class="invalid-feedback">
                                                                                        <div *ngIf="parms.controls.pramentervalue.errors.required">
                                                                                            Quality Parameter
                                                                                            is required</div>
                                                                                    </div> -->
                                                                                </td>
                                                                            </tr>
        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="col-md-12 text-center">
                                                    <button  type="button" (click)="SaveQualityChecking('0');" class="btn btn-danger btn-min-width ml-1"><i class="fa fa-times-circle-o"></i>  Reject</button>
                                                    <button  type="button" (click)="SaveQualityChecking('1');" class="btn btn-success btn-min-width ml-1"><i class="fa fa-check-circle"></i> Accept</button>
                                                    <!-- <input type="button" name="next" 
                                                    (click)="SaveGateOut();"
                                                     class="btn btn-primary next action-button"
                                                        value="Save" /> -->
                                                </div>

                                                <!-- <input type="button"  name="next" (click)="SaveQualityChecking();" class="btn btn-primary next action-button"
                                                    value="Save" /> -->

                                            </form>
                                        </fieldset>       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->
