<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Service Request</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Engg. Maintenance</a>
                        </li>
                        <li class="breadcrumb-item active">Service Request
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Service Request</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <button class="btn btn-secondary btn-md ml-1" type="button" (click)="AddDeadStock()"><i
                                        class="fa fa-plus-circle"></i>
                                    Add</button>
                                <button class="btn btn-info btn-md ml-1" (click)="DSHistory();">
                                    <i class="fa fa-clock-o"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create">
                                    <form>
                                        <!-- <div class="row">


                                            <div class="col-md-12 text-right  ">

                                                <button class="btn btn-success mr-1" (click)="AddDeadStock();">
                                                    <i class="fa fa-plus-circle"></i>
                                                    Add</button>

                                                    <button class="btn btn-success mr-1" (click)="DSHistory();">
                                                      <i class="fa fa-plus-circle"></i>
                                                      History</button>
                                            </div>
                                        </div> -->
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">

                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Add Section Modal -->
<div class="modal fade" id="AddSection" bsModal #addModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSectionLabel">{{modeltitle}} Service Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="hideaddModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">

                <div class="card spr-card">
                    <div class="card-body py-0">
                        <form [formGroup]="EnggMaintenanceAddForm">

                            <div class="row">

                                <!-- <div class="col-md-3">
                        <div class="form-group">
                            <label for="Section"> Section <span class="text-danger">*</span></label>                               


                            <ng-select  formControlName="SectionName" (change)="GetCategoryDropdown($event)"
                            [ngClass]="{ 'is-invalid': submitted && subf.SectionName.errors }"
                            placeholder="Select Section">                                
                            <ng-option *ngFor="let Secdd of sectiondd"  [value]="Secdd.iteM_ID">{{Secdd.iteM_NAME}}
                            </ng-option>
                            </ng-select>


                            <div *ngIf="submitted && subf.SectionName.errors" class="invalid-feedback">

                                <div *ngIf="subf.SectionName.errors.required"> Section Name is required</div>

                            </div>
                        </div>
                    </div> 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Category">Dead Stock Category <span class="text-danger">*</span> <a
                                        triggers="mouseenter:mouseleave" popover="Select Dead Stock Category Here"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a></label>

                                <ng-select formControlName="AddCategory" (change)="GetSubCategoryDropdown()"
                                    [ngClass]="{ 'is-invalid': submitted && subf.AddCategory.errors }"
                                    placeholder="Select Category">
                                    <ng-option *ngFor="let Catdd of categorydd" [value]="Catdd.iteM_ID">
                                        {{Catdd.iteM_NAME}}
                                    </ng-option>
                                </ng-select>


                                <div *ngIf="submitted && subf.AddCategory.errors" class="invalid-feedback">

                                    <div *ngIf="subf.AddCategory.errors.required"> Category Name is required</div>

                                </div>
                            </div>
                        </div> -->


                                <div class="form-body">
                                    <h5 class="form-section"><img src="assets/web-styles/images/deadstock-2.svg"
                                            width="20">
                                        Service Request Details</h5>
                                    <div class="card bg-blue bg-lighten-5">
                                        <div class="card-body py-0">
                                            <div class="row">


                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="SubCategory">Service Request Sub Category <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Service Request Sub Category Here"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>

                                                        <ng-select formControlName="AddSubCategory"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddSubCategory.errors }"
                                                            placeholder="Select Sub Category"
                                                            (change)="Getsectionofficercode()">
                                                            <ng-option *ngFor="let SubCatdd of SubCategorydd"
                                                                [value]="SubCatdd.sub_item_id">
                                                                {{SubCatdd.sub_item_name}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="submitted && subf.AddSubCategory.errors"
                                                            class="invalid-feedback">

                                                            <div *ngIf="subf.AddSubCategory.errors.required">Service
                                                                Request Sub
                                                                Category is required</div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="ItemType">Item Type <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Item Type Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="AddItem"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddItem.errors }"
                                                            placeholder="Select Item Type">
                                                            <ng-option value="" selected>Select Item type</ng-option>
                                                            <ng-option *ngFor="let Itemdd of Itemdropdown"
                                                                [value]="Itemdd.item_id">{{Itemdd.item_name}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="submitted && subf.AddItem.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.AddItem.errors.required"> Item Type is
                                                                required</div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="NoOfUnits">No. Of Units <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter No. of Units Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" digitsOnly formControlName="AddNoOfUnits"
                                                            (change)="CalcTotAmnt($event)" autocomplete="off"
                                                            maxlength="10"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddNoOfUnits.errors}"
                                                            class="form-control" placeholder="Enter No. of units ">
                                                        <div *ngIf="submitted && subf.AddNoOfUnits.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.AddNoOfUnits.errors.required">No. of units
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="AmountperUnit">Amount / Unit <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Amount / Unit Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" digitsOnly formControlName="AddAmountperUnit"
                                                            autocomplete="off" maxlength="10"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddAmountperUnit.errors}"
                                                            (change)="CalcTotAmnt($event)" class="form-control"
                                                            placeholder="Enter No. of units ">
                                                        <div *ngIf="submitted && subf.AddAmountperUnit.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.AddAmountperUnit.errors.required">Amount
                                                                per unit is required</div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="TotalAmount">Total Amount <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Total Amount Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" digitsOnly formControlName="AddTotalAmount"
                                                            readonly autocomplete="off" maxlength="10"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddTotalAmount.errors}"
                                                            class="form-control" placeholder="Enter No. of units ">
                                                        <div *ngIf="submitted && subf.AddTotalAmount.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.AddTotalAmount.errors.required">Total
                                                                Amount is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Remarks">Remarks <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Enter Remarks Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" formControlName="AddRemarks"
                                                            autocomplete="off" alphaNumbers maxlength="200"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.AddRemarks.errors}"
                                                            class="form-control" placeholder="Enter Remarks ">
                                                        <div *ngIf="submitted && subf.AddRemarks.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.AddRemarks.errors.required">Remarks is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="form-section"><img src="assets/web-styles/images/certificates.svg"
                                            width="18">
                                        Certificates</h5>
                                    <div class="card bg-success bg-accent-1">
                                        <div class="card-body py-1">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-md-6">


                                                        <label for="pdfDoc">Upload Document <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Document Here" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="form-row">
                                                            <input type="file" formControlName="StockDOC" #file
                                                                placeholder="Upload Document" (change)="uploadFile($event)"
                                                                class="form-control col-sm-6" />
    
                                                            <div class="digi-locker-btn col-sm-6">
                                                                <b>or </b>
                                                                <button class="btn btn-primary" (click)="CallDigilock();">
                                                                    <img src="assets/web-styles/images/digi-locker.svg"
                                                                        width="30" height="30"> Fetch from DigiLocker
                                                                </button>
                                                                <a [href]="hrefdata" target="_blank"
                                                                    class="btn btn-success btn-md ml-1 text-white"
                                                                    style="padding: 8px;" *ngIf="Authstatus=='1'">
                                                                    <i aria-hidden="true" class="fa fa-eye"></i>
                                                                    {{viewbtnname}}
                                                                </a>
    
                                                                <a class="btn btn-success btn-md ml-1 text-white"
                                                                    style="padding: 8px;" *ngIf="Authstatus=='1'"
                                                                    (click)="GetDetails(uri);">
                                                                    <i aria-hidden="true" class="fa fa-eye"></i> Get Details
                                                                </a>
    
                                                            </div>
                                                        </div>
    
                                                        <div class="invalid-feedback" style="display: block !important;">
                                                            <div> * File size upto 10 MB (pdf)</div>
                                                        </div>
    
                                                        <div class="input-group-append" style="color: green;">
                                                            <span class="upload" *ngIf="progress > 0">
                                                                {{progress}}%
                                                            </span>
    
                                                            <span class="upload" *ngIf="message">
                                                                {{message}}
                                                            </span>
                                                        </div>
    
                                                        <div class="input-group-append" *ngIf="seldoctype2 == 'IMAGE'">
                                                            <img [src]="seldocpath2" (click)="Docpriview(seldocpath2)"
                                                                style="height: 100px;width: 100px;">
                                                        </div>
    
                                                        <div class="input-group-append mt-1" *ngIf="seldoctype2 == 'PDF'">
                                                            <a [href]="seldocpath2" target="_blank">View</a>
                                                        </div>
    
                                                    </div>

                                                    <div class="col-md-6" *ngFor="let img of im.controls; let i = index" >
                                                      <div class="form-group form-row align-items-center" [formGroup]="img">
                                                        <div class="col-md-8">
                                                          <div class="form-group">
                                                            <input type="hidden" formControlName="ImagePath" />
                                                            <input type="hidden" formControlName="ImageType" />
                                                            <input type="hidden" formControlName="ImagCategory" />
                                                            <input type="hidden" formControlName="ImageBase64" />
                                                            <input type="hidden" formControlName="PrevPath" />
                                                            <label for="ImagePath"
                                                              >Upload Photo
                                                              <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Upload Photo Here"
                                                                placement="right"
                                                              >
                                                                <i class="fa fa-info-circle"></i>
                                                              </a>
                                                            </label>
                                                            <input
                                                              type="file"
                                                              #file
                                                              placeholder="Upload Image"
                                                              (change)="uploadImage($event, i)"
                                                              class="form-control" formControlName="imagep"

                                                            />
                                                            <!-- <input type="file" class="form-control" [(ngModel)]="images.images"  #name="ngModel"
                                                            [ngModelOptions]="{ standalone: true }" name="value{{ i }}" [ngClass]="{ 'is-invalid': submitted && subf.ImagePath.errors }"
                                                            class="form-control" (change)="uploadImage($event, images)" placeholder="Attach Photo" />
                                                          <span>* File size upto 2 MB (jpg,png...etc)</span> -->
                                                          </div>
                                                        </div>
                                                        <div
                                                          class="col"
                                                          *ngIf="img.controls.ImageType.value == 'IMAGE'"
                                                        >
                                                          <img
                                                            [src]="img.controls.PrevPath.value"
                                                            (click)="Docpriview(img.controls.ImageBase64.value)"
                                                            style="height: 100px; width: 100px"
                                                          />
                                                        </div>
                                      
                                                        <div
                                                          class="col mt-3"
                                                          *ngIf="img.controls.ImageType.value == 'PDF'"
                                                        >
                                                          <a [href]="img.controls.PrevPath.value" target="_blank"
                                                            >View</a
                                                          >
                                                        </div>
                                                        <div class="col" *ngIf="i == 0">
                                                          <button
                                                            class="btn btn-success btn-sm mt-1"
                                                            (click)="AddImage()"
                                                          >
                                                            <i class="fa fa-plus-circle"></i>
                                                          </button>
                                                        </div>
                                                        <div class="col" *ngIf="i != 0">
                                                          <button
                                                            class="btn btn-danger btn-sm mt-1"
                                                            (click)="RemoveImage(i)"
                                                          >
                                                            <i class="fa fa-minus-circle"></i>
                                                          </button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                
                                            </div>
                                        </div>
                                    </div>

                                    <h5 class="form-section"><img src="assets/web-styles/images/bank.svg" width="18">
                                        Bank Details</h5>
                                    <div class="card bg-blue-grey bg-lighten-5">
                                        <div class="card-body py-1">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="OutName">Bank Holder Name<span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Bank holder Name" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="100" placeholder="Enter Amount"
                                                            class="form-control" formControlName="Bankholdername"
                                                            readonly />


                                                    </div>

                                                </div>



                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="OutName">Account Number<span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Treatment Amount" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="100" placeholder="Enter Amount"
                                                            class="form-control" formControlName="Accno"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.Accno.errors}"
                                                            readonly />

                                                        <div *ngIf="submitted && subf.Accno.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.Accno.errors.required">Please enter Account
                                                                Number</div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="OutName">Ifsc Code<span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Treatment Amount" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="100" placeholder="Enter Amount"
                                                            class="form-control" formControlName="Ifsccode"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.Ifsccode.errors}"
                                                            readonly />

                                                        <div *ngIf="submitted && subf.Ifsccode.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.Ifsccode.errors.required">Please enter
                                                                Ifsccode</div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="OutName">Bank Name<span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Treatment Amount" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="100" placeholder="Enter Amount"
                                                            class="form-control" formControlName="Bankname"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.Bankname.errors}"
                                                            readonly />

                                                        <div *ngIf="submitted && subf.Bankname.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.Bankname.errors.required">Please enter Bank
                                                                name</div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="OutName">Branch Name<span
                                                                class="text-danger">*</span><a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Treatment Amount" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" maxlength="100" placeholder="Enter Amount"
                                                            class="form-control" formControlName="Branchname"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.Branchname.errors}"
                                                            readonly />

                                                        <div *ngIf="submitted && subf.Branchname.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="subf.Branchname.errors.required">Please enter
                                                                Branchname</div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-body p-1 bg-red bg-lighten-5">
                                                <p class="mb-0"><strong>*NOTE: </strong>For any updation in Bank account
                                                    details please contact P&A section</p>
                                            </div>
                                        </div>




                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="checkbox" value="1" name="check" class="checkbox"
                                                    formControlName="check" (change)="Submitcchange()"
                                                    style="margin: 5px;">
                                                I hereby declare that the details furnished above are true and correct
                                                to the best of my knowledge and belief and I undertake the
                                                responsibility to inform you of any changes therein, immediately
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row d-block text-center">
                                        <button type="button" class="btn btn-warning" (click)="Previewfunction()">
                                            <i class="fa fa-eye"></i> Preview
                                        </button>
                                    </div>



                                </div>

                            </div>

                            <!-- 
                    <div class="row d-block text-center mb-2">
                        <button type="button" class="btn btn-primary"
                            (click)="Previewfunction();">Preview</button>
                    </div> -->
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div bsModal #mrPreviewModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Service Request Preview Details</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidepreviewTaxModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card spr-card">
                    <div class="card-body py-1">
                        <form class="form" [formGroup]="EmployeepreviewrequestForm">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="form-section"><img src="assets/web-styles/images/deadstock-2.svg"
                                                width="25">
                                            Service Request Details</h4>
                                        <div class="card preview-card bg-blue bg-lighten-5">
                                            <div class="card-body py-1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Service Request Sub Category </label>
                                                            <h5>{{sersubcat}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Item type
                                                            </label>
                                                            <h5>{{itemtpe}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>No of Units
                                                            </label>
                                                            <h5>{{nofunit}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Amount/Unit
                                                            </label>
                                                            <h5>{{amntprunit}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Total Amount
                                                            </label>
                                                            <h5>{{ttlamnt}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Remarks
                                                            </label>
                                                            <h5>{{remak}}</h5>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4 class="form-section"><img src="assets/web-styles/images/certificates.svg"
                                                width="25">
                                            Certificate Details</h4>
                                        <div class="card preview-card bg-success bg-accent-1">
                                            <div class="card-body py-1">
                                                <div class="row">


                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Photo
                                                            </label>
                                                            <h5><a class="btn btn-warning btn-sm"
                                                                    (click)="certificates('1')"><i
                                                                        class="fa fa-eye"></i> View</a></h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Document
                                                            </label>
                                                            <h5><a class="btn btn-warning btn-sm"
                                                                    (click)="certificates('2')"><i
                                                                        class="fa fa-eye"></i> View</a></h5>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4 class="form-section"><img src="assets/web-styles/images/bank.svg"
                                                width="25">
                                            Bank Details</h4>
                                        <div class="card preview-card bg-blue-grey bg-lighten-5">
                                            <div class="card-body py-1">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Bank Holder Name
                                                            </label>
                                                            <h5>{{bankholname}}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Account Number
                                                            </label>
                                                            <h5>{{accno}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>IFSC Code
                                                            </label>
                                                            <h5>{{ifsc}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Bank Name
                                                            </label>
                                                            <h5>{{bankname}}</h5>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Branch Name
                                                            </label>
                                                            <h5>{{bankbranch}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                        <div class="row d-block text-center">
                            <button type="button" class="btn btn-primary" (click)="Sumbitfun()"> Submit
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #apprModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidemesgModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-0 bg-blue bg-lighten-5">
                    <div class="card-body">
                        <h5>Do You wish to Continue ??</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md" (click)="OKclick()">
                    <i class="fa fa-check-circle"></i> Ok
                </button>
                <button type="button" class="btn btn-danger btn-md ml-1" (click)="Cancelclick()">
                    <i class="fa fa-times-circle"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<div bsModal #historyempModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg" style="width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                    <button type="button" class="close pull-right" aria-label="Close"
                        (click)="hidehistorymasterModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>S.no</th>
                                            <th>Request Id</th>
                                            <th>Employee Name</th>
                                            <th>
                                                Requested Date
                                            </th>
                                            <th>
                                                Approval Date
                                            </th>
                                            <th>Status</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Mastlist of historylist;let i=index;">

                                            <td>{{i+1}}</td>
                                            <td>{{Mastlist.forM_ID}}</td>
                                            <td>{{Mastlist.emP_NAME}}</td>
                                            <td>{{Mastlist.requesteD_DATE | date: 'dd-MM-yyyy'}}</td>
                                            <td>{{Mastlist.date | date: 'dd-MM-yyyy'}}</td>
                                            <td>{{Mastlist.requesT_STATUS}}</td>


                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div bsModal #DetailList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog digilocker-dialog modal-md">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-white">
                    DigiLocker
                </h5>

                <button type="button" class="close" data-dismiss="modal" (click)="hideDetailList()" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body dl-doc-body">

                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <td> {{name}}</td>
                            </tr>
                            <tr>
                                <th>
                                    DOB</th>
                                <td> {{dob}}</td>
                            </tr>
                            <tr>
                                <th>
                                    Gender</th>
                                <td> {{gender}}</td>
                            </tr>
                        </table>
                    </div>
                </div>





            </div>
        </div>
    </div>

</div>


<div bsModal #FilesList="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog digilocker-dialog modal-md">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-white">
                    DigiLocker
                </h5>
                <!-- <button type="button" class="close pull-right" aria-label="Close"
                (click)="hideFilesList()">
                <span aria-hidden="true">&times;</span>
            </button> -->
                <button type="button" class="close" data-dismiss="modal" (click)="hideFilesList()" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body dl-doc-body">
                <!-- <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="FileListForm">
                        <ul class="list">  
                            <li  *ngFor="let FDD of FilesDD"> 
                                <a class="item item-thumbnail-left" href="" (click)="ShowFiles(FDD.uri)"><h3>{{FDD.description}}</h3></a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div> -->
                <img src="assets/web-styles/images/digi-locker-logo.png" class="img-fluid w-50 mb-2">

                <ul class="nav nav-pills nav-fill mb-1 dl-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-issued-doc-tab" (click)="DocDivClick(true)"
                            data-toggle="pill" href="#pills-issued-doc" role="tab" aria-controls="pills-issued-doc"
                            aria-selected="true">Issued Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-uploaded-doc-tab" (click)="DocDivClick(false)" data-toggle="pill"
                            href="#pills-uploaded-doc" role="tab" aria-controls="pills-uploaded-doc"
                            aria-selected="false">Uploaded Documents</a>
                    </li>
                </ul>

                <div class="tab-pane fade show active" id="pills-issued-doc" role="tabpanel"
                    aria-labelledby="pills-issued-doc-tab">
                    <div class="list-group dl-doc-list" *ngIf="IssuedDocView">
                        <a class="list-group-item list-group-item-action" *ngFor="let FDD of FilesDD"
                            (click)="ShowFiles(FDD.uri,FDD.mime,1,FDD.description)">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                                <div>
                                    <h4 class="text-secondary">{{FDD.description}}</h4>
                                    <h6 class="mb-0">{{FDD.issuer}}</h6>
                                    <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-uploaded-doc" role="tabpanel"
                    aria-labelledby="pills-uploaded-doc-tab">
                    <div class="list-group dl-doc-list" *ngIf="!IssuedDocView">
                        <a class="list-group-item list-group-item-action" *ngFor="let UDD of UploadFilesDD"
                            (click)="ShowFiles(UDD.uri,UDD.mime,2,UDD.description)">
                            <div class="d-flex align-items-center">
                                <i class="fa fa-file-text-o fa-2x mr-2" aria-hidden="true"></i>
                                <div>
                                    <h4 class="text-secondary">{{UDD.description}}</h4>
                                    <h6 class="mb-0">{{UDD.issuer}}</h6>
                                    <!-- <h6>in.gov.uidai-(<b>XXXXXXXXXXXX</b>)</h6> -->
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(true)">Issued Documents</h4>
            <h4 class="text-primary" style="text-decoration: underline;" (click)="DocDivClick(false)">Uploaded Documents</h4> -->


            </div>
        </div>
    </div>

</div>

<!-- File Preview -->
<div class="modal fade" id="previewModal" bsModal #previewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">File Preview</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="previewModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img [src]="preview" width="100%" height="550px" />
                <!-- <iframe class="e2e-iframe-trusted-src" [src]="preview" width="100%" height="550px" ></iframe> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="previewModal.hide()"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<!-- <div class="modal fade" bsModal #GGHApprovalModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-xl w-75 mx-auto">
    <div class="modal-content">
       <div class="modal-header">
          <h3 class="modal-title font-weight-bold " id="editSectionLabel">Approval Details</h3>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body px-1">
          <form  [formGroup]="GGHApprovalform">
             
             <div class="card spr-card">
               <div class="card-body py-1">
                       <div class="form-body">
                           <div class="row">
                               <div class="col-md-12">
                                   <h4 class="form-section"><img src="assets/web-styles/images/emp.svg" width="25"> Application Details</h4>
                                   <div class="card hzl-preview-card bg-blue bg-lighten-5">
                                       <div class="card-body py-1">
                                           <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Code 
                                                      </label>
                                                      <h5>{{empcode}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Name 
                                                      </label>
                                                      <h5>{{empname}}</h5>
                                                </div>
                                             </div>
                        
                                         
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Hospital Name 
                                                      </label>
                                                      <h5>{{hosname}}</h5>
                                                </div>
                                             </div>
                                            
                                               <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Employee Relation 
                                                      </label>
                                                      <h5>{{emprel}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Family Member Name
                                                      </label>
                                                      <h5>{{familymemname}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>District Name	 
                                                      </label>
                                                      <h5>{{dist}}</h5>
                                                </div>
                                             </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment type 
                                                      </label>
                                                      <h5>{{treatname}}</h5>
                                                </div>
                                             </div>
                                             
                                           
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Treatment Amount
                                                      </label>
                                                      <h5>{{treatamount}}</h5>
                                                </div>
                                             </div>
                        
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Approval Type
                                                      </label>
                                                      <h5>{{treattype}}</h5>
                                                </div>
                                             </div>
                        

                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Sanctioned Amount
                                                      </label>
                                                      <h5>{{sctamount}}</h5>
                                                </div>
                                             </div>

                                             <div class="col-md-6">
                                                <div class="form-group">
                                                      <label>Uploaded by
                                                      </label>
                                                      <h5>{{uploadedby}}</h5>
                                                </div>
                                             </div>
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Status
                                                    </label>
                                                    <h5>{{deptstatus}}</h5>
                                                </div>
                                            </div>

                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="row" [hidden]="!submitbutton">
                              <div class="col-md-12">
                                  <h4 class="form-section"><i class="fa fa-files-o text-secondary mr-0" aria-hidden="true"></i> Upload Approval Details</h4>
                                  <div class="card bg-success bg-accent-1">
                                      <div class="card-body py-1">
                                          <div class="row">
                                            

                                             <div class="col-md-6">
                                                
                                                   <div class="form-group">
                                                     <label for="OutName">Sactioned Amount<span class="text-danger">*</span> <a
                                                       triggers="mouseenter:mouseleave"
                                                       popover="Enter Sanctioned Amount"
                                                       placement="right">
                                                       <i class="fa fa-info-circle"></i>
                                                   </a></label>
                                                   <input type="text" maxlength="100" placeholder="Enter Sanctioned Amount" class="form-control" digitsOnly formControlName="SactAmnt" />
                                      
                                  
                                                    
                                                   </div>
                                                  
                                                
                                             </div>

                                             <div class="col-12 col-sm-6 col-md-6 mb-2">
                                                <label for="OutName">Approval Document<span class="text-danger">*</span><a
                                                  triggers="mouseenter:mouseleave"
                                                  popover="Upload ESSENTIALITY CERTIFICATE"
                                                  placement="right">
                                                  <i class="fa fa-info-circle"></i>
                                              </a></label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                    
                                                        <input type="hidden" formControlName="ApprovalDocpath" />
                    
                                                        <input type="file"
                                                                                                        formControlName="ApprovalRegDoc" #file
                                                                                                        placeholder="Upload Receipt"
                                                                                                        (change)="ApprovaluploadFile($event)"
                                                                                                        class="form-control"
                                                                                                        id="inputGroupFile09">
                                                                                                    <label class="custom-file-label"
                                                                                                        for="inputGroupFile09">Upload
                                                                                                        Document <span
                                                                                                            class="text-danger">*</span></label>
                    
                                                    </div>
                                                   
                                                </div>
                                                <div class="input-group-append ml-2 " style="color: green;" [hidden]="!progressbar">
                                                    <span class="upload"
                                                        *ngIf="progress > 0">
                                                        {{progress}}%
                                                    </span>
                                                    <span class="upload ml-2"
                                                        *ngIf="message">
                                                        {{message}}
                                                    </span>
                                                </div>
                                                <div class="invalid-feedback" style="display: block !important;">
                                                    <div> * File size upto 2 MB</div>
                                                </div>
                                            </div>                                                                                        
                                           

                                            

                                            
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col-md-12 text-center" >
                                 <button type="button" class="btn btn-primary" (click)="SubmitApprovalDetails()">
                                    <i class="fa fa-paper-plane"></i> Submit Details
                                    </button>
                              </div>
                          </div>
                        </div>
                  </div>
               </div>
          </form>
       </div>
    </div>
  </div>
  </div> -->