<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Holiday Calendar</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Masters</a>
                        </li>
                        <li class="breadcrumb-item active">Holiday Calendar
                        </li>
                    </ol>
                </div>
            </div>
        </div>
       
      

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Holiday Calendar
                            </h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div >
                                <div class="col-md-12 text-right">


                                    <select style="width: auto;display:inline-block;margin-right: 10px;"
                                    class="custom-select block selectwarehouse btn-md" (NgModal)="Mainyear"
                                    (change)="Mainyearchange($event.target.value)">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>

                                    <button class="btn btn-outline-secondary btn-md" type="button"
                                    (click)="AddHolidayCalender()"><i class="fa fa-plus-circle"></i>
                                    Add</button> 
                                <button class="btn btn-outline-secondary ml-1 btn-md" type="button"
                                    (click)="historyholiday()"><i class="fa fa-plus-circle"></i>
                                    History</button> 
                                <button class="btn btn-outline-secondary ml-1 btn-md" type="button"
                                    (click)="AddofficeSetting()"><i class="fa fa-plus-circle"></i>
                                    Office Working Hours</button>



                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [floatingFilter]="true"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- office timings-->
<div bsModal #officeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">Office Working Hours</h4>
                <div class="pull-right">
                    <button class="btn btn-outline-secondary btn-md" type="button" (click)="Officehistory()"><i
                            class="fa fa-plus-circle"></i>
                        Office Working History</button> &nbsp; &nbsp;
                    <button type="button" class="close" aria-label="Close" (click)="officeModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <form [formGroup]="officeform">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row justify-content-center">


                                <div class="col-md-2 text-center">

                                    <label for="LeaveDay">From Time <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select From Time Hours & Minutes"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a><span class="text-danger">*</span></label>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse" formControlName="Fromhours"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.Fromhours.errors }">

                                            <option value="">Select Hours</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.Fromhours.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.Fromhours.errors.required">From Hours
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse " formControlName="FromMin"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.FromMin.errors }">

                                            <option value="">Select Minutes</option>
                                            <option value="0">00</option>

                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>

                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.FromMin.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.FromMin.errors.required">From Minutes
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse" formControlName="FromAMPM"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.FromAMPM.errors }">
                                            <option value="AM">AM</option>
                                        </select>
                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.FromAMPM.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.FromAMPM.errors.required">From AM/PM
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">

                                <div class="col-md-2 text-center">
                                    <label for="ToHours">To Time <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select To Time Hours & Minutes"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a><span class="text-danger">*</span></label>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">

                                        <select class="custom-select block selectwarehouse" formControlName="ToHours"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.ToHours.errors }">

                                            <option value="">Select Hours</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.ToHours.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.ToHours.errors.required">To Hours
                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <select class="custom-select block selectwarehouse" formControlName="ToMin"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.ToMin.errors }">
                                            <option value="">Select Minutes</option>
                                            <option value="0">00</option>

                                            <option value="05">05</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                            <option value="35">35</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                            <option value="50">50</option>
                                            <option value="55">55</option>

                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.ToMin.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.ToMin.errors.required">To Minutes
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="custom-select block" formControlName="ToAMPM"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.ToAMPM.errors }">
                                            <option value="PM">PM</option>
                                        </select>
                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.ToAMPM.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.ToAMPM.errors.required">To AM/PM
                                                is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label for="FromDay">Week Start Day <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Week Start Day"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block" formControlName="FromDay"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.FromDay.errors }">
                                            <option value="">Select Week Start Day </option>

                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Thuesday">Thuesday</option>
                                            <option value="WednesDay">WednesDay</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.FromDay.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.FromDay.errors.required">Week Start Day

                                                is required</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label for="ToDay"> Week End Day <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Week End Day"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <select class="custom-select block" formControlName="ToDay"
                                            [ngClass]="{ 'is-invalid': consubmitted_office && OfficeTimingsCtrl.ToDay.errors }">
                                            <option value="">Select Week End Day </option>

                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Thuesday">Thuesday</option>
                                            <option value="WednesDay">WednesDay</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                        </select>

                                        <div *ngIf="consubmitted_office && OfficeTimingsCtrl.ToDay.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="OfficeTimingsCtrl.ToDay.errors.required">Week End Day

                                                is required</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row d-block text-center">

                                <button type="button" *ngIf="!IsOfficeSettingAdd" (click)="SubmitofficeTimings();"
                                    class="btn btn-primary">Save Office Hours</button>
                                <button type="button" *ngIf="IsOfficeSettingAdd" (click)="UpdateOfficeTimings();"
                                    class="btn btn-primary">Update Office Hours</button>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>






<!-- Modal -->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} Holiday Calendar</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="Holidaycalenderform">
                    <div class="card-content">
                        <div class="card-body">


                            <div class="row">

                                <div class="col-md-6">
                                    <label for="HolidayName">Holiday Name <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Holiday Name"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a><span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Holiday Name" lettersOnly
                                        formControlName="HolidayName" maxlength="100"
                                        [ngClass]="{ 'is-invalid': consubmitted && holidaycalenderCtrl.HolidayName.errors }" />
                                    <div *ngIf="consubmitted && holidaycalenderCtrl.HolidayName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="holidaycalenderCtrl.HolidayName.errors.required">Holiday Name
                                            is required</div>

                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dob">From Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select From Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="DD-MM-YYYY" name="FromDate"
                                                ngbDatepicker #d="ngbDatepicker" readonly (click)="d.toggle()"
                                                formControlName="FromDate" [minDate]="NgbDateStruct"
                                                [maxDate]="{year:currentyear,month:12,day:31}"
                                                [ngClass]="{ 'is-invalid': consubmitted && holidaycalenderCtrl.FromDate.errors }" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && holidaycalenderCtrl.FromDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="holidaycalenderCtrl.FromDate.errors.required">Holiday
                                                    From Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="doj">To Date <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Select To Date"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="DD-MM-YYYY" name="ToDate"
                                                ngbDatepicker #d2="ngbDatepicker" readonly formControlName="ToDate"
                                                (click)="d2.toggle()"
                                                [ngClass]="{ 'is-invalid': consubmitted && holidaycalenderCtrl.ToDate.errors }"
                                                [minDate]="NgbDateStruct"
                                                [maxDate]="{year:currentyear,month:12,day:31}" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" type="button"
                                                    (click)="d2.toggle()" type="button"><i
                                                        class="ficon feather icon-calendar"></i></button>
                                            </div>
                                            <div *ngIf="consubmitted && holidaycalenderCtrl.ToDate.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="holidaycalenderCtrl.ToDate.errors.required">Holiday To Date
                                                    is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="Regular" value="R" name="holidaytype" formControlName="holidaytype">
                                        <label for="Regular">Public Holiday</label>

                                        <input type="radio" class="form-radio-input" style="margin: 5px;" class="radio"
                                            id="Optional" value="O" name="holidaytype" formControlName="holidaytype">
                                        <label for="Optional">Optional Holiday</label>

                                      
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div *ngIf="isEdit">
                                            <div class="form-group">
                                                <input type="radio" class="form-radio-input" style="margin: 5px;"
                                                    class="radio" id="active" value="1" name="status"
                                                    formControlName="status">
                                                <label for="active">Active</label>

                                                <input type="radio" class="form-radio-input" style="margin: 5px;"
                                                    class="radio" id="inactive" value="0" name="status"
                                                    formControlName="status">
                                                <label for="inactive">In Active</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Remarks">Remarks <a
                                            triggers="mouseenter:mouseleave"
                                            popover="Enter Remarks"
                                            placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a><span class="text-danger">*</span></label>
                                        <textarea type="text" rows="2" class="form-control" maxlength="400" lettersOnly
                                            placeholder="Enter Remarks" formControlName="Remarks"
                                            [ngClass]="{ 'is-invalid': consubmitted && holidaycalenderCtrl.Remarks.errors }" ></textarea>
                                        <div *ngIf="consubmitted && holidaycalenderCtrl.Remarks.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="holidaycalenderCtrl.Remarks.errors.required">Remarks
                                                is required</div>

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row d-block text-center">
                                <button type="button" *ngIf="!isEdit" (click)="SubmitHolidayMaster();"
                                    class="btn btn-primary">Save Holiday Calendar</button>
                                <button type="button" *ngIf="isEdit" (click)="UpdateHolidayMaster();"
                                    class="btn btn-primary">Update Holiday Calendar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div bsModal #historyempModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left">History</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hidehistoryempModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Column Name</th>
                                    <th>Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>
                                        Event Date
                                    </th>
                                    <th>
                                        Event By
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let Mastlist of MasterHistlist;let i=index;">

                                    <td>{{i+1}}</td>
                                    <td>{{Mastlist.columN_NAME}}</td>
                                    <td>{{Mastlist.evenT_CODE}}</td>
                                    <td>{{Mastlist.olD_VALUE}}</td>
                                    <td>{{Mastlist.neW_VALUE}}</td>
                                    <td>{{Mastlist.loG_DATE}}</td>
                                    <td>{{Mastlist.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- View Details Modal -->
<div class="modal fade" id="viewSection" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Holiday Calendar</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Holiday ID</th>
                                    <td> {{HolidayID_VIEW}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Year</th>
                                    <td> {{holidayyear}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        From Date</th>
                                    <td> {{FromDate}}</td>
                                </tr>
                                <tr>
                                    <th>To Date</th>
                                    <td> {{ToDate}}</td>

                                </tr>
                                <tr>
                                    <th>No.Of Days</th>
                                    <td>{{NoofDays}}</td>
                                </tr>
                                <tr>
                                    <th>Holiday Type</th>
                                    <td> {{Regular}}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td> {{status}}</td>
                                </tr>
                                <tr>
                                    <th>Remarks</th>
                                    <td>{{Remarks}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="viewModal.hide()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>