<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Warehouse And H&T Contractor Mapping</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Registrations</a>
                        </li>
                        <li class="breadcrumb-item active">Warehouse And H&T Contractor Mapping
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Warehouse And H&T Contractor Mapping</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div>
                                <!-- <button class="btn btn-secondary btn-md ml-1" type="button" (click)="AddHT()"><i
                                        class="fa fa-plus-circle"></i>
                                    Add</button> -->
                                <button class="btn btn-info btn-md ml-1" (click)="HistoryHT('all');">
                                    <i class="fa fa-clock-o"></i>
                                    History</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20" (cellClicked)="dataclicked($event)"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">{{modeltitle}} Warehouse And H&T Contract Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="HTMappingForm">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form-body">
                                <input type="hidden" formControlName="WHCode" />
                                <h4 class="form-section"><img src="assets/web-styles/images/commodity.svg" width="25">
                                    H&T Contractor Details</h4>

                                <div class="card bg-blue bg-lighten-5">
                                    <div class="card-body py-1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="HTComName">H&T Company Name<span class="text-danger"> *
                                                        </span> <a triggers="mouseenter:mouseleave"
                                                            popover="Enter H&T Company Name" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <ng-select formControlName="HTComName"
                                                        placeholder="Select H&T Company Name"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  reg.HTComName.errors }">
                                                        <ng-option *ngFor="let c of htlist"
                                                            value="{{c.hT_REGISTRATION_ID}}:{{c.companY_NAME}}">
                                                            {{c.companY_NAME}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="isSubmit && reg.HTComName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="reg.HTComName.errors.required">H&T Company Name
                                                            is required</div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="StartDate">Agreement Start Date <span
                                                            class="text-danger">*</span>
                                                        <a triggers="mouseenter:mouseleave"
                                                            popover="Enter Agreement  Start Date" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <div class="input-group">
                                                        <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                            name="StartDate" ngbDatepicker #d1="ngbDatepicker" readonly
                                                            formControlName="StartDate" (click)="d1.toggle()"
                                                            [ngClass]="{ 'is-invalid': isSubmit && reg.StartDate.errors }" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar"
                                                                type="button" (click)="d1.toggle()" type="button"><i
                                                                    class="ficon feather icon-calendar"></i></button>
                                                        </div>
                                                        <div *ngIf="isSubmit && reg.StartDate.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.StartDate.errors.required">Agreement Start
                                                                Date
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="EndDate">Agreement End Date <span
                                                            class="text-danger">*</span> <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Agreement  End Date" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <div class="input-group">
                                                        <input class="form-control" type="date" placeholder="DD-MM-YYYY"
                                                            name="EndDate" ngbDatepicker #d2="ngbDatepicker" readonly
                                                            formControlName="EndDate" (click)="d2.toggle()"
                                                            [ngClass]="{ 'is-invalid': isSubmit && reg.EndDate.errors }" />
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar"
                                                                type="button" (click)="d2.toggle()" type="button"><i
                                                                    class="ficon feather icon-calendar"></i></button>
                                                        </div>
                                                        <div *ngIf="isSubmit && reg.EndDate.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="reg.EndDate.errors.required">Agreement End Date
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><img src="assets/web-styles/images/commodity.svg" width="25">
                                    Hamalies Services Details</h4>

                                <div class="card bg-success bg-accent-1">
                                    <div class="card-body py-1" *ngFor="let hm of h.controls; let i = index"
                                        [formGroup]="hm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="HTComName">Service Name<span class="text-danger"> *
                                                        </span> <a triggers="mouseenter:mouseleave"
                                                            popover="Enter Service Name" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <ng-select formControlName="ServiceName"
                                                        placeholder="Select Service Name"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  hm.controls.ServiceName.errors }">
                                                        <ng-option *ngFor="let c of hmlist"
                                                            value="{{c.servicE_ID}}:{{c.hamalieS_TRANSPORT}}:{{c.servicE_TYPE}}">
                                                            {{c.servicE_NAME}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="isSubmit && hm.controls.ServiceName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="hm.controls.ServiceName.errors.required">Service
                                                            Name
                                                            is required</div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="HMPrice">Per Bag/Box/Any Item Price(Rs) <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Per Bag/Box/Any Item Price(Rs)"
                                                            placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <input type="text" class="form-control" style="min-width: 100px;"
                                                        placeholder="Enter Price(Rs)" digitsOnly maxlength="15"
                                                        formControlName="HMPrice"
                                                        [ngClass]="{ 'is-invalid': isSubmit && hm.controls.HMPrice.errors }">
                                                    <div *ngIf="isSubmit && hm.controls.HMPrice.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="hm.controls.HMPrice.errors.required">
                                                            Per Bag/Box/Any Item Price(Rs) is required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="HMUptoKg">Upto Kg <a triggers="mouseenter:mouseleave"
                                                            popover="Enter Upto Kg" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <input type="text" class="form-control" style="min-width: 100px;"
                                                        placeholder="Enter Upto Kg" numbersOnly maxlength="15"
                                                        formControlName="HMUptoKg"
                                                        [ngClass]="{ 'is-invalid': isSubmit && hm.controls.HMUptoKg.errors }">
                                                    <div *ngIf="isSubmit && hm.controls.HMUptoKg.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="hm.controls.HMUptoKg.errors.required">
                                                            Upto Kg is required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1" *ngIf="i==0">
                                                <button class="btn btn-success btn-sm" style="margin-top: 30px;"
                                                    (click)="AddHmService()"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                            <div class="col-md-1" *ngIf="i!=0">
                                                <button class="btn btn-danger btn-sm" style="margin-top: 30px;"
                                                    (click)="RemoveHmService(i)"><i
                                                        class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><img src="assets/web-styles/images/reserv.svg" width="25">
                                    Tranport Services Details</h4>

                                <div class="card bg-blue-grey bg-lighten-5">
                                    <div class="card-body py-1" *ngFor="let ts of t.controls; let i = index"
                                        [formGroup]="ts">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="TrasportName">Service Name<span class="text-danger"> *
                                                        </span> <a triggers="mouseenter:mouseleave"
                                                            popover="Enter Service Name" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <ng-select formControlName="TrasportName"
                                                        placeholder="Select Service Name"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  ts.controls.TrasportName.errors }">
                                                        <ng-option *ngFor="let c of tslist"
                                                            value="{{c.servicE_ID}}:{{c.hamalieS_TRANSPORT}}:{{c.servicE_TYPE}}">
                                                            {{c.servicE_NAME}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <div *ngIf="isSubmit && ts.controls.TrasportName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="ts.controls.TrasportName.errors.required">Service
                                                            Name
                                                            is required</div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="TransportPrice">Price per Ton(Rs) <a
                                                            triggers="mouseenter:mouseleave"
                                                            popover="Enter Price per Ton(Rs)" placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a></label>
                                                    <input type="text" class="form-control" style="min-width: 100px;"
                                                        placeholder="Enter Price per Ton(Rs)" digitsOnly maxlength="15"
                                                        formControlName="TransportPrice"
                                                        [ngClass]="{ 'is-invalid': isSubmit && ts.controls.TransportPrice.errors }">
                                                    <div *ngIf="isSubmit && ts.controls.TransportPrice.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="ts.controls.TransportPrice.errors.required">
                                                            Price(Rs) is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1" *ngIf="i==0">
                                                <button class="btn btn-success btn-sm " style="margin-top: 30px;"
                                                    (click)="AddTSService()"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                            <div class="col-md-1" *ngIf="i!=0">
                                                <button class="btn btn-danger btn-sm " style="margin-top: 30px;"
                                                    (click)="RemoveTSService(i)"><i
                                                        class="fa fa-minus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row d-block text-center mb-2">
                            <button type="button" (click)="SubmitHTDetails();"
                                class="btn btn-primary btn-min-width ml-1"><i class="fa fa-paper-plane"></i> Submit
                                Details</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- End Edit Modal -->

<div class="modal fade" id="historySection" bsModal #historyModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" aria-labelledby="historySectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historySectionLabel">Warehouse And H&T Contractors Mapping History</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="historyModal.hide()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Column Name</th>
                                    <th *ngIf="isEdit">Event Code</th>
                                    <th>Old Value</th>
                                    <th>New Value</th>
                                    <th>Event Date</th>
                                    <th>Event By</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hsty of wh_history;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{hsty.columN_NAME}}</td>
                                    <td *ngIf="isEdit">{{hsty.evenT_CODE}}</td>
                                    <td *ngIf="hsty.columN_NAME=='AGREMENT_DOCUMENT'"><a href="{{hsty.olD_VALUE}}"
                                            (click)="viewPDF(hsty.olD_VALUE)" data-toggle="modal">View</a></td>

                                    <td *ngIf="hsty.columN_NAME!='AGREMENT_DOCUMENT'">
                                        {{hsty.olD_VALUE}} </td>

                                    <td *ngIf="hsty.columN_NAME=='AGREMENT_DOCUMENT'"><a href="{{hsty.neW_VALUE}}"
                                            (click)="viewPDF(hsty.neW_VALUE)" data-toggle="modal">View</a></td>

                                    <td *ngIf="hsty.columN_NAME!='AGREMENT_DOCUMENT'">
                                        {{hsty.neW_VALUE}} </td>
                                    <td>{{hsty.loG_DATE | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{hsty.updateD_BY}}</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="historyModal.hide()"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- View Details Modal -->
<div class="modal fade" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" id="viewSection" tabindex="-1"
    aria-labelledby="viewSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewSectionLabel">View Warehouse And H&T Contractor Mapping Details</h5>
                <!-- <button type="button" class="btn btn-success" printTitle="Employee Details" [useExistingCss]="true" printSectionId="print-section" ngxPrint >
                    Print
                </button> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="viewModal.hide();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="print-section">

                <h4 class="bg-light font-weight-bold text-primary mb-2">H&T Contractor Details</h4>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeeid" class="font-weight-bold col-md-6">H&T Company Name <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vcomname}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="sectionname" class="font-weight-bold col-md-6">Start Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{vstartdate | date: 'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="employeename" class="font-weight-bold col-md-6">End Date <span
                                    class="text-darken-2">:</span></label>
                            <div class="col-md-6">
                                {{venddate| date: 'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>

                </div>

                <h4 class="bg-light font-weight-bold text-primary mb-2">Hamalies Services Details</h4>

                <div class="row">
                    <div class="col-sm-12 p-1">
                        <table id="example" class="table table-striped table-bordered webtable-data">
                            <thead>
                                <tr>
                                    <th>SNO</th>
                                    <th>Service Name</th>
                                    <th>Price(Rs)</th>
                                    <th>Upto Kg</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let m of vhamalies; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{m.servicE_NAME}}</td>
                                    <td>{{m.hT_PRICE}}</td>
                                    <td>{{m.hT_UPTO_KG}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <h4 class="bg-light font-weight-bold text-primary mb-2">Trasport Services Details</h4>

                <div class="row">
                    <div class="col-sm-12 p-1">
                        <table id="example" class="table table-striped table-bordered webtable-data">
                            <thead>
                                <tr>
                                    <th>SNO</th>
                                    <th>Service Name</th>
                                    <th>Price per Ton(Rs)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let m of vtransports; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{m.servicE_NAME}}</td>
                                    <td>{{m.hT_PRICE}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="viewModal.hide();"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>