#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 60vh;

}
.ag-theme-alpine .ag-cell-value, .ag-group-value {
    overflow: hidden;
    text-overflow: unset !important;
}

.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.upload {
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}
.table thead th, .table thead td{
white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
        
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    vertical-align: middle;
}

    /* img:hover {
        transform: scale(1.3);
        } */
 

.zoom:hover {
  transform: scale(0.5); /* (150% zoom)*/
}


#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 100%;
    /* margin: 0 3% 20px 3%; */
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

