#viewSection .form-group label span{
    text-align: right;
    float: right;
}
.accordion .card-header, .default-collapse .card-header, a:hover {
    cursor: pointer;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ag-floating-filter-button {
    display: none;
}


.upload {
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 80vh;
}

.ng-autocomplete {
    width: 100% !important;
}