<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Space Request\Reservation</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse Management</a>
                        </li>
                        <li class="breadcrumb-item active">Space Request\Reservation
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Space Request\Reservation</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>


                            <div>
                                <!-- <button class="btn btn-secondary btn-md ml-1" type="button" (click)="AddSpace()"><i
                                        class="fa fa-plus-circle"></i>
                                    Space Request\Reservation</button> -->
                                <!-- <button class="btn btn-info btn-md ml-1" (click)="HistoryAllEmployees();">
                                    <i class="fa fa-clock-o"></i>
                                    History</button> -->
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12 text-right">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" (gridReady)="BindData($event)"
                                                        [pagination]="true" [paginationPageSize]="20"
                                                        [defaultColDef]="defaultColDef"
                                                        [frameworkComponents]="frameworkComponents"                                                        
                                                        rowSelection="single"
                                                        [components]="components">
                                                    </ag-grid-angular>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->


<!-- Space Request\Reservation Modal -->
<div class="modal fade" id="AddSection" bsModal #AddSection="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="AddectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content shadow-lg">
            <div class="modal-header align-items-center">
                <h4 class="modal-title font-weight-bold">
                    <img src="assets/web-styles/images/space-reserve.svg" width="34"
                        style="border: 1px solid; border-radius: 50%;">
                    {{RUserName}} ({{RUserTypeName}}) - Space Request\Reservation
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="AddSection.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-1">
                <form [formGroup]="SpaceReservForm">
                    <div *ngFor="let fam of f.controls; let i = index" [formGroup]="fam">
                        <div class="card spr-card">
                            <div class="card-body">

                                <div class="form-body">
                                    <h4 class="form-section"><img src="assets/web-styles/images/commodity.svg"
                                            width="25">
                                        Commodity Details</h4>
                                    <div class="card bg-blue bg-lighten-5">
                                        <div class="card-body py-1">
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="commoditygroup">Commodity Group <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Commodity Group" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="commoditygroup"
                                                            placeholder="Select Commodity Group"
                                                            (change)="LoadCommodity(i)"
                                                            [ngClass]="{ 'is-invalid': reservsubmi &&  fam.controls.commoditygroup.errors }">
                                                            <ng-option *ngFor="let c of Commoditygrouplist"
                                                                value="{{c.storagE_TYPE_CODE}}:{{c.storagE_TYPE}}">
                                                                {{c.storagE_TYPE}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="reservsubmi && fam.controls.commoditygroup.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.commoditygroup.errors.required">
                                                                Commodity Group is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="sectionname">Commodity Name <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Commodity Name" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="commodity"
                                                            placeholder="Select Commodity Name" (change)="LoadRebate(i)"
                                                            [ngClass]="{ 'is-invalid': reservsubmi &&  fam.controls.commodity.errors }">
                                                            <ng-option *ngFor="let c of Commoditylist"
                                                                value="{{c.reC_ID}}:{{c.commoditY_CODE}}:{{c.commoditY_NAME}}:{{c.packagE_TYPE}}:{{c.neT_WEIGHT}}">
                                                                {{c.commodity}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="reservsubmi && fam.controls.commodity.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.commodity.errors.required">
                                                                Commodity
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="startdate">Reservation Start Date <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Reservation Start Date"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <div class="input-group">
                                                            <input class="form-control" type="date"
                                                                placeholder="YYYY-MM-DD" name="startdate" ngbDatepicker
                                                                #d="ngbDatepicker" (dateSelect)="LoadCommodity_Rate(i)"
                                                                readonly (click)="d.toggle()"
                                                                formControlName="startdate"
                                                                [ngClass]="{ 'is-invalid': reservsubmi && fam.controls.startdate.errors }" />
                                                            <!-- [maxDate]="NgbDateStruct"  -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary calendar"
                                                                    type="button" (click)="d.toggle()" type="button"><i
                                                                        class="ficon feather icon-calendar"></i></button>
                                                            </div>
                                                            <div *ngIf="reservsubmi && fam.controls.startdate.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="fam.controls.startdate.errors.required">
                                                                    Reservation Start Date
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="sectionname">Reservation End Date <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Reservation End Date" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <div class="input-group">
                                                            <input class="form-control" type="date"
                                                                placeholder="YYYY-MM-DD" name="enddate" ngbDatepicker
                                                                #d1="ngbDatepicker" readonly (click)="d1.toggle()"
                                                                formControlName="enddate"
                                                                [ngClass]="{ 'is-invalid': reservsubmi && fam.controls.enddate.errors }" />
                                                            <!-- [minDate]="NgbDateStruct" -->
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary calendar"
                                                                    type="button" (click)="d1.toggle()" type="button"><i
                                                                        class="ficon feather icon-calendar"></i></button>
                                                            </div>
                                                            <div *ngIf="reservsubmi && fam.controls.enddate.errors"
                                                                class="invalid-feedback">
                                                                <div *ngIf="fam.controls.enddate.errors.required">
                                                                    Reservation End Date
                                                                    is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="SPrice">Invoice Mode <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Invoice Mode" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="InvoiceMode"
                                                            placeholder="Select Invoice Mode"
                                                            (change)="ChnageInvMode(i)"
                                                            [ngClass]="{ 'is-invalid': reservsubmi &&  fam.controls.InvoiceMode.errors }">
                                                            <ng-option *ngFor="let c of invModelist"
                                                                value="{{c.iteM_ID}}:{{c.iteM_NAME}}">
                                                                {{c.iteM_NAME}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="reservsubmi && fam.controls.InvoiceMode.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.InvoiceMode.errors.required">
                                                                Invoice Mode is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="SPrice">Rate <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave" popover="Select Price"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="SPrice" placeholder="Select Price"
                                                            [ngClass]="{ 'is-invalid': reservsubmi &&  fam.controls.SPrice.errors }">
                                                            <ng-option *ngFor="let c of Commodityrate_list"
                                                                value="{{c.ratE_TYPE}}:{{c.rate}}"> {{c.ratE_TEXT}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="reservsubmi && fam.controls.SPrice.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.SPrice.errors.required"> Rate
                                                                is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="form-section"><img src="assets/web-styles/images/invoice.svg" width="25">
                                        Invoice Details</h4>
                                    <div class="card bg-success bg-accent-1">
                                        <div class="card-body py-1">
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Insurance Collected <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="isinsurance"
                                                                    value="1" class="custom-control-input"
                                                                    id="isinsurance1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isinsurance1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="isinsurance"
                                                                    value="0" class="custom-control-input"
                                                                    id="isinsurance2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isinsurance2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.isinsurance.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.isinsurance.errors.required">
                                                                Insurance Collected is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.isinsurance.value == '1'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Insurance % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Insurance %" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" maxlength="12"
                                                            placeholder="Enter Insurance %" digitsOnly
                                                            formControlName="InsuranceCollection" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Tax Applicable <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="istax" value="1"
                                                                    class="custom-control-input" id="istax1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="istax1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="istax" value="0"
                                                                    class="custom-control-input" id="istax2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="istax2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.istax.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.istax.errors.required"> Tax
                                                                Applicable is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.istax.value == '1'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Tax % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter CGST & SGST %" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" digitsOnly formControlName="CGST"
                                                                    autocomplete="off" class="form-control"
                                                                    maxlength="10" placeholder="CGST">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" maxlength="10" digitsOnly
                                                                    formControlName="SGST" autocomplete="off"
                                                                    class="form-control" placeholder="SGST">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Rebate Applicable <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="isrebate" value="1"
                                                                    class="custom-control-input" id="isrebate1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isrebate1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="isrebate" value="0"
                                                                    class="custom-control-input" id="isrebate2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isrebate2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.isrebate.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.isrebate.errors.required">
                                                                Rebate Applicable is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-2" *ngIf="fam.controls.isrebate.value == '1'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Rebate % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Rebate %" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="Rebate" placeholder="Select Rebate">
                                                            <ng-option *ngFor="let c of rebatelist"
                                                                value="{{c.rebates}}"> {{c.rebates}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Over & Above Exemption Applicable <span
                                                                class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="isexamption"
                                                                    value="1" class="custom-control-input"
                                                                    id="isexamption1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isexamption1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="isexamption"
                                                                    value="0" class="custom-control-input"
                                                                    id="isexamption2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isexamption2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.isexamption.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.isexamption.errors.required">
                                                                Over & Above Exemption is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.isexamption.value == '1'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Over & Above Exemption % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Over & Above Exemption %"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" maxlength="12"
                                                            placeholder="Enter Over & Above Exemption %" digitsOnly
                                                            formControlName="OverAboveExamption" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Resposible for Quality <span class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="isquality"
                                                                    value="1" class="custom-control-input"
                                                                    id="isquality1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isquality1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="isquality"
                                                                    value="0" class="custom-control-input"
                                                                    id="isquality2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isquality2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.isquality.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.isquality.errors.required">
                                                                Resposible for Quality is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Supervision Charges Applicable <span
                                                                class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="issupervision"
                                                                    value="1" class="custom-control-input"
                                                                    id="issupervision1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="issupervision1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="issupervision"
                                                                    value="0" class="custom-control-input"
                                                                    id="issupervision2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="issupervision2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.issupervision.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.issupervision.errors.required">
                                                                Supervision Charges Applicable is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.issupervision.value == '1'">
                                                    <div class="form-group">
                                                        <label for="SupervisionCharges">Supervision Charges % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Supervision Charges %"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" maxlength="12"
                                                            placeholder="Enter Supervision Charges %" digitsOnly
                                                            formControlName="SupervisionCharges" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Seperate Insurance Invoice <span
                                                                class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="issepinsinvoice"
                                                                    value="1" class="custom-control-input"
                                                                    id="issepinsinvoice1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="issepinsinvoice1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="issepinsinvoice"
                                                                    value="0" class="custom-control-input"
                                                                    id="issepinsinvoice2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="issepinsinvoice2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.issepinsinvoice.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.issepinsinvoice.errors.required">
                                                                Seperate Insurance Invoice is Required
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Storage Loss Applicable <span
                                                                class="text-danger">*</span>
                                                            <a triggers="mouseenter:mouseleave"
                                                                popover="Select Yes or No" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div class="input-group">
                                                            <div
                                                                class="d-inline-block custom-control custom-radio mr-1">
                                                                <input type="radio" formControlName="isstorageloss"
                                                                    value="1" class="custom-control-input"
                                                                    id="isstorageloss1_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isstorageloss1_{{i}}">Yes</label>
                                                            </div>
                                                            <div class="d-inline-block custom-control custom-radio">
                                                                <input type="radio" formControlName="isstorageloss"
                                                                    value="0" class="custom-control-input"
                                                                    id="isstorageloss2_{{i}}">
                                                                <label class="custom-control-label"
                                                                    for="isstorageloss2_{{i}}">No</label>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="reservsubmi && fam.controls.isstorageloss.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.isstorageloss.errors.required">
                                                                Storage Loss Applicable is
                                                                required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.isstorageloss.value == '1'">
                                                    <div class="form-group">
                                                        <label for="NoOfDays">No Of Days <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter No Of Days"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" maxlength="12"
                                                            placeholder="Enter No Of Days" numbersOnly
                                                            formControlName="NoOfDays" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf="fam.controls.isstorageloss.value == '1'">
                                                    <div class="form-group">
                                                        <label for="AcceptableLoss">Acceptable Loss % <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Acceptable Loss %"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            style="min-width: 100px;" maxlength="12"
                                                            placeholder="Enter Acceptable Loss %" digitsOnly
                                                            formControlName="AcceptableLoss" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="form-section"><img src="assets/web-styles/images/reserv.svg" width="25">
                                        Reservation Details</h4>
                                    <div class="card bg-blue-grey bg-lighten-5">
                                        <div class="card-body py-1">
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="storagetype">Storage Type <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Select Storage Type" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <ng-select formControlName="storagetype"
                                                            placeholder="Select Storage Type"
                                                            [ngClass]="{ 'is-invalid': reservsubmi &&  fam.controls.storagetype.errors }">
                                                            <ng-option *ngFor="let c of contractlist"
                                                                value="{{c.iteM_ID}}:{{c.iteM_NAME}}"> {{c.iteM_NAME}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <div *ngIf="reservsubmi && fam.controls.storagetype.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.storagetype.errors.required">
                                                                Storage Type is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf = "fam.controls.InvoiceMode.value?.split(':')[0] == '2'">
                                                    <div class="form-group">
                                                        <label for="storagetype">No Of Bags <span
                                                                class="text-danger">*</span> <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter No Of Bags" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            [readonly]="fam.controls.InvoiceMode.value?.split(':')[0] != '2'"
                                                            (input)="Calculated_amt(i);" style="min-width: 100px;"
                                                            numbersOnly placeholder="Enter Bags" maxlength="8"
                                                            formControlName="numberofbags">
                                                    </div>
                                                </div>

                                                <div class="col-md-2" *ngIf = "fam.controls.InvoiceMode.value?.split(':')[0] == '2'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Bag Weight <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Bag Weight" placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            [readonly]="fam.controls.InvoiceMode.value?.split(':')[0] != '2'"
                                                            (input)="Calculated_amt(i);" style="min-width: 100px;"
                                                            placeholder="Enter Bag Weight" digitsOnly maxlength="8"
                                                            formControlName="BagWeight">
                                                    </div>
                                                </div>

                                                <div class="col-md-3" *ngIf="fam.controls.InvoiceMode.value?.split(':')[0] != '3'">
                                                    <div class="form-group">
                                                        <label for="storagetype">Total Weight(MT's) <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="EnterTotal Weight(Mt's)"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            [readonly]="fam.controls.InvoiceMode.value?.split(':')[0] == '2'"
                                                            style="min-width: 100px;" placeholder="Enter Total Weight"
                                                            digitsOnly maxlength="15" formControlName="TotalWeight"
                                                            [ngClass]="{ 'is-invalid': reservsubmi && fam.controls.TotalWeight.errors }">
                                                        <div *ngIf="reservsubmi && fam.controls.TotalWeight.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.TotalWeight.errors.required">
                                                                Total Weight(Mt's) is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3" *ngIf="fam.controls.InvoiceMode.value?.split(':')[0] == '3'">
                                                    <div class="form-group">
                                                        <label for="TotalArea">Total Area (Sqt) <a
                                                                triggers="mouseenter:mouseleave"
                                                                popover="Enter Area (Sqt)"
                                                                placement="right">
                                                                <i class="fa fa-info-circle"></i>
                                                            </a></label>
                                                        <input type="text" class="form-control"
                                                            [readonly]="fam.controls.InvoiceMode.value?.split(':')[0] == '2'"
                                                            style="min-width: 100px;" placeholder="Enter Total Area (Sqt)"
                                                            digitsOnly maxlength="15" formControlName="TotalArea"
                                                            [ngClass]="{ 'is-invalid': reservsubmi && fam.controls.TotalArea.errors }">
                                                        <div *ngIf="reservsubmi && fam.controls.TotalArea.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="fam.controls.TotalArea.errors.required">
                                                                 Area (Sqt) is required</div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" *ngIf="i==0">
                                        <div class="col-md-12 text-center">
                                            <button type="button" (click)="AddSpaceReservation()"
                                                class="btn btn-secondary btn-min-width spr-add-more-btn">
                                                <i class="fa fa-plus-circle"></i>
                                                Add More
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row" *ngIf="i!=0">
                                        <div class="col-md-12 text-center">
                                            <button type="button" (click)="RemoveSpaceReservation(i)"
                                                class="btn btn-danger btn-min-width spr-add-more-btn">
                                                <i class="fa fa-minus-circle"></i>
                                                Remove
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-md-12 text-center mt-2">
                    <button type="button" (click)="ShowPreview();" class="btn btn-primary btn-min-width">
                        <i class="fa fa-paper-plane"></i>
                        Preview
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Space Request\Reservation Preview Modal -->
<div class="modal fade" id="viewModal" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="AddectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content shadow-lg">
            <div class="modal-header align-items-center">
                <h4 class="modal-title font-weight-bold">
                    <img src="assets/web-styles/images/space-reserve.svg" width="34"
                        style="border: 1px solid; border-radius: 50%;">
                    {{RUserName}} - Space Request\Reservation Preview
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="viewModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-4">
                <form [formGroup]="SpaceReservPrevForm">
                    <div *ngFor="let fam of prevf.controls; let i = index" [formGroup]="fam">
                        <div class="card spr-card">
                            <div class="card-body">

                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="form-section"><img src="assets/web-styles/images/commodity.svg"
                                                    width="25"> Commodity Details</h4>

                                            <div class="card preview-card bg-blue bg-lighten-5">
                                                <div class="card-body py-1">
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="commoditygroup">Commodity Group </label>
                                                                <h5> {{fam.controls.commoditygroup.value}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="sectionname">Commodity Name </label>
                                                                <h5> {{fam.controls.commodity.value}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="startdate">Reservation Start Date </label>
                                                                <h5> {{fam.controls.startdate.value | date:'dd-MM-yyyy'}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="sectionname">Reservation End Date </label>
                                                                <h5> {{fam.controls.enddate.value | date:'dd-MM-yyyy'}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="SPrice">Invoice Mode </label>
                                                                <h5> {{fam.controls.InvoiceMode.value}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="SPrice">Rate </label>
                                                                <h5> Rs. {{fam.controls.SPrice.value}} </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <h4 class="form-section"><img src="assets/web-styles/images/invoice.svg"
                                                    width="25">
                                                Invoice Details</h4>

                                            <div class="card preview-card bg-success bg-accent-1">
                                                <div class="card-body py-1">
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Insurance Collected </label>
                                                                <h5> {{fam.controls.isinsurance.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12" *ngIf="fam.controls.isinsurance.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label for="storagetype">Insurance %</label>
                                                                <h5> {{fam.controls.InsuranceCollection.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Tax Applicable </label>
                                                                <h5> {{fam.controls.istax.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12" *ngIf="fam.controls.istax.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label for="storagetype">Tax %</label>
                                                                <h5>
                                                                    CGST : {{fam.controls.CGST.value}}

                                                                    SGST : {{fam.controls.SGST.value}}

                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Rebate Applicable </label>

                                                                <h5> {{fam.controls.isrebate.value}} </h5>

                                                            </div>
                                                        </div>


                                                        <div class="col-md-12" *ngIf="fam.controls.isrebate.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label for="storagetype">Rebate % </label>
                                                                <h5> {{fam.controls.Rebate.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Over & Above Examption Applicable </label>
                                                                <h5> {{fam.controls.isexamption.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12" *ngIf="fam.controls.isexamption.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label>Over & Above Examption % </label>
                                                                <h5> {{fam.controls.OverAboveExamption.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">Resposible for Quality
                                                                </label>
                                                                <h5> {{fam.controls.isquality.value}} </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Supervision Charges Applicable </label>
                                                                <h5> {{fam.controls.issupervision.value}} </h5>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-12" *ngIf="fam.controls.issupervision.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label>Supervision Charges % </label>
                                                                <h5> {{fam.controls.SupervisionCharges.value}} </h5>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Seperate Insurance Invoice</label>
                                                                <h5> {{fam.controls.issepinsinvoice.value}} </h5>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Storage Loss Applicable</label>
                                                                <h5> {{fam.controls.isstorageloss.value}} </h5>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12" *ngIf="fam.controls.isstorageloss.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label>No Of Days</label>
                                                                <h5> {{fam.controls.NoOfDays.value}} </h5>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-12" *ngIf="fam.controls.isstorageloss.value == 'Yes'">
                                                            <div class="form-group">
                                                                <label>Acceptable Loss %</label>
                                                                <h5> {{fam.controls.AcceptableLoss.value}} </h5>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <h4 class="form-section"><img src="assets/web-styles/images/reserv.svg"
                                                    width="25">
                                                Reservation Details</h4>
                                            <div class="card preview-card bg-blue-grey bg-lighten-5">
                                                <div class="card-body py-1">
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">Storage Type </label>
                                                                <h5>
                                                                    {{fam.controls.storagetype.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">No Of Bags </label>
                                                                <h5>
                                                                    {{fam.controls.numberofbags.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">Bag Weight </label>
                                                                <h5>
                                                                    {{fam.controls.BagWeight.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">Total Weight(Mt's)
                                                                </label>
                                                                <h5>
                                                                    {{fam.controls.TotalWeight.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="storagetype">Total Area (Sqt)
                                                                </label>
                                                                <h5>
                                                                    {{fam.controls.TotalArea.value}}
                                                                </h5>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-md-12 text-center mt-2">
                    <button type="button" (click)="SaveSpaceReservation();" class="btn btn-primary btn-min-width">
                        <i class="fa fa-paper-plane"></i>
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #apprModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h4 id="dialog-child-name" class="modal-title pull-left"></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="apprModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-0 bg-blue bg-lighten-5">
                    <div class="card-body">
                        <h5>Do You wish to Continue ??</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-md" (click)="apprModal.hide()">
                    <i class="fa fa-check-circle"></i> Ok
                </button>
                <button type="button" class="btn btn-danger btn-md ml-1" (click)="apprModal.hide()">
                    <i class="fa fa-times-circle"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>