<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div> 

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-right col-md-6 col-12 mb-1">
                  <h3 class="content-header-title">Mail Settings</h3>
                </div>
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                  <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a >Home</a>  
                      </li>
                      <li class="breadcrumb-item active"><a>Mail Settings</a>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Mail Settings</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">


                                <section class="create">
                                    <form [formGroup]="MailSettingsAddForm" class="form form-horizontal">


                                        <div class="row justify-content-center">
                                            
                                            <div class="col-md-8">
                                                <div class="form-group row align-items-center">
                                                    <label class="col-md-3 label-control mb-0" for="MailID">Mail ID<span class="text-danger">*</span>
                                                        <a  
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Enter Mail ID Here"
                                                        placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <div class="col-md-9">                              
                                                        <input type="text" formControlName="MailID" autocomplete="off" autocomplete="disabled" autofill="off" maxlength="50"
                                                        [ngClass]="{ 'is-invalid': submitted && subf.MailID.errors}" class="form-control"
                                                        placeholder="Enter Mail ID">
                        
                                                        <div *ngIf="submitted && subf.MailID.errors" class="invalid-feedback">
                                                            <div *ngIf="subf.MailID.errors.required"> Mail ID is required</div>
                                                            <div *ngIf="subf.MailID.errors.pattern">Invalid Mail Address
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center">
                                                    <label class="col-md-3 label-control mb-0" for="Password">Password<span class="text-danger">*</span>
                                                        <a  
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Enter Password Here"
                                                        placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label> 
                                                    <div class="col-md-9">                              
                                                        <input type="password" formControlName="Password" autocomplete="off" autofill="off"  minlength="8" maxlength="20"
                                                        [ngClass]="{ 'is-invalid': submitted && subf.Password.errors}" class="form-control"
                                                        placeholder="Enter Password">
                        
                                                        <div *ngIf="submitted && subf.Password.errors" class="invalid-feedback">
                        
                                                            <div *ngIf="subf.Password.errors.required"> Password is required</div>
                                                            <div *ngIf="subf.Password.errors.minlength">Password Minimum
                                                                8 Characters </div>
                                                            <div *ngIf="subf.Password.errors.maxlength">Password Maximum
                                                                20 Characters </div>
                                                                <div *ngIf="subf.Password.errors.pattern">Password must contain more than 8 characters, 1 upper case letter, and 1 special character</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row align-items-center">
                                                    <label class="col-md-3 label-control mb-0" for="ConfirmPassword">Confirm Password<span class="text-danger">*</span>
                                                        <a  
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Enter Confirm Password Here"
                                                        placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label> 
                                                    <div class="col-md-9">                        
                                                        <input type="password"  formControlName="ConfirmPassword" autocomplete="off" minlength="8" maxlength="20"
                                                        [ngClass]="{ 'is-invalid': submitted && subf.ConfirmPassword.errors}" class="form-control"
                                                        placeholder="Enter Confirm Password">
                        
                                                        <div *ngIf="submitted && subf.ConfirmPassword.errors" class="invalid-feedback">
                        
                                                            <div *ngIf="subf.ConfirmPassword.errors.required">Confirm Password is required</div>
                                                            <div *ngIf="subf.ConfirmPassword.errors.minlength">Confirm Password Minimum
                                                                8 Characters </div>
                                                            <div *ngIf="subf.ConfirmPassword.errors.maxlength">Confirm Password Maximum
                                                                20 Characters </div>
                                                                <div *ngIf="subf.ConfirmPassword.errors.pattern">Confirm Password must contain more than 8 characters, 1 upper case letter, and 1 special character</div>
                                                                <div *ngIf="subf.ConfirmPassword.errors.mustMatch">Password & Confirm Password
                                                                    Must Match</div>
                                                        </div>
                                                    </div>
                                                </div> 

                                                <div class="form-group row align-items-center">
                                                    <label class="col-md-3 label-control mb-0" for="MailDomain">Mail Domain <span class="text-danger">*</span>
                                                        <a  
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Mail Domain Here"
                                                        placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <ng-select  formControlName="MailDomain" (change)="ChangeMailDomain($event)"                      
                                                        [ngClass]="{ 'is-invalid': submitted && subf.MailDomain.errors }"
                                                        placeholder="Select Mail Domain">
                                                        <ng-option *ngFor="let MailDomainDD of MailDomainDD"  [value]="MailDomainDD.Value">{{MailDomainDD.Name}}
                                                        </ng-option>
                                                    </ng-select>
                                                        <div *ngIf="submitted && subf.MailDomain.errors" class="invalid-feedback">
                        
                                                            <div *ngIf="subf.MailDomain.errors.required"> Mail Domain is required</div>
                        
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row align-items-center">
                                                    <label class="col-md-3 label-control mb-0" for="PortNumber">Port Number <span class="text-danger">*</span>
                                                        <a  
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Enter Port Number here"
                                                        placement="right">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" digitsOnly formControlName="PortNumber" autocomplete="off" maxlength="10"
                                                            [ngClass]="{ 'is-invalid': submitted && subf.PortNumber.errors}" class="form-control"
                                                            placeholder="Enter Port Number ">
                                                        <div *ngIf="submitted && subf.PortNumber.errors" class="invalid-feedback">
                                                            <div *ngIf="subf.PortNumber.errors.required">Port Number is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <div class="row d-block text-center mb-2">
                                            <button type="button" class="btn btn-primary"
                                                (click)="TestMail();" *ngIf="!SendButton">Test</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="SubmitAddDetails();" *ngIf="SendButton">Submit</button>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->

