<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Depositer Commodity Wise Consolidation Register</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>WareHouse Reports</a>
                        </li>
                        <li class="breadcrumb-item active">Depositer Commodity Wise Consolidation Register
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Depositer Commodity Wise Consolidation Register</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a> 
                            <div *ngIf="pdfbtn">
                                <button class="btn btn-success btn-md ml-1" type="button" (click)="Downloadpdf()"><i
                                        class="fa fa-download"></i>
                                    Download PDF</button>
                                
                            </div>                       
                           
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form [formGroup]="DepositorForm"> 
                                        <div class="row">

                                            <div class="col-md-2" *ngIf="isdiv">
                                                <div class="form-group">
                                                    <label for="WHtype">WareHouse Type<span class="text-danger">*</span>
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Warehouse Type"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <ng-select formControlName="WHtype" placeholder="Select WareHouse Type" 
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.WHtype.errors }"
                                                        (change)="LoadWarehouses('Warehouses')">
                                                        <ng-option *ngFor="let c of WHTypelist"
                                                            value="{{c.warehousE_TYPE_CODE}}">
                                                            {{c.warehousE_TYPE}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.WHtype.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.WHtype.errors.required">
                                                             WareHouse Type
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>
                
                                            <div class="col-md-2" *ngIf="isdiv">
                                                <div class="form-group">
                                                    <label for="Whname">WareHouse Name<span class="text-danger">*</span>
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Warehouse Name"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    </label>
                                                    <ng-select formControlName="Whname"
                                                     placeholder="Select WareHouse Name" 
                                                     (change)="LoadFarmers('Farmers')"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Whname.errors }">
                                                        <ng-option *ngFor="let c of whlist"
                                                            value="{{c.warehousE_CODE}}">
                                                            {{c.warehousE_NAME}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.Whname.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.Whname.errors.required">
                                                            WareHouse Name 
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>


                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="Farmer">Depositor<span class="text-danger">*</span>
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Depositor"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                        </a>
                                                    </label>
                                                    <ng-select formControlName="Farmer" placeholder="Select Farmer" 
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.Farmer.errors }"
                                                        (change)="LoadCommodites('Commodity')">
                                                        <ng-option *ngFor="let c of farmerlist"
                                                            value="{{c.registratioN_ID}}">
                                                            {{c.name}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.Farmer.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.Farmer.errors.required">
                                                             Depositor
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>
                
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="cmdity">Commodity
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Commodity"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    </label>
                                                    <ng-select formControlName="cmdity"
                                                     placeholder="Select Commodity" 
                                                     (change)="changeCommodites()"
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.cmdity.errors }">
                                                        <ng-option *ngFor="let c of cmdtylist"
                                                            value="{{c.commoditY_CODE}}">
                                                            {{c.commodity}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.cmdity.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.cmdity.errors.required">
                                                            Commodity
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>

                                            
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="month">Month
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Month"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    </label>
                                                    <ng-select formControlName="month"
                                                     placeholder="Select Month"                                                     
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.month.errors }">
                                                        <ng-option *ngFor="let c of mothlist"
                                                            value="{{c.column2}}">
                                                            {{c.column1}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.month.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.month.errors.required">
                                                            Month
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>

                                            
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="year">Year
                                                        <a
                                                        triggers="mouseenter:mouseleave"
                                                        popover="Select Year"
                                                        placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    </label>
                                                    <ng-select formControlName="year"
                                                     placeholder="Select Year"                                                      
                                                        [ngClass]="{ 'is-invalid': isSubmit &&  qualty.year.errors }">
                                                        <ng-option *ngFor="let c of yearlist"
                                                            value="{{c.column1}}">
                                                            {{c.column1}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="isSubmit && qualty.year.errors" class="invalid-feedback">
                                                        <div *ngIf="qualty.year.errors.required">
                                                            Year
                                                            is required</div>
                                                    </div>
                                            
                                                </div>
                                            
                                            </div>

                                            
                                             <div class="col-md-2">
                                    <label for="FromDate">From Date
                                        <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select From Date"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
    
                                    
                                    
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control"  type="date" placeholder="DD-MM-YYYY" name="FromDate" ngbDatepicker
                                            #d12="ngbDatepicker" readonly (click)="d12.toggle()" 
                                            formControlName="FromDate" [maxDate]="NgbDateStruct"
                                            [ngClass]="{ 'is-invalid': isSubmit && qualty.FromDate.errors }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" type="button" (click)="d12.toggle()"
                                                type="button"><i class="ficon feather icon-calendar"></i></button>
                                        </div>
                                        <div *ngIf="isSubmit && qualty.FromDate.errors" class="invalid-feedback">
                                            <div *ngIf="qualty.FromDate.errors.required">
                                                From Date
                                                is required</div>
                                        </div>
                                    </div>
                                              </div>
                                                    
                                            <div class="col-md-2">
                                    <label for="FromDate">To Date
                                        <a
                                        triggers="mouseenter:mouseleave"
                                        popover="Select To Date"
                                        placement="right">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
    
                                    
                                    
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control"  type="date" placeholder="DD-MM-YYYY" name="ToDate" ngbDatepicker
                                            #d11="ngbDatepicker" readonly (click)="d11.toggle()" 
                                            formControlName="ToDate" [maxDate]="NgbDateStruct"
                                            [ngClass]="{ 'is-invalid': isSubmit && qualty.ToDate.errors }" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" type="button" (click)="d11.toggle()"
                                                type="button"><i class="ficon feather icon-calendar"></i></button>
                                        </div>
                                        <div *ngIf="isSubmit && qualty.ToDate.errors" class="invalid-feedback">
                                            <div *ngIf="qualty.ToDate.errors.required">
                                                To Date
                                                is required</div>
                                        </div>
                                    </div>
                                             </div>



                                            <div class="col-md-2 mt-2">                                          
                                            
                                                <button type="button" name="next" (click)="GetDepositerCmdtyDetails();"
                                                 class="btn btn-success btn-min-width ml-1"><i
                                                        class="fa fa-paper-plane"></i> Get Details</button>
                                            
                                            </div>               
                                            
                
                                        </div>   
                                        
                                        
                                        <div class="row mt-2" *ngIf="istable">
                                            <div class="col-md-12">
                                                <div class="ag-theme-alpine">
                                                    <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                        [columnDefs]="columnDefs" 
                                                        [defaultColDef]="defaultColDef"
                                                        (gridReady)="BindData($event)" [pagination]="true"
                                                        [paginationPageSize]="20"
                                                        [frameworkComponents]="frameworkComponents"
                                                        rowSelection="single" [components]="components">

                                                    </ag-grid-angular>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- END: Page Main-->


