

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title mb-0">Home Page Content</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a>
                            </li>
                            <li class="breadcrumb-item active">OUR OBJECTIVE 
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
  
        </div>
  
        <app-home-headerlayout></app-home-headerlayout>

        <div class="content-body">
            <!-- card actions section start -->
            <section id="card-actions">
                <div class="row">
                    <div class="col-12">

                        <div class="card">
                            <div class="card-body">
  
  
                              <h4 class="card-title">APSWC Home Page Content Form</h4>
  
  
  <div class="row" [hidden]="!formedit" >
    <div class="col-12 col-sm-12 col-md-6">
      <div class="about-hc">
        <div  [innerHTML]="divourobjective">
  
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-success" (click)="apswcedit();">Edit</button>
      </div>
    </div>
  </div>
           <form [formGroup]="formourobjective" (ngSubmit)="onSubmit()"  [hidden]="formedit">
  
               <label>Our Objective</label> <span class="danger">*</span>
                <div class="editor">
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                  </ngx-editor-menu>
  
                  <ngx-editor [editor]="editor"  formControlName ="ourobjective"  maxlength="300"  placeholder="Please Enter our objective" >
                  </ngx-editor>
                </div>
  <br>
  <br>
                <div class="row justify-content-center mb-5" >
                  <button type="submit" class="btn btn-success">UPDATE</button>
                  </div>
  
                
              </form>
           
  
    </div>
  </div>
  
  