
    <!-- BEGIN: Footer-->

    <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
        <div class="footer-copyright">
            <div class="container"><span><small>Copyright © 2021 APSWC. All Rights Reserved.</small>   </span></div>
        </div>
    </footer>

    <!-- END: Footer-->