<main>
    <div class="container page-border">

        <div class="row breadcum ">
            <div class="col-sm-12">
                <div class="">

                    <h1>Tenders</h1>
                    <p>Home /<a >Tenders</a></p>
                </div>

            </div>
        </div>

       
        <div class="row">
            <div class="col-sm-12 p-md-5 p-1">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered webtable-data">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>Tender Description</th>
                                <th>Tender download date</th>
                                <th>Tender end date</th>
                                <th>Tender Document</th>
                                <th>Status</th>
                             
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of tenderlist; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{m.contenT_TITLE}}</td>
                              
                                 <td>{{m.downloaD_DATE | date:'dd-MM-yyyy'}}</td>
                                 <td>{{m.enD_DATE | date:'dd-MM-yyyy'}}</td>
                                 <td><a href="{{m.contenT_PHOTO}}" target="_blank" >View</a></td>
                                <td *ngIf="m.iS_ACTIVE=='1'">Active</td> 
                                <td *ngIf="m.iS_ACTIVE=='0'">Disabled</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                
              
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3 pt-5 text-center">
                <h5 style="background: #05796e;  padding: 10px;  color: white;">Tenders are available and can be applied through
                    <span style=" color: #0bde00; cursor: pointer;" (click)="Redirect(); ">
                         AP-eProcurement 
                    </span>
                </h5>
            </div>
        </div>


    </div>
</main>