<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Stack-Out </h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt Out</a>
                        </li>
                        <li class="breadcrumb-item active">Stack-Out
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Stack-Out</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong>
                                </li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong>
                                </li>

                                <li id="commtab" class="commtab current active">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Stack-Out</strong>
                                </li>

                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong>
                                </li>
                                <li id="commtab" class="commtab">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong>
                                </li>
                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <div class="row mb-1">
                                                <div class="col-md-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                            (gridReady)="BindData($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            [frameworkComponents]="frameworkComponents"
                                                            rowSelection="single" [components]="components">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>
                                            </div>
                                            <form [formGroup]="DepForm">
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1" *ngIf="isTable">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="HTCompanyName">Select H&T Contractor
                                                                            Name
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select H&T Contractor Name"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="HTCompanyName"
                                                                            (change)="LoadHTServices($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.HTCompanyName.errors }"
                                                                            placeholder="Select H&T Contractor Name">
                                                                            <ng-option *ngFor="let dist of htcomlist"
                                                                                [value]="dist.hT_REGISTRATION_ID">
                                                                                {{dist.contacT_NAME}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.HTCompanyName.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.HTCompanyName.errors.required">
                                                                                H&T Contractor Name
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="ServiceName">Select Service Name
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Service Name"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="ServiceName"
                                                                            (change)="GetPrice($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.ServiceName.errors }"
                                                                            placeholder="Select Service Name">
                                                                            <ng-option *ngFor="let dist of htserlist"
                                                                                [value]="dist.hT_SERVICE_ID">
                                                                                {{dist.servicE_NAME}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.ServiceName.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.ServiceName.errors.required">
                                                                                Service Name
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="BagWeight">Per Bag/Item Weight(Kg's)
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Per Bag/Item Weight(Kg's)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <!-- <label>{{dep.BagWeight.value}}</label>     -->
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            [readonly]="isBagWeight"
                                                                            class="form-control"
                                                                            (input)="GetPrice($event)"
                                                                            placeholder="Bag/Item Weight(Kg's)"
                                                                            formControlName="BagWeight">

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="ServiceName">Select Service Price
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Service Price"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="ServicePrice"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.ServicePrice.errors }"
                                                                            placeholder="Select Service Price">
                                                                            <ng-option *ngFor="let dist of htpriclist"
                                                                                [value]="dist.ht_price">
                                                                                {{dist.ht_price}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.ServicePrice.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.ServicePrice.errors.required">
                                                                                Service Price
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="GunnyBags">No of Gunny Bags
                                                                            <a triggers="mouseenter:mouseleave"
                                                                                popover="Enter Bag/Item Weight(Kg's)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" numbersOnly maxlength="10"
                                                                            class="form-control"
                                                                            placeholder="No of Gunny Bags"
                                                                            formControlName="GunnyBags"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.GunnyBags.errors }">
                                                                        <div *ngIf="isSubmit && dep.GunnyBags.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.GunnyBags.errors.required">
                                                                                No of Gunny Bags
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h5 class="font-weight-bold mb-1 mt-2 text-dark">Stacking Details
                                                    </h5>
                                                    <hr />

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="form-card p-0">
                                                                <div class="col-md-12 px-0">
                                                                    <div class="">
                                                                        <table
                                                                            class="table table-hover table-striped table-row-repeat"
                                                                            style="border: 1px solid lightblue;">
                                                                            <thead class="bg-primary text-white">
                                                                                <tr>
                                                                                    <th>Godown Name</th>
                                                                                    <th>Compartment Name</th>
                                                                                    <th>Stack Name</th>
                                                                                    <th>Stack Type Name</th>
                                                                                    <th>Stack In Date</th>
                                                                                    <th>Stack In Bags/Units</th>
                                                                                    <th>Stack In Weight(MT's)</th>
                                                                                    <th>Stack Out Bags/Units</th>
                                                                                    <!-- <th>Stack Out Weight(MT's)</th> -->
                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>
                                                                                <tr *ngFor="let stack of s.controls; let i = index"
                                                                                    [formGroup]="stack">
                                                                                    <input type="hidden" formControlName="godowN_ID" />
                                                                                    <input type="hidden" formControlName="compartmenT_ID" />
                                                                                    <input type="hidden" formControlName="stacK_ID" />
                                                                                    <input type="hidden" formControlName="stacK_TYPE" />
                                                                                    <td>
                                                                                        <label>{{stack.controls.godowN_NAME.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Godown Name"
                                                                                            formControlName="godowN_NAME" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.compartmenT_NAME.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Compartment Name"
                                                                                            formControlName="compartmenT_NAME" /> -->

                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.stacK_NAME.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Stack Name"
                                                                                            formControlName="stacK_NAME" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.stacK_TYPE_NAME.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Stack Type"
                                                                                            formControlName="stacK_TYPE_NAME" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.StackinDate.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Stackin Date"
                                                                                            formControlName="StackinDate" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.nO_OF_BAGS.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Stack In Bags/Units"
                                                                                            formControlName="nO_OF_BAGS" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <label>{{stack.controls.weight.value}}</label>
                                                                                        <!-- <input type="text"
                                                                                            class="form-control"
                                                                                            readonly
                                                                                            placeholder="Stack In Weight"
                                                                                            formControlName="weight" /> -->
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" numbersOnly
                                                                                            maxlength="5"
                                                                                            class="form-control"
                                                                                            (input)="CalStackWeight($event,i)"
                                                                                            placeholder="Stack Out  Bags/Units"
                                                                                            formControlName="Out_Bags"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.Out_Bags.errors }" />
                                                                                        <div *ngIf="isSubmit && stack.controls.Out_Bags.errors"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="stack.controls.Out_Bags.errors.required">
                                                                                                Stack Out Bags/Units
                                                                                                is required</div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <!-- <td>
                                                                                        <label>{{stack.controls.Out_weight.value}}</label>
                                                                                        <input type="text" digitsOnly
                                                                                            maxlength="10" readonly
                                                                                            class="form-control"
                                                                                            placeholder="Stack Out Weight"
                                                                                            formControlName="Out_weight"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.Out_weight.errors }" />
                                                                                       
                                                                                    </td> -->

                                                                                </tr>

                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row d-block text-center mb-2">
                                                        <button type="button" (click)="SaveStacking('save');"
                                                            class="btn btn-primary btn-min-width ml-1"><i
                                                                class="fa fa-paper-plane"></i> SAVE</button>
                                                        <button type="button" (click)="SaveStacking('next');"
                                                            class="btn btn-success btn-min-width ml-1"><i
                                                                class="fa fa-arrow-right"></i> NEXT</button>
                                                        <!-- <button type="button" (click)="SaveStacking();"
                                                            class="btn btn-primary">Save</button> -->
                                                    </div>

                                                </div>
                                            </form>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->