.h-100 {
    height: 100px !important;
}

.media-body {
    display: grid !important;
}

.h5,
h5 {
    font-size: 1rem !important;
}

.stats-count .card {
    min-height: 170px;
    border-top-width: 3px !important;
}

.loan-items-list .list-group .list-group-item {
    padding: 0.6rem;
}

.loan-items-list .list-group .list-group-item .badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    width: 30%;
    font-size: 0.925rem !important;
}

.loan-items-emp-list .list-group .list-group-item {
    padding: 1.25rem 0.8rem;
}

.loan-items-emp-list .list-group .list-group-item .badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    width: 35%;
    font-size: 0.925rem !important;
}

.stats-count .card .btn {
    margin: 0 auto;
    position: absolute;
    bottom: 5px;
    display: inline-block;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
}

.card-body {
    padding: 0.75rem 0.75rem;
}

.media-body h3 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 600;
}

.media-body h2 {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: -1px;
    color: #1B2942;
}

.media-body h2 img {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 3px;
}

.media-body small {
    vertical-align: middle;
    margin-left: 3px;
}

.media-body span {
    font-size: 0.9rem;
    font-weight: 600;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%;
    min-height: 45vh;
}

.ag-header-container,
.ag-header-row.ag-header-row-column {
    width: 100% !important;
}

#chart,
#chart2,
#chart3,
#chart4 {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    margin: 5px auto;
    padding: 0;
}