<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row justify-content-between">
            <div class="content-header-right col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Finance Dashboard</h3>
            </div>
            <div class="content-header-right col-md-4 col-12">
                <div class="list-group filter-list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Day</a>
                    <a href="#" class="list-group-item list-group-item-action">Week</a>
                    <a href="#" class="list-group-item list-group-item-action">Month</a>
                    <a href="#" class="list-group-item list-group-item-action">Year</a>
                </div>
            </div>
        </div>

        <div class="content-body">

            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card border-top-primary border-top-lighten-1">
                        <div class="card-body p-0">
                            <div class="row stats-count">
                                <div class="col-xl-5 col-lg-5 col-md-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="media-body loan-items-list text-left w-100">
                                                        <div class="d-flex">
                                                            <h2>Borrowings<img src="./assets/app-assets/images/loan.svg"></h2>
                                                            <div class="form-group mb-0">
                                                                <ng-select placeholder="2020-2021" class="medium-control">
                                                                    <ng-option>2020-2021</ng-option>
                                                                    <ng-option>2019-2020</ng-option>
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-primary float-right">Rs. 25,000,0000</span> Total Loan Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-info float-right">Rs. 11,050,0000</span> Loan Amount Disbursed
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-danger float-right">Rs. 25,000,0000</span> Interest Rate
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-warning float-right">Rs. 11,050,0000</span> Interest Received
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-secondary bg-lighten-5 float-right">Rs. 5,000,0000</span> Principal Amount Received
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-success float-right">Rs. 8,500,0000</span> Outstanding Principal Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-purple bg-accent-2 float-right">Rs. 2,250,0000</span> Outstanding Interest Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-pink bg-accent-2 float-right">Rs. 2,250,0000</span> Discrepancy amount
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-7 col-lg-12">
                                    <div class="card">
                                        <div class="card-header bg-transparent border-0">
                                            <h4 class="card-title">Borrowings Graph</h4>
                                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div id="linechart">
                                                    <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart" [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [colors]="lineChartOptions.colors" [dataLabels]="lineChartOptions.dataLabels" [legend]="lineChartOptions.legend"
                                                        [markers]="lineChartOptions.markers" [grid]="lineChartOptions.grid" [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title"></apx-chart>
                                                </div>
                                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card  border-top-danger border-top-lighten-1">
                        <div class="card-body p-0">
                            <div class="row stats-count">
                                <div class="col-xl-5 col-lg-6 col-md-12">
                                    <div class="card mb-0">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="media-body loan-items-emp-list text-left w-100">
                                                        <div class="d-flex">
                                                            <h2>Employee Loan <img src="./assets/app-assets/images/loan.svg"></h2>
                                                            <div class="form-group mb-0">
                                                                <ng-select placeholder="2020-2021" class="medium-control">
                                                                    <ng-option>2020-2021</ng-option>
                                                                    <ng-option>2019-2020</ng-option>
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-primary float-right">250</span> Total Members
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-info float-right">Rs. 11,050,0000</span> Total Sanctioned Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-danger float-right">Rs. 25,000,0000</span> Received Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-warning float-right">Rs. 11,050,0000</span> Pending Amount
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="badge badge-pill bg-purple bg-accent-2 float-right">Rs. 2,250,0000</span> Balance Amount
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-7 col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-transparent border-0">
                                            <h4 class="card-title">Employee Loan Graph</h4>
                                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body pt-0">
                                                <div class="p-1 bg-success bg-accent-1">
                                                    <div class="filter-inline-radio-btns">
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="customRadioInline5" name="customRadioInline1" class="custom-control-input" checked>
                                                            <label class="custom-control-label" for="customRadioInline5">Loan Type</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                                            <label class="custom-control-label" for="customRadioInline1">Amount Wise</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="ploarchart">
                                                    <apx-chart [series]="polarChartOptions.series" [chart]="polarChartOptions.chart" [labels]="polarChartOptions.labels" [fill]="polarChartOptions.fill" [stroke]="polarChartOptions.stroke" [responsive]="polarChartOptions.responsive"></apx-chart>
                                                </div>
                                                <button class="btn btn-sm btn-blue-grey float-right">More info <i class="feather icon-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>