<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Warehouse Receipt</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a>
                        </li>
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item active">Warehouse Receipt
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Warehouse Receipt</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>


                            <!-- <div >
                                <button class="btn btn-outline-secondary btn-md" type="button" (click)="AddEmployee()"><i
                                    class="fa fa-plus-circle"></i>
                                Add</button>
                            <button class="btn btn-outline-secondary ml-1 btn-md" (click)="HistoryAllEmployees();">
                                <i class="fa fa-plus-circle"></i>
                                History</button> 
                            </div>-->
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <section class="create">
                                    <form [formGroup]="reciptForm">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group row">
                                                    <label for="employeeid" class="col-md-4"
                                                        style="margin-top: 5px;">Status <span
                                                            class="text-danger">*</span></label>
                                                    <ng-select formControlName="ReceiptType" class="col-md-8"
                                                        [ngClass]="{ 'is-invalid': issubmit && rec.ReceiptType.errors }"
                                                        placeholder="Select Status">
                                                        <ng-option value="Pending">Pending</ng-option>
                                                        <ng-option value="Completed">Completed</ng-option>
                                                    </ng-select>
                                                    <div *ngIf="issubmit && rec.ReceiptType.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="rec.ReceiptType.errors.required">Status
                                                            is required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <button class="btn btn-success"
                                                    (click)="GetWHReceipts()">Search</button>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="ag-theme-alpine">
                                                <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                    (gridReady)="BindData($event)" [pagination]="true"
                                                    [paginationPageSize]="20"
                                                    [frameworkComponents]="frameworkComponents" rowSelection="single"
                                                    [components]="components">
                                                </ag-grid-angular>
                                            </div>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->

<!-- Edit Section Modal -->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" id="editSection" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSectionLabel">Receipt Details</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form class="form" [formGroup]="GenerateForm">
                    <div class="form-body">
                        <!-- <h4 class="form-section"><i class="feather icon-user"></i> Insurance Details</h4>

                        <div class="col-md-12 px-0">
                            <div class="">
                                <table class="table table-hover table-striped table-row-repeat">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            <th>Insurance Company</th>
                                            <th>Policy Name</th>
                                            <th>Policy No</th>
                                            <th>Insured Amount</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let insu of i.controls; let i = index" [formGroup]="insu">
                                            <td>
                                                <ng-select formControlName="InsCompany"
                                                    [ngClass]="{ 'is-invalid': isGenerate &&  insu.controls.InsCompany.errors }"
                                                    placeholder="Select Insurance Company">
                                                    <ng-option *ngFor="let dist of insurances" [value]="dist.id">
                                                        {{dist.relation}}
                                                    </ng-option>
                                                </ng-select>
                                                <div *ngIf="isGenerate && insu.controls.InsCompany.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="insu.controls.InsCompany.errors.required">
                                                        Insurance Company
                                                        is required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" maxlength="100" lettersOnly class="form-control"
                                                    placeholder="Policy Name" formControlName="PolicyName"
                                                    [ngClass]="{ 'is-invalid': isGenerate && insu.controls.PolicyName.errors }" />
                                                <div *ngIf="isGenerate && insu.controls.PolicyName.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="insu.controls.PolicyName.errors.required">Policy Name
                                                        is required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" maxlength="100" alphaNumbers class="form-control"
                                                    placeholder="Policy No" formControlName="PolicyNo"
                                                    [ngClass]="{ 'is-invalid': isGenerate && insu.controls.PolicyNo.errors }" />
                                                <div *ngIf="isGenerate && insu.controls.PolicyNo.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="insu.controls.PolicyNo.errors.required">Policy No
                                                        is required</div>
                                                </div>

                                            </td>
                                            <td>
                                                <input type="text" maxlength="20" degitsOnly class="form-control"
                                                    placeholder="Insured Amount" formControlName="InsAmt"
                                                    [ngClass]="{ 'is-invalid': isGenerate && insu.controls.InsAmt.errors }" />
                                                <div *ngIf="isGenerate && insu.controls.InsAmt.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="insu.controls.InsAmt.errors.required">Insured Amount
                                                        is required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="fdob"
                                                        ngbDatepicker #d5="ngbDatepicker" readonly
                                                        formControlName="FromDate" (click)="d5.toggle()"
                                                        [ngClass]="{ 'is-invalid': isGenerate && insu.controls.FromDate.errors }" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" type="button"
                                                            (click)="d5.toggle()" type="button"><i
                                                                class="ficon feather icon-calendar"></i></button>
                                                    </div>
                                                    <div *ngIf="isGenerate && insu.controls.FromDate.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="insu.controls.FromDate.errors.required">From Date
                                                            is required</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control" type="date" placeholder="DD-MM-YYYY" name="fdob"
                                                        ngbDatepicker #d6="ngbDatepicker" readonly
                                                        formControlName="ToDate" (click)="d6.toggle()"
                                                        [ngClass]="{ 'is-invalid': isGenerate && insu.controls.ToDate.errors }" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" type="button"
                                                            (click)="d6.toggle()" type="button"><i
                                                                class="ficon feather icon-calendar"></i></button>
                                                    </div>
                                                    <div *ngIf="isGenerate && insu.controls.ToDate.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="insu.controls.ToDate.errors.required">To Date
                                                            is required</div>
                                                    </div>
                                                </div>

                                            </td>

                                            <td *ngIf="i==0">
                                                <button type="button" (click)="AddInsurance()"
                                                    class="btn btn-success btn-sm mt-0"><i
                                                        class="fa fa-plus-circle"></i></button>
                                            </td>
                                            <td *ngIf="i!=0">
                                                <button type="button" (click)="RemoveInsurance(i)"
                                                    class="btn btn-danger btn-sm mt-0"><i
                                                        class="fa fa-minus-circle"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <hr/> -->

                        <div class="form-row">
                            <input type="hidden" formControlName="REGISTRATION_ID" />
                            <input type="hidden" formControlName="BOOKING_ID" />
                            <input type="hidden" formControlName="COMMODITY_CODE" />
                            <input type="hidden" formControlName="NO_OF_BAGS" />
                            <input type="hidden" formControlName="WEIGHT" />
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PrivateMarks">Private Marks of the Depositor on the Packages
                                        <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Private Marks of the Depositor on the Packages"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    </label>
                                    <input type="text" maxlength="100" alphaNumbers class="form-control"
                                        placeholder="Private Marks" formControlName="PrivateMarks"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.PrivateMarks.errors }" />
                                   
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="HandlingCharges">Insurance Company Name <span class="text-danger">*</span> <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Select Insurance Company Name"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <ng-select formControlName="InsCompany"
                                        [ngClass]="{ 'is-invalid': isGenerate &&  gen.InsCompany.errors }"
                                        placeholder="Select Insurance Company">
                                        <ng-option *ngFor="let dist of insurances" [value]="dist.insurancE_ID">
                                            {{dist.insurancE_COMPANY_NAME}}
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="isGenerate && gen.InsCompany.errors" class="invalid-feedback">
                                        <div *ngIf="gen.InsCompany.errors.required">
                                            Insurance Company
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PolicyName">Policy Name <span class="text-danger">*</span> <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Policy Name"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <input type="text" maxlength="200" alphaNumbers class="form-control"
                                        placeholder="Policy Name" formControlName="PolicyName"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.PolicyName.errors }" />
                                    <div *ngIf="isGenerate && gen.PolicyName.errors" class="invalid-feedback">
                                        <div *ngIf="gen.PolicyName.errors.required">Policy Name
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <label for="PolicyAmount">Policy Amount (Rs) <span class="text-danger">*</span> <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Policy Amount (Rs)"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <input type="text" maxlength="10" digitsOnly class="form-control"
                                        placeholder="Policy Amount" formControlName="PolicyAmount"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.PolicyAmount.errors }" />
                                    <div *ngIf="isGenerate && gen.PolicyAmount.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="gen.PolicyAmount.errors.required">Policy Amount
                                        is required</div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="MarketRate">Market Rate At Time Of Deposite (Rs) <span class="text-danger">*</span> <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Market Value"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <input type="text" maxlength="10" digitsOnly class="form-control"
                                        placeholder="Market Rate" formControlName="MarketRate"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.MarketRate.errors }" />
                                    <div *ngIf="isGenerate && gen.MarketRate.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="gen.MarketRate.errors.required">Market Rate
                                        is required</div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Valuation">Valuation (Rs) <span class="text-danger">*</span> <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Total Valuation Of Goods"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <input type="text" maxlength="10" digitsOnly class="form-control"
                                        placeholder="Valuation" formControlName="Valuation"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.Valuation.errors }" />
                                    <div *ngIf="isGenerate && gen.Valuation.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="gen.Valuation.errors.required">Valuation
                                        is required</div>
                                </div>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="GoodsCondition">Condition Of Goods <span
                                            class="text-danger">*</span> <a  
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Condition Of Goods"
                                            placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>

                                    <div class="input-group">
                                        <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" formControlName="GoodsCondition" name="GoodsCondition"
                                                class="custom-control-input" id="Good" value="Good">
                                            <label class="custom-control-label" for="Good">Good</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" formControlName="GoodsCondition" name="GoodsCondition"
                                                class="custom-control-input" id="Fair" value="Fair">
                                            <label class="custom-control-label" for="Fair">Fair</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" formControlName="GoodsCondition" name="GoodsCondition"
                                                class="custom-control-input" id="Average" value="Average">
                                            <label class="custom-control-label" for="Average">Average</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" formControlName="GoodsCondition" name="GoodsCondition"
                                                class="custom-control-input" id="SaidToContain" value="Said To Contain">
                                            <label class="custom-control-label" for="SaidToContain">Said To Contain</label>
                                        </div>
                                    </div>

                                    <div *ngIf="isGenerate && gen.GoodsCondition.errors" class="invalid-feedback">
                                        <div *ngIf="gen.GoodsCondition.errors.required">Condition Of Goods
                                            is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="GunnyBagsCondition">Condition Of Gunny Bags <span
                                            class="text-danger">*</span> <a  
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Condition Of Gunny Bags"
                                            placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>

                                    <div class="input-group">
                                        <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" formControlName="GunnyBagsCondition" name="GunnyBagsCondition"
                                                class="custom-control-input" id="New" value="New">
                                            <label class="custom-control-label" for="New">New</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" formControlName="GunnyBagsCondition" name="GunnyBagsCondition"
                                                class="custom-control-input" id="OnceUsed" value="Once Used">
                                            <label class="custom-control-label" for="OnceUsed">Once Used</label>
                                        </div>
                                       
                                    </div>

                                    <div *ngIf="isGenerate && gen.GunnyBagsCondition.errors" class="invalid-feedback">
                                        <div *ngIf="gen.GunnyBagsCondition.errors.required">Condition Of  Gunny Bags
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ValidUpto">Receipt Valid Upto <span
                                            class="text-danger">*</span> <a  
                                            triggers="mouseenter:mouseleave"
                                            popover="Select Valid Upto"
                                            placement="right">
                                                <i class="fa fa-info-circle"></i>
                                            </a></label>

                                    <div class="input-group">
                                        <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" formControlName="ValidUpto" name="ValidUpto"
                                                class="custom-control-input" id="3Months" value="3 Months">
                                            <label class="custom-control-label" for="3Months">3 Months</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" formControlName="ValidUpto" name="ValidUpto"
                                                class="custom-control-input" id="6Months" value="6 Months">
                                            <label class="custom-control-label" for="6Months">6 Months</label>
                                        </div>
                                       
                                    </div>

                                    <div *ngIf="isGenerate && gen.ValidUpto.errors" class="invalid-feedback">
                                        <div *ngIf="gen.ValidUpto.errors.required">Receipt Valid Upto
                                            is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="Remarks">Remarks <a  
                                        triggers="mouseenter:mouseleave"
                                        popover="Enter Remarks"
                                        placement="right">
                                            <i class="fa fa-info-circle"></i>
                                        </a></label>
                                    <input type="text" maxlength="500" alphaNumbers class="form-control"
                                        placeholder="Remarks" formControlName="Remarks"
                                        [ngClass]="{ 'is-invalid': isGenerate && gen.Remarks.errors }" />
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary btn-min-width ml-1" (click)="SaveReceiptDetails()">
                                <i class="fa fa-paper-plane"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>

<!--Receipt Modal-->

<div class="modal fade" bsModal #receiptModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    aria-labelledby="addSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h5 class="modal-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> Warehouse Receipt</h5>
                <button class="btn btn-secondary btn-md ml-1" (click)="openPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</button>
                <button type="button" class="close" data-dismiss="modal" (click)="closeReceipt()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="htmlData">
                    <div class="pdf-main">
                        <div class="pdf-header">
                            <div class="text-center">
                                <h1>A.P. State Warehousing Corporation</h1>
                                <h3>Warehouse Receipt - Negotiable / Non - Negotiable</h3>
                                <h5>(See Rule 20 Madras WH Act , 1951 Rules 1953/21 , Hyderabad WH Act 1955 Rules 1959)</h5>
                            </div>
                        </div>
                        <div class="pdf-body">
                            <table class="table pdf-header-table">
                                <tr>
                                    <td>
                                        <h6>1. Name & Location of Warehouse <label> {{pwarehousename}} </label> </h6>
                                    </td>
                                    <td rowspan="3" class="text-right">
                                        <div class="text-center">
                                            <h5 class="font-weight-bold">Receipt.No. {{preceiptno}}</h5>
                                            <qrcode [qrdata]="myAngularxQrCode" [allowEmptyString]="true" [width]="100" [errorCorrectionLevel]="'M'" ></qrcode>
                                            <!-- <img src="../../../assets/web-styles/images/qr-code.png" width="80" height="80" > -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h6>2. Warehouse Manager's Licence No. <label> {{pwlicenceno}} </label> </h6></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>3. Valid upto <label> {{pvalidupto}} &nbsp; </label> </h6>
                                    </td>
                                </tr>
                            </table>
                            <!-- <div class="text-center mb-1">
                                <h5 class="mb-0 font-weight-bold">S.No. 123456</h5>
                                <img src="../../../assets/web-styles/images/qr-code.png" width="100" height="100" style="border: 1px solid #444;">
                            </div> -->
                            <ul class="pdf-li">
                                <!-- <li>
                                    <h6>1. Serial No. Receipt /APSWC/ <label> 4960 </label> </h6>
                                </li> -->
                                <!-- <li>
                                    <h6>2. Name & Location of Warehouse <label> APSWC, Tenali </label> </h6>
                                </li>
                                <li>
                                    <h6>3. Warehouse Manager's Licence No. <label> 26 </label> </h6>
                                </li>
                                <li>
                                    <h6>Valid upto <label> &nbsp; </label> </h6>
                                </li> -->
                                <li>
                                    <h6>4. Received from ( Name and address of the depositor) <label> {{pdepname}} </label> </h6>
                                </li>
                                <li>
                                    <h6>5. Goods of the following description </h6>
                                </li>
                            </ul>

                            <table class="table table-bordered pdf-table">
                                <thead>
                                    <tr>
                                        <th>Name of the commodity</th>
                                        <th>Class or Standard Quality and / or Grade</th>
                                        <th>No. of Packages or Lots</th>
                                        <th>Net quantity in Mts./Kg./gms. by weight or measure</th>
                                        <th>Name and / or Licence No. of the Weigher / Classifier/ Sampler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{pcommodity}}</td>
                                        <td>{{pgrade}}</td>
                                        <td>{{pbags}} {{ppackagetype}}</td>
                                        <td>{{pweight}} (QTL)</td>
                                        <td>{{pwlicence}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <ul class="pdf-li">
                                <li>
                                    <h6>6. Condition of goods, (1)Good, (2)Fair, (3)Average <label> {{pgcondition}} </label> </h6>
                                </li>
                                <li>
                                    <h6>7. Private marks of the depositors on the packages if any <label> {{PPmarks}} </label> </h6>
                                </li>
                                <li>
                                    <h6>8. Rate of storage and other charges <label> {{Psrate}} </label> </h6>
                                </li>
                                <li>
                                    <h6>9. Indemnified/Insured for Fire/Theft/Riots/Other contingency with <label> {{pinstype}} &nbsp; </label> </h6>
                                </li>
                                <li>
                                    <h6>10. If insured (Name of Insurance Co.) <label> {{pinsname}} </label> </h6>
                                </li>
                                <li>
                                    <h6>11. For the amount of Rs. <label> Rs. {{pamount}} </label></h6>
                                </li>
                                <li>
                                    <h6>12. The goods are accepted for storage from <label> {{pinsfromdate}} </label> to <label> {{pinstodate}} </label></h6>
                                </li>
                                <li>
                                    <h6>13. Market rate at the time of deposit <label> Rs. {{pmarkvalue}} /- per Ton </label> Valuation <label> Rs. {{pvaluation}} </label></h6>
                                </li>
                            </ul>

                            <div class="row justify-content-between mx-0 mt-5 mb-1 pt-2">
                                <div>
                                    <h6 class="font-weight-bold">Date: <label>{{presdate}}</label></h6>
                                </div>
                                <div>
                                    <h6 class="font-weight-bold">Signature of the Warehouse Manager or his Agent</h6>
                                </div>
                            </div>

                            <p class="pdf-p">
                                The goods mentioned below are hereby released from this receipt for delivery from Warehouses.
Any Unreleased balance of goods are subject to a lien for unpaid charges and advance on the released portion
                            </p>

                            <table class="table table-bordered pdf-table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Quantity Released</th>
                                        <th>Signature</th>
                                        <th>Quantity due on receipt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="row" *ngIf="generateBtn">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-secondary btn-min-width" (click)="openPDF()">Generate PDF</button>
                            </div>
                        </div> -->
                        
                    </div>    
                </div>

            </div>

        </div>
    </div>
</div>