<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title mb-0">Service Request Master</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a>Home</a>
                            </li>
                            <li class="breadcrumb-item"><a>Components</a>
                            </li>
                            <li class="breadcrumb-item active">Service Request
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>


        <div class="content-body">
            <!-- card actions section start -->


            <div class="row">
                <div class="col-md-12">
                    <div class="collapse-icon accordion-icon-rotate">

                        <div id="headingCollapseCategory" class="card-header primary" data-toggle="collapse"
                            href="#CollapseCategory" (click)="CategoryClick()" aria-expanded="false"
                            aria-controls="CollapseCategory">
                            <a class="card-title lead collapsed">Service Request Category</a>
                        </div>
                        <div id="CollapseCategory" role="tabpanel" aria-labelledby="headingCollapseCategory"
                            class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                                (click)="addCategory()"><i class="fa fa-plus"></i>Add</button>
                                            <button class="btn btn-success btn-md mb-1" (click)="Categoryhistory('MAINTENANCE_CATEGORY')"><i class="fa fa-plus"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Service Request Category Name</th>
                                                    <th>Section Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of CategoryList;let indexOfelement=index;">
                                                    <td>{{indexOfelement+1}}</td>
                                                    <td>{{c.iteM_NAME}}</td>
                                                    <td>{{c.iteM_NAME1}}</td>
                                                    <td>{{c.inserteD_BY}}</td>
                                                    <td>{{c.inserteD_ON.substring(0,10)}}</td>
                                                    <td *ngIf="c.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>

                                                    <td *ngIf="c.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                    <td><button class="btn btn-success btn-sm mr-1"
                                                            (click)="editCategory(c.iteM_ID,c.iteM_NAME,c.iS_ACTIVE,'Category',c.iteM_NAME1)"><i
                                                                class="fa fa-pencil"></i> Edit </button></td>
                                                </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="collapse-icon accordion-icon-rotate">

                        <div id="headingCollapseSubCategory" class="card-header primary" data-toggle="collapse"
                            href="#CollapseSubCategory" (click)="SubCategoryClick()" aria-expanded="false"
                            aria-controls="CollapseSubCategory">
                            <a class="card-title lead collapsed">Service Request Sub Category</a>
                        </div>
                        <div id="CollapseSubCategory" role="tabpanel" aria-labelledby="headingCollapseSubCategory"
                            class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                                (click)="addSubCategory()"><i class="fa fa-plus"></i>Add</button>
                                                <button class="btn btn-success btn-md mb-1" (click)="Categoryhistory('MAINTENANCESUB_CATEGORY')"><i class="fa fa-plus"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Service Request Sub Category Name</th>
                                                    <th>Service Request Category Name</th>
                                                    <th>Section Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of SubCategoryList;let indexOfelement=index;">
                                                    <td>{{indexOfelement+1}}</td>
                                                    <td>{{emp.suB_ITEM_NAME}}</td>
                                                    <td>{{emp.iteM_NAME}}</td>
                                                    <td>{{emp.sectioN_ITEM_NAME}}</td>
                                                    <td>{{emp.inserteD_BY}}</td>
                                                    <td>{{emp.inserteD_ON.substring(0,10)}}</td>
                                                    <td *ngIf="emp.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>

                                                    <td *ngIf="emp.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="editCategory(emp.suB_ITEM_ID,emp.suB_ITEM_NAME,emp.iS_ACTIVE,'Sub Category',emp.sectioN_ITEM_NAME)"><i
                                                        class="fa fa-pencil"></i> Edit </button></td>
                                                </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="collapse-icon accordion-icon-rotate">

                        <div id="headingCollapseItem" class="card-header primary" data-toggle="collapse"
                            href="#CollapseItem" (click)="ItemClick()" aria-expanded="false"
                            aria-controls="CollapseItem">
                            <a class="card-title lead collapsed">Service Request Item</a>
                        </div>
                        <div id="CollapseItem" role="tabpanel" aria-labelledby="headingCollapseItem"
                            class="card collapse" aria-expanded="false">
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-sm-12 text-right ">
                                            <button type="button" class="btn btn-primary btn-md mb-1 mr-1 "
                                                (click)="addItem()"><i class="fa fa-plus"></i>Add</button>
                                                <button class="btn btn-success btn-md mb-1" (click)="Categoryhistory('WAREHOUSE_ITEM_TYPE')"><i class="fa fa-plus"></i>History</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-white">
                                                <tr>
                                                    <th>S No.</th>
                                                    <th>Item Name</th>
                                                    <th>Created By</th>
                                                    <th>Created Date</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of ItemList;let indexOfelement=index;">
                                                    <td>{{indexOfelement+1}}</td>
                                                    <td>{{emp.item_name}}</td>
                                                    <td>{{emp.inserteD_BY}}</td>
                                                    <td>{{emp.inserteD_ON.substring(0,10)}}</td>
                                                    <td *ngIf="emp.iS_ACTIVE==1"><span style="background: #8bc34a;
                                                        padding: 2px 15px;
                                                        color: white;
                                                        border-radius: 4px;
                                                        font-size: 12px;
                                                    ">Active</span></td>

                                                    <td *ngIf="emp.iS_ACTIVE==0"><span style="background: #c34a4a;
                                                    padding: 2px 15px;
                                                    color: white;
                                                    border-radius: 4px;
                                                    font-size: 12px;
                                                ">In Active</span></td>
                                                <td><button class="btn btn-success btn-sm mr-1"
                                                    (click)="editItem(emp.item_id,emp.item_name,emp.iS_ACTIVE,'Item')"><i
                                                        class="fa fa-pencil"></i> Edit </button></td>
                                                </tr>
                                                <!---->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Page Main-->


            <div bsModal #addCatModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Add Service Request {{title}} Type</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="hideaddCatModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form [formGroup]="Categoryaddform">

                                        <div class="form-group">
                                            <label for="exampleInputEmail11"> Section <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Select Section Name Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>

                                            <select class="form-control" formControlName="SectionName"
                                                [ngClass]="{ 'is-invalid': submitted && f1.SectionName.errors }">
                                                <option value="">Select Section</option>
                                                <option *ngFor="let sec of seclist" value="{{sec.iteM_ID}}">
                                                    {{sec.iteM_NAME}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f1.SectionName.errors" class="invalid-feedback">
                                                <div *ngIf="f1.SectionName.errors.required">Section Name is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail11">Service Request Category Name <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Enter Service Request Category Name Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text " maxlength="100" class="form-control" minlength="3" lettersOnly
                                                formControlName="CategoryName"
                                                [ngClass]="{ 'is-invalid': submitted && f1.CategoryName.errors }">
                                            <div *ngIf="submitted && f1.CategoryName.errors" class="invalid-feedback">
                                                <div *ngIf="f1.CategoryName.errors.required">Service Request Category Name is
                                                    required</div>
                                            </div>
                                        </div>




                                        <button type="submit " class="btn btn-primary "
                                            (click)="SubmitCategory()">Add</button>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Edit Service Request {{title}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="hideeditCategoryModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form [formGroup]="CategoryeditForm">
                                        <div class=" form-group">
                                            <label for="exampleInputEmail1">Section Name</label>
                                            <input type="text" class="form-control" formControlName="EditSectionName"
                                                readonly>
                                        </div>
                                        <div class=" form-group">
                                            <label for="exampleInputEmail1">Service Request {{title}} Id</label>
                                            <input type="text" class="form-control" formControlName="EditCategoryID"
                                                readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Service Request {{title}} Name</label>
                                            <input type="text" class="form-control" formControlName="EditCategoryName"
                                                readonly>
                                        </div>

                                        <div class="form-group ">
                                            <div class="form-check-inline">
                                                <label class="form-check-label"> <a  
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Click Here to make it Active"
                                                    placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <input type="radio" value="1" name="EditCatactive"
                                                        formControlName="EditCatactive" id="EditCatactive1" (change)=isactive(); >Active</label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label class="form-check-label"><a  
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Click Here to make it In Active"
                                                    placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <input type="radio" value="0" name="EditCatactive"
                                                        formControlName="EditCatactive" id="EditCatactive2" (change)=isactive(); >Inactive
                                                </label>

                                            </div>

                                            <div *ngIf="editsubmitted && f3.EditCatactive.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f3.EditCatactive.errors.required">Please Select Active/Inactive
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group"  *ngIf="isactive_flag">
                                            <label for="exampleInputEmail1 ">Remarks <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Enter Remarks Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <textarea type="text " class="form-control" formControlName="EditCategoryRemarks"
                                                [ngClass]="{ 'is-invalid': editsubmitted && f3.EditCategoryRemarks.errors }"> </textarea>
                                            <div *ngIf="editsubmitted && f3.EditCategoryRemarks.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f3.EditCategoryRemarks.errors.required">Remarks required</div>
                                            </div>
                                        </div>


                                        <button type="submit " class="btn btn-primary "
                                            (click)="SubmitEditCategory()"   *ngIf="isactive_flag">Update</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div bsModal #CategoryhistoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Service Request {{title}} History</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="hideCategoryhistoryModal()"> 
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                 <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.no</th>
                                                <th>Column Name</th>
                                                <th>Event Code</th>
                                                <th>Old Value</th>
                                                <th>New Value</th>
                                                <th>
                                                    Event Date
                                                </th>
                                                <th>
                                                    Event By
                                                </th>
                                               </tr>
                                               
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let Mastlist of CatHistoryList;let i=index;">
                                               
                                                <td>{{i+1}}</td>
                                                <td>{{Mastlist.columN_NAME}}</td>
                                                <td>{{Mastlist.evenT_CODE}}</td>
                                                <td>{{Mastlist.olD_VALUE}}</td>
                                                <td>{{Mastlist.neW_VALUE}}</td>
                                                <td>{{Mastlist.loG_DATE}}</td>
                                                <td>{{Mastlist.updateD_BY}}</td>
            
                                            </tr>
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>

            <div bsModal #addSubCatModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Add Service Request {{title}} Type</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="hideaddSubCatModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form [formGroup]="SubCategoryaddform">

                                        <div class="form-group">
                                            <label for="exampleInputEmail11">Service Request Category  <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Select Category Name Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>

                                            <select class="form-control" formControlName="CategoryName" [ngClass]="{ 'is-invalid': submitted && f2.CategoryName.errors }" (change)="subcategorychange(CategoryName)">
                                                <option value="">Select Service Request Category Name</option>
                                                <option *ngFor="let sec of categorydd" value="{{sec.iteM_ID}}">
                                                    {{sec.iteM_NAME}}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f2.CategoryName.errors" class="invalid-feedback">
                                                <div *ngIf="f2.CategoryName.errors.required">Service Request Category Name is required
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail11">Service Request Sub Category  <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Enter Sub Category Name Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text " maxlength="100" class="form-control" minlength="3" lettersOnly
                                                formControlName="SubCategoryName"
                                                [ngClass]="{ 'is-invalid': submitted && f2.SubCategoryName.errors }">
                                            <div *ngIf="submitted && f2.SubCategoryName.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f2.SubCategoryName.errors.required">Service Request Sub Category is
                                                    required</div>
                                            </div>
                                        </div>




                                        <button type="submit " class="btn btn-primary "
                                            (click)="SubmitSubCategory()">Add</button>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div bsModal #addItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Add Service Request {{title}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="hideaddItemModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form [formGroup]="Itemaddform">

                                        <div class="form-group">
                                            <label for="exampleInputEmail11">Service Request Item Name  <span class="text-danger">*</span> <a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Enter Service Request Item Name Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <input type="text " maxlength="100" class="form-control" minlength="3" lettersOnly
                                                formControlName="ItemName"
                                                [ngClass]="{ 'is-invalid': submitted && f4.ItemName.errors }">
                                            <div *ngIf="submitted && f4.ItemName.errors" class="invalid-feedback">
                                                <div *ngIf="f4.ItemName.errors.required">Service Request Item Name is
                                                    required</div>
                                            </div>
                                        </div>




                                        <button type="submit " class="btn btn-primary "
                                            (click)="SubmitItem()">Add</button>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div bsModal #editItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-child-name">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-child-name" class="modal-title pull-left">Edit Service Request {{title}}</h4>
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="hideeditItemModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form [formGroup]="ItemeditForm">
                                        <div class=" form-group">
                                            <label for="exampleInputEmail1">Item Name</label>
                                            <input type="text" class="form-control" formControlName="EditItemName"
                                                readonly>
                                        </div>

                                        <div class="form-group ">
                                            <div class="form-check-inline">
                                                <label class="form-check-label"><a  
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Click here to make it active"
                                                    placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <input type="radio" value="1" name="EditItemactive"
                                                        formControlName="EditItemactive" id="EditItemactive1" (change)=Itemisactive(); >Active</label>
                                            </div>

                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <a  
                                                    triggers="mouseenter:mouseleave"
                                                    popover="Click here to make it In active"
                                                    placement="right">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <input type="radio" value="0" name="EditItemactive"
                                                        formControlName="EditItemactive" id="EditItemactive2" (change)=Itemisactive(); >Inactive
                                                </label>

                                            </div>

                                            <div *ngIf="Itemeditsubmitted && f5.EditItemactive.invalid"
                                                class="alert alert-danger">
                                                <div *ngIf="f5.EditItemactive.errors.required">Please Select Active/Inactive
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group"  *ngIf="Itemisactive_flag">
                                            <label for="exampleInputEmail1 ">Remarks<a  
                                                triggers="mouseenter:mouseleave"
                                                popover="Enter Remarks Here"
                                                placement="right">
                                                    <i class="fa fa-info-circle"></i>
                                                </a></label>
                                            <textarea type="text " class="form-control" formControlName="EditItemRemarks"
                                                [ngClass]="{ 'is-invalid': Itemeditsubmitted && f5.EditItemRemarks.errors }"> </textarea>
                                            <div *ngIf="Itemeditsubmitted && f5.EditItemRemarks.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f5.EditItemRemarks.errors.required">Remarks required</div>
                                            </div>
                                        </div>


                                        <button type="submit " class="btn btn-primary "
                                            (click)="SubmitEditItem()"   *ngIf="Itemisactive_flag">Update</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>