<div class="preloader" [hidden]="!showloader">
  <div class="spinner-border text-info spinner-border-lg" role="status">
  </div>
</div>
<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-1">
        <!-- <h3 class="content-header-title">Page Title</h3> -->
      </div>
      <div class="
            content-header-right
            breadcrumbs-right breadcrumbs-top
            col-md-6 col-12
          ">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item"><a >P&A Services</a></li>
            <li class="breadcrumb-item active">Employee Salary</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body">
      <!-- card actions section start -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Employee Salary</h4>
              <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
              <!-- <div class="heading-elements"> 
                  <ul class="list-inline mb-0">
                    <li>
                      <a data-action="collapse"><i class="feather icon-minus"></i></a>
                    </li>
                    <li>
                      <a data-action="reload"><i class="feather icon-rotate-cw"></i></a>
                    </li>
                    <li>
                      <a data-action="expand"><i class="feather icon-maximize"></i></a>
                    </li>
                  </ul>
                </div> -->
            </div>
            <div class="card-content">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-inline mb-2 justify-content-center">
                      <div class="form-group">
                        <label for="employeename" class="col-md-3"
                        >Employee Type  <a
                        triggers="mouseenter:mouseleave"
                        popover="Select Employee Type"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a>
                      </label>
                      
                        <ng-select class="" style="width: 250px;" [(ngModel)]='emptype' (change)="Emptypechange1()">
                          <ng-option value="">Select Employee Type</ng-option>
                          <ng-option *ngFor="let emp of emptypes" [value]="emp.iteM_ID">{{emp.iteM_NAME}}</ng-option>
                        </ng-select>
                      </div>
                      <button type="button" class="btn btn-dark btn-md mx-1" (click)="GetempDetails()">
                        <i _ngcontent-ofk-c236=""
                        class="fa fa-paper-plane"></i> Get Details
                      </button>

                      <button type="button" class="btn btn-success btn-md ml-5" (click)="Generatepayroleforemp()">
                        <i _ngcontent-ofk-c236=""
                        class="fa fa-paper-plane"></i>  Generate PayRoll
                         <a
                                                                    triggers="mouseenter:mouseleave"
                                                                    popover="Enter Official Mobile Number"
                                                                    placement="right">
                                                                    <i class="fa fa-info-circle"></i>
                                                                </a>
                      </button>
                    </div>
                    <!-- <button type="button" class="btn btn-primary btn-md mx-1" (click)="DeputationModalpay()">
                        Deputation
                      </button>
                      <button type="button" class="btn btn-primary btn-md" (click)="ContractModalpay()">
                        Contract
                      </button> -->
                  </div>

                  <div class="col-md-12">


                    <div class="ag-theme-alpine" [hidden]="!istable">
                      <ag-grid-angular style="width: 100%;" #agGrid class="ag-theme-alpine" [columnDefs]="columnDefs"
                        [floatingFilter]="true" (gridReady)="BindData($event)" [pagination]="true"
                        [paginationPageSize]="20" (selectionChanged)="onSelectionChanged($event)"
                        [frameworkComponents]="frameworkComponents" rowSelection="single" [components]="components">
                      </ag-grid-angular>
                    </div>


                    <!-- (rowSelected)="onRowSelected($event)" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- [config]="{backdrop: 'static'}" -->

    <div class="modal fade" bsModal #RegularModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog modal-xl w-75 mx-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title font-weight-bold " id="editSectionLabel">Regular Payroll</h3>
            <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body px-3">

            <form [formGroup]="employeeRegularform">
              <h5 class="header-title font-weight-bold mb-1 text-success">EARNINGS</h5>
              <div class="row mb-4">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">BASIC
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter Basic Salary"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="Basic" (change)="Basicchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> DA
                      <!-- <span class="text-danger">*</span> -->
                      <a
                        triggers="mouseenter:mouseleave"
                        popover="Enter DA"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicDA" (change)="DAchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">HRA
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter HRA"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHRA" (change)="HRAchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> CCA
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter CCA"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicCCA" (change)="CCAchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> CA
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter CA"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicCA" (change)="CAchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">M ALL
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter M ALL"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicMALL" (change)="MALLchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">W ALL
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter W ALL"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicWALL" (change)="WALLchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">SP PAY
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter SP PAY"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicSPPAY" (change)="SPAPAYchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">EL AMT
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter EL AMT"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicELAMT" (change)="ELAMTchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">IR
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter IR"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicIR" (change)="IRchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PR
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter PR"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPR" (change)="PRchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">MISC EAR
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter MISC EAR"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicMISCEAR" (change)="MISCEARchange()">
                  </div>
                </div>

                <!-- <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-md" (click)="TotalEarnSubmit()">CalculateTotalEarnings</button>
                  </div> -->

                <div class="col-sm-12">
                  <div class="totl-earn">

                    <h1>Total Earning  :{{dep.totear.value}} </h1>
                  </div>

                </div>

              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">DEDUCTIONS</h5>
              <div class="row  mb-4">

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PF

                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter PF"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPF" (change)="PFchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> VPF
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter VPF"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicVPF" (change)="VPFchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> LIC
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter LIC"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicLIC" (change)="LICchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> IT
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter IT"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicIT" (change)="ITchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> P TAX
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter P TAX"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPTAX" (change)="BasicPTAXchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">GIS
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter GIS"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicGIS" (change)="GISchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PF IORI
                      <!-- <span class="text-danger">*</span> --><a
                        triggers="mouseenter:mouseleave"
                        popover="Enter PF IORI"
                        placement="right">
                        <i class="fa fa-info-circle"></i>
                    </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPFIORI" (change)="PFIORIchange()">
                  </div>
                </div>

                <!-- <div class="col-sm-12">
                    <button type="button" class="btn btn-primary btn-md" (click)="TotalDeductSubmit()">CalculateTotalDeductions</button>
                  </div> -->

                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>Total Deductions : {{dep.totded.value}} </h1>
                  </div>

                </div>
              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">OTHERS</h5>
              <div class="row">

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PF BAL<a
                      triggers="mouseenter:mouseleave"
                      popover="Enter PF BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPFBAL">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> VH IORI<a
                      triggers="mouseenter:mouseleave"
                      popover="Enter VH IORI"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicVHIORI">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> VH BAL<a
                      triggers="mouseenter:mouseleave"
                      popover="Enter VH BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicVHBAL">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">MR IORI<a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MR IORI"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicMRIORI">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> MR BAL <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MR BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicMRBAL">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">HBA INST <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter HBA INST"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHBAINST">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">HBA BAL <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter HBA BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHBABAL">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">HBA R IORI <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter HBA R IORI"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHBARIORI">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">HBA R BAL<a
                      triggers="mouseenter:mouseleave"
                      popover="HBA R BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHBARBAL">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> HBA BANK<a
                      triggers="mouseenter:mouseleave"
                      popover="HBA BANK"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicHBABANK">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> COMP INST <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter COMP INST"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicCOMPINST">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">COMP BAL <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter COMP BAL"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicCOMPBAL">
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> PLI <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter PLI"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicPLI">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> CPS <a
                      triggers="mouseenter:mouseleave"
                      popover="Enter CPS"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="BasicCPS">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> MISC DED<a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MISC DED"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" Class="form-control" digitsOnly
                      formControlName="BasicMISCDED">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>(Total Earning) - (Total Deductions) = {{dep.totnetpat.value}} <small>(Net Pay)</small> </h1>
                  </div>

                </div>
              </div>
              <div class="row d-block text-right mb-2">
                <button type="button" class="btn btn-primary btn-md" (click)="finalSubmit()"> <i _ngcontent-ofk-c236=""
                  class="fa fa-paper-plane"></i>Submit Details</button>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>
    <div class="modal fade" bsModal #DeputationModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog modal-xl w-75 mx-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSectionLabel">Deputation Payroll</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body px-3">

            <form [formGroup]="employeeOutsourcingform">
              <h5 class="header-title font-weight-bold mb-1 text-success">EARNING</h5>
              <div class="row mb-4">
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">BASIC
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter Basic Salary"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="outsrcBasic" (change)=outbasicchange()>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> S DA

                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter S DA"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="outsrcSDA" (change)="outsrcsdachange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> S HRA
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter S HRA"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OutsrcSHRA" (change)="OutsrcSHRAchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> CCA
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter CCA"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OutsrcCCA" (change)="ouccachange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> M ALLW
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter M ALLW"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OutsrcMALLW" (change)="outMAllwchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> PP
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter PP"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OutsrcPP" (change)="outppchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> IR
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter IR"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="outsrcIR" (change)="outirchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> MISC EAR
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MISC EAR"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="outsrcMISCEAR" (change)="outmiscchange()">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>Total Earning :{{dep1.totearoutsrc.value}} </h1>
                  </div>

                </div>

              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">TOTAL DEDUCTIONS</h5>
              <div class="row  mb-4">

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">P.TAX


                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter P TAX"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OustsrcPTAX" (change)="outptaxchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> IT
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter IT"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="OustsrcIT" (change)="outitchnage()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> MISC DED
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MISC DED"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="OustsrcMISCDED" (change)="OustsrcMISCDEDchange()">
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>Total Deductions : {{dep1.totdedoutsrc.value}} </h1>
                  </div>

                </div>
              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">SUMMARY</h5>
              <div class="row">



                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>(Total Earning) - (Total Deductions) = {{dep1.totnetpayoutsrc.value}} <small>(Net Pay)</small>
                    </h1>
                  </div>

                </div>
              </div>
              <div class="row d-block text-right mb-2">
                <button type="button" class="btn btn-primary btn-md" (click)="Outsrcfinalsubmit()"> <i _ngcontent-ofk-c236=""
                  class="fa fa-paper-plane"></i>Submit
                  Details</button>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>
    <div class="modal fade" bsModal #ContractModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog modal-xl w-75 mx-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSectionLabel">Contract Payroll</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="CloseEditModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body px-3">

            <form [formGroup]="employeeContractform">
              <h5 class="header-title font-weight-bold mb-1 text-success">TOTAL EARNING</h5>
              <div class="row mb-4">




                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PAY

                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter Basic PAY"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" class="form-control" digitsOnly
                      formControlName="contrPAY" (change)="contrbasicchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">CA
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter CA"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="contrCA" (change)="contrcachange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">MISC EAR
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MISC EAR"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="CONTRmiscear" (change)="contrmiscearchange()">
                  </div>
                </div>


                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>Total Earning : {{dep2.contrtotear.value}} </h1>
                  </div>

                </div>

              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">TOTAL DEDUCTIONS</h5>
              <div class="row  mb-4">

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic">PF


                      <!-- <span class="text-danger">*</span>--><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter PF"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label> 
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="contrPF" (change)="contrpfchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> IT
                      <!-- <span class="text-danger">*</span>--><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter IT"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label> 
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="contrit" (change)="contritchange()">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="Basic"> MISC DED
                      <!-- <span class="text-danger">*</span> --><a
                      triggers="mouseenter:mouseleave"
                      popover="Enter MISC DED"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <input type="text" maxlength="10" type="text" alphaNumbers class="form-control" digitsOnly
                      formControlName="contrMISCDED" (change)="contrmiscchangeded()">
                  </div>
                </div>


                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>Total Deductions : {{dep2.contrtotded.value}} </h1>
                  </div>

                </div>
              </div>
              <h5 class="header-title font-weight-bold mb-1 text-success">SUMMARY</h5>
              <div class="row">

                <div class="col-sm-12">
                  <div class="totl-earn">
                    <h1>(Total Earning) - (Total Deductions) = {{dep2.contrnetpay.value}} <small>(Net Pay)</small> </h1>
                  </div>

                </div>
              </div>
              <div class="row d-block text-right mb-2">
                <button type="button" class="btn btn-primary btn-md" (click)="contractfinalsubmit()"> <i _ngcontent-ofk-c236=""
                  class="fa fa-paper-plane"></i>Submit
                  Details</button>
              </div>
            </form>
          </div>



        </div>
      </div>
    </div>



    <div class="modal fade" bsModal #PayroleModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
      aria-hidden="true">
      <div class="modal-dialog modal-xl w-75 mx-auto">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSectionLabel">Payroll</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="ClosepayroleModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body px-3">

            <form [formGroup]="employeepayroleform">

              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="form-inline mb-3 justify-content-center">
                 
                  <div class="form-group">
                    <label for="Basic">Year <span class="text-danger">*</span><a
                      triggers="mouseenter:mouseleave"
                      popover="Select Year"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label> 
                    <ng-select class="" style="width: 153px;" formControlName="payroleyear" (change)="Yearchange()">
                      <ng-option value="">Select Year</ng-option>
                      <ng-option [value]="2021">2021</ng-option>

                    </ng-select>
                  </div>

                  <div class="form-group mx-3">
                    <label for="Basic">Months
                      <span class="text-danger">*</span><a
                      triggers="mouseenter:mouseleave"
                      popover="Select Month"
                      placement="right">
                      <i class="fa fa-info-circle"></i>
                  </a></label>
                    <ng-select class="" style="width: 153px;" formControlName="payroleMonth">
                      <ng-option value="">Select Month</ng-option>
                      <ng-option *ngFor="let mnt of months" [value]="mnt.e_MONTH">{{mnt.e_MONTH_NAME}}</ng-option>

                    </ng-select>
                  </div>

                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-md" (click)="PayroleFinalsubmit()"><i _ngcontent-ofk-c236=""
                      class="fa fa-paper-plane"></i>Generate
                      Payroll</button>
                  </div>


                </div>
              </div>
              
            </div>
              <!-- <div class="col-md-3">
                <div class="form-group">
                  <label for="Basic">Employee Type
                    <span class="text-danger">*</span></label>
                    <ng-select class="" style="width: 153px;" formControlName="payroleemptype" >
                        <ng-option value="">Select Type</ng-option>

                        <ng-option *ngFor="let emp of emptypes" [value]="emp.iteM_ID">{{emp.iteM_NAME}}</ng-option>
                                        
                    </ng-select>
                </div>
              </div> -->




          
          <!--            
             <div class="col-md-12">
  
  
              

                <div class="table-responsive" [hidden]="!table">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-white">
                            <tr>
                               
                                <th>Employee code</th>
                                <th>Employee Name</th>
                                <th>Employee Type</th>
                                <th>Designation</th>
                                <th>Warehouse Name</th>
                                <th>Region</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emppyr of empPayrol;let i=index;">
                                
                                <td>{{emppyr.emP_CODE}}</td>
                                <td>{{emppyr.emP_NAME}}</td>
                                <td>{{emppyr.iteM_NAME}}</td>
                                <td>{{emppyr.designation}}</td>
                                <td>{{emppyr.wname}}</td>
                                <td>{{emppyr.region}}</td>
                           
                        </tr>
                     
                        </tbody>
                    </table>
                </div>
              </div>          
          

              <div class="col-md-12" style="text-align: center;" [hidden]="!table">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-md" (click)="PayroleFinalsubmit()">Submit Details</button>
                </div>
              </div>  -->

          </form>
        </div>



      </div>
    </div>
  </div>

</div>