<!-- class 'hidden' for display none -->
<div class="preloader" [hidden]="!showloader">
    <div class="spinner-border text-info spinner-border-lg" role="status">
    </div>
</div>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">


        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-1">
                <h3 class="content-header-title">Stack-In</h3>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Warehouse</a>
                        </li>
                        <li class="breadcrumb-item"><a>Receipt In(Farmer-Fertilizer-Private)</a>
                        </li>
                        <li class="breadcrumb-item active">Stack-In
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- card actions section start -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Stack-In</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-body wizard-body">
                            <!-- progressbar -->
                            <ul id="progressbar" class="text-center">
                                <li class="commtab active" id="gatein">
                                    <img src="assets/web-styles/images/gate-in.svg" class="icon-svg">
                                    <strong>Gate In Pass</strong>
                                </li>
                                <li id="commtab" class="commtab active ">
                                    <img src="assets/web-styles/images/quality-examination.svg" class="icon-svg">
                                    <strong>Quality Examination</strong>
                                </li>
                                <li id="doctab" class="commtab active">
                                    <img src="assets/web-styles/images/weighment-in.svg" class="icon-svg">
                                    <strong>Weighment In</strong>
                                </li>
                                <li id="commtab" class="commtab current active">
                                    <img src="assets/web-styles/images/stacking.svg" class="icon-svg">
                                    <strong>Stack-In</strong>
                                </li>

                                <li id="commtab" class="commtab  ">
                                    <img src="assets/web-styles/images/weighment-out.svg" class="icon-svg">
                                    <strong>Weighment Out</strong>
                                </li>
                                <li id="commtab" class="commtab  ">
                                    <img src="assets/web-styles/images/gate-out.svg" class="icon-svg">
                                    <strong>Gate Out Pass</strong>
                                </li>


                            </ul>
                            <div class="content-card">
                                <div class="card-body">
                                    <form id="msform">
                                        <!-- fieldsets -->
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="ag-theme-alpine">
                                                        <ag-grid-angular #agGrid class="ag-theme-alpine"
                                                            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                                            (gridReady)="BindData($event)" [pagination]="true"
                                                            [paginationPageSize]="20"
                                                            (selectionChanged)="onSelectionChanged($event)"
                                                            [frameworkComponents]="frameworkComponents"
                                                            rowSelection="single" [components]="components">
                                                        </ag-grid-angular>
                                                    </div>
                                                </div>
                                            </div>

                                            <form [formGroup]="DepForm">
                                                <div class="form-card bg-blue bg-lighten-5 pb-1 px-1" *ngIf="isTable">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="HTCompanyName">Select H&T Contractor
                                                                            Name
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select H&T Contractor Name"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="HTCompanyName"
                                                                            (change)="LoadHTServices($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.HTCompanyName.errors }"
                                                                            placeholder="Select H&T Contractor Name">
                                                                            <ng-option value="None">
                                                                                None
                                                                            </ng-option>
                                                                            <ng-option *ngFor="let dist of htcomlist"
                                                                                [value]="dist.hT_REGISTRATION_ID">
                                                                                {{dist.contacT_NAME}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.HTCompanyName.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.HTCompanyName.errors.required">
                                                                                H&T Contractor Name
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6" *ngIf="dep.HTCompanyName.value !='None'" >
                                                                    <div class="form-group">
                                                                        <label for="ServiceName">Select Service Name
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Service Name"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="ServiceName"
                                                                            (change)="GetPrice($event)"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.ServiceName.errors }"
                                                                            placeholder="Select Service Name">
                                                                            <ng-option *ngFor="let dist of htserlist"
                                                                                [value]="dist.hT_SERVICE_ID">
                                                                                {{dist.servicE_NAME}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.ServiceName.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.ServiceName.errors.required">
                                                                                Service Name
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="BagWeight">Per Bag/Item Weight(Kg's)
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Per Bag/Item Weight(Kg's)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            class="form-control"
                                                                            (input)="GetPrice($event)"
                                                                            placeholder="Bag/Item Weight(Kg's)"
                                                                            formControlName="BagWeight"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.BagWeight.errors }">
                                                                        <div *ngIf="isSubmit && dep.BagWeight.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.BagWeight.errors.required">
                                                                                Per Bag/Item Weight(Kg's)
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3" *ngIf="dep.HTCompanyName.value !='None'">
                                                                    <div class="form-group">
                                                                        <label for="ServicePrice">Select Service Price
                                                                            <span class="text-danger">*</span> <a
                                                                                triggers="mouseenter:mouseleave"
                                                                                popover="Select Service Price"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <ng-select formControlName="ServicePrice"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.ServicePrice.errors }"
                                                                            placeholder="Select Service Price">
                                                                            <ng-option *ngFor="let dist of htpriclist"
                                                                                [value]="dist.ht_price">
                                                                                {{dist.ht_price}}
                                                                            </ng-option>
                                                                        </ng-select>

                                                                        <div *ngIf="isSubmit && dep.ServicePrice.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.ServicePrice.errors.required">
                                                                                Service Price
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="GunnyBags">No of Gunny Bags
                                                                            <a triggers="mouseenter:mouseleave"
                                                                                popover="Enter Bag/Item Weight(Kg's)"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" numbersOnly maxlength="10"
                                                                            class="form-control"
                                                                            placeholder="No of Gunny Bags"
                                                                            formControlName="GunnyBags"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.GunnyBags.errors }">
                                                                        <div *ngIf="isSubmit && dep.GunnyBags.errors"
                                                                            class="invalid-feedback">
                                                                            <div *ngIf="dep.GunnyBags.errors.required">
                                                                                No of Gunny Bags
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label for="MarketValue">Market Value Per
                                                                            Ton(Rs) <span class="text-danger">*</span>
                                                                            <a triggers="mouseenter:mouseleave"
                                                                                popover="Enter Market Value Per Ton"
                                                                                placement="right">
                                                                                <i class="fa fa-info-circle"></i>
                                                                            </a></label>
                                                                        <input type="text" digitsOnly maxlength="10"
                                                                            class="form-control"
                                                                            placeholder="Market Value Per Ton"
                                                                            formControlName="MarketValue"
                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  dep.MarketValue.errors }">
                                                                        <div *ngIf="isSubmit && dep.MarketValue.errors"
                                                                            class="invalid-feedback">
                                                                            <div
                                                                                *ngIf="dep.MarketValue.errors.required">
                                                                                Market Value Per Ton
                                                                                is required</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <h5 class="font-weight-bold mb-1 mt-2 text-dark">Stacking Details
                                                    </h5>
                                                    <hr />

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="form-card p-0">
                                                                <div class="col-md-12 px-0">
                                                                    <div class="">
                                                                        <table
                                                                            class="table table-hover table-striped table-row-repeat" style="border: 1px solid lightblue;">
                                                                            <thead class="bg-primary text-white">
                                                                                <tr>
                                                                                    <th>Godown</th>
                                                                                    <th>Compartment</th>
                                                                                    <th>Stack</th>
                                                                                    <th>Stack Type</th>
                                                                                    <th>No of Bags/Units</th>
                                                                                    <th>Weight(MT's)</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>
                                                                                <tr *ngFor="let stack of s.controls; let i = index"
                                                                                    [formGroup]="stack">
                                                                                    <td>
                                                                                        <ng-select
                                                                                            formControlName="GodownName"
                                                                                            (change)="GetCompartmentInfo($event,i)"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.GodownName.errors }"
                                                                                            placeholder="Select Godown">
                                                                                            <ng-option
                                                                                                *ngFor="let dist of godowns"
                                                                                                [value]="dist.godowN_ID">
                                                                                                {{dist.godowN_NAME}}
                                                                                            </ng-option>
                                                                                        </ng-select>

                                                                                        <div *ngIf="isSubmit && stack.controls.GodownName.errors"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="stack.controls.GodownName.errors.required">
                                                                                                Godown
                                                                                                is required</div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <ng-select
                                                                                            formControlName="CompartmentName"
                                                                                            (change)="GetStacksInfo($event,i)"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.CompartmentName.errors }"
                                                                                            placeholder="Select Compartment">
                                                                                            <ng-option
                                                                                                *ngFor="let dist of comartments"
                                                                                                [value]="dist.compartmenT_ID">
                                                                                                {{dist.compartmenT_NAME}}
                                                                                            </ng-option>
                                                                                        </ng-select>

                                                                                        <div *ngIf="isSubmit && stack.controls.CompartmentName.errors"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="stack.controls.CompartmentName.errors.required">
                                                                                                Compartment
                                                                                                is required</div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td>
                                                                                        <ng-select
                                                                                            formControlName="StackName"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.StackName.errors }"
                                                                                            placeholder="Select Stack">
                                                                                            <ng-option
                                                                                                *ngFor="let dist of stacks"
                                                                                                [value]="dist.stacK_ID">
                                                                                                {{dist.stacK_NAME}}
                                                                                            </ng-option>
                                                                                        </ng-select>

                                                                                        <div *ngIf="isSubmit && stack.controls.StackName.errors"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="stack.controls.StackName.errors.required">
                                                                                                Stack
                                                                                                is required</div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td>
                                                                                        <ng-select
                                                                                            formControlName="StackType"
                                                                                            [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.StackType.errors }"
                                                                                            placeholder="Select Stack Type">
                                                                                            <ng-option
                                                                                                *ngFor="let dist of stacktypes"
                                                                                                [value]="dist.id">
                                                                                                {{dist.stacK_TYPE}}
                                                                                            </ng-option>
                                                                                        </ng-select>

                                                                                        <div *ngIf="isSubmit && stack.controls.StackType.errors"
                                                                                            class="invalid-feedback">
                                                                                            <div
                                                                                                *ngIf="stack.controls.StackType.errors.required">
                                                                                                Stack Type
                                                                                                is required</div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="form-group">
                                                                                            <input type="text"
                                                                                                numbersOnly
                                                                                                maxlength="10" (input)="CalStackWeight($event,i)"
                                                                                                class="form-control"
                                                                                                placeholder="Bags/Units"
                                                                                                formControlName="BagsCnt"
                                                                                                [ngClass]="{ 'is-invalid': isSubmit &&  stack.controls.BagsCnt.errors }">
                                                                                            <div *ngIf="isSubmit && stack.controls.BagsCnt.errors"
                                                                                                class="invalid-feedback">
                                                                                                <div
                                                                                                    *ngIf="stack.controls.BagsCnt.errors.required">
                                                                                                    Bags/Units
                                                                                                    is required</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>
                                                                                        <div class="form-group">
                                                                                            <input type="text"
                                                                                            digitsOnly readonly
                                                                                                maxlength="10"
                                                                                                class="form-control"
                                                                                                placeholder="Weight(MT's)"
                                                                                                formControlName="VWeight" />
                                                                                           
                                                                                        </div>
                                                                                    </td>
                                                                                    <td *ngIf="i==0">
                                                                                        <button type="button"
                                                                                            (click)="AddStack()"
                                                                                            class="btn btn-success btn-sm mt-0"><i
                                                                                                class="fa fa-plus-circle"></i></button>
                                                                                    </td>
                                                                                    <td *ngIf="i!=0">
                                                                                        <button type="button"
                                                                                            (click)="RemoveStack(i)"
                                                                                            class="btn btn-danger btn-sm mt-0"><i
                                                                                                class="fa fa-minus-circle"></i></button>
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row d-block text-center mb-2">
                                                        <button type="button" (click)="SaveStacking('save');"
                                                            class="btn btn-primary btn-min-width ml-1"><i
                                                                class="fa fa-paper-plane"></i> SAVE</button>
                                                        <button type="button" (click)="SaveStacking('next');"
                                                            class="btn btn-success btn-min-width ml-1"><i
                                                                class="fa fa-arrow-right"></i> NEXT</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Page Main-->